.form-check {
  display: block;
  position: relative;
  margin-right: 8px;
  margin-bottom: 3px;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #d9dbdd;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.form-check:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.form-check input:checked ~ .checkmark {
  background-color: #62cb31;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.form-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.form-check .checkmark:after {
  left: 6px;
  top: 3px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-check-text {
  margin-left: 5px;
}

.btn.btn-inline {
  font-size: 14px;
}

.btn.dropdown-toggle {
  border-radius: 3px;
  font-size: 14px;
  white-space: nowrap;
  min-width: 210px;
  text-align: left;
}

label.big-label {
  font-size: 20px;
  font-weight: 300;
}

.is-invalid label.big-label {
  color: #a94442;
}

.widget-company-selector button {
  overflow: hidden;
  text-align: left;
  width: 100%;
}

.widget-company-selector .caret {
  float: right;
  position: relative;
  top: 9px;
}

.widget-company-selector .value {
  display: block;
  float: left;
  overflow: hidden;
  width: calc(100% - 25px);
}

.remove-sub-item {
  float: right;
  width: 30px;
}

.remove-sub-item i {
  color: rgb(106, 108, 111);
  font-size: 34px;
}

.widget-company-editable {
  white-space: nowrap;
}

.hpanel .panel-body.widget-normal__body {
  padding: 15px;
}

.widget-normal__body form.editable-wrap {
  display: block;
}

.widget-normal__body form.editable-wrap .editable-input.editable-has-buttons {
  width: calc(100% - 95px)!important;
}

.card-footer .reports-emails-preloader {
  background-color: transparent;
  background-size: 25px 25px;
  position: relative;
  height: 25px;
}

.test-item-header {
  display: flex;
  justify-content: space-between;
}

.ab-grid__header--name,
.ab-grid__item--name {
  flex-basis: 28%;
  max-width: 28%;
}

.ab-grid__header--company,
.ab-grid__item--company {
  flex-basis: 21%;
  max-width: 21%;
}

.ab-grid__header--shows,
.ab-grid__item--shows {
  flex-basis: 7%;
  max-width: 7%;
}

.ab-grid__header--targets,
.ab-grid__item--targets {
  flex-basis: 7%;
  max-width: 7%;
}

.ab-grid__header--conv,
.ab-grid__item--conv {
  flex-basis: 7%;
  max-width: 7%;
}

.ab-grid__header--priority,
.ab-grid__item--priority {
  flex-basis: 8%;
  max-width: 8%;
  min-width: 117px;
}

.ab-grid__header--actions-static,
.ab-grid__item--actions-static {
  flex-basis: 22%;
  max-width: 22%;
  min-width: 265px;
}

.reports-emails-preloader {
  background-color: transparent;
  background-size: 25px 25px;
  position: relative;
}

.penciled .fa.fa-pencil {
  display: none;
}

.penciled:hover .fa.fa-pencil {
  display: inline;
}

.priority-btns i {
  font-size:    18px;
  margin-right: 10px;
}

.priority-btns button {
  padding: 3px 10px;
  font-size: 14px;
}

.priority-up-widget-btn i {
  color: #62cb31;
}

.priority-down-widget-btn i {
  color: #e74c3c;
}

.colored-blue {
  color: #3498D8 !important;
}

.companies-underline {
  float: right;
  margin-top: 5px;
  text-decoration: underline;
}
