h1 {
  margin: 10px 0 15px;
  font-size: 36px;
}

h2 {
  margin: 0 0 20px;
}

.title-main, .description {
  margin-bottom: 0;
}

.btn.btn-inline {
  font-size: 14px;
}

.btn.dropdown-toggle {
  border-radius: 3px;
  font-size: 14px;
  white-space: nowrap;
  min-width: 210px;
  text-align: left;
}

label.big-label {
  font-size: 20px;
  font-weight: 300;
}

.is-invalid label.big-label {
  color: #a94442;
}

.widget-company-selector button {
  overflow: hidden;
  text-align: left;
  width: 100%;
}

.widget-company-selector .caret {
  float: right;
  position: relative;
  top: 9px;
}

.widget-company-selector .value {
  display: block;
  float: left;
  overflow: hidden;
  width: calc(100% - 25px);
}

.remove-sub-item {
  float: right;
  width: 30px;
}

.remove-sub-item i {
  color: rgb(106, 108, 111);
  font-size: 34px;
}

.widget-company-editable {
  white-space: nowrap;
}

.hpanel .panel-body.widget-normal__body {
  padding: 15px;
}

.widget-normal__body form.editable-wrap {
  display: block;
}

.widget-normal__body form.editable-wrap .editable-input.editable-has-buttons {
  width: calc(100% - 95px)!important;
}

.card-footer .reports-emails-preloader {
  background-color: transparent;
  background-size: 25px 25px;
  position: relative;
  height: 25px;
}

.test-item-header {
  display: flex;
  justify-content: space-between;
}

.ab-grid__header--name,
.ab-grid__item--name {
  flex-basis: 28%;
  max-width: 28%;
}

.ab-grid__header--company,
.ab-grid__item--company {
  flex-basis: 21%;
  max-width: 21%;
}

.ab-grid__header--shows,
.ab-grid__item--shows {
  flex-basis: 7%;
  max-width: 7%;
}

.ab-grid__header--targets,
.ab-grid__item--targets {
  flex-basis: 7%;
  max-width: 7%;
}

.ab-grid__header--conv,
.ab-grid__item--conv {
  flex-basis: 7%;
  max-width: 7%;
}

.ab-grid__header--priority,
.ab-grid__item--priority {
  flex-basis: 8%;
  max-width: 8%;
  min-width: 117px;
}

.ab-grid__header--actions-static,
.ab-grid__item--actions-static {
  flex-basis: 22%;
  max-width: 22%;
  min-width: 265px;
}

.reports-emails-preloader {
  background-color: transparent;
  background-size: 25px 25px;
  position: relative;
}

.penciled .fa.fa-pencil {
  display: none;
}

.penciled:hover .fa.fa-pencil {
  display: inline;
}

.priority-btns i {
  font-size:    18px;
  margin-right: 10px;
}

.priority-btns button {
  padding: 3px 10px;
  font-size: 14px;
}

.priority-up-widget-btn i {
  color: #62cb31;
}

.priority-down-widget-btn i {
  color: #e74c3c;
}

.colored-blue {
  color: #3498D8 !important;
}

.companies-underline {
  float: right;
  margin-top: 5px;
  text-decoration: underline;
}

.row-subitem {
  padding-left: 0;
  padding-right: 0;
}

.row-subitem-padding {
  padding-left: 0;
}

.dropd-scroll-sm {
  min-height: 112px;
  overflow: auto;
}

.side-ui-dev .ui-slider {
  width: 100%;
  margin-top: 13px;
}

.control-label-colorpc {
  position: relative;
  line-height: 30px;
}

label.control-label-colorpc {
  margin-bottom: 0;
}

/*New constructor********************************/
.widget-content-add {
  width: 280px;
  margin: 20px auto;
  text-align: center;
}

.widget-content-add a {
  text-decoration: underline;
  color: #6a6c6f;
}

.widget-content-add a:hover {
  text-decoration: none;
}

.widget-content-add span {
  text-align: center;
  display: block;
  line-height: 16px;
  margin-top: 4px;
  margin-bottom: 2px;
}

button.widget-content-add-btn {
  width: 242px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700!important;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #62cb31;
  border: none;
  border-radius: 6px;
}

.widget-content-add-btn:hover {
  opacity: 0.9;
}

.widget-content-add-btn i.fa-plus {
  color: #fff;
}

.border-item {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.border-item .row {
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
}

.border-item {
  position: relative;
  padding-top: 15px;
  padding-bottom: 8px;
  background: #fbfbfb;
  border-bottom: 1px solid #eee;
  border-top: none;
}

.border-item-top-top {
  border-top: 1px solid #eee;
}

h4.h4-element-title {
  font-size: 14px;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 600;
  color: #3b99fc;
}

h4.h4-element-title a {
  padding-left: 3px;
  font-size: 15px;
}

h4.h4-element-title a .remove-sub-item {
  width: 12px;
  float: none;
}

h4.h4-element-title a:hover .remove-sub-item {
  color: #ff0000;
}

.remove-sub-form-item {
  position: absolute;
  top: 5px;
  right: 5px;
  margin-right: 10px;
}

.remove-sub-form-item .remove-sub-item {
  font-size: 25px;
}

h4.h4-text-tit {
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 200;
  color: #6a6c6f;
}

label.control-label-des,
span.control-label-des,
h4.control-label-des,
h5.control-label-des,
b.control-label-des {
  font-weight: 700 !important;
  font-size: 12px;
  color: #6a6c6f;
}

.form-control-font {
  display: inline-block;
  width: 36px;
  text-align: center;
  height: 26px;
  padding: 4px 4px;
  font-size: 12px;
}

input.form-cntrl-45w {
  width: 45px;
}

input.form-cntrl-55w {
  width: 55px;
}

.dropdown-with-btn-styles li a {
  padding: 0 5px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border: 1px solid transparent;
}

.dropdown-with-btn-styles li a.btn-var-styles__default {
  color: #fff;
}

.dropdown-with-btn-styles li a.btn-var-styles__material {
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  border-radius: 2px;
}

.dropdown-with-btn-styles li a.btn-var-styles__flat {
  color: #fff;
  box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.25);
  border-bottom: none!important;
  border-radius: 3px;
}

.dropdown-with-btn-styles li a.btn-var-styles__border-style {
  background-color: transparent;
  color: #000;
  border-color: #000;
}

.has-error label.control-label {
  color: #a94442;
}

label.control-label span {
  font-weight: 400 !important;
  font-size: 13px;
  color: #6a6c6f;
}

label.control-label span.tariff-info {
  color: #fff;
  font-weight: 700;
}

label.switcher-label {
  font-weight: 500;
  font-size: 18px;
  margin-top: -4px;
}

label.switcher-label-xs {
  font-weight: 400 !important;
}

h3 {
  font-weight: 200;
  font-size: 18px;
  color: #6a6c6f;
  margin-bottom: 0;
  margin-top: 0;
}

.widget-small-text {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #8e8e8e;
}

label.control-label {
  font-weight: 700;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #6a6c6f;
  white-space: nowrap;
}

.btn-default {
  text-align: left;
}

.btn-default .caret {
  position: absolute;
  right: 10px;
  margin-top: 7px;
}

h4.panel-title {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}

i.fa-plus {
  float: left;
  font-size: 18px!important;
  color: #64BD63;
  margin-right: 5px;
  margin-top: 3px;
}

.ui-state-default {
  background: #3b99fc !important;
  cursor: pointer !important;
}

label.control-label-ui {
  font-weight: 400 !important;
}

a.widget-download-img {
  color: #3b99fc;
  text-decoration: underline;
}

.widget-download-img {
  font-size: 14px;
}

.widget-download-img i {
  font-size: 16px;
}

.radio-info input[type="radio"] + label::after {
  background-color: #3498db
}

.radio-info input[type="radio"]:checked + label::before {
  border-color: #3498db
}

.radio-info input[type="radio"]:checked + label::after {
  background-color: #3498db
}

.coupons-flex-wr {
  display: flex;
}

.coupons-flex-wr .btn-coupon-add,
.coupons-flex-wr .btn-coupon-chose {
  max-width: 88%;
  flex-basis: 88%;
  margin-right: 10px;
  text-align: center;
}

.btn-coupon-chose .btn.dropdown-toggle {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
}

.coupons-flex-wr .refresh-coupons-element-btn {
  max-width: calc(12% - 10px);
  flex-basis: calc(12% - 10px);
}

.btn-coupon-chose .dropdown-menu {
  width: 100%;
}

.btn-coupon-chose .dropdown-menu li a {
  text-overflow: ellipsis;
  overflow: hidden;
}

h4.helper-title-3level {
  padding-top: 15px;
  font-size: 14px !important;
}

.widget-name-block-rel {
  position: relative;
}

.side-ui-sm .ui-slider {
  width: 47%;
  margin-right: 5px;
}

.info-link-wd {
  margin-left: 3px;
  vertical-align: super text-top;
}

span.input-down-sm-lab {
  display: block;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #6a6c6f;
}

.remove-widget-redirect {
  position: absolute;
  top: 30px;
  right: 23px;
  width: 20px;
  height: 20px;
  display: block;
  background: url("~src/assets/images/widgets/close_widg_ic_gr.png") center no-repeat;
  background-size: contain;
}

.editorFontLine {
  width: 100% !important;
}

.editorFontLine h1, .editorFontLine h2, .editorFontLine p {
  margin: 0;
}

.editorFontLine .note-editor .note-editing-area .note-editable {
  line-height: 1em;
}

.absolute-bg-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.absolute-bg-content .video-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.absolute-bg-content .video-bg iframe {
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100% !important;
  height: 100% !important;
}

.absolute-bg-content .video-bg img {
  display: block;
  width: 100%;
  height: 100%;
}

.block-widget-bg {
  background: url("~src/assets/images/widgets/land.jpg") center no-repeat;
  background-size: cover;
}

#globalMask {
  position: absolute;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
}

button.refresh-video-element-btn {
  position: absolute;
  cursor: pointer;
  top: 38px;
  text-align: center !important;
  line-height: 22px;
  right: 15px;
  width: 25px !important;
  height: 24px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #e4e5e7 !important;
  padding: 0 !important;
  color: #606265 !important;
}

.sm-video-text {
  line-height: 16px;
  margin-top: 5px;
}

.sm-video-text-act {
  margin-top: 0;
}

.widgets-settings-container {
  background-color: #ffffff;
  padding: 20px 20px 0 20px;
}

.widgets-settings-container label span {
  margin-left: 5px !important;
  font-size: 10px;
  vertical-align: top;
}

.widget-enabler-btns {
  position: absolute;
  bottom: 10px;
  left: 45%;
}

.buy-widget-btn {
  position: absolute;
  left: 15px;
  bottom: 10px;
}

.gototest-widget-btn {
  background-color: #fff;
  position: absolute;
  left: 15px;
  bottom: 10px;
}

.audience-tooolbar-desc {
  text-align: left;
  padding-left: 2px !important;
  width: calc(100% - 380px) !important;
  font-size: 11px;
}

.rule-subitem-text {
  padding: 0px;
}

.subitem-left {
  float: left;
  width: calc(100% - 30px);
}

.underline-comment {
  margin: 3px 0px 0px;
}

.underline-comment.row-subitem-underline {
  margin: 0px !important;
  margin-bottom: 10px !important;
}

textarea.textar-iframe {
  height: 120px;
}

.width-900 {
  width: 900px;
}
