.long-text-item {
  display: inline-block;
  position: relative;
  border: none;
  padding-right: 20px;
  line-height: 30px;
  max-width: 100%;
  text-overflow: ellipsis;
}

.form-check {
  display: inline-block;
  width: 22px;
  height: 22px;
}

.form-check-label, .form-check-input {
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.form-check-input {
  margin-left: -1.4rem;
  background-color: #62cb31;
}

.btn.btn-inline {
  font-size: 14px;
}

.btn.dropdown-toggle {
  border-radius: 3px;
  font-size: 14px;
  white-space: nowrap;
  min-width: 210px;
  text-align: left;
}

label.big-label {
  font-size: 20px;
  font-weight: 300;
}

.has-error label.big-label {
  color: #a94442;
}

.create-widget-m {
  position: relative;
  padding: 20px 10px 0;
}

.create-widget-m .header-modal {
  display: flex;
  justify-content: center;
}

.create-widget-m .header-modal button {
  height: 34px;
  margin-top: 5px;
  margin-left: 25px;
}

.create-widget-m .header-modal span {
  font-weight: 300;
  font-size: 30px;
  color: #2c3239;
}

.create-widget-m span.sub-text {
  text-align: center;
  display: block;
  color: #363636;
  font-size: 16px;
  font-weight: 300;
  margin: 5px 0 20px;
}

span.underow-comment {
  font-size: 10px;
  font-style: italic;
}

.widget-company-selector button {
  overflow: hidden;
  text-align: left;
  width: 100%;
}

.widget-company-selector .caret {
  float: right;
  position: relative;
  top: 9px;
}

.widget-company-selector .value {
  display: block;
  float: left;
  overflow: hidden;
  width: calc(100% - 25px);
}

.remove-sub-item {
  float: right;
  width: 30px;
}

.remove-sub-item i {
  color: rgb(106, 108, 111);
  font-size: 34px;
}

.select-site-title {
  position: relative;
  top: 5px;
}
