<div class="row-subitem border-item">
  <button
    (click)="listFile('image', modelName)"
    class="widget-download-img"
  >
    <img src="assets/images/widgets/upload.svg" alt="Загрузить изображение" /> Загрузить изображение
  </button>
</div>

<div class="row-subitem mt-3">
  <h3>Размер изображения</h3>

  <div class="d-flex align-items-center justify-content-between mt-2 pt-1">
    <label class="control-label control-label-des">Ширина</label>
    <div class="d-flex align-items-center">
      <div
        class="form-control form-control-font mr-2"
        [class.disabled]="modelName.width_type !== widthHrType[1]"
      >
        <input
          type="number"
          [(ngModel)]="modelName.widthpx"
          [disabled]="modelName.width_type !== widthHrType[1]"
        />
        <label>px</label>
      </div>
      <button
        class="wide-button"
        [class.active]="modelName.width_type === widthHrType[0]"
        (click)="modelName.width_type = (modelName.width_type === widthHrType[0] ? widthHrType[1] : widthHrType[0])"
      >
      </button>
    </div>
  </div>

  <div class="d-flex justify-content-between row-subitem row-subitem-padding mt-3">
    <label
      class="control-label control-label-des"
      [class.disabled]="modelName.width_type === widthHrType[0]"
    >
      Выравнивание
    </label>
    <div>
      <button
        class="align-button icon-left"
        [class.active]="modelName.position === floatBtn[0]"
        (click)="modelName.position = floatBtn[0]"
        [disabled]="modelName.width_type === widthHrType[0]"
      ></button>
      <button
        class="align-button icon-center"
        [class.active]="modelName.position === floatBtn[1]"
        (click)="modelName.position = floatBtn[1]"
        [disabled]="modelName.width_type === widthHrType[0]"
      ></button>
      <button
        class="align-button icon-right"
        [class.active]="modelName.position === floatBtn[2]"
        (click)="modelName.position = floatBtn[2]"
        [disabled]="modelName.width_type === widthHrType[0]"
      ></button>
    </div>
  </div>
</div>
