.image-container {
  width: 100%;

  img {
    width: 80%;
    margin-bottom: 15px;
  }

  p {
    margin: 0;
    font-size: 15px;
    color: #16181D;
  }

  .delete-element-button {
    font-size: 28px;
  }
}


