.widgets-settings-container {
  background-color: #ffffff;
  padding: 20px 20px 0 20px;
}

.widgets-settings-container label span {
  margin-left: 5px !important;
  font-size: 10px;
  vertical-align: top;
}

.widget-style-menu {
  min-width: 450px;
  height: 102%;
  position: relative;
  z-index: 1;
}

.widget-style-menu .panel-group {
  position: relative;
  height: 100%;
  overflow: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.panel-default {
  border-color: transparent!important;
}

.menu-fixed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1px 16px;
  z-index: 10;
  color: #000;
}

.menu-fixed-bg {
  border-radius: 0px;
  background-color: #dddddd;
  padding: 10px 15px;
}

#widgetStyle {
  position: relative;
  margin-right: -30px;
  overflow: hidden;
}

#widgetStyle label.control-label {
  font-weight: 700;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #6a6c6f;
  white-space: nowrap;
}

#widgetStyle input.form-cntrl-45w {
  width: 45px;
}

#widgetStyle input.form-cntrl-55w {
  width: 55px;
}

#widgetStyle .has-error label.control-label {
  color: #a94442;
}

#widgetStyle label.control-label span {
  font-weight: 400!important;
  font-size: 13px;
  color: #6a6c6f;
}

#widgetStyle label.control-label span.tariff-info {
  color: #fff;
  font-weight: 700;
}

#widgetStyle label.switcher-label {
  font-weight: 500;
  font-size: 18px;
  margin-top: -4px;
}

#widgetStyle label.switcher-label-xs {
  font-weight: 400!important;
}

#widgetStyle h3 {
  font-weight: 200;
  font-size: 18px;
  color: #6a6c6f;
  margin-bottom: 0;
  margin-top: 0;
}

.widget-style-menu .btn-default {
  width: 100%;
  text-align: left;
}

#widgetStyle .btn-default .caret {
  position: absolute;
  right: 10px;
  margin-top: 7px;
}

#widgetStyle h4.panel-title {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}

#widgetStyle i.fa-plus {
  float: left;
  font-size: 18px!important;
  color: #64BD63;
  margin-right: 5px;
  margin-top: 3px;
}

#widgetStyle .ui-state-default {
  background: #3b99fc!important;
  cursor: pointer!important;
}

#widgetStyle label.control-label-ui {
  font-weight: 400!important;
}

#widgetStyle a.widget-download-img {
  color: #3b99fc;
  text-decoration: underline;
}

#widgetStyle .widget-small-text, #addNewWidgetListModal .widget-small-text {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #8e8e8e;
}

#widgetStyle .widget-small-text-rec {
  font-weight: 200!important;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #6a6c6f;
}

#widgetStyle .widget-small-text-rec span.img-size, #widgetStyle .widget-small-text-rec span.img-size-form {
  color: #3b99fc;
  font-size: 14px;
  font-weight: 700!important;
}


#widgetStyle .form-add-title-type {
  float: left;
  padding-right: 5px;
  font-weight: 600;
}


.widget1-btn-bl p {
  display: inline-block;
  margin: 0;
}


.info-link-wd {
  margin-left: 3px;
  vertical-align: super;
}


.tooltip {
  z-index: 999999999!important;
}


#widgetStyle label.title-lab {
  left: 15px;
  font-weight: 500;
  font-size: 18px;
  margin-top: -7px;
}


.title-lab .tooltip.top {
  left: -10px!important;
}


#widgetStyle .tooltip {
  position: relative;
  z-index: 9999999;
}

h3.widget-title-main {
  font-size: 25px !important;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}


.editorFontLine h1, .editorFontLine h2, .editorFontLine p {
  margin: 0;
}


.widget-editor-tabs {
  position: relative;
  margin-left: 265px;
  margin-top: -45px;
}


.widget-editor-tabs span.input-down-sm-lab {
  display: block;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #6a6c6f;
}

.widget-editor-tabs li>a {
  padding-top: 15px !important;
  padding-bottom: 18px !important;
  font-size: 15px;
}

h5.label-style-ic {
  font-weight: 700;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #6a6c6f;
}

.widget-style-menu .border-item {
  position: relative;
  padding-top: 15px;
  padding-bottom: 8px;
  background: #fbfbfb;
  border-bottom: 1px solid #eee;
  border-top: none;
}

.widget-style-menu .border-item-top-top {
  border-top: 1px solid #eee;
}

.formItem {
  padding-right: 10px;
}

.widget-style-menu h4.h4-text-tit {
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 200;
  color: #6a6c6f;
}

.widget-style-menu h4.h4-element-title {
  font-size: 14px;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 600;
  color: #3b99fc;
}

.widget-style-menu h4.h4-element-title a {
  padding-left: 3px;
  font-size: 15px;
}

.widget-style-menu h4.h4-element-title a .remove-sub-item {
  width: 12px;
  float: none;
}

.widget-style-menu h4.h4-element-title a:hover .remove-sub-item {
  color: #ff0000;
}

.widget-style-menu .form-group {
  margin-bottom: 5px;
}

.widget-style-menu .side-ui-sm .ui-slider {
  width: 47%;
  margin-right: 5px;
}

.widget-gl-block-include {
  position: relative;
}

.widget-style-menu h6.title-h6-widget {
  font-size: 15px;
}

.widget-style-menu h6.title-h6-widget a {
  color: #3498db;
  text-decoration: underline;
}

.widget-style-menu h6.title-h6-widget a:hover {
  text-decoration: none;
}

.panel-group .panel-heading {
  background-color: #f7f9fa
}

.panel-body {
  padding: 0 15px;
}

.border-item {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.widget-style-menu .border-item .row {
  margin-left: 0;
  padding-left: 10px;
  margin-right: 0;
  padding-right: 0;
}

#widgetStyle label.control-label-des,
#widgetStyle span.control-label-des,
#widgetStyle h4.control-label-des,
#widgetStyle h5.control-label-des,
#widgetStyle b.control-label-des {
  font-weight: 700!important;
  font-size: 12px;
  color: #6a6c6f;
}

.widget-style-menu .panel {
  background-color: #fbfbfb;
}

.widget-style-menu .panel-body {
  padding-top: 0;
}

.widget-style-menu .panel-heading {
  background-color: #dddddd;
  margin-left: -1px;
  margin-right: -1px;
  border-radius: 0;
}

.max-h-100 {
  height: 100%;
}

.max-h-100 .popup-shadow {
  width: auto;
  padding: 60px 15px 0 15px;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 150%;
}

.max-h-100 .popup-sh-pad {
  padding-top: 0;
}

.max-h-100 .max-wh-over {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 55px;
  right: 5px;
}

.max-h-100 .max-wh-over.ifr-sh-bg {
  background-image: url('~src/assets/images/widgets/popup_bg_op.jpg');
  background-repeat: repeat;
}

.max-h-100.ifr-sh-bg {
  background-image: url('~src/assets/images/widgets/popup_bg_op.jpg');
  background-repeat: repeat;
}

.max-h-100 .popup-shadow .max-h-1001 {
  min-width: 100%;
}
