.widget-style-menu {
  min-width: 450px;
  height: 102%;
  position: relative;
  z-index: 1;
}

.widget-style-menu .panel-group {
  position: relative;
  height: 100%;
  overflow: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.panel-default {
  border-color: transparent!important;
}

.menu-fixed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1px 16px;
  z-index: 10;
  color: #000;
}

.menu-fixed-bg {
  border-radius: 0px;
  background-color: #dddddd;
  padding: 10px 15px;
}

#widgetStyle {
  position: relative;
  margin-right: -30px;
  overflow: hidden;
}

.widget1-btn-bl p {
  display: inline-block;
  margin: 0;
}

label.title-lab {
  left: 15px;
  font-weight: 500;
  font-size: 18px;
  margin-top: -7px;
}

.title-lab .tooltip.top {
  left: -10px!important;
}

h3.widget-title-main {
  font-size: 25px !important;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.widget-editor-tabs {
  position: relative;
  margin-left: 265px;
  margin-top: -45px;
}

.widget-editor-tabs li>a {
  padding-top: 15px !important;
  padding-bottom: 18px !important;
  font-size: 15px;
}

h5.label-style-ic {
  font-weight: 700;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #6a6c6f;
}

.form-group {
  margin-bottom: 5px;
}

.widget-gl-block-include {
  position: relative;
}

h6.title-h6-widget {
  font-size: 15px;
}

h6.title-h6-widget a {
  color: #3498db;
  text-decoration: underline;
}

h6.title-h6-widget a:hover {
  text-decoration: none;
}

.panel-group .panel-heading {
  background-color: #f7f9fa
}

.panel-body {
  padding: 0 15px;
}

.panel {
  background-color: #fbfbfb;
}

.panel-body {
  padding-top: 0;
}

.panel-heading {
  background-color: #dddddd;
  margin-left: -1px;
  margin-right: -1px;
  border-radius: 0;
}

.max-h-100 {
  max-height: 100%;
  max-width: calc(100% - 450px);
  position: relative;
  padding-top: 60px;
  padding-bottom: 55px;
}

@media (max-width: 1500px) {
  .widget-style-menu {
    width: 40%;
  }
  .max-h-100 {
    width: 60%;
  }
}

.max-h-100 .popup-shadow {
  width: auto;
  padding: 60px 15px 0 15px;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 150%;
}

.max-h-100 .popup-sh-pad {
  padding-top: 0;
}

.max-h-100 .max-wh-over {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 55px;
  right: 5px;
}

.max-h-100 .max-wh-over.ifr-sh-bg {
  background-image: url('~src/assets/images/widgets/popup_bg_op.jpg');
  background-repeat: repeat;
}

.max-h-100.ifr-sh-bg {
  background-image: url('~src/assets/images/widgets/popup_bg_op.jpg');
  background-repeat: repeat;
}

.max-h-100 .popup-shadow .max-h-1001 {
  min-width: 100%;
}

.close-btn-x {
  position: absolute;
  top: 15px;
  right: 55px;
  font-size: 26px;
  overflow: hidden;
  border: 1px solid #999;
  background: rgba(204, 204, 204, 0.3);
  text-align: center;
  color: #999;
  border-radius: 50%;
  line-height: 30px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 5;
}

.close-btn-x span {
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
  background: url('~src/assets/images/widgets/close_widg_ic.png') center no-repeat;
  background-size: contain;
}

#addNewElementListModal .modal-dialog {
  max-width: 760px;
}

#addNewElementListModal .modal-body {
  padding: 10px 30px 20px;
  background-color: #edf0f5;
}

#addNewElementListModal h4 {
  font-size: 24px;
  margin: 19px 0;
  color: #9a9a9a;
}

#addNewElementListModal .small-pdn {
  padding: 0 5px;
}

#addNewElementListModal .row-panel-fl {
  display: flex;
  flex-wrap: wrap;
}

#addNewElementListModal .row-panel-item {
  flex-basis: 33.333333%;
}

.disable-new-element-btn {
  cursor: not-allowed;
  opacity: 0.5;
  border-color: #e4e5e7!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}

.newElementItem {
  position: relative;
  background-color: #fff;
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid #e4e5e7;
  border-radius: 2px;
  padding: 25px 15px 10px;
  text-align: center;
}

.payment-modal-icon {
  position: absolute!important;
  top: 5px!important;
  left: auto!important;
  right: 5px!important;
}

.newElementItem:hover {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
}

.newElementItem span {
  display: block;
  font-size: 16px;
}

.newElementItem i {
  font-size: 36px;
  margin-top: 5px;
}

.element-form-new-icon,
.element-form-icon,
.element-dismiss-icon,
.element-button-icon,
.element-text-icon,
.element-social-icon,
.element-divider-icon,
.element-video-icon,
.element-image-icon,
.element-iframe-icon,
.element-padding-icon,
.element-coupon-icon {
  height: 44px;
  margin-bottom: 13px;
}

.element-form-new-icon {
  background: url("~src/assets/images/widgets/element_icons/form_button_icon_new.png") no-repeat center;
  background-size: contain;
}

.element-form-icon {
  background: url("~src/assets/images/widgets/element_icons/form_button_icon.png") no-repeat center;
  background-size: contain;
}

.element-dismiss-icon {
  background: url("~src/assets/images/widgets/element_icons/dismiss_link_icon.png") no-repeat center;
  background-size: contain;
}

.element-button-icon {
  background: url("~src/assets/images/widgets/element_icons/button_icon.png") no-repeat center;
  background-size: contain;
}

.element-text-icon {
  background: url("~src/assets/images/widgets/element_icons/text_icon.png") no-repeat center;
  background-size: contain;
}

.element-social-icon {
  background: url("~src/assets/images/widgets/element_icons/social_icon.png") no-repeat center;
  background-size: contain;
}

.element-divider-icon {
  background: url("~src/assets/images/widgets/element_icons/divider_icon.png") no-repeat center;
  background-size: contain;
}

.element-video-icon {
  background: url("~src/assets/images/widgets/element_icons/video_icon.png") no-repeat center;
  background-size: contain;
}

.element-image-icon {
  background: url("~src/assets/images/widgets/element_icons/image_icon.png") no-repeat center;
  background-size: contain;
}

.element-padding-icon {
  background: url("~src/assets/images/widgets/element_icons/padding_icon.png") no-repeat center;
  background-size: contain;
}

.element-iframe-icon {
  background: url("~src/assets/images/widgets/element_icons/iframe_icon.png") no-repeat center;
  background-size: contain;
}

.element-coupon-icon {
  background: url("~src/assets/images/widgets/element_icons/coupon_icon.png") no-repeat center;
  background-size: contain;
}

#listImagesBlock .imageGlItem {
  display: inline-block;
  margin: 10px 10px 0 0;
  border: 1px solid transparent;
  padding: 5px;
  cursor: pointer;
  position: relative;
}

#listImagesBlock .imageGlItem .delete-cur-img-btn {
  position: absolute;
  opacity: 0;
  top: -6px;
  right: -6px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 2;
}

#listImagesBlock .imageGlItem .delete-cur-img-btn span {
  display: block;
  width: 24px;
  height: 24px;
  background: url("~src/assets/images/widgets/delete_img_ic.png") center no-repeat;
  background-size: contain;
}

#listImagesBlock .imageGlItem:hover .delete-cur-img-btn {
  opacity: 1;
}

#listImagesBlock .imageItem {
  width: 108px;
  height: 108px;
}

#listImagesBlock .imageGlItemIn {
  border: 3px solid transparent;
  position: relative;
  z-index: 1;
}

#listImagesBlock .imageGlItemIn.active {
  background: #e5e5e5;
  border-color: #3498db;
}

.modal #listImagesBlock {
  overflow: auto;
  max-height: 275px;
  padding-left: 0;
  padding-right: 0;
}

.img-set-foot1 {
  margin: -15px -15px 15px;
  padding: 15px 15px;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}

.img-set-foot1 .dragDropBl {
  border: 2px dashed #e4e5e7;
}

.upload-drag-icon {
  margin: 5px auto;
  text-align: center;
  font-size: 24px;
}

.img-set-foot1 .dragDropBl span.dragOr {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.modal#addNewWidgetListModal .img-set-foot1-l {
  float: left;
  width: 50%;
}

.modal#addNewWidgetListModal .img-set-foot1 p {
  font-size: 14px;
  margin-bottom: 5px;
}

.modal#addNewWidgetListModal h4 {
  font-weight: 300;
  margin-bottom: 0;
}

#addNewWidgetListModal .load-img-gal {
  display: block;
  margin: 0 auto;
  min-width: 208px;
}

#addNewWidgetListModal .dragAndDropFilter {
  display: none;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(98, 203, 49, 0.4);
}

#addNewWidgetListModal .alert-success .dragAndDropFilter {
  display: block;
}

#addNewWidgetListModal .set-img-gal {
  min-width: 208px;
}

.widget-visual-block {
  position: absolute;
  top: 30px;
  right: 110px;
  width: auto;
  display: inline-block;
  padding-bottom: 100px;
  padding-right: 100px;
}

.popup-sh-pad .widget-visual-block {
  top: 70px;
}
.wv-b-left {
  left: 110px;
  right: auto;
}

.wv-b-right {
  left: auto;
  right: 110px;
  left: 110px;
  right: auto;
}
