.widget-style-menu {
  min-width: 510px;
  height: 102%;
  position: relative;
  z-index: 1;
  display: flex;
  padding-right: 0;
}

.widget-style-menu .panel-group {
  position: relative;
  height: calc(100% - 70px);
  overflow: auto;
  border-radius: 4px;
}

.panel-default {
  border-color: transparent!important;
}

.menu-fixed {
  width: 100%;
  padding: 20px 0 10px 23px;
  z-index: 10;
  color: #16181D;
}

h4.panel-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

#widgetStyle {
  position: relative;
  margin-right: -30px;
  overflow: hidden;
}

#disabledFuncAct {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10000%;
  z-index: 999999;
}

.non-scroll {
  overflow: hidden;
  opacity: 0.5;
}

.widget1-btn-bl p {
  display: inline-block;
  margin: 0;
}

label.title-lab {
  left: 15px;
  font-weight: 500;
  font-size: 18px;
  margin-top: -7px;
}

.title-lab .tooltip.top {
  left: -10px!important;
}

h3.widget-title-main {
  font-size: 25px !important;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.widget-editor-tabs {
  position: relative;
  margin-left: 265px;
  margin-top: -45px;
}

.widget-editor-tabs li>a {
  padding-top: 15px !important;
  padding-bottom: 18px !important;
  font-size: 15px;
}

h5.label-style-ic {
  font-weight: 700;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #6a6c6f;
}

.form-group {
  margin-bottom: 5px;
}

.widget-gl-block-include {
  position: relative;
}

h6.title-h6-widget {
  font-size: 15px;
}

h6.title-h6-widget a {
  color: #3498db;
  text-decoration: underline;
}

h6.title-h6-widget a:hover {
  text-decoration: none;
}

.panel-group .panel-heading {
  background-color: #f7f9fa
}

.panel-body {
  padding: 0 25px;
}

.panel {
  background-color: white;
}

.panel-body {
  padding-top: 10px;
}

.panel-default .panel-heading {
  background-color: #dddddd;
  margin-left: -1px;
  margin-right: -1px;
  border-radius: 0;
  color: #333;
  padding: 10px 15px;
}

.main-frame {
  max-height: 100%;
  max-width: calc(100% - 510px);
  padding: 0;
}

.max-h-100 {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 60px;
  padding-bottom: 55px;
  background: #C6CAD2;
}

@media (max-width: 1500px) {
  .widget-style-menu {
    width: 40%;
  }
  .main-frame {
    width: 60%;
  }
}

.max-h-100 .popup-shadow {
  width: auto;
  padding: 60px 15px 0 15px;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 100%;
}

.max-h-100 .popup-sh-pad {
  padding-top: 0;
}

.max-h-100 .max-wh-over {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.max-h-100 .max-wh-over.ifr-sh-bg {
  background-image: url('~src/assets/images/widgets/popup_bg_op.jpg');
  background-repeat: repeat;
}

.max-h-100.ifr-sh-bg {
  background-image: url('~src/assets/images/widgets/popup_bg_op.jpg');
  background-repeat: repeat;
}

.max-h-100 .popup-shadow .max-h-1001 {
  min-width: 100%;
}

.widget-select-mode {
  padding: 20px 0;

  .angle {
    margin: 3px 10px;
    font-size: 16px;
  }
}

.frame-button {
  border: none;
  border-radius: 16px;
  font-size: 16px;
  padding: 4px 16px;
  color: #505662;
  background-color: #F4F4F6;

  &.active {
    background: #4898A8;
    color: #fff;

    i {
      color: #d7d7d7;
    }
  }

  i {
    position: relative;
    color: #b3b3b3;
    font-size: 14px;
    top: -1px;
    margin-left: 5px;
  }
}

.close-btn-x {
  position: absolute;
  top: 15px;
  right: 55px;
  font-size: 26px;
  overflow: hidden;
  border: 1px solid #999;
  background: rgba(204, 204, 204, 0.3);
  text-align: center;
  color: #999;
  border-radius: 50%;
  line-height: 30px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 5;
}

.close-btn-x span {
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
  background: url('~src/assets/images/widgets/close_widg_ic.png') center no-repeat;
  background-size: contain;
}

#listImagesBlock .imageGlItem {
  display: inline-block;
  margin: 10px 10px 0 0;
  border: 1px solid transparent;
  padding: 5px;
  cursor: pointer;
  position: relative;
}

#listImagesBlock .imageGlItem .delete-cur-img-btn {
  position: absolute;
  opacity: 0;
  top: -6px;
  right: -6px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 2;
}

#listImagesBlock .imageGlItem .delete-cur-img-btn span {
  display: block;
  width: 24px;
  height: 24px;
  background: url("~src/assets/images/widgets/delete_img_ic.png") center no-repeat;
  background-size: contain;
}

#listImagesBlock .imageGlItem:hover .delete-cur-img-btn {
  opacity: 1;
}

#listImagesBlock .imageItem {
  width: 108px;
  height: 108px;
}

#listImagesBlock .imageGlItemIn {
  border: 3px solid transparent;
  position: relative;
  z-index: 1;
}

#listImagesBlock .imageGlItemIn.active {
  background: #e5e5e5;
  border-color: #3498db;
}

.modal #listImagesBlock {
  overflow: auto;
  max-height: 275px;
  padding-left: 0;
  padding-right: 0;
}

.img-set-foot1 {
  margin: -15px -15px 15px;
  padding: 15px 15px;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}

.img-set-foot1 .dragDropBl {
  border: 2px dashed #e4e5e7;
}

.upload-drag-icon {
  margin: 5px auto;
  text-align: center;
  font-size: 24px;
}

.img-set-foot1 .dragDropBl span.dragOr {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.modal#addNewWidgetListModal .img-set-foot1-l {
  float: left;
  width: 50%;
}

.modal#addNewWidgetListModal .img-set-foot1 p {
  font-size: 14px;
  margin-bottom: 5px;
}

.modal#addNewWidgetListModal h4 {
  font-weight: 300;
  margin-bottom: 0;
}

#addNewWidgetListModal .load-img-gal {
  display: block;
  margin: 0 auto;
  min-width: 208px;
}

#addNewWidgetListModal .dragAndDropFilter {
  display: none;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(98, 203, 49, 0.4);
}

#addNewWidgetListModal .alert-success .dragAndDropFilter {
  display: block;
}

#addNewWidgetListModal .set-img-gal {
  min-width: 208px;
}

.widget-visual-block {
  position: absolute;
  top: 30px;
  right: 110px;
  width: auto;
  display: inline-block;
  padding-bottom: 100px;
  padding-right: 100px;
}

.popup-sh-pad .widget-visual-block {
  top: 70px;
}

.wv-b-left {
  left: 110px;
  right: auto;
}

.wv-b-right {
  left: 110px;
  right: auto;
}

.widget-style-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.elements-selector {
  width: 60px;
  background: #F4F4F6;

  .element {
    position: relative;
    height: 62px;
    padding: 9px 0;
    font-size: 10px;
    line-height: 12px;
    color: #505662;
    text-align: center;
    cursor: pointer;

    span {
      position: relative;
      z-index: 1;
    }

    .add-element {
      color: #4898A8;
    }

    &.active {
      background: white;
      color: #16181D;

      .icon:not(.add-icon-small) {
        background-color: #16181D;
      }

      .before, .after {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 0;
        background: #fff;

        .square {
          width: 24px;
          height: 24px;
          background: #F4F4F6;
        }
      }

      .before {
        top: -24px;

        .square {
          border-radius: 0 0 12px 0;
        }
      }

      .after {
        top: 62px;

        .square {
          border-radius: 0 12px 0 0;
        }
      }
    }

    &:first-child {
      &.active {
        .before {
          display: none;
        }
      }

      &:not(.active) {
        .before {
          display: block;
          position: absolute;
          width: 24px;
          height: 24px;
          right: -24px;
          top: 0;
          background: #F4F4F6;

          .square {
            width: 24px;
            height: 24px;
            background: #fff;
            border-radius: 12px 0 0 0;
          }
        }
      }

    }
  }
}

.elements {
  width: calc(100% - 60px);
}

.settings-icon-small,
.add-icon-small,
.form-ext-element-icon-small,
.form-element-icon-small,
.closelink-element-icon-small,
.button-element-icon-small,
.title-element-icon-small,
.social-element-icon-small,
.split-element-icon-small,
.video-element-icon-small,
.image-element-icon-small,
.iframe-element-icon-small,
.padding-element-icon-small,
.coupon-element-icon-small,
.timer-element-icon-small {
  width: 21px;
  height: 21px;
  margin: 0 auto 5px;
  background-color: #7E889A;
}

.add-icon-small {
  background-color: #4898A8;
}

.settings-icon-small {
  mask: url("~src/assets/images/widgets/element_icons_small/settings.svg") no-repeat center;
  mask-size: contain;
}

.add-icon-small {
  mask: url("~src/assets/images/widgets/element_icons_small/add.svg") no-repeat center;
  mask-size: contain;
}

.form-ext-element-icon-small {
  mask: url("~src/assets/images/widgets/element_icons_small/formext.svg") no-repeat center;
  mask-size: contain;
}

.form-element-icon-small {
  mask: url("~src/assets/images/widgets/element_icons_small/form.svg") no-repeat center;
  mask-size: contain;
}

.closelink-element-icon-small {
  mask: url("~src/assets/images/widgets/element_icons_small/close.svg") no-repeat center;
  mask-size: contain;
}

.button-element-icon-small {
  mask: url("~src/assets/images/widgets/element_icons_small/button.svg") no-repeat center;
  mask-size: contain;
}

.title-element-icon-small {
  mask: url("~src/assets/images/widgets/element_icons_small/text.svg") no-repeat center;
  mask-size: contain;
}

.social-element-icon-small {
  mask: url("~src/assets/images/widgets/element_icons_small/social.svg") no-repeat center;
  mask-size: contain;
}

.split-element-icon-small {
  mask: url("~src/assets/images/widgets/element_icons_small/divider.svg") no-repeat center;
  mask-size: contain;
}

.video-element-icon-small {
  mask: url("~src/assets/images/widgets/element_icons_small/video.svg") no-repeat center;
  mask-size: contain;
}

.image-element-icon-small {
  mask: url("~src/assets/images/widgets/element_icons_small/image.svg") no-repeat center;
  mask-size: contain;
}

.padding-element-icon-small {
  mask: url("~src/assets/images/widgets/element_icons_small/padding.svg") no-repeat center;
  mask-size: contain;
}

.iframe-element-icon-small {
  mask: url("~src/assets/images/widgets/element_icons_small/iframe.svg") no-repeat center;
  mask-size: contain;
}

.coupon-element-icon-small {
  mask: url("~src/assets/images/widgets/element_icons_small/coupon.svg") no-repeat center;
  mask-size: contain;
}

.timer-element-icon-small {
  mask: url("~src/assets/images/widgets/element_icons_small/timer.svg") no-repeat center;
  mask-size: contain;
}

.modal-header .close {
  font-size: 40px;
  font-weight: 100;
  padding: 0.5rem 1rem;
}

.modal-dialog {
  max-width: 760px;
}

.modal-body {
  padding: 10px 30px 20px;
}

.element.active .fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-timing-function: linear;
  animation-duration: 0.8s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
