<div class="widgets-settings-container" id="widgetStyle">
  <div *ngIf="widget.guiprops" class="row" style="height: 100%; overflow: hidden">
    <div class="col-lg-3 widget-style-menu">
      <div class="menu-fixed">
        <div class="menu-fixed-bg">
          <h4 class="panel-title" id="menu-select">
            Настройки виджета
          </h4>
        </div>
      </div>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div id="disabledFuncAct" class="hide"></div>
        <div id="accordionIn">
          <div class="panel panel-default" id="0">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title" data-detect="НАСТРОЙКИ ВИДЖЕТА">
                Настройки виджета
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                <div class="border-item">
                  <div class="row row-subitem mb-2">
                    <div class="col-sm-12 row-subitem-padding">
                      <h3 class="marg-minus-bord-des">Расположение</h3>
                    </div>
                  </div>
                  <div class="row row-subitem">
                    <div class="col-sm-12 row-subitem-padding mt-2">
                      <label class="control-label control-label-des">Где показывать всплывающее окно:</label>
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                          {{ widget.guiprops.popupMain?.place }}
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropd-scroll-sm" role="menu">
                          <li
                            role="presentation"
                            *ngFor="let item of placePopup"
                            (click)="widget.guiprops.popupMain.place = item"
                          >
                            <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ item }}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="border-item">
                  <div class="row row-subitem mb-2">
                    <div class="col-sm-12 row-subitem-padding">
                      <h3 class="marg-minus-bord-des">Маска</h3>
                    </div>
                  </div>
                  <div class="row row-subitem mt-1">
                    <div class="d-flex col-sm-12 row-subitem-padding pt-1">
                      <ui-switch
                        size="small"
                        [(ngModel)]="widget.guiprops.popupMain?.shadow.enable"
                      ></ui-switch><label class="control-label switcher-label-xs control-label-des mt-1 ml-2">Затемнять фон маской при показе виджета</label>
                    </div>
                  </div>
                  <div *ngIf="widget.guiprops.popupMain?.shadow.enable == true">
                    <div class="row row-subitem">
                      <div class="col-sm-5 row-subitem-padding pt-1 mr-3">
                        <label class="control-label control-label-colorpc control-label-des">Цвет маски:</label>
                        <input
                          [(colorPicker)]="widget.guiprops['popupMain'].shadow.color"
                          [style.background]="widget.guiprops['popupMain'].shadow.color"
                          [cpAlphaChannel]="'disabled'"
                          [cpOutputFormat]="'hex'"
                          class="w-100"
                        />
                      </div>
                      <div class="col-sm-6 row-subitem-padding pt-1 side-ui-dev">
                        <label class="control-label control-label-colorpc control-label-des">Прозрачность:</label>
                        <ngx-slider
                          [(value)]="widget.guiprops['popupMain'].shadow.opacityColor"
                          [options]="optionsOpacity"
                        ></ngx-slider>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-3">
                  <div class="col-sm-12 row-subitem-padding">
                    <h3 class="marg-minus-bord-des">Настройка дизайна виджета</h3>
                  </div>
                </div>
                <app-visual-element
                  [widget]="widget"
                  [widgwidthBtn]="widgwidthBtn"
                  [vertOrientDh]="vertOrientDh"
                  [bgPositionTypesList]="bgPositionTypesList"
                  [tilesList]="tilesList"
                  [maskTypeList]="maskTypeList"
                  [placeImg]="placeImg"
                  [imageItemsType]="imageItemsType"
                  [imageItemsAlign]="imageItemsAlign"
                  (getVideo)="getVideoId($event)"
                  (listFileItem)="listFile($event)"
                ></app-visual-element>
                <app-redirect-element [widget]="widget"></app-redirect-element>
              </div>
            </div>
          </div>

          <div class="panel panel-default mt-4" id="1">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title" data-detect="НАСТРОЙКИ ЭЛЕМЕНТОВ">
                Настройки элементов
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
              <div *ngIf="widget.guiprops && widget.guiprops.elementsList" class="panel-body">
                <div class="row-subitem mb-1 mt-3">
                  <div class="row-subitem-padding">
                    <h3 class="marg-minus-bord">
                      Содержимое виджета<a
                      data-toggle="tooltip"
                      data-placement="top"
                      data-container="body"
                      title=""
                      class="info-link info-link-wd"
                      href="#"
                      data-original-title="Вы можете включать и отключать различные элементы, в зависимости от того, какой виджет вы хотите создать."
                    ><i class="fa fa-info-circle"></i></a>
                    </h3>
                  </div>
                </div>
                <div *ngFor="let item of widget.guiprops.elementsList; trackBy: trackById; index as i" [id]="'elemScrN' + i">
                  <div *ngIf="item.name === 'button-element'">
                    <app-button-element
                      [index]="i"
                      [widget]="widget"
                      [visualInputForm]="visualInputForm"
                      [widthBtn]="widthBtn"
                      [floatBtn]="floatBtn"
                      (removeElement)="removeElementFromElementsList($event.index, $event.elem)"
                      (setBtn)="setBtnStyle($event.type, $event.item)"
                    ></app-button-element>
                  </div>

                  <div *ngIf="item.name === 'closelink-element'">
                    <app-closelink-element
                      [index]="i"
                      [widget]="widget"
                      [coupons]="coupons"
                      [placePopup]="placePopup"
                      [widthBtn]="widthBtn"
                      [floatBtn]="floatBtn"
                      (removeElement)="removeElementFromElementsList($event)"
                      (setBtn)="setBtnStyle($event.type, $event.item)"
                    ></app-closelink-element>
                  </div>

                  <div *ngIf="item.name === 'coupon-element'">
                    <app-coupon-element
                      [index]="i"
                      [coupons]="coupons"
                      [item]="item"
                      [widthBtn]="widthBtn"
                      [floatBtn]="floatBtn"
                      (removeElement)="removeElementFromElementsList($event)"
                    ></app-coupon-element>
                  </div>

                  <div *ngIf="item.name === 'form-element'">
                    <app-form-element
                      [index]="i"
                      [widget]="widget"
                      [coupons]="coupons"
                      [placePopup]="placePopup"
                      [orientInputForm]="orientInputForm"
                      [visualInputForm]="visualInputForm"
                      [widthHrType]="widthHrType"
                      [widthBtn]="widthBtn"
                      [floatBtn]="floatBtn"
                      (removeElement)="removeElementFromElementsList($event.index, $event.elem)"
                      (setBtn)="setBtnStyle($event.type, $event.item)"
                    ></app-form-element>
                  </div>

                  <div *ngIf="item.name === 'iframe-element'">
                    <app-iframe-element
                      [index]="i"
                      [modelName]="item"
                      [widthHrType]="widthHrType"
                      [widgwidthBtn]="widgwidthBtn"
                      [floatBtn]="floatBtn"
                      (removeElement)="removeElementFromElementsList($event)"
                      (buildIframeElement)="buildIframeElement($event)"
                    ></app-iframe-element>
                  </div>

                  <div *ngIf="item.name === 'image-element'">
                    <app-image-element
                      [index]="i"
                      [modelName]="item"
                      [widthHrType]="widthHrType"
                      [floatBtn]="floatBtn"
                      (removeElement)="removeElementFromElementsList($event)"
                      (listFileItem)="listFile($event.place, $event.item)"
                    ></app-image-element>
                  </div>

                  <div *ngIf="item.name === 'padding-element'">
                    <app-padding-element
                      [index]="i"
                      [modelName]="item"
                      (removeElement)="removeElementFromElementsList($event)"
                    ></app-padding-element>
                  </div>

                  <div *ngIf="item.name === 'social-element'">
                    <app-social-element
                      [index]="i"
                      [widget]="widget"
                      [coupons]="coupons"
                      [placePopup]="placePopup"
                      [floatBtn]="floatBtn"
                      (removeElement)="removeElementFromElementsList($event)"
                    ></app-social-element>
                  </div>

                  <div *ngIf="item.name === 'split-element'">
                    <app-split-element
                      [index]="i"
                      [modelName]="item"
                      [typeClass]="typeClass"
                      [widthHrType]="widthHrType"
                      [floatBtn]="floatBtn"
                      (removeElement)="removeElementFromElementsList($event)"
                    ></app-split-element>
                  </div>

                  <div *ngIf="item.name === 'title-element'">
                    <app-text-element
                      [index]="i"
                      [item]="item"
                      [widget]="widget"
                      (removeElement)="removeElementFromElementsList($event)"
                    ></app-text-element>
                  </div>

                  <div *ngIf="item.name === 'video-element'">
                    <app-video-element
                      [index]="i"
                      [modelName]="item"
                      [widthHrType]="widthHrType"
                      [floatBtn]="floatBtn"
                      (removeElement)="removeElementFromElementsList($event)"
                      (getVideo)="getVideoId($event)"
                      (setVideoSize)="newVideoSize($event)"
                    ></app-video-element>
                  </div>

                  <div *ngIf="item.name === 'form-ext-element'">
                    <app-form-extended></app-form-extended>
                  </div>
                </div>
                <div>
                  <div class="widget-content-add">
                    <button
                      class="btn-default widget-content-add-btn"
                      (click)="addNewElementToContent()"
                    >
                      <i class="fa fa-plus"></i>Добавить новый элемент
                    </button>
                    <span>Для добавления элемента нажмите на эту кнопку и выберите элемент из списка</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-9 max-h-100" [ngClass]="(widget.guiprops.popupMain?.shadow.enable === true) ? 'ifr-sh-bg' : ''">
      <div *ngIf="isThankShouldShow()" class="widget-select-mode btn-group">
        <span class="btn btn-default active" data-widget="mainBlockWidget" (click)="$event.stopPropagation();">
          Основной экран
        </span>
        <span
          class="btn btn-default"
          data-widget="thankWidget"
          (click)="$event.stopPropagation();"
          data-toggle="tooltip"
          data-placement="top"
          data-container="body"
          title=""
          data-original-title="Сообщение, которое видит посетитель после совершения целевого действия. Ваше сообщение благодарности будет показано посетителю, если в виджете отключена ссылка на LeadGenic, отключить ссылку можно в настройках сайта. В случае, если ссылка включена, посетителю будет показано сообщение благодарности LeadGenic."
        >
          Сообщение благодарности
        </span>
      </div>
      <div
        class="max-wh-over"
        [ngStyle]="{'background': this.widget.guiprops.popupMain.shadow.enable ? widget.guiprops['popupMain']?.shadow.rgbaColor : 'none'}"
        (click)="scrollToEl('MainSetBl', 'main-w-element')"
      >
        <div class="popup-shadow popup-sh-pad">
          <div class="max-h-1001">
            <div class="widget-visual-block" [ngStyle]="{'width': 'auto'}" [ngClass]="wvBLeft()">
              <div *ngIf="!(disElementOrNotBtnCloseLink())" class="close-btn-x">
                <span></span>
              </div>
              <div class="clearfix"></div>
              <app-content-element
                [widget]="widget"
                [bgStyle]="bgStyle"
                [widthImageStyle]="widthImageStyle"
                [heightImageStyle]="heightImageStyle"
                [widthContentStyle]="widthContentStyle"
                [heightContentStyle]="heightContentStyle"
                (removeElement)="removeElementFromElementsList($event.index, $event.elem)"
                (scrollToElement)="scrollToEl($event.id, $event.elementName)"
                (addNewElement)="addNewElementToContent($event)"
              ></app-content-element>
              <app-thank-element
                [widget]="widget"
                [bgStyle]="bgStyle"
              ></app-thank-element>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addNewElementListModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4>Выберите элемент, который хотите добавить</h4>
        </div>

        <div class="modal-body">
          <div class="row-panel-fl">
            <div class="row-panel-item small-pdn">
              <div
                class="newElementItem"
                (click)="addFormExtButtonElement(disElementOrNotBtn())"
                [ngClass]="(disElementOrNotBtn()) ? 'disable-new-element-btn' : ''"
              >
                <div class="element-form-new-icon"></div>
                <span>Форма+кнопки (новый)</span>
              </div>
            </div>
            <div class="row-panel-item small-pdn" *ngIf="!isContainerized">
              <div
                class="newElementItem"
                (click)="addCloseLinkElement(disElementOrNotBtnCloseLink())"
                [ngClass]="(disElementOrNotBtnCloseLink()) ? 'disable-new-element-btn' : ''"
              >
                <div class="element-dismiss-icon"></div>
                <span>Ссылка/Кнопка закрытия</span>
              </div>
            </div>
            <div class="row-panel-item small-pdn">
              <div
                class="newElementItem"
                (click)="addButtonElement(disElementOrNotBtn())"
                [ngClass]="(disElementOrNotBtn()) ? 'disable-new-element-btn' : ''"
              >
                <div class="element-button-icon"></div>
                <span>Кнопка</span>
              </div>
            </div>

            <div class="row-panel-item small-pdn">
              <div class="newElementItem" (click)="addTextElement()">
                <div class="element-text-icon"></div>
                <span>Текст</span>
              </div>
            </div>
            <div class="row-panel-item small-pdn">
              <div
                class="newElementItem"
                (click)="addSocialElement(disElementOrNotBtnSocial())"
                [ngClass]="(disElementOrNotBtnSocial()) ? 'disable-new-element-btn' : ''"
              >
                <div class="element-social-icon"></div>
                <span>Социальные кнопки</span>
              </div>
            </div>
            <div class="row-panel-item small-pdn">
              <div class="newElementItem" (click)="addSplitElement()">
                <div class="element-divider-icon"></div>
                <span>Разделитель</span>
              </div>
            </div>

            <div class="row-panel-item small-pdn">
              <div class="newElementItem" (click)="addVideoElement()">
                <div class="element-video-icon"></div>
                <span>Видео</span>
              </div>
            </div>
            <div class="row-panel-item small-pdn">
              <div class="newElementItem" (click)="addImageElement()">
                <div class="element-image-icon"></div>
                <span>Изображение</span>
              </div>
            </div>
            <div class="row-panel-item small-pdn">
              <div class="newElementItem" (click)="addPaddingElement()">
                <div class="element-padding-icon"></div>
                <span>Отступ</span>
              </div>
            </div>

            <div class="row-panel-item small-pdn">
              <div class="newElementItem" (click)="addIframeElement()">
                <div class="element-iframe-icon"></div>
                <span>HTML / JS / Iframe</span>
              </div>
            </div>

            <div class="row-panel-item small-pdn">
              <div class="newElementItem" (click)="addCouponElement()">
                <span class="payment-modal-icon label label-warning tariff-info">окупаемый</span>
                <div class="element-coupon-icon"></div>
                <span>Купон</span>
              </div>
            </div>

            <div class="row-panel-item small-pdn">
              <div class="newElementItem" (click)="addTimerElement()">
                <div class="element-countdown-icon"></div>
                <span>Таймер</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container #flowBasic="flow" [flowConfig]="{target: 'imagestore/' + sid}"></ng-container>

  <div
    class="modal fade"
    id="addNewWidgetListModal"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="dragAndDropFilter"></div>
      <div class="modal-content">
        <div class="color-line"></div>
        <div class="modal-header text-center">
          <h4 class="modal-title">Мои изображения</h4>
        </div>
        <div class="modal-body">
          <h4>Загруженные изображения</h4>
          <div class="row row-nomargined">
            <div id="listImagesBlock" class="col-lg-12 mt-2"></div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="img-set-foot1">
            <div class="dragDropBl">
              <div class="upload-drag-icon"><i class="fa fa-upload"></i></div>
              <button
                flowButton
                [flow]="flowBasic.flowJs"
                [flowAttributes]="{accept: 'image/*'}"
                [ladda]="isLoading"
                class="load-img-gal btn btn-success ladda-button"
                data-style="slide-down"
              >
                <span class="ladda-label">Загрузить изображение</span>
              </button>

              <div
                class="drop-area"
                flowDrop
                [flow]="flowBasic.flowJs"
              >
                <span class="dragOr">или перетащите изображение сюда</span>
              </div>
            </div>
          </div>
          <div>
            <button data-dismiss="modal" (click)="closeModalImg()" id="btnCloseImgM" class="btn btn-default pull-left" type="button">Отмена</button>
            <button class="btn btn-info set-img-gal" (click)="updateFile()">Установить изображение</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
