<div
  id="right-sidebar"
  class="lead-info-sidebar animate__animated animate__fadeInRight"
  [ngClass]="{ 'sidebar-open': isOpen }"
  (clickOutside)="closeLeadInfo()"
>
  <div class="sidebar-body">
    <button
      class="lead-info-sidebar__close btn btn-default mb-2"
      (click)="closeLeadInfo()"
    ><i class="pe pe-7s-close"></i></button>
    <div class="sidebar-title">
      <h5 id="crm-details-title">
        {{ leadInfo.title }} {{ 'global.from' | translate }} {{ leadInfo.createDate | date : "dd.MM.y, HH:mm" }}
      </h5>
    </div>
    <div id="detailsContent" class="lead-info-card-wrapper">
      <div id="detailsInfo" class="lead-info-card pt-3 pb-3">
        <div class="lead-info-card__status">
          <div>{{ 'crm.page.table.th4' | translate }}</div>
          <div
            class="btn-group btn-group__status-selector"
            ngbRadioGroup
            name="radioBasic"
            [(ngModel)]="status"
            (ngModelChange)=updateState($event)
          >
            <label ngbButtonLabel class="btn btn-default btn-status-new">
              <input ngbButton type="radio" [value]="'NEW'"> {{ 'crm.page.card.status.new' | translate }}
            </label>
            <label ngbButtonLabel class="btn btn-default btn-status-inwork">
              <input ngbButton type="radio" [value]="'INWORK'"> {{ 'crm.page.card.status.onWork' | translate }}
            </label>
            <label ngbButtonLabel class="btn btn-default btn-status-invalid">
              <input ngbButton type="radio" [value]="'INVALID'"> {{ 'crm.page.card.status.bad' | translate }}
            </label>
            <label ngbButtonLabel class="btn btn-default btn-status-success">
              <input ngbButton type="radio" [value]="'SUCCESS'"> {{ 'crm.page.card.status.success' | translate }}
            </label>
          </div>
        </div>

        <div class="lead-info-card__data lead-info-card__data-notes">
          <label>{{ 'crm.page.card.status.notes' | translate }} <span *ngIf="isUserCommentUpdated"><i class="fa fa-check"></i></span></label>
          <div>
            <textarea
              type="text"
              rows="3"
              class="form-control"
              [ngClass]="{ 'on-focused': focused }"
              [(ngModel)]="leadInfo.userComment"
              (focus)="onFocusCommentField()"
              (blur)="updateComment()"
            ></textarea>
          </div>
        </div>

        <div class="stats-title" style="margin-top: 20px">
          <h4 class="colored-dark-blue">{{ 'crm.page.card.details' | translate }}</h4>
        </div>

        <div class="lead-info-card__data lead-info-card__data-colored" *ngIf="leadInfo.firstName">
          <label>{{ 'crm.page.card.status.name' | translate }}</label>
          <div>{{ leadInfo.firstName }}</div>
        </div>

        <div class="lead-info-card__data" *ngIf="leadInfo.emails.length">
          <label>{{ 'crm.page.card.status.email' | translate }}</label>
          <div><a href="mailto:{{ leadInfo.emails[0] }}">{{ leadInfo.emails[0] }}</a></div>
        </div>

        <div class="lead-info-card__data" *ngIf="leadInfo.phones.length">
          <label>{{ 'crm.page.card.status.phone' | translate }}</label>
          <div><a href="tel:{{ leadInfo.phones[0] }}">{{ leadInfo.phones[0] }}</a></div>
        </div>

        <div class="lead-info-card__data lead-info-card__data-colored" *ngFor="let field of leadInfo.fieldsValues">
          <label>{{ field.name }}</label>
          <div>{{ field.value }}</div>
        </div>

        <div class="lead-info-card__data lead-info-card__data-colored lead-info-card__data-commented" *ngIf="leadInfo.comment">
          <label>{{ 'crm.page.card.status.message' | translate }}</label>
          <div>{{ leadInfo.comment }}</div>
        </div>
      </div>

      <div class="lead-info-card__external">
        <div class="lead-info-card__external-item lead-info-card__external-item-marg">
          <div class="panel-body">
            <div class="stats-title">
              <h4 class="colored-dark-blue">{{ 'crm.page.card.visitNumber' | translate }}</h4>
            </div>
            <div class="stats-icon pull-right">
              <i class="fa fa-street-view fa-3x" style="color: #3498db"></i></div>
            <div class="lead-info-card__external-item__value">
              <h1><span class="ppanel-pages">{{ leadInfo.visitNo }}</span></h1>
            </div>
          </div>
        </div>

        <div class="lead-info-card__external-item">
          <div class="panel-body">
            <div class="stats-title">
              <h4 class="colored-dark-blue">{{ 'crm.page.card.sawPages' | translate }}</h4>
            </div>
            <div class="stats-icon pull-right">
              <i class="fa fa-eye fa-3x" style="color: #9b59b6"></i></div>
            <div class="lead-info-card__external-item__value">
              <h1><span class="ppanel-pages">{{ leadInfo.history.length }}</span></h1>
            </div>
          </div>
        </div>
      </div>

      <div class="lead-info-card__history-wrapper">
        <label class="colored-dark-blue">{{ 'crm.page.card.visitHistory.title' | translate }}</label>
        <div class="lead-info-card__history v-timeline2 vertical-container animate-panel">
          <div class="vertical-timeline-block timeline-template" *ngFor="let history of leadInfo.history | orderBy:['-serverDate']">
            <div class="vertical-timeline-icon navy-bg">
              <i class="fa fa-eye"></i>
            </div>
            <div class="vertical-timeline-content no-corner-timeline">
              <div class="vertical-timeline-content__padding">
                <span class="vertical-date pull-right">
                  <i
                    *ngIf="index === 0"
                    class="fa fa-flag-checkered"
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="{{ 'crm.page.card.source.linkDesc' | translate }}"
                  ></i>
                  <small>{{ history.serverDate | date : "dd.MM.y, hh:mm a" }}</small>
                </span>
                <h2 class="action-title">{{ history.title }}</h2>
                <p class="action-url">{{ history.url }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
