#right-sidebar {
  background-color: #fff;
  border-left: 1px solid #e4e5e7;
  position: fixed;
  top: 0;
  width: 500px;
  z-index: 1040;
  bottom: 0;
  right: 0;
  display: none;
  overflow: hidden;
}

#right-sidebar.animate__animated {
  animation-duration: 0.5s;
}


#right-sidebar.sidebar-open {
  display: block;
}

.sidebar-body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

.lead-info-sidebar__close {
  left: 12px;
  position: absolute;
  top: 12px;
}

.lead-info-sidebar__close:hover {
  background-color: #f00713;
  border-color: #f00713;
  color: #fff;
}

button.lead-info-sidebar__close {
  padding: 2px;
  font-size: 30px;
  line-height: 1;
}

.sidebar-title {
  border-bottom: 1px solid #ebebeb;
  margin: 4px 0;
  padding: 15px 0;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}

#crm-details-title {
  margin-left: 60px;
}

#crm-details-title,
.colored-dark-blue {
  color: #34495e;
}

.lead-info-card-wrapper {
  height: calc(100vh - 56px);
  overflow: auto;
}

#detailsInfo {
  background-color: #f7f9fa;
}

.lead-info-card {
  padding-left: 15px;
  padding-right: 15px;
}

.lead-info-card__data label {
  font-weight: 400;
  margin-bottom: 0;
}

.lead-info-card__data div {
  font-weight: 700;
  font-size: 15px;
}

.lead-info-card__data-colored div {
  color: #34495e;
}

.lead-info-card__data {
  margin-top: 10px;
}

.lead-info-card__data-commented div {
  font-weight: 400;
  font-size: 13px;
}

.lead-info-card__data-notes {
  margin-top: 15px;
}

.lead-info-card__data-notes label span i {
  color: #62cb31;
}

.lead-info-card__data-notes textarea {
  font-size: 14px;
  font-weight: 700;
}

.lead-info-card__data-notes textarea.on-focused {
  border-color: #3498db;
}

.lead-info-card__external {
  display: flex;
  padding: 15px;
}

.lead-info-card__external-item {
  flex-basis: 100%;
  background-color: #f7f9fa;
}

.lead-info-card__external-item.lead-info-card__external-item-marg {
  margin-right: 15px;
}

.lead-info-card__external-item .stats-title h4 {
  margin: 5px 0;
}

.lead-info-card__external-item .panel-body {
  padding: 5px 15px;
}

.lead-info-card__external-item__value {
  margin-top: -5px;
  color: #35495e;
}

.lead-info-card__history {
  margin: 0;
  padding: 15px 0;
}

.lead-info-card__history .vertical-timeline-content .vertical-date {
  padding-left: 5px;
}

.lead-info-card__history .vertical-timeline-content .vertical-date i {
  margin-right: 4px;
  color: #62cb31;
}

.lead-info-card__history .vertical-timeline-content h2 {
  font-size: 16px;
  color: #34495e;
}

.lead-info-card__history.v-timeline2::before {
  left: 18px;
}

.lead-info-card__history-wrapper {
  padding: 0 15px;
  margin-top: -5px;
}

.lead-info-card__history-wrapper label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
}

.vertical-container {
  width: 100%;
  margin: 0 auto;
}

.vertical-container::after {
  content: '';
  display: table;
  clear: both
}

.v-timeline {
  position: relative;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow: hidden;
}

.v-timeline::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #e3e8f0
}

.v-timeline2 {
  position: relative;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow: hidden;
}

.v-timeline2::before {
  content: '';
  position: absolute;
  top: -70px;
  left: 28px;
  height: 100%;
  width: 4px;
  background: #e3e8f0
}

.vertical-timeline-content .btn {
  float: right
}

.no-corner-timeline.vertical-timeline-content::after {
  border-color: transparent #ccc transparent transparent !important;
}

.vertical-timeline-content__padding {
  padding: 10px;
  background-color: #f7f9fa;
}

.vertical-timeline-block {
  position: relative;
  margin: 2em 0
}

.vertical-timeline-block:after {
  content: "";
  display: table;
  clear: both
}

.vertical-timeline-block:first-child {
  margin-top: 0
}

.vertical-timeline-block:last-child {
  margin-bottom: 0
}

.vertical-timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  border: 1px solid #e4e5e7;
  text-align: center;
  background: #fff
}

.vertical-timeline-icon i {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -9px
}

.vertical-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  border: 1px solid #e4e5e7
}

.vertical-timeline-content:after {
  content: "";
  display: table;
  clear: both
}

.vertical-timeline-content h2 {
  font-weight: 400;
  margin-top: 4px
}

.vertical-timeline-content p {
  margin: 1em 0 0 0;
  line-height: 1.6
}

.vertical-timeline-content .vertical-date {
  font-weight: 500;
  text-align: right;
  font-size: 13px
}

.vertical-date small {
  color: #62cb31;
  font-weight: 400
}

.vertical-timeline-block .vertical-date small {
  color: #6a6c6f;
}

.vertical-timeline-content:after, .vertical-timeline-content:before {
  right: 100%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none
}

.vertical-timeline-content:after {
  border-color: transparent;
  border-right-color: #fff;
  border-width: 10px;
  margin-top: -10px
}

.vertical-timeline-content:before {
  border-color: transparent;
  border-right-color: #e4e5e7;
  border-width: 11px;
  margin-top: -11px
}

p.action-url {
  word-wrap: break-word;
  max-width: 800px;
  color: #3498db;
}

@media only screen and (min-width: 768px) {
  .vertical-timeline-content h2 {
    font-size: 18px
  }

  .vertical-timeline-content p {
    font-size: 13px
  }
}


.btn-group__status-selector {
  display: flex;
}

.btn-group__status-selector label.btn {
  width: 25%;
  flex-basis: 25%;
  padding-right: 0;
  padding-left: 0;
}

.btn-group__status-selector .btn-default.active {
  color: #fff;
}

.btn-group__status-selector .btn-default.btn-status-new.active {
  border-color: #9b59b6;
  background-color: #9b59b6;
}

.btn-group__status-selector .btn-default.btn-status-inwork.active {
  border-color: #3498db;
  background-color: #3498db;
}

.btn-group__status-selector .btn-default.btn-status-invalid.active {
  border-color: #c0392b;
  background-color: #c0392b;
}

.btn-group__status-selector .btn-default.btn-status-success.active {
  border-color: #62cb31;
  background-color: #62cb31;
}

.btn {
  border-radius: 3px;
  font-size: 14px;
  white-space: nowrap;
}

.btn:hover, .btn:focus, .btn.focus {
  text-decoration: none;
  box-shadow: none;
}

.btn:active:not(:disabled), .btn.active:not(:disabled) {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.stats-title {
  width: 100%;
}

.stats-title h4 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600
}

