.form-ext-wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form-ext-item__header-l {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  margin-right: 7px;
}

.grab-form-ext-item {
  color: #aaaaaa;
  cursor: move;
  margin-top: -5px;
}

.form-ext-item__header-r {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  margin: 0 8px;
  color: #34495e;
}

.form-ext-item__body {
  width: 65%;
}

.form-ext-item__header-copy,
.form-ext-item__header-edit {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #7E889A;
}

.form-ext-item__header-copy {
  mask: url("~src/assets/images/widgets/copy.svg") no-repeat center;
  mask-size: contain;
}

.form-ext-item__header-edit {
  mask: url("~src/assets/images/widgets/edit.svg") no-repeat center;
  mask-size: contain;
}

.form-ext-item__header-delete {
  width: 20px;
  height: 36px;
}

.item-placeholder-name {
  color: #16181D;
  font-size: 16px;
  font-weight: 600;
}

.item-placeholder-type {
  font-weight: 400;
}

.delete-element-button {
  display: inline-block;
  border: none;
  padding: 0;
  font-size: 35px;
  line-height: 35px;
  font-weight: 200;
  background: transparent;
  color: #E25336;
}
