<div *ngIf="widget" class="mb-3">
  <ul
    *ngIf="widget.guiprops?.formExt?.model"
    class="form-ext-wrapper"
    [sortablejs]="widget.guiprops.formExt.model.list"
    [sortablejsOptions]="onDrDr"
  >
    <li class="form-ext-item"
        *ngFor="let extItem of widget.guiprops.formExt.model.list; index as innerIndex"
        [ngClass]="dragItemClass(extItem)"
        (click)="toggleItem($event, innerIndex, true)"
        (mouseover)="highlightContentOn(innerIndex, extItem.type)"
        (mouseleave)="highlightContentOff(innerIndex)"
        [attr.data-to-ext]="innerIndex"
    >
      <div class="form-ext-item__header-l">
        <div class="grab-form-ext-item">
          <img src="assets/images/widgets/move.svg" alt="Move" />
        </div>
      </div>
      <div class="form-ext-item__body">
        <div *ngIf="extItem.type === 'button'" class="item-placeholder-name">{{ extItem['bType'].label }}</div>
        <div
          *ngIf="extItem.type === 'hidden' || extItem.type === 'rating' || extItem.type === 'variants'"
          class="item-placeholder-name"
        >
          {{ extItem.service }}
        </div>
        <div
          *ngIf="extItem.type !== 'button' && extItem.type !== 'hidden' && extItem.type !== 'rating' && extItem.type !== 'variants'"
          class="item-placeholder-name"
        >
          {{ extItem.placeholder }}
        </div>
        <div class="item-placeholder-type">{{ extItem.label }}</div>
      </div>
      <div class="form-ext-item__header-r">
        <div class="form-ext-item__header-edit" (click)="toggleItem($event, innerIndex)"></div>
        <div
          *ngIf="!isUnclonable(extItem.type)"
          class="form-ext-item__header-copy"
          (click)="cloneElementFromFormExtList($event, innerIndex, extItem)"
        ></div>
        <div class="form-ext-item__header-delete">
          <button
            *ngIf="!((innerIndex === 0) && (widget.guiprops.formExt.model.list.length === 1))"
            class="delete-element-button"
            (click)="removeElementFromFormExtList($event, innerIndex)"
          >
            &times;
          </button>
        </div>
      </div>
    </li>
  </ul>

  <div class="add-form-ext-new-item mr-3 border-item">
    <button class="btn-default widget-content-add-btn" (click)="addItemToExtForm(); $event.stopPropagation();">
      <img src="assets/images/widgets/plus.svg" alt="add element" /> {{ 'widgets.formExt.addAnotherElementToForm' | translate }}
    </button>
  </div>

  <!-- FORM ORIENTATION SETTINGS -->
  <div class="mt-3 border-item">
    <h3>Вид формы</h3>

    <div class="d-flex align-items-center justify-content-between mt-3">
      <label class="control-label control-label-des">Ширина</label>
      <div class="d-flex align-items-center">
        <div
          class="form-control form-control-font mr-2"
          [class.disabled]="widget.guiprops.formExt.model.mainSettings.form_width_type.label !== availMainWidthTypes[1].label"
        >
          <input
            type="number"
            [(ngModel)]="widget.guiprops.formExt.model.mainSettings.form_widthpx"
            [disabled]="widget.guiprops.formExt.model.mainSettings.form_width_type.label !== availMainWidthTypes[1].label"
          />
          <label>px</label>
        </div>
        <button
          class="wide-button"
          [class.active]="widget.guiprops.formExt.model.mainSettings.form_width_type.label === availMainWidthTypes[0].label"
          (click)="widget.guiprops.formExt.model.mainSettings.form_width_type = (widget.guiprops.formExt.model.mainSettings.form_width_type.label === availMainWidthTypes[0].label ? availMainWidthTypes[1] : availMainWidthTypes[0])"
        >
        </button>
      </div>
    </div>

    <div class="d-flex justify-content-between row-subitem row-subitem-padding mt-3">
      <label
        class="control-label control-label-des"
        [class.disabled]="widget.guiprops.formExt.model.mainSettings.form_width_type.label === availMainWidthTypes[0].label"
      >
        Выравнивание
      </label>
      <div>
        <button
          class="align-button icon-left"
          [class.active]="widget.guiprops.formExt.model.mainSettings.form_width_orientation_type.label === availMainWidthOrientationTypes[0].label"
          (click)="widget.guiprops.formExt.model.mainSettings.form_width_orientation_type = availMainWidthOrientationTypes[0]"
          [disabled]="widget.guiprops.formExt.model.mainSettings.form_width_type.label === availMainWidthTypes[0].label"
        ></button>
        <button
          class="align-button icon-center"
          [class.active]="widget.guiprops.formExt.model.mainSettings.form_width_orientation_type.label === availMainWidthOrientationTypes[1].label"
          (click)="widget.guiprops.formExt.model.mainSettings.form_width_orientation_type = availMainWidthOrientationTypes[1]"
          [disabled]="widget.guiprops.formExt.model.mainSettings.form_width_type.label === availMainWidthTypes[0].label"
        ></button>
        <button
          class="align-button icon-right"
          [class.active]="widget.guiprops.formExt.model.mainSettings.form_width_orientation_type.label === availMainWidthOrientationTypes[2].label"
          (click)="widget.guiprops.formExt.model.mainSettings.form_width_orientation_type = availMainWidthOrientationTypes[2]"
          [disabled]="widget.guiprops.formExt.model.mainSettings.form_width_type.label === availMainWidthTypes[0].label"
        ></button>
      </div>
    </div>
  </div>
  <!-- END FORM ORIENTATION SETTINGS -->

  <!-- GENERAL (MAIN) FORM SETTINGS -->
  <h3 class="mt-3">{{ 'widgets.formExt.mainSettings.visualField' | translate }}</h3>

  <div class="row-subitem w-100">
    <div class="dropdown mt-2">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
        {{ widget.guiprops.formExt.model.mainSettings.visual.label }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li
          role="presentation"
          *ngFor="let itemVisual of visualTypesOfField"
          (click)="widget.guiprops.formExt.model.mainSettings.visual = itemVisual"
        >
          <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemVisual.label }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="d-flex justify-content-between row-subitem row-subitem-padding mt-3 pt-1 border-item">
    <label class="control-label control-label-des">
      {{ 'widgets.formExt.mainSettings.formField.orientation' | translate }}
    </label>
    <div>
      <button
        class="align-button icon-left"
        [class.active]="widget.guiprops.formExt.model.mainSettings.orientation.label === orientationTypesOfField[0].label"
        (click)="widget.guiprops.formExt.model.mainSettings.orientation = orientationTypesOfField[0]"
      ></button>
      <button
        class="align-button icon-center"
        [class.active]="widget.guiprops.formExt.model.mainSettings.orientation.label === orientationTypesOfField[1].label"
        (click)="widget.guiprops.formExt.model.mainSettings.orientation = orientationTypesOfField[1]"
      ></button>
      <button
        class="align-button icon-right"
        [class.active]="widget.guiprops.formExt.model.mainSettings.orientation.label === orientationTypesOfField[2].label"
        (click)="widget.guiprops.formExt.model.mainSettings.orientation = orientationTypesOfField[2]"
      ></button>
    </div>
  </div>

  <div *ngIf="widget.guiprops?.formExt?.model && isFieldSettings()" class="mt-3">
    <h3 class="mt-3">Цвет полей</h3>

    <div class="d-flex justify-content-between mt-3">
      <label class="control-label control-label-des">{{ 'widgets.formExt.mainSettings.colorBGField' | translate }}</label>
      <div class="d-flex text-right">
        <input
          [(colorPicker)]="widget.guiprops.formExt.model.mainSettings.bgInputForm"
          [style.background]="widget.guiprops.formExt.model.mainSettings.bgInputForm"
          [cpAlphaChannel]="'disabled'"
          [cpOutputFormat]="'hex'"
          cpPosition="left"
          class="color-picker-control"
readonly
        />
        <input
          [(ngModel)]="widget.guiprops.formExt.model.mainSettings.bgInputForm"
          class="picker-input color"
        />
      </div>
    </div>

    <div class="d-flex justify-content-between mt-2 pt-1">
      <h5 class="label-style-ic control-label-des">{{ 'widgets.formExt.mainSettings.opacityBGField' | translate }}</h5>
      <div class="d-flex text-right side-ui-sm">
        <ngx-slider [(value)]="widget.guiprops.formExt.model.mainSettings.opacityBgInputForm" [options]="optionsOpacity"></ngx-slider>
        <input
          [(ngModel)]="widget.guiprops.formExt.model.mainSettings.opacityBgInputForm"
          class="picker-input slider"
        />
      </div>
    </div>

    <div class="d-flex justify-content-between mt-2 pt-1 border-item">
      <label class="control-label control-label-des">{{ 'widgets.formExt.mainSettings.colorNameField' | translate }}</label>
      <div class="d-flex text-right">
        <input
          [(colorPicker)]="widget.guiprops.formExt.model.mainSettings.colorTitleInputForm"
          [style.background]="widget.guiprops.formExt.model.mainSettings.colorTitleInputForm"
          [cpAlphaChannel]="'disabled'"
          [cpOutputFormat]="'hex'"
          cpPosition="left"
          class="color-picker-control"
readonly
        />
        <input
          [(ngModel)]="widget.guiprops.formExt.model.mainSettings.colorTitleInputForm"
          class="picker-input color"
        />
      </div>
    </div>
  </div>

  <div class="border-item mt-3">
    <div class="d-flex row-subitem justify-content-between w-100 row-subitem-padding">
      <label class="control-label switcher-label-xs control-label-des">
        Скругление углов
      </label>
      <ui-switch
        size="small"
        [(ngModel)]="widget.guiprops.formExt.model.mainSettings.borderRadiusInputFormEnable"
        (change)="setBorderRadius($event)"
      ></ui-switch>
    </div>

    <div *ngIf="widget.guiprops.formExt.model.mainSettings.borderRadiusInputFormEnable" class="d-flex justify-content-between mt-3">
      <h5 class="label-style-ic control-label-des">Радиус</h5>
      <div class="d-flex text-right side-ui-sm">
        <ngx-slider [(value)]="widget.guiprops.formExt.model.mainSettings.borderRadiusInputForm" [options]="optionsRound"></ngx-slider>
        <input
          [(ngModel)]="widget.guiprops.formExt.model.mainSettings.borderRadiusInputForm"
          class="picker-input slider"
        />
      </div>
    </div>
  </div>

  <div class="row-subitem mt-3 border-item">
    <div class="d-flex row-subitem justify-content-between">
      <label class="control-label switcher-label-xs control-label-des">
        {{ 'widgets.formExt.mainSettings.useBorderAroundFields' | translate }}
      </label>
      <ui-switch
        size="small"
        [(ngModel)]="widget.guiprops.formExt.model.mainSettings.border.enable"
      ></ui-switch>
    </div>

    <div *ngIf="widget.guiprops.formExt.model?.mainSettings?.border?.enable">
      <div class="d-flex justify-content-between mt-3">
        <label class="control-label control-label-des">Цвет</label>
        <div class="d-flex text-right">
          <input
            [(colorPicker)]="widget.guiprops.formExt.model.mainSettings.border.color"
            [style.background]="widget.guiprops.formExt.model.mainSettings.border.color"
            [cpAlphaChannel]="'disabled'"
            [cpOutputFormat]="'hex'"
            cpPosition="left"
            class="color-picker-control"
readonly
          />
          <input
            [(ngModel)]="widget.guiprops.formExt.model.mainSettings.border.color"
            class="picker-input color"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="row-subitem mt-3 border-item">
    <div class="d-flex row-subitem justify-content-between">
      <label class="control-label switcher-label-xs control-label-des">
        {{ 'widgets.formExt.mainSettings.usePodBG' | translate }}
      </label>
      <ui-switch
        size="small"
        [(ngModel)]="widget.guiprops.formExt.model.mainSettings.colorPod.enable"
      ></ui-switch>
    </div>

    <div *ngIf="widget.guiprops.formExt.model?.mainSettings?.colorPod?.enable">
      <div class="d-flex justify-content-between mt-3">
        <label class="control-label control-label-des">Цвет</label>
        <div class="d-flex text-right">
          <input
            [(colorPicker)]="widget.guiprops.formExt.model.mainSettings.colorPod.color"
            [style.background]="widget.guiprops.formExt.model.mainSettings.colorPod.color"
            [cpAlphaChannel]="'disabled'"
            [cpOutputFormat]="'hex'"
            cpPosition="left"
            class="color-picker-control"
readonly
          />
          <input
            [(ngModel)]="widget.guiprops.formExt.model.mainSettings.colorPod.color"
            class="picker-input color"
          />
        </div>
      </div>

      <div class="d-flex justify-content-between mt-2 pt-1">
        <h5 class="label-style-ic control-label-des">Прозрачность</h5>
        <div class="d-flex text-right side-ui-sm">
          <ngx-slider [(value)]="widget.guiprops.formExt.model.mainSettings.colorPod.opacityColorPod" [options]="optionsOpacity"></ngx-slider>
          <input
            [(ngModel)]="widget.guiprops.formExt.model.mainSettings.colorPod.opacityColorPod"
            class="picker-input slider"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- END GENERAL (MAIN) FORM SETTINGS -->

  <!-- Coupon settings -->
  <app-coupon-callback
    [coupons]="coupons"
    [coupon]="widget.guiprops.formExt.couponCallback"
    [placePopup]="placePopup"
  ></app-coupon-callback>
</div>
