<div *ngIf="widget" class="border-item">
  <h4 class="h4-element-title">
    {{ 'widgets.formExt.leftBlock.title' | translate }} <a
    (click)="removeElementFromElementsList(index, {name: 'form-ext-element'})"
    href="javascript:void(0);"><i class="remove-sub-item far fa-trash-alt"></i></a>
  </h4>

  <ul *ngIf="widget.guiprops?.formExt?.model" class="form-ext-wrapper" [sortablejs]="onDrDr">
    <li class="form-ext-item"
        *ngFor="let extItem of widget.guiprops.formExt.model.list; index as innerIndex; trackBy: trackByIndex;"
        [ngClass]="dragItemClass(extItem)"
        (click)="toggleItem($event, innerIndex, true)"
        (mouseover)="highlightContentOn(innerIndex, extItem.type)"
        (mouseleave)="highlightContentOff(innerIndex)"
        [attr.data-to-ext]="innerIndex">
      <div class="form-ext-item__header">
        <div class="form-ext-item__header-l grab-form-ext-item">
          <i class="fa fa-bars"></i>
        </div>
        <div class="form-ext-item__header-r">
          <div
            *ngIf="!((innerIndex === 0) && (widget.guiprops.formExt.model.list.length === 1))"
            class="form-ext-item__header-delete"
            (click)="removeElementFromFormExtList($event, innerIndex)"
          >
            <i class="far fa-trash-alt"></i>
          </div>
          <div
            *ngIf="!isUnclonable(extItem.type)"
            class="form-ext-item__header-clone"
            (click)="cloneElementFromFormExtList($event, innerIndex, extItem)"
          >
            <i class="fa fa-copy"></i>
          </div>
          <div class="form-ext-item__header-collapse form-ext-item__header-collapse-opened" (click)="toggleItem($event, innerIndex)">
            <i class="fa fa-angle-up"></i>
          </div>
          <div class="form-ext-item__header-collapse form-ext-item__header-collapse-closed" (click)="toggleItem($event, innerIndex)">
            <i class="fa fa-pencil"></i>
          </div>
        </div>
      </div>
      <div class="form-ext-item__body">
        <div *ngIf="extItem.type === 'email'">
          <app-extended-email [item]="extItem" [index]="innerIndex"></app-extended-email>
        </div>
        <div *ngIf="extItem.type === 'name'">
          <app-extended-name [item]="extItem" [index]="innerIndex"></app-extended-name>
        </div>
        <div *ngIf="extItem.type === 'message'">
          <app-extended-message [item]="extItem" [index]="innerIndex"></app-extended-message>
        </div>
        <div *ngIf="extItem.type === 'phone'">
          <app-extended-phone [item]="extItem" [index]="innerIndex"></app-extended-phone>
        </div>
        <div *ngIf="extItem.type === 'text'">
          <app-extended-text [item]="extItem" [index]="innerIndex"></app-extended-text>
        </div>
        <div *ngIf="extItem.type === 'rating'">
          <app-extended-rating [item]="extItem" [index]="innerIndex"></app-extended-rating>
        </div>
        <div *ngIf="extItem.type === 'variants'">
          <app-extended-variants [item]="extItem" [index]="innerIndex"></app-extended-variants>
        </div>
        <div *ngIf="extItem.type === 'dd'">
          <app-extended-dd [item]="extItem" [index]="innerIndex"></app-extended-dd>
        </div>
        <div *ngIf="extItem.type === 'date'">
          <app-extended-date [item]="extItem" [index]="innerIndex"></app-extended-date>
        </div>
        <div *ngIf="extItem.type === 'title'">
          <app-extended-title [item]="extItem" [index]="innerIndex"></app-extended-title>
        </div>
        <div *ngIf="extItem.type === 'term'">
          <app-extended-term [item]="extItem" [index]="innerIndex"></app-extended-term>
        </div>
        <div *ngIf="extItem.type === 'button'">
          <app-extended-button [item]="extItem" [containerId]="widget.containerId" [index]="innerIndex"></app-extended-button>
        </div>
        <div *ngIf="extItem.type === 'hidden'">
          <app-extended-hidden [item]="extItem" [index]="innerIndex"></app-extended-hidden>
        </div>
      </div>
    </li>
  </ul>

  <div>
    <div class="add-form-ext-new-item mr-3">
      <button class="btn-default widget-content-add-btn" (click)="addItemToExtForm(); $event.stopPropagation();">
        <i class="fa fa-plus"></i>{{ 'widgets.formExt.addAnotherElementToForm' | translate }}
      </button>
    </div>
    <div class="clearfix"></div>
  </div>

  <!-- GENERAL (MAIN) FORM SETTINGS -->
  <div class="col-lg-12">
    <h4 class="h4-text-tit control-label-des helper-title-3level">{{ 'widgets.formExt.mainSettings.formDesign' | translate }}</h4>
  </div>

  <ng-container *ngIf="widget.guiprops?.formExt?.model">
    <div *ngIf="isFieldSettings()">
      <div class="row row-subitem mt-3 mb-2">
        <div class="col-sm-6 row-subitem-padding pt-1">
          <label class="control-label control-label-colorpc control-label-des">{{ 'widgets.formExt.mainSettings.colorNameField' | translate }}:</label>
          <input
            [(colorPicker)]="widget.guiprops.formExt.model.mainSettings.colorTitleInputForm"
            [style.background]="widget.guiprops.formExt.model.mainSettings.colorTitleInputForm"
            [cpAlphaChannel]="'disabled'"
            [cpOutputFormat]="'hex'"
          />
        </div>

        <div class="col-sm-6 row-subitem-padding pt-1">
          <label class="control-label control-label-colorpc control-label-des">{{ 'widgets.formExt.mainSettings.colorBGField' | translate }}:</label>
          <input
            [(colorPicker)]="widget.guiprops.formExt.model.mainSettings.bgInputForm"
            [style.background]="widget.guiprops.formExt.model.mainSettings.bgInputForm"
            [cpAlphaChannel]="'disabled'"
            [cpOutputFormat]="'hex'"
          />
        </div>
      </div>
      <div class="row row-subitem mt-2">
        <div class="col-sm-12 row-subitem-padding pt-1 side-ui-sm">
          <ngx-slider [(value)]="widget.guiprops.formExt.model.mainSettings.opacityBgInputForm" [options]="optionsOpacity"></ngx-slider>
          <label class="control-label control-label-ui">{{ 'widgets.formExt.mainSettings.opacityBGField' | translate }}</label>
        </div>
      </div>
      <div class="row row-subitem mt-2 mb-3">
        <div class="col-sm-12 row-subitem-padding pt-1 side-ui-sm">
          <ngx-slider [(value)]="widget.guiprops.formExt.model.mainSettings.borderRadiusInputForm" [options]="optionsRound"></ngx-slider>
          <label class="control-label control-label-ui">{{ 'widgets.formExt.mainSettings.radiusCornerField' | translate }}</label>
        </div>
      </div>

      <div class="row row-subitem mt-2">
        <div class="col-sm-12 row-subitem-padding pt-1 d-flex">
          <ui-switch
            size="small"
            [(ngModel)]="widget.guiprops.formExt.model.mainSettings.border.enable"
          ></ui-switch><label class="control-label switcher-label-xs control-label-des mt-1 ml-2">{{ 'widgets.formExt.mainSettings.useBorderAroundFields' | translate }}</label>
        </div>
      </div>
      <div *ngIf="widget.guiprops.formExt.model.mainSettings.border.enable == true">
        <div class="row row-subitem">
          <div class="col-sm-6 row-subitem-padding pt-1">
            <label class="control-label control-label-colorpc control-label-des">{{ 'widgets.formExt.mainSettings.colorBorder' | translate }}:</label>
            <input
              [(colorPicker)]="widget.guiprops.formExt.model.mainSettings.border.color"
              [style.background]="widget.guiprops.formExt.model.mainSettings.border.color"
              [cpAlphaChannel]="'disabled'"
              [cpOutputFormat]="'hex'"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="row row-subitem mt-2">
    <div class="col-sm-6 row-subitem-padding">
      <label class="control-label control-label-des">{{ 'widgets.formExt.mainSettings.formField.orientation' | translate }}:</label>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
          {{ widget.guiprops.formExt.model.mainSettings.orientation.label }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li
            role="presentation"
            *ngFor="let itemOrientation of orientationTypesOfField"
            (click)="widget.guiprops.formExt.model.mainSettings.orientation = itemOrientation"
          >
            <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{itemOrientation.label}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 row-subitem-padding">
      <label class="control-label control-label-des">{{ 'widgets.formExt.mainSettings.visualField' | translate }}:</label>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
          {{ widget.guiprops.formExt.model.mainSettings.visual.label }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li
            role="presentation"
            *ngFor="let itemVisual of visualTypesOfField"
            (click)="widget.guiprops.formExt.model.mainSettings.visual = itemVisual"
          >
            <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ itemVisual.label }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row row-subitem mt-2">
    <div class="col-sm-12 row-subitem-padding pt-1 d-flex">
      <ui-switch
        size="small"
        [(ngModel)]="widget.guiprops.formExt.model.mainSettings.colorPod.enable"
      ></ui-switch><label class="control-label switcher-label-xs control-label-des mt-1 ml-2">{{ 'widgets.formExt.mainSettings.usePodBG' | translate }}</label>
    </div>
  </div>
  <div *ngIf="widget.guiprops.formExt.model.mainSettings.colorPod.enable == true">
    <div class="row row-subitem">
      <div class="col-sm-6 row-subitem-padding pt-1">
        <label class="control-label control-label-colorpc control-label-des">
          {{ 'widgets.formExt.mainSettings.usePodBG.color' | translate }}:
        </label>
        <input
          [(colorPicker)]="widget.guiprops.formExt.model.mainSettings.colorPod.color"
          [style.background]="widget.guiprops.formExt.model.mainSettings.colorPod.color"
          [cpAlphaChannel]="'disabled'"
          [cpOutputFormat]="'hex'"
        />
      </div>
      <div class="col-sm-6 row-subitem-padding pt-1 side-ui-dev">
        <label class="control-label control-label-colorpc control-label-des">
          {{ 'widgets.formExt.mainSettings.usePodBG.opacity' | translate }}:
        </label>
        <ngx-slider [(value)]="widget.guiprops.formExt.model.mainSettings.colorPod.opacityColorPod" [options]="optionsOpacity"></ngx-slider>
      </div>
    </div>
  </div>
  <!-- END GENERAL (MAIN) FORM SETTINGS -->

  <!-- FORM ORIENTATION SETTINGS -->
  <div>
    <div class="col-lg-12 mt-2 mb-1">
      <h4 class="h4-text-tit control-label-des helper-title-3level">
        {{ 'widgets.formExt.mainSettings.widthAndPositionForm' | translate }}
      </h4>
    </div>
    <div class="row row-subitem mt-2">
      <div class="col-sm-6 row-subitem-padding pt-1">
        <label class="control-label control-label-des">{{ 'widgets.formExt.mainSettings.widthForm' | translate }}:</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {{ widget.guiprops.formExt.model.mainSettings.form_width_type.label }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li
              role="presentation"
              *ngFor="let itemVisual of availMainWidthTypes"
              (click)="widget.guiprops.formExt.model.mainSettings.form_width_type = itemVisual"
            >
              <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{itemVisual.label}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div
        *ngIf="widget.guiprops.formExt.model.mainSettings.form_width_type.type === 1"
        class="col-sm-6 row-subitem-padding pt-1"
      >
        <label class="control-label control-label-des">{{ 'widgets.formExt.mainSettings.widthForm.orientation' | translate }}:</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {{ widget.guiprops.formExt.model.mainSettings.form_width_orientation_type.label }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li
              role="presentation"
              *ngFor="let itemVisual of availMainWidthOrientationTypes"
              (click)="widget.guiprops.formExt.model.mainSettings.form_width_orientation_type = itemVisual"
            >
              <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{itemVisual.label}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="widget.guiprops.formExt.model.mainSettings.form_width_type.type === 1">
      <div class="col-sm-12 pt-1 mt-2">
        <input
          type="number"
          class="form-control form-control-font form-cntrl-55w"
          [(ngModel)]="widget.guiprops.formExt.model.mainSettings.form_widthpx"
        />
        <label class="control-label">px <span>ширина формы</span></label>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- END FORM ORIENTATION SETTINGS -->

  <!-- Coupon settings -->
  <app-coupon-callback
    [coupons]="coupons"
    [coupon]="widget.guiprops.formExt.couponCallback"
    [placePopup]="placePopup"
  ></app-coupon-callback>
</div>
