h3 {
  font-size: 24px;
  margin: 10px 0;
}

h4.widgets-settings-subtitle {
  font-size: 18px;
  font-weight: normal;
  margin: 10px 0 7px;
}

h5 {
  font-size: 14px;
  line-height: 1.9;
  margin-left: 7px;
}

.width-400 {
  width: 400px;
}

.width-930 {
  width: 930px;
}

.form-control {
  font-size: 14px;
  margin-left: -1px;
}

.is-invalid .form-control {
  border-color: #a94442;
}

.row-subitem {
  margin: 0px !important;
  padding: 0 15px;
}

.label.label-warning.tariff-info {
  font-size: 7px;
  font-weight: bold;
  margin-left: 20px;
  padding: 0 0.2rem;
  position: absolute;
  color: #fff;
  background-color: #f0ad4e;
}

.input-with-remove {
  float: left;
  width: calc(100% - 100px);
}

span.combo-box-underow-comment-comment {
  left: 10px;
  position: absolute;
  top: 63px;
}

.remove-sub-item-rules {
  display: inline-block;
  padding-top: 11px;
  width: 25px;
}

.remove-sub-item-rules i {
  color: rgb(106, 108, 111);
  font-size: 34px;
}

.remove-sub-item-rules-time {
  display: inline-block;
  width: 25px;
}

.remove-sub-item-rules-time i {
  color: rgb(106, 108, 111);
  font-size: 34px;
}

.time-settings-fromto {
  float: left;
  font-size: 18px;
  font-weight: 100;
  line-height: 30px;
  margin-left: 10px;
  margin-right:10px;
}

label.smal-subtitle {
  font-size: 16px !important;
  color: #6a6c6f !important;
  font-weight: 200 !important;
}

input.radio-left {
  float: left;
  font-size: 30px;
  margin-right: 10px;
  margin-top: 10px;
}

.widgets-num-input {
  float: left !important;
  width: 60px !important;
}

.form-control.period-range {
  float: left;
  width: 100px !important;
}

.cons-settings-js-textarea {
  width: 900px;
  height: 180px;
}
