@import 'src/scss/vars';
@import 'src/scss/page-title';

:host {
  section {
    margin-top: 17px;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      padding-bottom: 17px;
    }

    h2.site-name {
      display: flex;
      width: auto;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: $fontPrimaryColor;
      margin-bottom: 25px;
    }

    @media (max-width: 991px) {
      margin-top: 12px;

      h2.site-name {
        margin-bottom: 20px;
      }
    }

    @media (max-width: 767px) {
      h2.site-name {
        margin-bottom: 15px;
      }
    }

    @media (max-width: 575px) {
      margin-top: 7px;
    }
  }
}

.widget-page-preloader-all-inner {
  background-image: url('../../../../../assets/images/core/preloader.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 60px;
  width: 60px;
  margin-left: -30px;
  left: 50%;
  position: absolute;
  top: 200px;
}

.toolbar-content.widgets-toolbar .textcontent {
  width: 590px;
}

.toolbar-content.widgets-toolbar #addNewWidget {
  cursor: pointer;
  font-size: 16px;
  width: 225px;
}

.animate-panel {
  overflow: hidden;
}
