<app-modal></app-modal>
<aside id="menu">
  <div id="navigation">
    <ul class="nav" id="side-menu">

      <li routerLinkActive="active">
        <a routerLink="/site/list">
          <i class="pe-7s-monitor icons-for-sidemenu"></i>
          <span class="nav-label">{{ 'sidebar.sites' | translate }}</span>
        </a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/widgets">
          <i class="pe-7s-network icons-for-sidemenu"></i>
          <span class="nav-label">{{ 'sidebar.widgets' | translate }}</span>
        </a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/abtests/archive/">
          <i class="pe-7s-shuffle icons-for-sidemenu"></i>
          <span class="nav-label">{{ 'sidebar.abtests' | translate }}</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li routerLinkActive="active">
            <a routerLink="/abtests/active/">{{ 'sidebar.abtests-active' | translate }}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/abtests/archive/">{{ 'sidebar.abtests-archive' | translate }}</a>
          </li>
        </ul>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/coupons">
          <i class="pe-7s-scissors icons-for-sidemenu"></i>
          <span class="nav-label">{{ 'sidebar.coupons' | translate }}</span>
        </a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/crm">
          <i class="pe-7s-user icons-for-sidemenu"></i>
          <span class="nav-label">{{ 'sidebar.crm' | translate }}</span>
        </a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/reports/emails">
          <i class="pe-7s-mail icons-for-sidemenu"></i>
          <span class="nav-label">{{ 'sidebar.emails' | translate }}</span>
        </a>
      </li>

      <li>
        <a target="_blank" href="http://leadgenic.userecho.com/">
          <i class="pe-7s-help2 icons-for-sidemenu"></i>
          <span class="nav-label">{{ 'sidebar.help' | translate }}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="lg-sidebar-banner"></div>
</aside>
