a {
  transition: .1s linear;
}

#menu {
  width: 180px;
  bottom: 0;
  float: left;
  left: 0;
  position: fixed;
  overflow: auto;
  top: 55px;
  transition: all 0.4s ease 0s;
}

#side-menu {
  background: #f7f9fa;
}

#side-menu li a {
  color: #6a6c6f;
  font-weight: 600;
  padding: 15px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

#side-menu li:first-child {
  border-top: 1px solid #e4e5e7;
}

#side-menu li.active a, #side-menu li:hover a {
  color: #34495e;
}

#side-menu li .nav-second-level {
  flex-direction: row;
}

#side-menu li .nav-second-level li {
  width: 100%;
}

#side-menu li .nav-second-level li a {
  width: 100%;
  padding: 10px 10px 10px 30px;
  color: #6a6c6f;
  text-transform: none;
  font-weight: 400;
}

#side-menu li .nav-second-level li.active a, #side-menu li .nav-second-level li.active a {
  color: #000;
}

#side-menu.nav > li > a:hover, #side-menu.nav > li > a:focus {
  background: #fff;
}

#side-menu li.mm-active {
  background: #fff;
}

#side-menu .nav-label {
  margin-left: 5px;
  vertical-align: middle;
  width: 110px;
}

.icons-for-sidemenu {
  font-size: 18px;
  width: 25px;
  margin-top: 1.5px;
  vertical-align: middle;
  text-align: center;
}

.lg-sidebar-banner {
  cursor: pointer;
  width: 100%;
  height: 212px;
  background-image: url("~src/assets/images/banners/servicesetup_v31.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #eee;
}

@font-face {
  font-family: 'fontello-demo1';
  src: url('~src/assets/fonts/fontello-demo1/fontello.eot?82114415');
  src: url('~src/assets/fonts/fontello-demo1/fontello.eot?82114415#iefix') format('embedded-opentype'),
  url('~src/assets/fonts/fontello-demo1/fontello.woff?82114415') format('woff'),
  url('~src/assets/fonts/fontello-demo1/fontello.ttf?82114415') format('truetype'),
  url('~src/assets/fonts/fontello-demo1/fontello.svg?82114415#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?68335443#fontello') format('svg');
  }
}
*/
.fontello-demo1-icon
{
  font-family: "fontello-demo1";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;


  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

  margin-right: 7px;
}

.icon-ic_menu_support:before { content: '\e800'; } /* '' */
.icon-ic_menu_sites:before { content: '\e801'; } /* '' */
.icon-ic_menu_widgets:before { content: '\e802'; } /* '' */
.icon-ic_menu_ab_tests:before { content: '\e803'; } /* '' */
.icon-ic_menu_coupons:before { content: '\e804'; } /* '' */
.icon-ic_menu_leads:before { content: '\e805'; } /* '' */
.icon-ic_menu_mail:before { content: '\e806'; } /* '' */


