<app-modal></app-modal>
<aside id="menu">
  <div id="navigation">
    <ul class="nav" id="side-menu" #menu>

      <li routerLinkActive="active mm-active">
        <a routerLink="/site/list">
          <i class="fontello-demo1-icon icon-ic_menu_sites icons-for-sidemenu"></i>
          <span class="nav-label">{{ 'sidebar.sites' | translate }}</span>
        </a>
      </li>

      <li routerLinkActive="active mm-active">
        <a routerLink="/widgets">
          <i class="fontello-demo1-icon icon-ic_menu_widgets icons-for-sidemenu"></i>
          <span class="nav-label">{{ 'sidebar.widgets' | translate }}</span>
        </a>
      </li>

      <li [class.active]="abtestsMenuExpanded" [class.mm-active]="abtestsMenuExpanded">
        <a class="has-arrow" [attr.aria-expanded]="abtestsMenuExpanded">
          <i class="fontello-demo1-icon icon-ic_menu_ab_tests icons-for-sidemenu"></i>
          <span class="nav-label">{{ 'sidebar.abtests' | translate }}</span>
        </a>
        <ul class="nav nav-second-level" [class.mm-show]="abtestsMenuExpanded">
          <li routerLinkActive="active mm-active">
            <a routerLink="/abtests/active/">{{ 'sidebar.abtests-active' | translate }}</a>
          </li>
          <li routerLinkActive="active mm-active">
            <a routerLink="/abtests/archive/">{{ 'sidebar.abtests-archive' | translate }}</a>
          </li>
        </ul>
      </li>

      <li routerLinkActive="active mm-active">
        <a routerLink="/coupons">
          <i class="fontello-demo1-icon icon-ic_menu_coupons icons-for-sidemenu"></i>
          <span class="nav-label">{{ 'sidebar.coupons' | translate }}</span>
        </a>
      </li>

      <li routerLinkActive="active mm-active">
        <a routerLink="/crm">
          <i class="fontello-demo1-icon icon-ic_menu_leads icons-for-sidemenu"></i>
          <span class="nav-label">{{ 'sidebar.crm' | translate }}</span>
        </a>
      </li>

      <li routerLinkActive="active mm-active">
        <a routerLink="/reports/emails">
          <i class="fontello-demo1-icon icon-ic_menu_mail icons-for-sidemenu"></i>
          <span class="nav-label">{{ 'sidebar.emails' | translate }}</span>
        </a>
      </li>

      <li>
        <a target="_blank" href="http://leadgenic.userecho.com/">
          <i class="fontello-demo1-icon icon-ic_menu_support icons-for-sidemenu"></i>
          <span class="nav-label">{{ 'sidebar.help' | translate }}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="lg-sidebar-banner" (mouseover)="preloadBanner()" (click)="showBanner()"></div>
</aside>
