h1, h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 24px;
}

label {
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
}

input::placeholder {
  color: #aaa;
}

.hpanel {
  border: none;
  box-shadow: none;
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: left;
}

.hpanel .panel-body {
  background: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 2px;
  padding: 10px 20px 15px;
  position: relative;
}

.form-group {
  margin-bottom: 5px;
}

.form-control {
  display: block;
  width: 100%;
  line-height: 16px;
  padding: 2px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.control-label {
  margin-bottom: 4px;
}

.errorMessage {
  color: #D80E31;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

.help-block_label {
  margin-top: 25px;
  margin-bottom: 23px;
  text-align: center;
}

.btn {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
}

.btn-success {
  background-color: #4898A8;
  border-color: #4898A8;
  color: #FFFFFF;
}

.btn-success:hover {
  background-color: darken(#4898A8, 10%);
  border-color: darken(#4898A8, 10%);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-default {
  background-color: #fff;
  border-color: #e4e5e7;
  color: #6a6c6f;
}

.btn-default:hover {
  background-color: #f4f4f4;
}

.btn:disabled {
  background-color: #ccc;
  cursor: default;
}



@media (max-width: 419px) {
  .form-control {
    width: 250px;
  }
}
