@import "../../../../_vars.scss";

.wrapper {
  margin: calc(#{$headerHeight} - 20px) 0 0 $sideBarWidth;
  padding: 44px 37px 0 37px;
  background: #F4F4F6;
  transition: all 0.4s ease 0s;
  position: relative;
  min-height: calc(100vh - #{$headerHeight});
}
