@import "src/scss/vars";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 30px;

  @media (max-width: 575px) {
    padding: 15px;
  }
}
