.sites-list-page .widget-page-preloader-all-inner {
  background-image: url("~src/assets/images/core/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 60px;
  width: 60px;
  margin-left: -30px;
  left: 50%;
  position: absolute;
  top: 200px;
}

.widget-title-main {
  font-size: 36px;
  float: left;
  margin-left: 10px;
}

.toolbar-content {
  padding: 0 40px;
  width: 100%;
}

.toolbar-content.widgets-toolbar .textcontent {
  width: 590px;
}

.toolbar-content.widgets-toolbar #addNewWidget {
  cursor: pointer;
  font-size: 16px;
  width: 225px;
}

.btnpanel {
  margin: 15px -15px 0 -15px;
  text-align: right;
}


