<div class="toolbar-content justify-content-between sites-list-page">
  <h1 class="title-main">{{ 'client.site.title' | translate }}</h1>
  <button
    type="button"
    class="btn btn-lg btn-success"
    (click)="openModalForCreatingNewSite()"
  ><i class="fa fa-plus-circle"></i> {{ 'sitelist.addSite' | translate }}
  </button>

  <div *ngIf="!isSitesListLoaded" class="widget-page-preloader-all-inner"></div>

  <div *ngIf="isSitesListLoaded" class="content animate-panel">
    <div *ngIf="!sites.length" class="col-lg-12">
      <h3 class="f-0 text-center">{{ 'sitelist.empty.title' | translate }}</h3>
      <h4 class="f-2 text-center">{{ 'sitelist.empty.subtitle' | translate }}</h4>
    </div>
    <!--<site-item-directive item="site" timezone="timezone" ng-repeat="site in sites"></site-item-directive>-->
  </div>

</div>

<!-- Site settings dialog -->
<div class="modal fade" id="siteSettingsDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="color-line"></div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="form-group col-lg-12">
              <label class="control-label">{{ 'sitelist.form.name' | translate }}</label>
              <input type="text" value="" id="name" class="form-control" name="name">
            </div>
            <div class="form-group col-lg-12">
              <label class="control-label">{{ 'sitelist.form.url' | translate }}</label>
              <input type="text" value="" id="url" class="form-control" name="url">
            </div>
            <div class="form-group col-lg-12" id="vkEnabled">
              <input type="checkbox" class="js-switch" id="vkEnabled2"/>
              <label class="control-label">{{ 'sitelist.vkEnable' | translate }}</label>
            </div>
          </div>

          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab-code"    aria-controls="tab-code"    role="tab" data-toggle="tab">{{ 'sitelist.edit.code' | translate }}</a></li>
            <li role="presentation"               ><a href="#tab-targets" aria-controls="tab-targets" role="tab" data-toggle="tab">{{ 'sitelist.edit.targets' | translate }}</a></li>
          </ul>


          <div class="tab-content">
            <!-- Code -->
            <div role="tabpanel" class="tab-pane active m-t-xs" id="tab-code">
              <div class="row">
                <div class="col-lg-1"></div>
                <div class="form-group col-lg-10">
                  <textarea id="siteCode" class="form-control" width="80%" rows="5" id="comment"></textarea>
                </div>
                <div class="col-lg-1"></div>
              </div>
            </div>
            <!-- Targets -->
            <div role="tabpanel" class="tab-pane" id="tab-targets" data-type="targets">
              <div class="row">
                <div class="col-lg-12">
                  <div>
                    <div class="text-center">
                      <i class="pe-7s-target fa-5x text-muted"></i>
                    </div>
                    <p class="small m-t-md">
                      {{ 'sitelist.form.targets.desc1' | translate }}
                      <br><br>{{ 'sitelist.form.targets.desc2' | translate }}
                    </p>
                  </div>
                  <div class="targetsContent m-t-md">

                  </div>
                  <div class="row m-t-xs">
                    <div class="text-center">
                      <a class="btn btn-default next addTarget" href="#">{{ 'sitelist.form.targets.add' | translate }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'global.cancel' | translate }}</button>
        <button id="siteSave" type="button" class="btn btn-primary">{{ 'sitelist.save.title' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<div style="display:none;" id="targetTemplate">
  <div class="row targetItem" data-id="null">
    <div class="col-lg-5 col-sm-4 col-xs-4">
      <input id="targetName" type="text" class="form-control" aria-label="">
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-6">
      <div class="input-group selectable">
        <div class="input-group-btn selectable">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span id="containType" data-val="2">{{ 'filters.compare.equal' | translate }}</span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li data-val="0"><a href="#">{{ 'filters.compare.contain' | translate }}</a></li>
            <li data-val="1"><a href="#">{{ 'filters.compare.start' | translate }}</a></li>
            <li data-val="2"><a href="#">{{ 'filters.compare.equal' | translate }}</a></li>
            <li data-val="3"><a href="#">{{ 'filters.compare.end' | translate }}</a></li>
          </ul>
        </div>
        <input id="targetUrl" type="text" class="form-control" aria-label="">
      </div>
    </div>
    <div class="col-lg-1 col-sm-2 col-xs-2">
      <i class="removeBtn pe-7s-close-circle"></i>
    </div>
    <div class="row targetComment">
      <div class="col-lg-5 col-sm-4 col-xs-4 text-center">
        <h6>{{ 'sitelist.form.targets.com1' | translate }}</h6>
      </div>
      <div class="col-lg-6 col-sm-6 col-xs-6 text-center">
        <h6>{{ 'sitelist.form.targets.com2' | translate }}</h6>
      </div>
      <div class="col-lg-1 col-sm-2 col-xs-2">

      </div>
    </div>
  </div>
</div>

<div id="targetColsTemplate" style="display: none;">
  <div class="row targetCols">
    <div class="col-lg-5 col-sm-4 col-xs-4 text-center">
      <h5><b>{{ 'sitelist.form.targets.col1' | translate }}</b></h5>
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-6 text-center">
      <h5><b>{{ 'sitelist.form.targets.col2' | translate }}</b></h5>
    </div>
    <div class="col-lg-1 col-sm-2 col-xs-2">

    </div>
  </div>
</div>
