<div class="flex-column toolbar-content">
  <div class="row col-lg-12 pr-0 justify-content-between">
    <h1 class="title-main">{{ 'sidebar.sites' | translate }}</h1>
    <button
      type="button"
      class="btn btn-lg btn-success"
      (click)="openModalForCreatingNewSite()"
    ><i class="fa fa-plus-circle"></i> {{ 'sitelist.addSite' | translate }}
    </button>
  </div>

  <div *ngIf="!isSitesListLoaded" class="widget-page-preloader-all-inner"></div>

  <div *ngIf="isSitesListLoaded" class="content mb-5">
    <div *ngIf="!sites.length" class="col-lg-12 mt-5">
      <h3 class="f-0 text-center">{{ 'sitelist.empty.title' | translate }}</h3>
      <h4 class="f-2 text-center">{{ 'sitelist.empty.subtitle' | translate }}</h4>
    </div>
    <app-site-item
      *ngFor="let site of sites; index as i"
      [item]="site"
      [timezone]="timezone"
      [index]="i"
    ></app-site-item>
  </div>
</div>
