h5 {
  font-size: 14px;
  font-weight: 500;
}

.itempanel-title h3 {
  font-size: 24px;
  font-weight: 600;
  float: left;
}

.itempanel-title .editItem {
  font-size: 14px;
}

.itempanel .chartcontainer {
  height: 210px;
  padding-left: 5px;
  padding-top: 8px;
}

.itempanel a.improve {
  color: green;
  margin-left: 5px;
}

.improve2 {
  margin-left: 10px;
  margin-top: -2px;
}

.btn-xs {
  border-radius: 3px;
  font-size: 11px;
  line-height: 1.5;
  padding: 1px 7px;
}

.site-item-week-info {
  padding: 0;
  height: 100px;
}

.site-item-week-info .week-value {
  font-size: 45px;
  line-height: 1.2;
  text-align: left;
}

.site-item-week-info .week-data-name {
  font-size: 12px;
}

.itempanel .chartcontainer {
  height: 210px;
  padding-left: 5px;
  padding-top: 8px;
}

.flex-column-site-wr {
  display: flex;
  height: 202px;
  flex-direction: column;
  justify-content: space-between;
}

.chartlegend-container {
  display: flex;
  justify-content: center;
  min-height: 25px;
}

.chartlegend {
  display: inline-block;
  float: left;
  margin-left: 10px;
  margin-right: 40px;
  white-space: nowrap;
}

@media (max-width: 470px) {
  .chartlegend-container {
    display: block;
  }
}


div.charticon {
  border-radius: 10px;
  float: left;
  height: 15px;
  margin-right: 10px;
  margin-top: 5px;
  width: 15px;
}

.targetlegend {
  background-color: rgba(255, 182, 6, 1);
}

.bluebg {
  background-color: rgba(52, 152, 219, 1);
}

.orangebg {
  background-color: rgba(215, 96, 44, 1);
}

.no-data-graph-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 22px;
  color: #aeb0b3;
}

.site-item-notification {
  background: #FFF7ED url('~src/assets/images/sites/warning.png') no-repeat 6px center;
  border: 1px solid #FB8304;
  margin-top: 10px;
  min-height: 40px;
  padding: 10px 10px 10px 50px;
}

.site-item-notification .notify-text {
  font-size: 12px;
}
