.panel-heading {
  font-size: 15px;
  font-weight: 300;
  padding: 10px -0px;
}

.filters-flexed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-flexed__item {
  flex-basis: 48%;
  width: 48%;
  margin-bottom: 10px;
}

.filter-flexed__item .btn-group__period-selector {
  display: flex;
}

.filter-flexed__item .btn-group__period-selector .btn {
  float: none!important;
  flex-grow: 1;
}

.filter-flexed__item .request-period-name {
  padding-top: 5px;
  text-align: right;
  margin-bottom: 5px;
}

h1.request-period-name {
  font-size: 12px;
  margin-top: 3px;
}

.site-list-table__onpage select {
  max-width: 66px;
}

.font-normal {
  font-size: 14px;
}

.crm-notification-block {
  margin-top: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #4894c5;
  background-color: #eff8fb;
  padding: 10px 7px;
}

.crm-notification-icon {
  min-width: 36px;
  height: 36px;
  background-image: url("~src/assets/images/crm/notification.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 36px;
  margin-right: 10px;
}

.crm-notification-text {
  font-size: 13px;
  flex: 1;
  margin-right: 10px;
  color: #6a6c6f;
}

.btn {
  border-radius: 3px;
  font-size: 14px;
  white-space: nowrap;
}

.btn:hover, .btn:focus, .btn.focus {
  text-decoration: none;
  box-shadow: none;
}

.btn:active:not(:disabled), .btn.active:not(:disabled) {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

table {
  color: inherit;
}

.crm-table__loader {
  height: 150px;
  background-image: url("~src/assets/images/core/preloader.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px;
  background-color: rgba(255,255,255,0.5);
}

.crm-table-pos {
  position: relative;
  padding-top: 45px;
}

.crm-table-pos button.update-crm-table {
  position: absolute;
  right: 0;
  top: -2px;
  z-index: 1;
}

.dtable-max-220 {
  width: 220px;
  max-width: 220px;
  min-width: 210px;
}

.dtable-max-160 {
  width: 160px;
  max-width: 160px;
  min-width: 160px;
}

.crm-table-wr table thead .sorting {
  position: relative;
  cursor: pointer;
}

.clickable-row-info {
  cursor: pointer;
}

.clickable-row-info.active-row {
  background-color: #edf0f5 ;}

.crm-table-widget-name {
  color: #3498db;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 350px;
}

.clickable-row-info:hover .crm-table-widget-name {
  color: #2a6496;
}

.crm-table-site-url {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 350px;
}

.table .label.lead-state-container {
  font-size: 11px;
  font-weight: 400;
}

.crm-table-state__NEW {
  background-color: #9b59b6;
}

.crm-table-state__INWORK {
  background-color: #3498db;
}

.crm-table-state__INVALID {
  background-color: #c0392b;
}

.crm-table-state__SUCCESS {
  background-color: #62cb31;
}

.site-list-table__bottom-settings {
  display: flex;
  justify-content: flex-end;
}

.site-list-table__onpage select {

}

.site-list-table__onpage {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 10px;
}

.site-list-table__onpage label {
  line-height: 30px;
  margin-right: 10px;
}

.site-list-table__onpage select {
  max-width: 66px;
}



@media (max-width: 1310px) {
  .filter-flexed__item {
    flex-basis: 100%;
    width: 100% !important;
    margin-top: 5px;
  }

  .filter-flexed__item .btn-group__period-selector {
    flex-wrap: wrap;
  }

  .filter-flexed__item .popover.left {
    top: 120px;
    left: 10px;
  }

  .filter-flexed__item .popover.left > .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25);
    right: auto;
    margin-top: 0;
    border-right-width: 11px;
    border-left-color: transparent;
  }
}
