<app-color-line type="modals"></app-color-line>
<div *ngIf="newCWidgetInfo.step === 1" class="modal-header text-center justify-content-center">
  <h4 class="modal-title">{{ 'containerized.modal.addto.title' | translate }}</h4>
</div>

<div class="modal-body">
  <div id="step2" class="p-3 max-w-868 m-auto" *ngIf="newCWidgetInfo.step === 1">
    <div class="row">
      <div *ngFor="let type of newCWidgetInfo.types" class="col-lg-6 widget-type-view" (click)="setNewCWidgetType(type)">
        <div class="ab-type-icon-{{type.type}}"></div>
        <div class="view-name">{{type.title}}</div>
      </div>
    </div>
  </div>
  <div id="step3" class="active" *ngIf="newCWidgetInfo.step === 2">
    <div class="create-widget-m" style="padding-top: 0">
      <div class="filters-loader"></div>
      <div class="container-for-loader">
        <div class="templates-gallery-header">
          <div class="header-modal">
            <span>{{ 'widgetsList.add.params.mockup.title2' | translate }}</span>
          </div>
          <span class="sub-text">{{ 'widgetsList.add.modal.gallery.desc' | translate }}</span>
        </div>

        <app-templates-gallery [typeId]="newCWidgetInfo.containerizedType" (chooseWidget)="chooseTemplateWidget($event)"></app-templates-gallery>
      </div>
    </div>
  </div>
  <div id="step4" class="p-3" *ngIf="newCWidgetInfo.step === 3">
    <label class="big-label">{{ 'widgetsList.add.params.label' | translate }}:</label>
    <div class="row mt-2">
      <div class="col-lg-12">
        <div class="row mb-2 ml-0 select-site-title">
          <h5>{{ 'widgetsList.add.params.name.title' | translate }}:</h5>
        </div>
        <input type="text" class="form-control" [(ngModel)]="editableCW.name">
        <span class="underow-comment">{{ 'widgetsList.add.params.name.tooltip' | translate }}</span>
      </div>
      <div class="col-lg-12 mt-2 mb-2" *ngIf="newCWidgetInfo.companyMode === 0">
        <div class="row mb-2 ml-0 select-site-title">
          <h5>{{ 'widgetsList.selectCompany' | translate }}: <a
            data-toggle="tooltip" data-placement="top" title="{{ 'widgetsList.add.params.company.tooltip' | translate }}"
            class="info-link"><i class="fa fa-info-circle"></i></a>
          </h5>
        </div>
        <div class="dropdown widget-company-selector" style="float: left; width: calc(100% - 50px)" [ngClass]="!newCWidgetInfo.companyId ? 'is-invalid' : ''">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="dropdown-selected-cropp" style="max-width:90%">{{newCWidgetInfo.company}}</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" *ngIf="companies.length">
            <li *ngFor="let company of getFilteredCompanies()" (click)="changeCompany(company)">
              <a href="javascript:void(0);" class="dropdown-item">{{ company.name }}</a>
            </li>
          </ul>
        </div>

        <div class="remove-sub-item">
          <a (click)="openAddCompanyMode()" href="javascript:void(0);">
            <i class="remove-sub-item colored-blue pe-7s-plus"
               data-toggle="tooltip" data-placement="top" data-container="body"
               title="{{ 'widgetsList.add.params.company.add.tooltip' | translate }}"></i>
          </a>
        </div>
      </div>

      <div
        *ngIf="newCWidgetInfo.companyMode === 1"
        class="col-lg-12 mt-2 mb-2"
        [ngClass]="(newCWidgetInfo.company.trim().length == 0) ? 'is-invalid' : ''"
      >
        <div class="row mb-2 ml-0 select-site-title">
          <h5>{{ 'widgetsList.add.params.company.add.name' | translate }}: <a
            data-toggle="tooltip" data-placement="top" title="{{ 'widgetsList.add.params.company.tooltip' | translate }}"
            class="info-link"><i class="fa fa-info-circle"></i></a>
          </h5>
        </div>
        <input type="text" class="form-control" [(ngModel)]="newCWidgetInfo.company">
        <span class="underow-comment">{{ 'widgetsList.add.params.company.under' | translate }}</span>
        <a *ngIf="companies.length" class="companies-underline" (click)="closeAddCompanyMode()">
          {{ 'widgetsList.add.params.company.add.back' | translate }}
        </a>
      </div>

      <div class="col-lg-12 mt-4">
        <button
          class="btn btn-lg btn-default float-left"
          (click)="closeAddCWidgetModal(false)"
        >
          {{ 'global.cancel' | translate }}
        </button>
        <button
          type="button"
          class="btn btn-lg btn-success float-right"
          [disabled]="(newCWidgetInfo.companyMode == 0 && newCWidgetInfo.companyId == null) || (newCWidgetInfo.companyMode == 1 && newCWidgetInfo.company.trim().length == 0) || !editableCW.name"
          (click)="addWidget()"
        >
          {{ 'widgetsList.add.modal.gallery.gotosettings' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
