<div class="hpanel">
  <div class="panel-body">
    <span [className]="'positiveActivate positive' + isReset"></span>
    <div class="messageCenterReset mb-5">
      <h1 *ngIf="isReset">{{ 'login.resPass.success' | translate }}</h1>
      <h1 *ngIf="isReset === false">{{ 'login.resPass.not_success' | translate }}</h1>
    </div>
    <span class="help-block small questLog">{{ 'login.want_back' | translate }}</span>
    <button routerLink="/account/login" class="btn btn-default btn-block" data-action="loginLayer">
      {{ 'login.login' | translate }}
    </button>
  </div>
</div>
