<h3>{{ 'login.enter' | translate }}</h3>
<div class="hpanel">
  <div class="panel-body">
    <form (ngSubmit)="submitAuth()" [formGroup]="loginForm" id="formLogin" method="post">
      <div class="form-group">
        <label class="col-form-label" for="username">{{ 'login.user' | translate }}:</label>
        <input
          autocomplete="off"
          class="form-control"
          formControlName="username"
          id="username"
          name="j_username"
          placeholder="example@gmail.com"
          required
          type="text"
        >
        <span *ngIf="error" class="errorMessage errorMessageLogin small">{{ 'login.error' | translate }}</span>
      </div>
      <div class="form-group">
        <label class="col-form-label" for="password">{{ 'login.password' | translate }}:</label>
        <input
          autocomplete="off"
          class="form-control"
          formControlName="password"
          id="password"
          name="j_password"
          placeholder="********"
          required
          type="password"
        >
        <span *ngIf="error" class="errorMessage errorMessageLogin small">{{ 'login.error' | translate }}</span>
        <span class="help-block small">{{ 'login.unique_password' | translate }}</span>
      </div>

      <button
        class="btn btn-success btn-block mt-4"
        id="buttonLogin"
        type="submit"
      >
        {{ 'login.login' | translate }}
      </button>
      <span class="help-block small help-block_label">ИЛИ</span>
      <button
        (click)="authYandex($event)"
        class="btn btn-warning btn-block"
        style="background-color: #ffdb4dd9; margin-bottom: 30px;"
      >
        Войти через <span style="color:#f00;">Я</span>ндекс
      </button>
      <span class="help-block small">Еще не зарегистрированы?</span>
      <button class="btn btn-default btn-block" data-action="registerLayer" routerLink="/account/register"
              type="button">
        {{ 'login.register' | translate }}
      </button>
      <a class="forgotPass" data-action="passwordLayer" routerLink="/account/forgot">
        {{ 'login.forgot_password' | translate }}
      </a>
    </form>
  </div>
</div>
