<div class="filter-section mt-3">
  <div *ngFor="let subitem of item.subitems; index as i" class="filterow">
    <div *ngIf="i > 0" class="rule-subitem-text">{{ 'audience.rule.logic.or' | translate }}</div>
    <div class="d-flex row-subitem mt-3 mb-2">
      <div class="col-sm-7 row-subitem-padding mr-2">
        <div class="dropdown" data-field="present" data-val="true">
          <button aria-expanded="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
            {{ vals.arifmethic[vals.arifmethicEnum.indexOf(subitem.valueCompareType)] }} <span class="caret"></span>
          </button>
          <ul aria-labelledby="dropdownMenu1" class="dropdown-menu" role="menu">
            <li
              (click)="subitem.valueCompareType = vals.arifmethicEnum[j]"
              *ngFor="let val of vals.arifmethic; index as j"
              role="presentation"
            >
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">{{ val }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="subitem-left">
          <input [(ngModel)]="subitem.value" class="form-control" min="1" type="number">
          <div class="small mt-1 text-nowrap">
            {{ 'audience.rule.visit_no.underline' | translate }}
          </div>
        </div>
        <div class="remove-sub-item">
          <button (click)="removeSubItem(group.id, item.type, i)" class="delete-element-button">&times;</button>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-2">
    <button (click)="addSubItem(item)" class="btn-default widget-content-add-btn">
      <img alt="add element" src='../../../../../../../assets/images/widgets/plus.svg'/> {{ 'audience.variant.add' | translate }}
    </button>
  </div>
</div>
