<div class="border-item">
  <div>
    <h4 class="h4-element-title">
      Социальные кнопки <a (click)="removeElementFromElementsList(index)" href="javascript:void(0);"><i class="remove-sub-item far fa-trash-alt"></i></a>
    </h4>
    <div class="clearfix"></div>
    <div class="row row-subitem">
      <div class="col-sm-12 row-subitem-padding mb-1">
        <span class="input-down-sm-lab control-label-des">Выберите сервисы, которые вы хотите использовать</span>
      </div>
    </div>
    <div class="row row-subitem pt-1 social-block-choose">
      <div class="col-sm-4 row-subitem-padding">
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].vkontakte === 'vkontakte'"
              (change)="setSocialBtn(widget.guiprops['social'].vkontakte, 'vkontakte')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Vkontakte</span>
          </label>

        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].facebook === 'facebook'"
              (change)="setSocialBtn(widget.guiprops['social'].facebook, 'facebook')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Facebook</span>
          </label>

        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].googleplus === 'googleplus'"
              (change)="setSocialBtn(widget.guiprops['social'].googleplus, 'googleplus')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Google plus</span>
          </label>

        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].digg === 'digg'"
              (change)="setSocialBtn(widget.guiprops['social'].digg, 'digg')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Digg</span>
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].pinterest === 'pinterest'"
              (change)="setSocialBtn(widget.guiprops['social'].pinterest, 'pinterest')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Pinterest</span>
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].tumblr === 'tumblr'"
              (change)="setSocialBtn(widget.guiprops['social'].tumblr, 'tumblr')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Tumblr</span>
          </label>
        </div>
      </div>
      <div class="col-sm-4 row-subitem-padding">
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].twitter === 'twitter'"
              (change)="setSocialBtn(widget.guiprops['social'].twitter, 'twitter')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Twitter</span>
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].mail === 'mail'"
              (change)="setSocialBtn(widget.guiprops['social'].mail, 'mail')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Mail</span>
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].buffer === 'buffer'"
              (change)="setSocialBtn(widget.guiprops['social'].buffer, 'buffer')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Buffer</span>
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].pocket === 'pocket'"
              (change)="setSocialBtn(widget.guiprops['social'].pocket, 'pocket')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Pocket</span>
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].xing === 'xing'"
              (change)="setSocialBtn(widget.guiprops['social'].xing, 'xing')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Xing</span>
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].print === 'print'"
              (change)="setSocialBtn(widget.guiprops['social'].print, 'print')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Print</span>
          </label>
        </div>
      </div>
      <div class="col-sm-4 row-subitem-padding">
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].linkedin === 'linkedin'"
              (change)="setSocialBtn(widget.guiprops['social'].linkedin, 'linkedin')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Linkedin</span>
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].reddit === 'reddit'"
              (change)="setSocialBtn(widget.guiprops['social'].reddit, 'reddit')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Reddit</span>
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].stumbleupon === 'stumbleupon'"
              (change)="setSocialBtn(widget.guiprops['social'].stumbleupon, 'stumbleupon')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Stumbleupon</span>
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].odnoklassniki === 'odnoklassniki'"
              (change)="setSocialBtn(widget.guiprops['social'].odnoklassniki, 'odnoklassniki')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Odnoklassniki</span>
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].blogger === 'blogger'"
              (change)="setSocialBtn(widget.guiprops['social'].blogger, 'blogger')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Blogger</span>
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="widget.guiprops['social'].yummly === 'yummly'"
              (change)="setSocialBtn(widget.guiprops['social'].yummly, 'yummly')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
            <span class="ml-1">Yummly</span>
          </label>
        </div>
      </div>
    </div>

    <div class="row row-subitem pt-1 mt-2">
      <div class="col-sm-12 row-subitem-padding pt-1">
        <label class="control-label control-label-des">Дизайн кнопок:</label>
        <div class="social-variable-bl">
          <div
            class="social-var-el social-var-1"
            [ngClass]="(widget.guiprops['social'].type === 'style-1') ? 'active' : ''"
            (click)="widget.guiprops['social'].type = 'style-1'"
          >
            <div class="social-var-fill"></div>
          </div>
          <div
            class="social-var-el social-var-2"
            [ngClass]="(widget.guiprops['social'].type === 'style-2') ? 'active' : ''"
            (click)="widget.guiprops['social'].type = 'style-2'"
          >
            <div class="social-var-fill"></div>
          </div>
          <div
            class="social-var-el social-var-3"
            [ngClass]="(widget.guiprops['social'].type === 'style-3') ? 'active' : ''"
            (click)="widget.guiprops['social'].type = 'style-3'"
          >
            <div class="social-var-fill"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-subitem pt-1 mt-1">
      <div class="col-sm-12 row-subitem-padding pt-1">
        <label class="control-label control-label-des">Выравнивание:</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {{ widget.guiprops['social'].position }}
            <span class="caret"></span>
          </button>
          <ul role="menu" class="dropdown-menu">
            <li role="presentation" *ngFor="let itemVisual of floatBtn" (click)="widget.guiprops['social'].position = itemVisual">
              <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemVisual }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row row-subitem pt-1 mt-2">
      <div class="col-sm-12 row-subitem-padding pt-1">
        <label class="control-label control-label-des">Какой страницей делиться:</label>
      </div>
    </div>
    <div class="row row-subitem">
      <div class="col-sm-6 row-subitem-padding">
        <div class="form-group widget-selector mb-0">
          <label>
            <input type="radio" class="radio radio-info radio-inline" [(ngModel)]="widget.guiprops['social'].linkForShare" value="site">
            Текущей страницей
          </label>
        </div>
      </div>
      <div class="col-sm-6 row-subitem-padding">
        <div class="form-group widget-selector mb-0">
          <label>
            <input type="radio" class="radio radio-info radio-inline" [(ngModel)]="widget.guiprops['social'].linkForShare" value="own">
            Указать URL
          </label>
        </div>
      </div>
    </div>
    <div>
      <div class="row row-subitem">
        <div *ngIf="widget.guiprops['social'].linkForShare === 'own'" class="col-sm-12 widget-name-block-rel row-subitem-padding pt-1">
          <input type="text" class="form-control" [(ngModel)]="widget.guiprops['social'].linkText" placeholder="Введите URL">
        </div>
        <div class="col-sm-12 widget-name-block-rel row-subitem-padding pt-1">
          <span class="iframe-small-label">
            Вы можете выбрать, какой страницей поделится посетитель в социальных сетях. Это может быть страница, на которой он находится или указанный вами URL.
          </span>
        </div>
      </div>
    </div>

    <app-coupon-callback
      [coupons]="coupons"
      [coupon]="widget.guiprops.social.couponCallback"
      [placePopup]="placePopup"
    ></app-coupon-callback>
  </div>
</div>
