@import '../../../../../../scss/vars';
@import '../../../../../../scss/mixins';

:host {
  display: flex;
  width: inherit;
  position: relative;

  tr {
    width: 100%;
    display: flex;
    align-items: flex-start;
    min-width: auto;

    &.non-active {
      td {
        background-color: #fdebeb;
      }
    }

    &.no-border {
      td {
        border-top: none !important;
      }
    }

    td {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 19px 14px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-align: left;
      text-transform: capitalize;
      color: $fontPrimaryColor;
      word-break: break-all;

      &:not(:last-of-type) {
        border-right: 1px solid $borderColor !important;
      }

      &:hover {
        background-color: $activeElementBG;
      }

      &.name {
        width: 25%;
        min-width: 310px;
        font-weight: 600;

        .input {
          width: 100%;
        }

        @media (max-width: 424px) {
          min-width: 265px;
        }
      }

      &.campaign {
        width: 20%;
        min-width: 220px;

        .dropdown {
          width: 100%;
          position: relative;

          & button, & ul {
            width: 100% !important;
          }

          button {
            justify-content: space-between;

            .caret {
              display: flex;
              width: 24px;
              height: 24px;
              position: relative;

              @include svg-position();
            }

            &:after {
              display: none;
            }
          }
        }
      }

      &.name, &.campaign {
        position: relative;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 8px;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px;

          &:not(.btn-default).btn {
            padding: 4px;

            span {
              width: 28px;
              height: 28px;
            }
          }

          &:not(.btn-default).btn:not(:focus) {
            opacity: 0;

            @media (max-width: 1199px) {
              opacity: 1;
            }
          }

          &.btn {
            width: 40px !important;
            height: 40px !important;
            padding: 7px;

            span {
              display: block;
              width: 24px;
              height: 24px;
              position: relative;

              @include svg-position();
            }
          }

          &.btn-default:last-child {
            background-color: $greenColor;

            span {
              color: #FFFFFF;
            }
          }
        }

        &:hover {
          button {
            &:not(.btn-default).btn {
              opacity: 1;
            }
          }
        }
      }

      &.shows, &.targets, &.conv {
        width: 9%;
        min-width: 120px;
      }

      &.priority {
        width: 10%;
        min-width: 160px;
        justify-content: center;

        .priority-btns {
          button {
            background-color: #ffffff;

            &:first-child {
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;
              border-right-color: transparent;
              color: $successColor;
            }

            &:last-child {
              border-bottom-right-radius: 5px;
              border-top-right-radius: 5px;
              color: $dangerColor;
            }
          }
        }
      }

      &.actions-static {
        width: 27%;
        min-width: 485px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        flex-wrap: nowrap;

        .play-btns,
        .ab-btns,
        .edit-btns {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: nowrap;
        }

        .play-btns,
        .edit-btns {
          button {
            &:first-child {
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;
              border-right-color: transparent;
            }

            &:last-child {
              border-bottom-right-radius: 5px;
              border-top-right-radius: 5px;
            }
          }
        }

        .play-btns {
          button {
            &:first-child {
              &.active {
                background-color: $activeElementBG;

                span {
                  color: $greenColor;
                }
              }
            }

            &:last-child {
              border-left: 1px solid $borderColor;

              &.active {
                background-color: $activeElementBG;
                span {
                  color: $dangerColor;
                }
              }
            }
          }
        }

        .ab-btns {
          button {
            border-radius: 5px !important;

            &.in-work {
              span {
                background-color: $greenColor;
              }
            }

            &.in-pause {
              span {
                background-color: $yellowColor;
              }
            }

            span {
              display: block;
              width: 22px !important;
              height: 22px !important;
              background-color: $borderColor;
              border-radius: 50%;
              margin-right: 15px;
            }
          }
        }

        .edit-btns {
          button {
            &:last-child {
              border-left-color: transparent;
            }
          }
        }
      }

      &.priority, &.actions-static {
        .priority-btns,
        .play-btns,
        .ab-btns,
        .edit-btns {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: nowrap;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 60px;
            height: 36px;
            padding: 4px 16px;
            border: 1px solid $borderColor;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: $fontSecondaryColor;
            border-radius: 0;

            &:not(:disabled):hover {
              background-color: $activeElementBG;
            }

            &:not(:disabled):focus {
              position: relative;
              z-index: 1000;
            }

            span {
              display: flex;
              width: 28px;
              height: 28px;
              position: relative;

              @include svg-position();
            }
          }
        }
      }
    }
  }
}
