.smartpoints-widgets-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  min-width: 210px;
}

.form-check {
  display: inline-block;
  width: 22px;
  height: 22px;
}

.form-check-label, .form-check-input {
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.form-check-input {
  margin-left: -1.4rem;
}

.btn {
  border-radius: 3px;
  font-size: 14px;
  white-space: nowrap;
  min-width: 210px;
  text-align: left;
}
