.smartpoints-widgets-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  min-width: 210px;
}

.btn {
  border-radius: 3px;
  font-size: 14px;
  white-space: nowrap;
  min-width: 210px;
  text-align: left;
}
