a.how-to-test-link {
  margin-top: 20px;
  display: block;
  float: right;
  color: #727477;
  font-size: 14px;
  text-decoration: underline;;
}

a.how-to-test-link:hover {
  text-decoration: none;
}

.wrapper-test-filter-states {
  padding-top: 25px;
}

.how-to-add-test-bg {
  margin: 0 auto;
  width: 470px;
  height: 370px;
  background: url("~src/assets/images/abtests/example-create-test.png") center no-repeat;
  background-size: contain;
}

.test-item.border-t-green {
  border-top: 2px solid #62cb31;
}

.test-item.border-t-red {
  border-top: 2px solid #e74c3c;
}

.test-item-graph {
  position: relative;
  height: 240px;
  margin: 15px 0;
}

.start-widget-btn.active {
  color: #62cb31;
}

.stop-widget-btn.active {
  color: #e74c3c;
}

.f-chart-no-data {
  padding-top: 50px;
  color: #9e9e9e;
  font-size: 18px;
  font-weight: 200;
}

.ab-grid__item--name .colored-item-circle {
  position: absolute;
  top: 18px;
  left: 6px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.bg-for-line-grid {
  background-color: #fcfcfc;
}

.ab-grid__item--non-active {
  background-color: #fdebeb;
}

.btn-winner-st:hover {
  background: rgb(100, 189, 99);
  border-color: rgb(100, 189, 99);
  color: #fff;
}

.ab-test-footer {
  padding: 15px 0 0;
  display: flex;
  justify-content: space-between;
}

.ab-test-footer button {
  color: #6a6c6f;
}

.ab-test-footer button.btn {
  background-color: #fff;
  border: 1px solid #e4e5e7;
}

.ab-test-footer button.btn i.fa-plus {
  color: #62cb31;
}

.ab-test-footer button.btn-test-var:hover {
  border-color: #c7c7c7;
  color: #444444;
}

@media (max-width: 1280px) {
  .ab-grid__header--name,
  .ab-grid__item--name {
    flex-basis: 30%;
    max-width: 30%;
  }

  .ab-grid__header--actions,
  .ab-grid__item--actions {
    flex-basis: 20%;
    max-width: 20%;
  }

  .edit-btns.margined-right-14,
  .edit-btns.margined-right-44 {
    margin-right: 5px;
  }

  .edit-btns.margined-right-76 {
    margin-right: 0;
  }
}
