<div class="flex-column toolbar-content">
  <div class="d-flex justify-content-between">
    <h1 class="title-main pl-1">{{ 'sidebar.abtests' | translate }}</h1>
    <a href="http://leadgenic.userecho.com/topics/355-instruktsiya-po-rabote-s-sistemoj-ab-testirovaniya-vidzhetov/" class="how-to-test-link" target="_blank">{{ 'abtests.active.instruction' | translate }}</a>
  </div>
  <div class="wrapper-test">
    <div class="wrapper-test-header">
      <div class="wrapper-test-filter-sites">
        <div class="row m-0"><h5>{{ 'abtests.show' | translate }}:</h5></div>
        <div class="dropdown site-selector">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span *ngIf="currSite.trim().length === 0">{{ 'widgetsList.add.chooseSite' | translate }}</span>
            {{ getCroppedString(getSiteName(currSite), 30, '…') }}
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let site of sites" (click)="setCurrSite(site)">
              <a class="dropdown-item">{{ site.name }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="wrapper-test-filter-states">
        <div class="btn-group">
          <button class="btn btn-default" (click)="getTestsByState('ALL')" [ngClass]="(showWhat === 'ALL') ? 'active' : ''">{{ 'abtests.active.all' | translate }}</button>
          <button class="btn btn-default" (click)="getTestsByState('ACTIVE')" [ngClass]="(showWhat === 'ACTIVE') ? 'active' : ''">{{ 'abtests.active.active' | translate }}</button>
          <button class="btn btn-default" (click)="getTestsByState('PAUSED')" [ngClass]="(showWhat === 'PAUSED') ? 'active' : ''">{{ 'abtests.active.paused' | translate }}</button>
        </div>
      </div>
    </div>

    <div class="main-content-container-ab-loader" *ngIf="!isLoad"></div>

    <div *ngIf="!allABTests.length || showOnlyIfNoTestsForCurrentSite" class="mt-4">
      <h3 class="f-0 text-center">{{ 'abtests.active.noCreated.title' | translate }}</h3>
      <h4 class="f-2 text-center">{{ 'abtests.active.noCreated.desc' | translate }}</h4>
      <div class="how-to-add-test-bg"></div>
    </div>

    <div *ngIf="allABTests.length && !abTests.length && (showWhat === 'PAUSED') && !showOnlyIfNoTestsForCurrentSite" class="margined-top-30">
      <h3 class="f-0 text-center">{{ 'abtests.active.noPaused' | translate }}</h3>
    </div>

    <div *ngIf="allABTests.length && !abTests.length && (showWhat === 'ACTIVE') && !showOnlyIfNoTestsForCurrentSite" class="margined-top-30">
      <h3 class="f-0 text-center">{{ 'abtests.active.noActive' | translate }}</h3>
    </div>

    <ng-container *ngIf="isLoad">
      <div
        *ngFor="let test of abTests; index as outerIndex"
        class="test-item"
        [ngClass]="(test.state === 'ACTIVE') ? 'border-t-green' : 'border-t-red'"
        [id]="'testIdNum-' + test.id"
      >
        <div class="test-item-header">
          <div class="test-item-left">
            <div class="max-edit-text-bl">
              <cool-inline-edit-field
                class="test-item-name"
                name="name"
                [(ngModel)]="test.name"
                [emptyText]="'abtests.active.addTitle' | translate"
                (editStarted)="fixOldTest(test)"
                (saved)="updateTest(test)"
              >
              </cool-inline-edit-field>
            </div>
            <div class="max-edit-text-bl">
              <cool-inline-edit-field
                class="test-item-desc"
                name="desc"
                [(ngModel)]="test.description"
                [emptyText]="'abtests.active.addDescription' | translate"
                (editStarted)="fixOldTest(test)"
                (saved)="updateTest(test)"
              >
              </cool-inline-edit-field>
            </div>
          </div>
          <div class="test-item-right">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-default start-widget-btn" (click)="startTest(test)" [ngClass]="(test.state === 'ACTIVE')? 'active':''" data-container="body" data-toggle="tooltip" data-placement="top" title="{{ 'abtests.active.runTest' | translate }}">
                <i class="fa fa-play"></i>
              </button>
              <button class="btn btn-sm btn-default stop-widget-btn" (click)="pauseTest(test)" [ngClass]="(test.state === 'ACTIVE')?'':'active'" data-container="body"  data-toggle="tooltip" data-placement="top" title="{{ 'abtests.active.pauseTest' | translate }}">
                <i class="fa fa-pause"></i>
              </button>
            </div>

            <div class="btn-group">
              <button class="btn btn-sm btn-default" (click)="deleteTest(test.id, outerIndex)" data-container="body"  data-toggle="tooltip" data-placement="top" title="{{ 'abtests.active.stopTest' | translate }}">
                <i class="fa fa-stop"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="test-item-graph">
          <h4 *ngIf="!test.chartData.length" class="f-chart-no-data text-center">{{ 'abtests.active.noData' | translate }}</h4>
          <canvas
            *ngIf="test.chartData.length"
            id="line"
            baseChart
            chartType="line"
            [data]="test.chartData"
            [labels]="test.chartLabels"
            [colors]="test.chartColors"
            [options]="chartOptions">
          </canvas>
        </div>

        <div class="ab-content">
          <div class="ab-grid">
            <div class="ab-grid__header">
              <div class="ab-grid__header--name">{{ 'abtests.variant' | translate }}</div>
              <div class="ab-grid__header--shows">{{ 'abtests.actions' | translate }}</div>
              <div class="ab-grid__header--conv">{{ 'abtests.conversion' | translate }}</div>
              <div class="ab-grid__header--update">{{ 'abtests.improvement' | translate }}</div>
              <div class="ab-grid__header--onoff">{{ 'abtests.active.toggle' | translate }}</div>
              <div class="ab-grid__header--actions">{{ 'abtests.active.management' | translate }}</div>
            </div>
            <div class="ab-grid__body">
              <div
                *ngFor="let item of test.variants; index as innerIndex; trackBy: trackById; let isOdd = odd"
                class="ab-grid__item"
                [class.bg-for-line-grid]="isOdd"
                [ngClass]="!item.active ? 'ab-grid__item--non-active' : ''"
              >
                <div class="ab-grid__item--name">
                  <div class="colored-item-circle" [ngStyle]="{ 'background-color': item.color }"></div>
                  <cool-inline-edit-field
                    class="test-item-desc long-text"
                    name="desc"
                    [(ngModel)]="item.name"
                    [emptyText]="'empty'"
                    (saved)="updateVariantName(test, item)"
                  >
                  </cool-inline-edit-field>
                </div>
                <div class="ab-grid__item--shows">{{item.convInfo.n | thousandSuffix:2}} / {{item.convInfo.s | thousandSuffix:2}}</div>
                <div class="ab-grid__item--conv">{{ item.convInfo.conversion }}</div>
                <div class="ab-grid__item--update" [ngClass]="getClassForBetterTo(item)" [innerHTML]="showBetterToValue(item)"></div>
                <div class="ab-grid__item--onoff"><ui-switch size="small" [checked]="item.active" (change)="changeVariantState(item, test)"></ui-switch></div>
                <div class="ab-grid__item--actions">
                  <div class="btn-group edit-btns" [ngClass]="item.etalon ? 'margined-right-76' : 'margined-right-14'">
                    <a class="btn btn-sm btn-default" (click)="goToEdit(test.siteId, item.id)" data-container="body" data-toggle="tooltip" data-placement="top" title="{{ 'abtests.active.variant.edit' | translate }}">
                      <i class="fa fa-cogs"></i>
                    </a>
                    <button class="btn btn-sm btn-default" (click)="cloneVariant(test, item, innerIndex, outerIndex)" data-container="body"  data-toggle="tooltip" data-placement="top" title="{{ 'abtests.active.variant.copy' | translate }}">
                      <i class="fa fa-copy"></i>
                    </button>
                    <button *ngIf="!item.etalon" class="btn btn-sm btn-default" (click)="deleteVariant(test, item.id, innerIndex, outerIndex)" data-container="body"  data-toggle="tooltip" data-placement="top" title="{{ 'abtests.active.variant.delete' | translate }}">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                  <div class="btn-group" *ngIf="!item.etalon">
                    <button class="btn btn-sm btn-default btn-winner-st" (click)="setWinner(test.id, item.id, outerIndex)" data-container="body"  data-toggle="tooltip" data-placement="top" title="{{ 'abtests.active.variant.winner' | translate }}">
                      <i class="fa fa-trophy"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ab-test-footer">
          <button (click)="addVariant(test, outerIndex)" type="button" class="btn btn-test-var"><i class="fa fa-plus"></i> {{ 'abtests.active.variant.add' | translate }}</button>
          <button (click)="resetStats(test)" type="button" class="btn btn-test-reset-stats"><i class="fa fa-trash"></i> {{ 'abtests.active.reset' | translate }}</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
