<div class="flex-column toolbar-content">

<a href="http://leadgenic.userecho.com/topics/355-instruktsiya-po-rabote-s-sistemoj-ab-testirovaniya-vidzhetov/" class="how-to-test-link" target="_blank">{{ 'abtests.active.instruction' | translate }}</a>
<h1 class="title-main">{{ 'sidebar.abtests' | translate }}</h1>

<div class="wrapper-test">
  <div class="wrapper-test-header">
    <div class="wrapper-test-filter-item wrapper-test-filter-sites">
      <div class="row margined-left-0"><h5>{{ 'abtests.show' | translate }}:</h5></div>
      <div class="dropdown site-selector">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span *ngIf="currSite.trim().length === 0">{{ 'widgetsList.add.chooseSite' | translate }}</span>
          {{ getCroppedString(getSiteName(currSite), 30, '…') }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let site of sites" (click)="setCurrSite(site)"><a href="#">{{ site.name }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="wrapper-test-filter-item wrapper-test-filter-states">
      <div class="btn-group test-filter-btns">
        <button class="btn btn-default" (click)="getTestsByState('ALL')" [ngClass]="(showWhat === 'ALL') ? 'active' : ''">{{ 'abtests.active.all' | translate }}</button>
        <button class="btn btn-default" (click)="getTestsByState('ACTIVE')" [ngClass]="(showWhat === 'ACTIVE') ? 'active' : ''">{{ 'abtests.active.active' | translate }}</button>
        <button class="btn btn-default" (click)="getTestsByState('PAUSED')" [ngClass]="(showWhat === 'PAUSED') ? 'active' : ''">{{ 'abtests.active.paused' | translate }}</button>
      </div>
    </div>
  </div>

  <div class="main-content-container-ab-loader" *ngIf="!isLoad"></div>

  <div *ngIf="!allABTests.length || showOnlyIfNoTestsForCurrentSite" class="margined-top-30">
    <h3 class="f-0 text-center">{{ 'abtests.active.noCreated.title' | translate }}</h3>
    <h4 class="f-2 text-center">{{ 'abtests.active.noCreated.desc' | translate }}</h4>
    <div class="how-to-add-test-bg"></div>
  </div>

  <div *ngIf="allABTests.length && !abTests.length && (showWhat === 'PAUSED') && !showOnlyIfNoTestsForCurrentSite" class="margined-top-30">
    <h3 class="f-0 text-center">{{ 'abtests.active.noPaused' | translate }}</h3>
  </div>

  <div *ngIf="allABTests.length && !abTests.length && (showWhat === 'ACTIVE') && !showOnlyIfNoTestsForCurrentSite" class="margined-top-30">
    <h3 class="f-0 text-center">{{ 'abtests.active.noActive' | translate }}</h3>
  </div>

  <ng-container *ngIf="isLoad">
    <div  class="test-item"
          *ngFor="let test of abTests; index as outerIndex"
          [ngClass]="(test.state === 'ACTIVE') ? 'border-t-green' : 'border-t-red'"
          [id]="'testIdNum-' + test.id">
      <div class="test-item-header">
        <div class="test-item-left">
          <div class="max-edit-text-bl">
            <cool-inline-edit-field
              name="name"
              [(ngModel)]="coupon.name"
              (editStarted)="fixOldCoupon($event)"
              (saved)="updateCoupon($event)"
            >
            </cool-inline-edit-field>
            <a class="test-item-name" href="#" editable-text="test.name" onaftersave="updateTest(test)">{{ test.name || 'abtests.active.addTitle' | translate }} <i class="fa fa-pencil"></i></a>
          </div>
          <div class="max-edit-text-bl">
            <cool-inline-edit-field
              name="name"
              [(ngModel)]="coupon.name"
              (editStarted)="fixOldCoupon($event)"
              (saved)="updateCoupon($event)"
            >
            </cool-inline-edit-field>
            <a class="test-item-desc" href="#" editable-text="test.description" onaftersave="updateTest(test)">{{ test.description || 'abtests.active.addDescription' | translate }} <i class="fa fa-pencil"></i></a>
          </div>
        </div>
        <div class="test-item-right">
          <div class="btn-group play-btns margined-right-10">
            <button class="btn btn-xs btn-default start-widget-btn" (click)="startTest(test)" [ngClass]="(test.state === 'ACTIVE')? 'active':''" data-container="body" data-toggle="tooltip" data-placement="top" title="{{ 'abtests.active.runTest' | translate }}">
              <i class="fa fa-play"></i>
            </button>
            <button class="btn btn-xs btn-default stop-widget-btn" (click)="pauseTest(test)" [ngClass]="(test.state === 'ACTIVE')?'':'active'" data-container="body"  data-toggle="tooltip" data-placement="top" title="{{ 'abtests.active.pauseTest' | translate }}">
              <i class="fa fa-pause"></i>
            </button>
          </div>

          <div class="btn-group edit-btns">
            <button class="btn btn-xs btn-default" (click)="removeTest(test.id, $index)" data-container="body"  data-toggle="tooltip" data-placement="top" title="{{ 'abtests.active.stopTest' | translate }}">
              <i class="fa fa-stop"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="test-item-graph">
        <h4 *ngIf="!test.chartData.length" class="f-chart-no-data text-center">{{ 'abtests.active.noData' | translate }}</h4>
        <canvas *ngIf="test.chartData.length" id="line" class="chart chart-line" chart-data="test.chartData"
                chart-labels="test.chartLabels" chart-colors="test.chartColors" chart-options="chartOptions">
        </canvas>
      </div>
      <div class="ab-content">
        <div class="ab-grid">
          <div class="ab-grid__header">
            <div class="ab-grid__header--name">{{ 'abtests.variant' | translate }}</div>
            <div class="ab-grid__header--shows">{{ 'abtests.actions' | translate }}</div>
            <div class="ab-grid__header--conv">{{ 'abtests.conversion' | translate }}</div>
            <div class="ab-grid__header--update">{{ 'abtests.improvement' | translate }}</div>
            <div class="ab-grid__header--onoff">{{ 'abtests.active.toggle' | translate }}</div>
            <div class="ab-grid__header--actions">{{ 'abtests.active.management' | translate }}</div>
          </div>
          <div class="ab-grid__body">
            <div class="ab-grid__item"
                 *ngFor="let item of test.variants; index as innerIndex; trackBy: trackById"
                 ng-class-even="'bg-for-line-grid'"
                 [ngClass]="!item.active ? 'ab-grid__item--non-active' : ''">

              <div class="ab-grid__item--name">
                <div class="colored-item-circle" [ngStyle]="{'background-color': item.color}"></div>
                <!--<a href="#" editable-text="item.name" onaftersave="updateVariantName(test, item)">
                                              <span long-text="{{item.name || 'empty'}}"
                                                    max-total-characters="40"></span> <i class="fa fa-pencil"></i></a>-->
              </div>
              <!--<div class="ab-grid__item&#45;&#45;shows">{{item.convInfo.n | thousandSuffix:2}} / {{item.convInfo.s | thousandSuffix:2}}</div>-->
              <div class="ab-grid__item--conv">{{ item.convInfo.conversion }}</div>
              <div class="ab-grid__item--update" [ngClass]="getClassForBetterTo(item)" [innerHTML]="showBetterToValue(item)"></div>
              <div class="ab-grid__item--onoff"><ui-switch class="switch-xs" [checked]="item.active" (change)="changeVariantState(item, test)"></ui-switch></div>
              <div class="ab-grid__item--actions">
                <div class="btn-group edit-btns" [ngClass]="item.etalon ? 'margined-right-76' : 'margined-right-14'">
                  <a class="btn btn-xs btn-default" (click)="goToEdit(test.siteId, item.id)" data-container="body" data-toggle="tooltip" data-placement="top" title="{{ 'abtests.active.variant.edit' | translate }}">
                    <i class="fa fa-gears"></i>
                  </a>
                  <button class="btn btn-xs btn-default" (click)="cloneVariant(test, item, innerIndex, outerIndex)" data-container="body"  data-toggle="tooltip" data-placement="top" title="{{ 'abtests.active.variant.copy' | translate }}">
                    <i class="fa fa-copy"></i>
                  </button>
                  <button *ngIf="!item.etalon" class="btn btn-xs btn-default" (click)="deleteVariant(test, item.id, innerIndex, outerIndex)" data-container="body"  data-toggle="tooltip" data-placement="top" title="{{ 'abtests.active.variant.delete' | translate }}">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
                <div class="btn-group edit-btns" *ngIf="!item.etalon">
                  <button class="btn btn-xs btn-default btn-winner-st" (click)="setWinner(test.id, item.id, outerIndex)" data-container="body"  data-toggle="tooltip" data-placement="top" title="{{ 'abtests.active.variant.winner' | translate }}">
                    <i class="fa fa-trophy"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ab-test-footer">
        <button (click)="addVariant(test, outerIndex)" type="button" class="btn btn-test-var"><i class="fa fa-plus"></i> {{ 'abtests.active.variant.add' | translate }}</button>
        <button (click)="resetStats(test)" type="button" class="btn btn-test-reset-stats"><i class="fa fa-trash"></i> {{ 'abtests.active.reset' | translate }}</button>
      </div>
    </div>
  </ng-container>
</div>


<!-- New AB test modal -->
<div id="NewABTestModal" isBig="true">
  <div name="title">{{ 'abtests.modal.variant.add' | translate }}</div>
  <div class="tab-content" id="newABTabs">
    <div id="step3" class="p-m" ng-show="newABTest.step == 3">
      <div class="row">
        <div class="col-lg-12">
          <div class="row margined-bottom-15 margined-left-0 select-site-title"><h5>{{ 'abtests.modal.variant.title' | translate }}</h5></div>
          <input type="text" class="form-control" ng-model="editableAB.name">
          <span class="underow-comment">{{ 'abtests.modal.variant.comment' | translate }}</span>
        </div>

        <div class="col-lg-12">
          <div class="row margined-bottom-15 margined-left-0 select-site-title"><h5>{{ 'abtests.modal.variant.description' | translate }}</h5></div>
          <textarea class="form-control" ng-model="editableAB.description" rows="3"></textarea>
        </div>

        <div class="col-lg-12 margined-top-30">
          <button data-target="#NewABTestModal" data-toggle="modal" type="button" class="btn btn-lg w-xs btn-default floated-left">{{ 'widgetsList.widget.delete.cancel' | translate }}</button>
          <button ng-disabled="editableAB.name.trim().length == 0" ng-click="goToABType()" type="button" class="btn btn-lg w-xs btn-success floated-right">{{ 'abtests.modal.variant.create' | translate }}</button>
        </div>
      </div>
    </div>
    <div id="step1" class="p-m" ng-show="newABTest.step == 0">
      <div class="row">
        <div class="col-lg-4 widget-type-view" ng-repeat="type in ABTypes" ng-click="setABType(type)">
          <div class="ab-type-icon-{{type.type}}"></div>
          <div class="view-name">{{type.title}}</div>
        </div>
      </div>
    </div>
    <div id="step2" class="active" ng-show="newABTest.step == 1">
      <div class="create-widget-m" style="padding-top: 0" ng-class="{'main-content-container-loader': isLoaderActive}">
        <div class="filters-loader"></div>
        <div class="container-for-loader">
          <div class="header-modal">
            <span>{{ 'abtests.modal.template.choose' | translate }}</span>
          </div>
          <span class="sub-text">{{ 'abtests.modal.template.subtext' | translate }}</span>
          <div class="just-blue-line"></div>
          <div class="main-content-container">
            <div class="left-panel-filter">
              <span class="left-panel-filter-title">{{ 'abtests.modal.template.categories' | translate }}</span>
              <div class="left-panel-filter-categories">
                <div class="left-panel-filter-categories-container">
                  <div ng-repeat="grp in groups">
                    <h5 ng-class="($index != 0)?'margined-top-20':''">
                      {{grp.name}}
                    </h5>
                    <div class="left-category-item" ng-repeat="cat in grp.categories">
                      <div class="left-panel-filter-categories-category">
                        <label class="non-bold">
                          <!--<checkbox ng-model="cat.checked" ng-change="filterByCat(cat.checked, cat.id)" class="checkbox-green-btn"></checkbox>-->
                          {{cat.name}}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-widgets-list">
              <div class="alert-if-empty" ng-show="mockups.length==0">
                <h3>{{ 'abtests.modal.noWidgets' | translate }}</h3>
              </div>
              <div class="test-scroll-inf" infinite-scroll="loadMore()" infinite-scroll-immediate-check="false" infinite-scroll-parent>
                <div class="mockup-selector-categories-mockups-item-container" ng-repeat="mckp in mockups">
                  <div class="mockup-selector-categories-mockups-item">
                    <div class="mockup-selector-categories-mockups-item-hover">
                      <button ng-click="setMockupABT(mckp)" type="button" class="btn btn-success"><i class="fa fa-check"></i> {{ 'widgetsList.add.params.select' | translate }}</button>
                    </div>
                    <div class="mockup-selector-categories-mockups-item-content">
                      <div id="mockup-selector-categories-mockups-item-tariff-container">

                      </div>
                      <img [src]="mckp.preview" alt="">
                      <div class="mockup-selector-categories-mockups-item-title">
                        <div>
                          <div>{{mckp.name}}</div>
                        </div>
                      </div>
                      <div class="mockup-selector-categories-mockups-item-desc">
                        <div>
                          <div>{{mckp.description}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END AB Test modal -->
</div>
