.feedbackIfReset {
  margin-bottom: 40px;
}

.positiveActivate {
  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 54px;
  height: 52px;
  margin: 25px auto 0 auto;
}

.positivetrue {
  background-image: url("~src/assets/images/account/post.png");
  width: 58px;
}

.messageCenterReset {
  text-align: center;
  margin: 15px auto 0 auto;
  height: 64px;
}

.valid {
  display: none;
}
