<h3>{{ 'login.forgot' | translate }}</h3>
<div class="hpanel">
  <div class="panel-body">
    <div *ngIf="resetDone" class="feedbackIfReset">
      <span class="positiveActivate positivetrue"></span>
      <div class="messageCenterReset">
        <h1>{{ 'login.forgot_we_send' | translate }}</h1>
      </div>
    </div>

    <form
      *ngIf="!resetDone"
      id="formPassword"
      class="shownIfNoReset"
      (ngSubmit)="reset(f)"
      #f="ngForm"
    >
      <div class="form-group mb-3">
        <label class="control-label" for="emailPass">Email</label>
        <input
          type="text"
          placeholder="example@gmail.com"
          name="email"
          id="emailPass"
          class="form-control"
          ngModel
          required
        >
        <span
          class="errorMessage small"
          [class.valid]="!invalidLogin"
        >
          {{ 'login.forgot_not_found' | translate }}
        </span>
        <span class="help-block small">{{ 'login.forgot_under_input' | translate }}</span>
      </div>
      <button
        type="submit"
        class="btn btn-success btn-block mb-3"
        id="buttonPassword"
        [disabled]="!f.valid || loading"
      >
        {{ 'login.forgot_send' | translate }}
      </button>
      <span class="help-block small">{{ 'login.forgot_remember' | translate }}</span>
      <button routerLink="/account/login" class="btn btn-default btn-block" data-action="loginLayer">
        {{ 'login.login' | translate }}
      </button>
    </form>
  </div>
</div>
