<h3>{{ 'login.forgot' | translate }}</h3>
<div class="hpanel">
  <div class="panel-body">
    <div class="feedbackIfReset">
      <span class="positiveActivate positivetrue"></span>
      <div class="messageCenterReset">
        <h1>{{ 'login.forgot_we_send' | translate }}</h1>
      </div>
    </div>

    <form id="formPassword" class="shownIfNoReset">
      <div class="form-group">
        <label class="control-label" for="emailPass">Email</label>
        <input type="text" placeholder="example@gmail.com" name="username" id="emailPass" class="form-control">
        <span class="errorMessage errorMessagePassword small">{{ 'login.forgot_not_found' | translate }}</span>
        <span class="help-block small">{{ 'login.forgot_under_input' | translate }}</span>
      </div>
      <button type="submit" class="btn btn-success btn-block" id="buttonPassword">{{ 'login.forgot_send' | translate }}</button>
      <span class="help-block small">{{ 'login.forgot_remember' | translate }}</span>
      <button type="button" class="btn btn-default btn-block" data-action="loginLayer">{{ 'login.login' | translate }}</button>
    </form>
  </div>
</div>
