<div class="page-title">
  <h1 class="title-main">{{ 'sidebar.emails' | translate }}</h1>
</div>

<div>
  <div *ngIf="allSites.length <= 1" class="col-lg-12 mt-5">
    <h3 class="f-0 text-center">{{ 'reports.sitePlaceholder' | translate }}</h3>
    <h4
      [innerHTML]="'reports.sitePlaceholder2' | translate"
      class="f-2 text-center underline-links blue-links hover-links"
    ></h4>
  </div>

  <ng-container *ngIf="allSites.length > 1">
    <h2>{{ 'reports.emails.config' | translate }}</h2>
    <app-card>
      <div class="filters">
        <div class="filter">
          <h5>{{ 'sidebar.sites' | translate }}</h5>
          <ng-select
            (add)="checkFilters($event)"
            (change)="timeoutFiltering()"
            [(ngModel)]="sitesIds"
            [items]="allSites"
            [placeholder]="'widgetsList.add.chooseSite' | translate"
            appendTo="body"
            bindLabel="name"
            bindValue="id"
            id="siteSelector"
            multiple="true"
          ></ng-select>
        </div>
        <div class="filter">
          <h5>{{ 'crm.page.filter.period' | translate }}</h5>
          <div
            (ngModelChange)="changePeriod($event)"
            [(ngModel)]="periodType"
            class="btn-group btn-group-toggle btn-group__period-selector"
            name="radioBasic"
            ngbRadioGroup
          >
            <label class="btn btn-default" ngbButtonLabel>
              <input [value]="'TODAY'" ngbButton type="radio" /> {{ 'reports.emails.period.today' | translate }}
            </label>
            <label class="btn btn-default" ngbButtonLabel>
              <input [value]="'YESTERDAY'" ngbButton type="radio" /> {{ 'reports.emails.period.yesterday' | translate }}
            </label>
            <label class="btn btn-default" ngbButtonLabel>
              <input [value]="'WEEK'" ngbButton type="radio" /> {{ 'reports.emails.period.week' | translate }}
            </label>
            <label class="btn btn-default" ngbButtonLabel>
              <input [value]="'DECADE'" ngbButton type="radio" /> {{ 'reports.emails.period.decade' | translate }}
            </label>
            <label class="btn btn-default" ngbButtonLabel>
              <input [value]="'MONTH'" ngbButton type="radio" /> {{ 'reports.emails.period.month' | translate }}
            </label>
            <ng-template #popContent>
              <div id="custom-period-container-template">
                <div class="d-flex flex-column">
                  <div class="text-left">
                    <label class="control-label m-0">{{ 'global.period.dateStart' | translate }}:</label>
                    <div id="req-period-start">
                      <ngbd-datepicker-i18n [(ngModel)]="periodStart"></ngbd-datepicker-i18n>
                    </div>
                  </div>
                  <div class="text-left mt-3">
                    <label class="control-label m-0">{{ 'global.period.dateEnd' | translate }}:</label>
                    <div id="req-period-end">
                      <ngbd-datepicker-i18n [(ngModel)]="periodEnd"></ngbd-datepicker-i18n>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-3">
                  <button (click)="periodApply()" class="btn w-xs btn-success" id="periodApply" type="button">
                    {{ 'global.period.start' | translate }}
                  </button>
                </div>
              </div>
            </ng-template>
            <button
              #p="ngbPopover"
              [autoClose]="'outside'"
              [ngClass]="(periodType === 'USER') ? 'active' : ''"
              [ngbPopover]="popContent"
              class="btn btn-default"
              container="body"
              id="periods-custom"
              placement="{{ innerWidth < 850 ? 'bottom' : 'left' }}"
              type="button"
            >
              {{ 'reports.emails.period.user' | translate }}
            </button>
          </div>
          <p class="request-period-name">
            <span>{{ 'reports.emails.filter.from' | translate }}</span>
            <span> {{ periodStart | date : 'd.MM.yyyy' }}</span>
          <span> {{ 'reports.emails.filter.to' | translate }}</span>
          <span> {{ periodEnd | date : 'd.MM.yyyy' }}</span>
          </p>
        </div>
      </div>
    </app-card>
  </ng-container>

  <div *ngIf="allSites.length > 1" class="col-xs-12">
    <div class="row report-email-stat-panel">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-heading">
            <span class="panelTitle">{{ 'reports.emails.statistics' | translate }}</span>
          </div>
          <div class="panel-body">
            <div class="reports-emails-preloader reports-emails-preloader-main"></div>
            <div class="row">
              <div class="reports-emails-chart">
                <canvas
                  [colors]="colors"
                  [data]="data"
                  [labels]="labels"
                  [legend]="false"
                  [options]="options"
                  baseChart
                  chartType="line"
                  id="line"
                >
                </canvas>
              </div>
              <div class="list reports-emails-stats-list">
                <div class="list-item-container">
                  <div class="list-item">
                    <h3 class="m-0 font-weight-bold">{{ overallStats.allCount }}</h3>
                    <small>{{ 'reports.emails.stat.overall' | translate }}</small>
                    <div class="download-btn">
                      <button
                        (click)="downloadCsv()"
                        class="btn btn-default hovered-btn-blue tooltiped"
                        data-container="body"
                        data-placement="top"
                        data-title="{{ 'reports.emails.stat.download.tooltip' | translate }}"
                        data-toggle="tooltip"
                      >
                        <i class="fa fa-download"></i> {{ 'reports.emails.stat.download.btn' | translate }}
                      </button>
                    </div>
                  </div>
                  <div class="list-item">
                    <h3 class="m-0 font-weight-bold">{{ overallStats.periodCount | number:'0.0' }}</h3>
                    <small>{{ 'reports.emails.stat.period.title' | translate }}</small>
                    <div class="download-btn">
                      <button
                        (click)="downloadCsv(periodStart, getTomorrowCopyDate(periodEnd))"
                        class="btn btn-default hovered-btn-blue tooltiped"
                        data-container="body"
                        data-placement="top"
                        data-title="{{ 'reports.emails.stat.download.tooltip' | translate }}"
                        data-toggle="tooltip"
                      >
                        <i class="fa fa-download"></i> {{ 'reports.emails.stat.download.btn' | translate }}
                      </button>
                    </div>
                  </div>
                  <div class="list-item">
                    <h3 class="m-0 font-weight-bold">{{overallStats.periodAvg | number:'0.2'}}</h3>
                    <small>{{ 'reports.emails.stat.period.avg' | translate }}</small>
                  </div>
                </div>
                <button (click)="clearStats()" class="btn btn-default mt-3 pull-right hovered-btn-red">
                  <i class="pe-7s-trash mr-1"></i> {{ 'reports.emails.remove.btn' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngIf="allSites.length > 1" class="col-lg-4">
      <div class="hpanel">
        <div class="panel-heading">
          <span class="panelTitle">{{ 'reports.emails.last' | translate }}</span>
        </div>
        <div class="panel-body">
          <div *ngIf="lastEmails.length === 0">
            <h5 class="m-0 text-center">{{ 'reports.emails.last.placeholder' | translate }}</h5>
          </div>

          <div class="list">
            <div class="list-item-container report-email-last-container">
              <div class="list-item">
                <div *ngFor="let item of lastEmails | orderBy:['-date']; trackBy: trackById" class="list-item">
                  <div
                    [ngStyle]="{'background-image': 'url(' + item.gravatarUrl + ')'}"
                    class="report-email-last-logo report-email-user-icon"
                  ></div>
                  <div class="report-email-last-name">
                    <h5 class="m-0 font-weight-bold">{{ item.name }}</h5>
                    <h5 class="m-0">{{ item.email }}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="allSites.length > 1" class="col-lg-8">
      <div class="hpanel">
        <div class="panel-heading">
          <span class="panelTitle">{{ 'reports.emails.best' | translate }}</span>
        </div>
        <div class="panel-body">
          <div class="reports-emails-preloader reports-emails-preloader-best"></div>
          <div class="row report-email-sites-sites-header">
            <div class="col-sm-5 report-email-sites-sites-header">{{ 'reports.emails.sites.sites' | translate }}</div>
            <div class="col-sm-7 report-email-sites-value-header">{{ 'reports.emails.sites.value' | translate }}</div>
          </div>
          <div class="list">
            <div class="report-email-sites-sites-rows list-item-container">
              <div
                *ngFor="let site of allSitesStats | orderBy:['-count'] | slice:0:5; trackBy: trackById"
                class="row report-email-sites-sites-row list-item"
              >
                <div class="col-sm-5 report-email-sites-sites">{{ site.name }}</div>
                <div class="col-sm-7 report-email-sites-values">{{ site.count }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
