@import "src/scss/vars";
@import "src/scss/mixins";

:host {
  width: 100%;

  .filter-tabs {
    display: flex;
    justify-content: center;
    background-color: $activeElementBG;
    gap: 16px;


    .filter-container {
      width: 258px;
      position: relative;
      display: block;
      cursor: pointer;

      .filter {
        width: 100%;
        padding: 6px 10px 10px 75px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        background-color: $activeElementBG;

        &.active {
          background-color: #FFFFFF;
          z-index: 4;
        }

        span.filter-tab-title {
          display: block;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: $fontPrimaryColor;
          margin-bottom: 2px;
        }

        span.filter-tab-sub {
          display: block;
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          line-height: 12px;
          color: $fontPrimaryColor;
        }
      }

      .filter.active ~ .before, .filter.active ~ .after {
        display: block;
      }

      .before, .after {
        position: absolute;
        display: none;
        width: 16px;
        height: 16px;
        background-color: #FFFFFF;
        bottom: 0;

        &:before {
          content: '';
          position: absolute;
          display: block;
          width: 16px;
          height: 16px;
          background-color: $activeElementBG;
        }
      }

      .before {
        left: -16px;

        &:before {
          border-radius: 0 0 16px 0;
        }
      }

      .after {
        right: -16px;

        &:before {
          border-radius: 0 0 0 16px;
        }
      }
    }
  }
}

.filter-tabs div.filter-tab-on-all {
  background-image: url("~src/assets/images/widgets/preview/all_w_prev.png");
  background-position: 5% center;
  background-repeat: no-repeat;
}

.filter-tabs div.filter-tab-on-popup {
  background-image: url("~src/assets/images/widgets/preview/popup_w_prev.png");
  background-position: 5% center;
  background-repeat: no-repeat;
}

.filter-tabs div.filter-tab-on-containerized {
  background-image: url("~src/assets/images/widgets/preview/static_widget_prev.png");
  background-position: 5% center;
  background-repeat: no-repeat;
}

.filter-tabs div.filter-tab-on-optindot {
  background-image: url("~src/assets/images/widgets/preview/dot_w_prev.png");
  background-position: 5% center;
  background-repeat: no-repeat;
}

.filter-tabs div.filter-tab-on-label_widget {
  background-image: url("~src/assets/images/widgets/preview/label_w_prev.png");
  background-position: 5% center;
  background-repeat: no-repeat;
}

p {
  font-family: Lato;
}

.search-results {
  height: 100%;
}

.title {
  position: fixed;
  top: 50%;
  transform: translateY(-70%);
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  width: 100%;
}

.title small {
  color: #eaeaea;
}

@media (max-width: 1410px) {
  .filter-tabs div {
    padding-left: 10px;
    width: 200px;
    background-image: none !important;
  }
}
