.filter-tabs {
  display: flex;
  justify-content: center;
}

.filter-tabs div {
  width: 258px;
  padding: 6px 10px 10px 75px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: #f3f3f3;
  cursor: pointer;
  margin: 0 7px;
}

.filter-tabs div:first-child {
  margin-left: 0;
}

.filter-tabs div:last-child {
  margin-right: 0;
}

.filter-tabs div.active {
  background-color: #ffffff;
  border-color: #4fa6e0;
  border-bottom: 1px solid #fff;
  z-index: 4;
}

.filter-tabs span.filter-tab-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  color: #2c3239;
  margin-bottom: 2px;
}

.filter-tabs span.filter-tab-sub {
  display: block;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #2c3239;
}

.filter-tabs div.filter-tab-on-all {
  background-image: url("~src/assets/images/widgets/preview/all_w_prev.png");
  background-position: 10px 9px;
  background-repeat: no-repeat;
}

.filter-tabs div.filter-tab-on-popup {
  background-image: url("~src/assets/images/widgets/preview/popup_w_prev.png");
  background-position: 10px 9px;
  background-repeat: no-repeat;
}

.filter-tabs div.filter-tab-on-containerized {
  background-image: url("~src/assets/images/widgets/preview/static_widget_prev.png");
  background-position: 10px 9px;
  background-repeat: no-repeat;
}

.filter-tabs div.filter-tab-on-optindot {
  background-image: url("~src/assets/images/widgets/preview/dot_w_prev.png");
  background-position: 10px 9px;
  background-repeat: no-repeat;
}

.filter-tabs div.filter-tab-on-label_widget {
  background-image: url("~src/assets/images/widgets/preview/label_w_prev.png");
  background-position: 10px 9px;
  background-repeat: no-repeat;
}

.just-blue-line {
  position: relative;
  z-index: 3;
  margin-top: -1px;
  height: 1px;
  background-color: #4fa6e0;
}

.main-content-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.min-w-1353 {
  min-width: 1353px;
  max-width: 1353px;
}

@media (max-width: 1410px) {
  .filter-tabs div {
    padding-left: 10px;
    width: 200px;
    background-image: none!important;
  }

  .min-w-1353 {
    min-width: 1068px;
    max-width: 1100px;
  }

  .test-scroll-inf {
    justify-content: flex-start;
  }
}
