<div class="filter-tabs" *ngIf="types && types.length">
  <div *ngFor="let type of types; track by $index" class="{{type.class}}" (click)="filterByTab(type.code, type.id)" [ngClass]="{'active': isTabsActive(type.code)}">
    <span class="filter-tab-title">{{type.name}}</span>
    <span class="filter-tab-sub">{{type.sub}}</span>
  </div>
</div>
<div class="just-blue-line"></div>

<div class="main-content-container min-w-1353" [ngClass]="{'main-content-container-loader': isLoaderActive}">
  <div class="filters-loader"></div>

  <div class="left-panel-filter">
    <span class="left-panel-filter-title">{{ 'widgetsList.add.modal.gallery.category.title' | translate }}</span>
    <div class="left-panel-filter-categories">
      <div class="left-panel-filter-categories-container">
        <div *ngFor="let grp of groups">
          <h5 [ngClass]="($index != 0)?'margined-top-20':''">
            {{grp.name}}
          </h5>
          <div class="left-category-item" *ngFor="cat in grp.categories">
            <div class="left-panel-filter-categories-category">
              <label class="non-bold">
                <checkbox ng-model="cat.checked" ng-change="filterByCat(cat.checked, cat.id)" class="checkbox-green-btn"></checkbox>
                {{cat.name}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-widgets-list">
    <div class="alert-if-empty" *ngIf="mockups.length === 0">
      <h3>{{ 'widgetsList.add.modal.gallery.filter.notfound' | translate }}</h3>
    </div>
    <div class="test-scroll-inf" infinite-scroll="loadMore()" infinite-scroll-immediate-check="false" infinite-scroll-parent>
      <div class="mockup-selector-categories-mockups-item-container" *ngFor="let mckp of mockups">
        <div class="mockup-selector-categories-mockups-item">
          <div class="mockup-selector-categories-mockups-item-hover">
            <button (click)="saveWidget(mckp)" type="button" class="btn btn-success"><i class="fa fa-check"></i> {{ 'widgetsList.add.params.select' | translate }}</button>
          </div>
          <div class="mockup-selector-categories-mockups-item-content">
            <div id="mockup-selector-categories-mockups-item-tariff-container">

            </div>
            <img [src]="mckp.preview" alt="preview">
            <div class="mockup-selector-categories-mockups-item-title">
              <div>
                <div>{{mckp.name}}</div>
              </div>
            </div>
            <div class="mockup-selector-categories-mockups-item-desc">
              <div>
                <div>{{mckp.description}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
