.wrapper-test {
  padding-bottom: 25px;
}

.wrapper-test-header {
  display: flex;
  justify-content: space-between;
}

.wrapper-test-filter-sites {
  width: 300px;
}

.site-selector {
  min-width: 300px;
}

.site-selector .dropdown-toggle {
  text-align: left;
  width: 100%;
}

.site-selector .caret {
  float: right;
  position: relative;
  top: 8px;
}

.btn {
  border-radius: 3px;
  font-size: 14px;
  white-space: nowrap;
}

.btn:hover, .btn:focus, .btn.focus {
  text-decoration: none;
  box-shadow: none;
}

.btn:active:not(:disabled), .btn.active:not(:disabled) {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.main-content-container-ab-loader {
  background-image: url("~src/assets/images/core/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 60px;
  width: 60px;
  margin-left: -30px;
  left: 50%;
  position: absolute;
  top: 200px;
}

.test-item {
  margin-top: 25px;
  background-color: #fff;
  padding: 15px 10px;
  border: 1px solid #e4e5e7;
}

.test-item-header {
  display: flex;
  justify-content: space-between;
}

.test-item-name,
.test-item-desc {
  display: inline-block;
  position: relative;
  border: none;
  padding-right: 20px;
  line-height: 34px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.test-item-name {
  padding-right: 25px;
}

.test-item-name {
  font-size: 23px;
  color: #6a6c6f;
}

.test-item-desc {
  color: #9e9e9e;
}

.max-edit-text-bl {
  height: 34px;
}

.test-item-left {
  width: 85%;
}

.test-item-right i {
  font-size: 13px;
  padding: 5px;
}

.ab-grid__header--name,
.ab-grid__header--shows,
.ab-grid__header--conv,
.ab-grid__header--update,
.ab-grid__header--onoff,
.ab-grid__header--actions {
  padding: 7px 10px;

}
.ab-grid__item--name,
.ab-grid__item--shows,
.ab-grid__item--conv,
.ab-grid__item--update,
.ab-grid__item--onoff,
.ab-grid__item--actions {
  padding: 7px 10px;
  height: 44px;
  font-size: 14px;
  line-height: 28px;
}
.ab-grid__header--name,
.ab-grid__item--name {
  flex-basis: 35%;
  max-width: 35%;
}
.ab-grid__header--shows,
.ab-grid__item--shows {
  flex-basis: 14%;
  max-width: 14%;
}
.ab-grid__header--conv,
.ab-grid__item--conv {
  flex-basis: 8%;
  max-width: 8%;
}
.ab-grid__header--update,
.ab-grid__item--update {
  flex-basis: 8%;
  max-width: 8%;
}
.ab-grid__header--onoff,
.ab-grid__item--onoff {
  flex-basis: 8%;
  max-width: 8%;
}
.ab-grid__header--actions,
.ab-grid__item--actions {
  flex-basis: 15%;
  max-width: 15%;
}
.ab-grid__item--onoff,
.ab-grid__item--actions {
  display: flex;
  align-items: center;
}
.ab-grid__item--actions .btn {
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.ab-grid__item--name {
  position: relative;
  padding-left: 22px;
}

.ab-grid__item--actions {
  padding-right: 24px;
  justify-content: flex-end;
}
.ab-grid__header--actions {
  padding-right: 24px;
  text-align: right;
}

