<div class="border-item">
  <div>
    <div class="col-lg-12">
      <h4 class="h4-element-title">
        Отступ &#35;{{ modelName.counter }} <a (click)="removeElementFromElementsList(index)" href="javascript:void(0);"><i class="remove-sub-item fa fa-trash-o"></i></a>
      </h4>
    </div>
    <div class="clearfix"></div>
    <div class="row row-subitem pt-1">
      <div class="col-sm-12 row-subitem-padding pt-1">
        <input type="number" min="15" class="form-control form-control-font form-cntrl-45w" [(ngModel)]="modelName.padding">
        <label class="control-label">px <span>размер отступа</span></label>
      </div>
    </div>
  </div>
</div>
