<div class="page-title">
  <h1 class="title-main">{{ 'sidebar.abtests' | translate }}</h1>
  <a
    href="http://leadgenic.userecho.com/topics/355-instruktsiya-po-rabote-s-sistemoj-ab-testirovaniya-vidzhetov/"
    target="_blank"
  >
    {{ 'abtests.active.instruction' | translate }}
  </a>
</div>

<h2>{{ 'abtests.show' | translate }}</h2>
<div class="filters">
  <div class="filter">
    <div class="dropdown">
      <button
        aria-expanded="true"
        aria-haspopup="true"
        class="btn btn-default dropdown-toggle"
        data-toggle="dropdown"
        type="button"
      >
        <span *ngIf="currSite.trim().length === 0">{{ 'widgetsList.add.chooseSite' | translate }}</span>
        {{ getCroppedString(getSiteName(currSite), 30, '…') }}
      </button>
      <ul class="dropdown-menu">
        <li (click)="setCurrSite(site)" *ngFor="let site of sites">
          <a class="dropdown-item">{{ site.name }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="filter">
    <div class="btn-group">
      <button (click)="getTestsByState('ALL')" [class.active]="showWhat === 'ALL'" class="btn btn-default">
        {{ 'abtests.active.all' | translate }}
      </button>
      <button (click)="getTestsByState('ACTIVE')" [class.active]="showWhat === 'ACTIVE'" class="btn btn-default">
        {{ 'abtests.active.active' | translate }}
      </button>
      <button (click)="getTestsByState('PAUSED')" [class.active]="showWhat === 'PAUSED'" class="btn btn-default">
        {{ 'abtests.active.paused' | translate }}
      </button>
    </div>
  </div>
</div>

<div class="flex-column toolbar-content">
  <div class="wrapper-test">
    <div *ngIf="!allABTests.length || showOnlyIfNoTestsForCurrentSite" class="mt-4">
      <h3 class="f-0 text-center">{{ 'abtests.active.noCreated.title' | translate }}</h3>
      <h4 class="f-2 text-center">{{ 'abtests.active.noCreated.desc' | translate }}</h4>
      <div class="how-to-add-test-bg"></div>
    </div>

    <div
      *ngIf="allABTests.length && !abTests.length && (showWhat === 'PAUSED') && !showOnlyIfNoTestsForCurrentSite"
      class="mt-3"
    >
      <h3 class="f-0 text-center">{{ 'abtests.active.noPaused' | translate }}</h3>
    </div>

    <div
      *ngIf="allABTests.length && !abTests.length && (showWhat === 'ACTIVE') && !showOnlyIfNoTestsForCurrentSite"
      class="mt-3"
    >
      <h3 class="f-0 text-center">{{ 'abtests.active.noActive' | translate }}</h3>
    </div>
  </div>
</div>

<ng-container *ngIf="isLoaded; else loadingTemplate">
  <section class="tests-container">
    <ng-container *ngFor="let test of abTests; index as outerIndex">
      <app-card [id]="'testIdNum-' + test.id" [class.active]="test.state === 'ACTIVE'" class="app-card">
        <div class="ab-test">
          <div class="ab-test-header">
            <div class="header-left">
              <cool-inline-edit-field
                (editStarted)="fixOldTest(test)"
                (saved)="updateTest(test)"
                [(ngModel)]="test.name"
                [emptyText]="'abtests.active.addTitle' | translate"
                class="test-item-name"
                name="name"
              >
              </cool-inline-edit-field>
              <cool-inline-edit-field
                (editStarted)="fixOldTest(test)"
                (saved)="updateTest(test)"
                [(ngModel)]="test.description"
                [emptyText]="'abtests.active.addDescription' | translate"
                class="test-item-desc"
                name="desc"
              >
              </cool-inline-edit-field>
            </div>
            <div class="header-right">
              <div class="btn-group">
                <button
                  (click)="startTest(test)"
                  [class.active]="test.state === 'ACTIVE'"
                  class="btn btn-sm btn-default start-widget-btn"
                  data-container="body"
                  data-placement="top"
                  data-toggle="tooltip"
                  title="{{ 'abtests.active.runTest' | translate }}"
                >
                  <span inlineSVG="./assets/images/core/play.svg"></span>
                </button>
                <button
                  (click)="pauseTest(test)"
                  [class.active]="test.state !== 'ACTIVE'"
                  class="btn btn-sm btn-default stop-widget-btn"
                  data-container="body"
                  data-placement="top"
                  data-toggle="tooltip"
                  title="{{ 'abtests.active.pauseTest' | translate }}"
                >
                  <span inlineSVG="./assets/images/core/pause.svg"></span>
                </button>
              </div>
              <div class="btn-group">
                <button
                  (click)="deleteTest(test.id, outerIndex)"
                  class="btn btn-sm btn-default"
                  data-container="body"
                  data-placement="top"
                  data-toggle="tooltip"
                  title="{{ 'abtests.active.stopTest' | translate }}"
                >
                  <span inlineSVG="./assets/images/core/stop.svg"></span>
                </button>
              </div>
            </div>
          </div>

          <div class="ab-test-graph">
            <ng-container *ngIf="test.chartData.length; else noDataTemplate">
              <canvas
                *ngIf="test.chartData.length"
                [colors]="test.chartColors"
                [data]="test.chartData"
                [labels]="test.chartLabels"
                [legend]="false"
                [options]="chartOptions"
                baseChart
                chartType="line"
                id="line"
              ></canvas>
            </ng-container>
            <ng-template #noDataTemplate>
              <h4>{{ 'global.noData' | translate }}</h4>
            </ng-template>
          </div>

          <div class="ab-test-table">
            <table>
              <thead>
                <th class="name">{{ 'abtests.variant' | translate }}</th>
                <th class="shows">{{ 'abtests.actions' | translate }}</th>
                <th class="conv">{{ 'abtests.conversion' | translate }}</th>
                <th class="update">{{ 'abtests.improvement' | translate }}</th>
                <th class="onoff">{{ 'abtests.active.toggle' | translate }}</th>
                <th class="actions">{{ 'abtests.active.management' | translate }}</th>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of test.variants; index as innerIndex; trackBy: trackById">
                  <tr [class.inactive]="!item.active">
                    <td class="name">
                      <div class="name-container">
                        <div [ngStyle]="{ 'background-color': item.color }" class="colored-item-circle"></div>
                        <cool-inline-edit-field
                          (saved)="updateVariantName(test, item)"
                          [emptyText]="'empty'"
                          [ngModel]="item.name"
                          class="test-item-desc long-text"
                          name="desc"
                        ></cool-inline-edit-field>
                      </div>
                    </td>
                    <td class="shows">
                      {{ item.convInfo.n | thousandSuffix:2}} / {{item.convInfo.s | thousandSuffix:2 }}
                    </td>
                    <td class="conv">{{ item.convInfo.conversion }}</td>
                    <td
                      *ngIf="item.convInfo"
                      [innerHTML]="showBetterToValue(item)"
                      [ngClass]="getClassForBetterTo(item)"
                      class="update"
                    ></td>
                    <td class="onoff">
                      <div class="onoff-container">
                        <ui-switch
                          (change)="changeVariantState(item, test)"
                          [checked]="item.active"
                          size="medium"
                        ></ui-switch>
                      </div>
                    </td>
                    <td class="actions">
                      <div class="buttons-container">
                        <div
                          [ngClass]="item.etalon ? 'margined-right-76' : 'margined-right-14'"
                          class="btn-group edit-btns"
                        >
                          <button
                            (click)="goToEdit(test.siteId, item.id)"
                            class="btn btn-sm btn-default"
                            data-container="body"
                            data-placement="top"
                            data-toggle="tooltip"
                            title="{{ 'abtests.active.variant.edit' | translate }}"
                          >
                            <span inlineSVG="./assets/images/core/settings.svg"></span>
                          </button>
                          <button
                            (click)="cloneVariant(test, item, innerIndex, outerIndex)"
                            class="btn btn-sm btn-default"
                            data-container="body"
                            data-placement="top"
                            data-toggle="tooltip"
                            title="{{ 'abtests.active.variant.copy' | translate }}"
                          >
                            <span inlineSVG="./assets/images/core/copy.svg"></span>
                          </button>
                          <button
                            *ngIf="!item.etalon"
                            (click)="deleteVariant(test, item.id, innerIndex, outerIndex)"
                            class="btn btn-sm btn-default"
                            data-container="body"
                            data-placement="top"
                            data-toggle="tooltip"
                            title="{{ 'abtests.active.variant.delete' | translate }}"
                          >
                            <span inlineSVG="./assets/images/core/delete-icon.svg"></span>
                          </button>
                        </div>
                        <div *ngIf="!item.etalon" class="btn-group">
                          <button
                            (click)="setWinner(test.id, item.id, outerIndex)"
                            class="btn btn-sm btn-default"
                            data-container="body"
                            data-placement="top"
                            data-toggle="tooltip"
                            title="{{ 'abtests.active.variant.winner' | translate }}"
                          >
                            <span inlineSVG="./assets/images/core/trophy.svg"></span>
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>

          <div class="ab-test-footer">
            <button (click)="addVariant(test, outerIndex)" class="btn" type="button">
              <span inlineSVG="./assets/images/core/plus.svg"></span>
              {{ 'abtests.active.variant.add' | translate }}
            </button>
            <button (click)="resetStats(test)" class="btn" type="button">
              <span inlineSVG="./assets/images/core/delete-icon.svg"></span>
              {{ 'abtests.active.reset' | translate }}
            </button>
          </div>
        </div>
      </app-card>
    </ng-container>
  </section>
</ng-container>
<ng-template #loadingTemplate>
  <div class="main-content-container-ab-loader"></div>
</ng-template>
