.timer-template-wrapper .remove-widget-redirect {
  top: 7px;
  right: 23px;
}

.timer-null-data-block label {
  margin-right: 15px;
}
.type1-flexed-row {
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.type1-flexed-row-item {
  margin-right: 10px;
}
