<div class="timer-template-wrapper">
  <!-- SETTINGS -->
  <div class="row-subitem row-subitem-padding">
    <h3>{{ 'widgets.timerDirective.countdown.title' | translate }}</h3>
    <div class="dropdown mt-1">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
        {{ item.type.label }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li role="presentation" *ngFor="let itemType of timerTypes" (click)="item.type = itemType">
          <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemType.label }}</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- to current date -->
  <div *ngIf="item.type.type === 0">
    <div class="row-subitem row-subitem-padding mt-3 pt-1">
      <app-timer-datepicker [item]="item"></app-timer-datepicker>
    </div>

    <div class="row-subitem mt-3 pt-1 border-item">
      <h3>{{ 'widgets.timerDirective.timezone.title' | translate }}</h3>
      <div class="flex-bl-for-radio-group mt-3">
        <div class="row-subitem-padding radio-group-item mr-5">
          <div class="form-group widget-selector mb-0">
            <label>
              <input type="radio" class="radio radio-info radio-inline" [(ngModel)]="item.timezoneType" value="local">
              {{ 'widgets.timerDirective.timezone.local' | translate }}
            </label>
          </div>
        </div>
        <div class="row-subitem-padding radio-group-item">
          <div class="form-group widget-selector mb-0">
            <label>
              <input type="radio" class="radio radio-info radio-inline" [(ngModel)]="item.timezoneType" value="gmt">
              {{ 'widgets.timerDirective.timezone.gmt' | translate }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- to interval -->
  <div *ngIf="item.type.type === 1">
    <div class="type1-flexed-row row-subitem mt-3 border-item">
      <div class="type1-flexed-row-item pr-3">
        <label class="control-label control-label-des switcher-label-xs pb-1">{{ 'widgets.timerDirective.label.days' | translate }}</label>
        <input type="number" min="0" max="99" class="form-control form-control-font form-control-block" [(ngModel)]="item.type1Model.d">
      </div>

      <div class="type1-flexed-row-item pr-3">
        <label class="control-label control-label-des switcher-label-xs pb-1">{{ 'widgets.timerDirective.label.hours' | translate }}</label>
        <input type="number" min="0" max="24" class="form-control form-control-font form-control-block" [(ngModel)]="item.type1Model.h">
      </div>

      <div class="type1-flexed-row-item pr-3">
        <label
          class="control-label control-label-des switcher-label-xs pb-1">{{ 'widgets.timerDirective.label.mins' | translate }}</label>
        <input type="number" min="0" max="59" class="form-control form-control-font form-control-block" [(ngModel)]="item.type1Model.m">
      </div>

      <div class="type1-flexed-row-item">
        <label class="control-label control-label-des switcher-label-xs pb-1">{{ 'widgets.timerDirective.label.secs' | translate }}</label>
        <input type="number" min="0" max="59" class="form-control form-control-font form-control-block" [(ngModel)]="item.type1Model.s">
      </div>
    </div>

    <div class="border-item">
      <div class="d-flex row-subitem justify-content-between row-subitem-padding mt-3">
        <label class="control-label switcher-label-xs control-label-des">
          {{ 'widgets.timerDirective.loop.label' | translate }}
        </label>
        <ui-switch
          size="small"
          [(ngModel)]="item.loop.enable"
        ></ui-switch>
      </div>

      <div *ngIf="item.loop.enable">
        <div class="row-subitem row-subitem-padding widget-small-text mt-1">
          {{ 'widgets.timerDirective.loop.desc' | translate }}
        </div>

        <div class="type1-flexed-row row-subitem mt-3">
          <div class="type1-flexed-row-item pr-3">
            <label class="control-label control-label-des switcher-label-xs pb-1">{{ 'widgets.timerDirective.label.days' | translate }}</label>
            <input type="number" min="0" max="99" class="form-control form-control-font form-control-block" [(ngModel)]="item.loop.model.d">
          </div>

          <div class="type1-flexed-row-item pr-3">
            <label class="control-label control-label-des switcher-label-xs pb-1">{{ 'widgets.timerDirective.label.hours' | translate }}</label>
            <input type="number" min="0" max="24" class="form-control form-control-font form-control-block" [(ngModel)]="item.loop.model.h">
          </div>

          <div class="type1-flexed-row-item pr-3">
            <label class="control-label control-label-des switcher-label-xs pb-1">{{ 'widgets.timerDirective.label.mins' | translate }}</label>
            <input type="number" min="0" max="59" class="form-control form-control-font form-control-block" [(ngModel)]="item.loop.model.m">
          </div>

          <div class="type1-flexed-row-item">
            <label class="control-label control-label-des switcher-label-xs pb-1">{{ 'widgets.timerDirective.label.secs' | translate }}</label>
            <input type="number" min="0" max="59" class="form-control form-control-font form-control-block" [(ngModel)]="item.loop.model.s">
          </div>
        </div>
      </div>
    </div>

    <div class="row-subitem row-subitem-padding form-ext-item__item-input mt-3 border-item">
      <h3>{{ 'widgets.timerDirective.id.label' | translate }}</h3>
      <input type="text" class="form-control form-control-form-ext-id-field" [(ngModel)]="item.id">
      <span class="input-down-sm-lab">{{ 'widgets.timerDirective.id.desc1' | translate }}</span>
      <span
        class="row-subitem row-subitem-padding mt-2 input-down-sm-lab"
        [innerHTML]="'widgets.timerDirective.id.desc2' | translate"
      ></span>
    </div>
  </div>

  <div class="row-subitem row-subitem-padding mt-3 border-item">
    <h3>{{ 'widgets.timerDirective.countdown.action.title' | translate }}</h3>

    <div class="dropdown mt-2">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
        {{ item.expType.label }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li role="presentation" *ngFor="let itemType of expTypes" (click)="item.expType = itemType">
          <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemType.label }}</a>
        </li>
      </ul>
    </div>

    <div *ngIf="item.expType.type === 1" class="row-subitem row-subitem-padding form-ext-item__item-input mt-2">
      <input type="text" class="form-control" [(ngModel)]="item.expUrl" placeholder="http://">
      <a *ngIf="item.expUrl" (click)="item.expUrl = ''" class="remove-widget-name remove-widget-redirect"></a>
    </div>
  </div>


  <!-- DESIGN -->
  <h3 class="mt-3">{{ 'widgets.timerDirective.design.title' | translate }}</h3>

  <div class="d-flex align-items-center justify-content-between mt-2 pt-1">
    <label class="control-label control-label-des">{{ 'widgets.timerDirective.design.bgWidth' | translate }}</label>
    <div class="align-items-center">
      <div class="form-control form-control-font">
        <input
          type="number"
          [(ngModel)]="item.design.bgWidth"
        />
        <label>px</label>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-between mt-2 pt-1">
    <label class="control-label control-label-des">{{ 'widgets.timerDirective.design.bgHeight' | translate }}</label>
    <div class="align-items-center">
      <div class="form-control form-control-font">
        <input
          type="number"
          [(ngModel)]="item.design.bgHeight"
        />
        <label>px</label>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-3">
    <h5 class="label-style-ic control-label-des">Скругление углов</h5>
    <div class="d-flex text-right side-ui-sm">
      <ngx-slider [(value)]="item.design.radius" [options]="optionsRound"></ngx-slider>
      <input
        [(ngModel)]="item.design.radius"
        class="picker-input slider"
      />
    </div>
  </div>

  <div class="d-flex justify-content-between row-subitem row-subitem-padding mt-3 border-item">
    <label class="control-label control-label-des">Выравнивание</label>
    <div>
      <button
        class="align-button icon-left"
        [class.active]="item.design.align.label === alignValues[0].label"
        (click)="item.design.align = alignValues[0]"
      ></button>
      <button
        class="align-button icon-center"
        [class.active]="item.design.align.label === alignValues[1].label"
        (click)="item.design.align = alignValues[1]"
      ></button>
      <button
        class="align-button icon-right"
        [class.active]="item.design.align.label === alignValues[2].label"
        (click)="item.design.align = alignValues[2]"
      ></button>
    </div>
  </div>

  <div class="row-subitem mt-3">
    <h3>{{ 'widgets.timerDirective.design.fontNumber' | translate }}</h3>
    <div class="row-subitem-padding mt-3">
      <input type="text" [id]="'font-picker-number-timer' + index">
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-between mt-2 border-item">
    <label class="control-label control-label-des">Размер</label>
    <div class="row align-items-center">
      <div class="form-control form-control-font">
        <input
          type="number"
          [(ngModel)]="item.design.fontNumberSize"
        />
        <label>px</label>
      </div>
    </div>
  </div>

  <div class="row-subitem mt-3">
    <h3>{{ 'widgets.timerDirective.design.fontLabel' | translate }}</h3>
    <div class="row-subitem-padding mt-3">
      <input type="text" [id]="'font-picker-label-timer' + index">
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-between mt-2 border-item">
    <label class="control-label control-label-des">Размер</label>
    <div class="row align-items-center">
      <div class="form-control form-control-font">
        <input
          type="number"
          [(ngModel)]="item.design.fontLabelSize"
        />
        <label>px</label>
      </div>
    </div>
  </div>

  <div class="mt-3 border-item">
    <h3>Цвет</h3>

    <div class="d-flex justify-content-between mt-3 pt-1">
      <label class="control-label control-label-des">{{ 'widgets.timerDirective.design.colorText' | translate }}</label>
      <div class="d-flex text-right">
        <input
          [(colorPicker)]="item.design.colorText"
          [style.background]="item.design.colorText"
          [cpAlphaChannel]="'disabled'"
          [cpOutputFormat]="'hex'"
          cpPosition="left"
          class="color-picker-control"
readonly
        />
        <input
          [(ngModel)]="item.design.colorText"
          class="picker-input color"
        />
      </div>
    </div>

    <div class="d-flex justify-content-between mt-3">
      <label class="control-label control-label-des">{{ 'widgets.timerDirective.design.colorBG' | translate }}</label>
      <div class="d-flex text-right">
        <input
          [(colorPicker)]="item.design.colorBG"
          [style.background]="item.design.colorBG"
          [cpAlphaChannel]="'disabled'"
          [cpOutputFormat]="'hex'"
          cpPosition="left"
          class="color-picker-control"
readonly
        />
        <input
          [(ngModel)]="item.design.colorBG"
          class="picker-input color"
        />
      </div>
    </div>

    <div class="d-flex justify-content-between mt-3">
      <label class="control-label control-label-des">{{ 'widgets.timerDirective.design.colorDivider' | translate }}</label>
      <div class="d-flex text-right">
        <input
          [(colorPicker)]="item.design.colorDivider"
          [style.background]="item.design.colorDivider"
          [cpAlphaChannel]="'disabled'"
          [cpOutputFormat]="'hex'"
          cpPosition="left"
          class="color-picker-control"
readonly
        />
        <input
          [(ngModel)]="item.design.colorDivider"
          class="picker-input color"
        />
      </div>
    </div>

    <div class="d-flex justify-content-between mt-3">
      <label class="control-label control-label-des">{{ 'widgets.timerDirective.design.colorIntervalName' | translate }}</label>
      <div class="d-flex text-right">
        <input
          [(colorPicker)]="item.design.colorIntervalName"
          [style.background]="item.design.colorIntervalName"
          [cpAlphaChannel]="'disabled'"
          [cpOutputFormat]="'hex'"
          cpPosition="left"
          class="color-picker-control"
readonly
        />
        <input
          [(ngModel)]="item.design.colorIntervalName"
          class="picker-input color"
        />
      </div>
    </div>

    <div class="d-flex justify-content-between mt-3">
      <h5 class="label-style-ic control-label-des">Прозрачность</h5>
      <div class="d-flex text-right side-ui-sm">
        <ngx-slider
          [(value)]="item.design.opacity"
          [options]="optionsOpacity"
        ></ngx-slider>
        <input
          [(ngModel)]="item.design.opacity"
          class="picker-input slider"
        />
      </div>
    </div>
  </div>

  <div class="row-subitem mt-3">
    <h3>{{ 'widgets.timerDirective.design.nullData.label' | translate }}</h3>
  </div>
  <div class="row-subitem mt-3 timer-null-data-block">
    <div class="d-flex row-subitem-padding">
      <div class="form-check">
        <label class="form-check-label mr-2">
          <input
            type="checkbox"
            [(ngModel)]="item.design.nullData.d"
            (change)="setNullData('d')"
            class="form-check-input"
          />
          <span class="checkmark"></span>
        </label>
        <span class="f-3">{{ 'widgets.timerDirective.labelShort.days' | translate }}</span>
      </div>

      <div class="form-check ml-5 pl-4">
        <label class="form-check-label mr-2">
          <input
            type="checkbox"
            [(ngModel)]="item.design.nullData.h"
            (change)="setNullData('h')"
            class="form-check-input"
          />
          <span class="checkmark"></span>
        </label>
        <span class="f-3">{{ 'widgets.timerDirective.labelShort.hours' | translate }}</span>
      </div>

      <div class="form-check ml-5 pl-4">
        <label class="form-check-label mr-2">
          <input
            type="checkbox"
            [(ngModel)]="item.design.nullData.m"
            (change)="setNullData('m')"
            class="form-check-input"
          />
          <span class="checkmark"></span>
        </label>
        <span class="f-3">{{ 'widgets.timerDirective.labelShort.mins' | translate }}</span>
      </div>
    </div>
  </div>

  <div class="row-subitem row-subitem-padding widget-small-text mt-2 border-item">
    {{ 'widgets.timerDirective.design.nullData.desc' | translate }}
  </div>

  <div class="d-flex row-subitem justify-content-between row-subitem-padding mt-3">
    <label class="control-label switcher-label-xs control-label-des">
      {{ 'widgets.timerDirective.design.tempInterval.label' | translate }}
    </label>
    <ui-switch
      size="small"
      [(ngModel)]="item.design.tempInterval.enable"
    ></ui-switch>
  </div>

  <div *ngIf="item.design.tempInterval.enable">
    <div class="row-subitem row-subitem-padding pt-1 form-ext-item__item-input mt-2">
      <label class="control-label control-label-des switcher-label-xs mb-1">
        {{ 'widgets.timerDirective.design.tempInterval.days' | translate }}
      </label>
      <input type="text" class="form-control" [(ngModel)]="item.design.tempInterval.dText">
    </div>

    <div class="row-subitem row-subitem-padding pt-1 form-ext-item__item-input mt-2">
      <label class="control-label control-label-des switcher-label-xs mb-1">
        {{ 'widgets.timerDirective.design.tempInterval.hours' | translate }}
      </label>
      <input type="text" class="form-control" [(ngModel)]="item.design.tempInterval.hText">
    </div>

    <div class="row-subitem row-subitem-padding pt-1 form-ext-item__item-input mt-2">
      <label class="control-label control-label-des switcher-label-xs mb-1">
        {{ 'widgets.timerDirective.design.tempInterval.mins' | translate }}
      </label>
      <input type="text" class="form-control" [(ngModel)]="item.design.tempInterval.mText">
    </div>

    <div class="row-subitem row-subitem-padding pt-1 form-ext-item__item-input mt-2 mb-3">
      <label class="control-label control-label-des switcher-label-xs mb-1">
        {{ 'widgets.timerDirective.design.tempInterval.secs' | translate }}
      </label>
      <input type="text" class="form-control" [(ngModel)]="item.design.tempInterval.sText">
    </div>
  </div>
</div>
