.timer-template-wrapper .remove-widget-redirect {
  top: 7px;
  right: 11px;
}

.timer-null-data-block label {
  margin-right: 15px;
}

.type1-flexed-row {
  display: flex;
  align-items: center;
}

.type1-flexed-row-item {
  margin-right: 10px;
}

.form-ext-item__item-input {
  position: relative;

  .control-label {
    font-size: 14px;
  }
}
