<div class="border-item timer-template-wrapper">
  <div>
    <h4 class="h4-element-title mb-0">
      {{ 'widgets.timerDirective.title' | translate }} &#35;{{ item.counter }} <a
      (click)="removeElementFromElementsList(index)" href="javascript:void(0);"><i class="remove-sub-item far fa-trash-alt"></i></a>
    </h4>
    <div class="clearfix"></div>

    <!-- SETTINGS -->
    <div class="mb-1">
      <h4 class="h4-text-tit control-label-des helper-title-3level">{{ 'widgets.timerDirective.settings.title' | translate }}</h4>
    </div>

    <div class="row row-subitem mt-2">
      <div class="col-sm-12 row-subitem-padding pt-1">
        <label class="control-label control-label-des">{{ 'widgets.timerDirective.countdown.title' | translate }}:</label>
        <div class="dropdown" >
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {{ item.type.label }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" *ngFor="let itemType of timerTypes" (click)="item.type = itemType">
              <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemType.label }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- to current date -->
    <div *ngIf="item.type.type === 0">
      <div class="row row-subitem mt-2">
        <div class="col-sm-12 row-subitem-padding">
          <app-timer-datepicker [item]="item"></app-timer-datepicker>
        </div>
      </div>

      <div class="row row-subitem mt-2">
        <div class="col-sm-12 row-subitem-padding">
          <h4 class="h4-text-tit control-label-des">{{ 'widgets.timerDirective.timezone.title' | translate }}</h4>
        </div>
        <div class="clearfix"></div>
        <div class="flex-bl-for-radio-group">
          <div class="row-subitem-padding radio-group-item">
            <div class="form-group widget-selector">
              <label>
                <input type="radio" class="radio radio-info radio-inline" [(ngModel)]="item.timezoneType" value="local">
                {{ 'widgets.timerDirective.timezone.local' | translate }}
              </label>
            </div>
          </div>
          <div class="row-subitem-padding radio-group-item">
            <div class="form-group widget-selector">
              <label>
                <input type="radio" class="radio radio-info radio-inline" [(ngModel)]="item.timezoneType" value="gmt">
                {{ 'widgets.timerDirective.timezone.gmt' | translate }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- to interval -->
    <div *ngIf="item.type.type === 1">
      <div class="type1-flexed-row row-subitem mt-1">
        <div class="type1-flexed-row-item pt-1">
          <label class="control-label control-label-des">{{ 'widgets.timerDirective.label.days' | translate }}:</label>
          <input type="number" min="0" max="99" class="form-control form-control-font form-control-block form-cntrl-45w" [(ngModel)]="item.type1Model.d">
        </div>

        <div class="type1-flexed-row-item pt-1">
          <label class="control-label control-label-des">{{ 'widgets.timerDirective.label.hours' | translate }}:</label>
          <input type="number" min="0" max="24" class="form-control form-control-font form-control-block form-cntrl-45w" [(ngModel)]="item.type1Model.h">
        </div>

        <div class="type1-flexed-row-item pt-1">
          <label class="control-label control-label-des">{{ 'widgets.timerDirective.label.mins' | translate }}:</label>
          <input type="number" min="0" max="59" class="form-control form-control-font form-control-block form-cntrl-45w" [(ngModel)]="item.type1Model.m">
        </div>

        <div class="type1-flexed-row-item pt-1">
          <label class="control-label control-label-des">{{ 'widgets.timerDirective.label.secs' | translate }}:</label>
          <input type="number" min="0" max="59" class="form-control form-control-font form-control-block form-cntrl-45w" [(ngModel)]="item.type1Model.s">
        </div>
      </div>

      <div class="row row-subitem mt-3">
        <div class="col-sm-12 row-subitem-padding pt-1 d-flex">
          <ui-switch
            size="small"
            [(ngModel)]="item.loop.enable"
          ></ui-switch><label class="control-label switcher-label-xs control-label-des mt-1 ml-2">{{ 'widgets.timerDirective.loop.label' | translate }}</label>
        </div>
      </div>
      <div *ngIf="item.loop.enable">
        <div class="row row-subitem mt-1">
          <div class="col-sm-12 row-subitem-padding widget-small-text">
            {{ 'widgets.timerDirective.loop.desc' | translate }}
          </div>
        </div>
        <div class="type1-flexed-row row-subitem mt-1">
          <div class="type1-flexed-row-item pt-1">
            <label class="control-label control-label-des">{{ 'widgets.timerDirective.label.days' | translate }}:</label>
            <input type="number" min="0" max="365" class="form-control form-control-font form-control-block form-cntrl-45w" [(ngModel)]="item.loop.model.d">
          </div>

          <div class="type1-flexed-row-item pt-1">
            <label class="control-label control-label-des">{{ 'widgets.timerDirective.label.hours' | translate }}:</label>
            <input type="number" min="0" max="24" class="form-control form-control-font form-control-block form-cntrl-45w" [(ngModel)]="item.loop.model.h">
          </div>

          <div class="type1-flexed-row-item pt-1">
            <label class="control-label control-label-des">{{ 'widgets.timerDirective.label.mins' | translate }}:</label>
            <input type="number" min="0" max="59" class="form-control form-control-font form-control-block form-cntrl-45w" [(ngModel)]="item.loop.model.m">
          </div>

          <div class="type1-flexed-row-item pt-1">
            <label class="control-label control-label-des">{{ 'widgets.timerDirective.label.secs' | translate }}:</label>
            <input type="number" min="0" max="59" class="form-control form-control-font form-control-block form-cntrl-45w" [(ngModel)]="item.loop.model.s">
          </div>
        </div>
      </div>

      <div class="row row-subitem mt-2">
        <div class="col-sm-12 row-subitem-padding pt-1 form-ext-item__item-input">
          <label class="control-label control-label-des">{{ 'widgets.timerDirective.id.label' | translate }}:</label>
          <input type="text" class="form-control form-control-form-ext-id-field" [(ngModel)]="item.id">
          <span class="input-down-sm-lab">{{ 'widgets.timerDirective.id.desc1' | translate }}</span>
        </div>
      </div>
      <div class="row row-subitem">
        <div class="col-sm-12 row-subitem-padding mt-2 widget-small-text" [innerHTML]="'widgets.timerDirective.id.desc2' | translate"></div>
      </div>
    </div>

    <div class="row row-subitem mt-2">
      <div class="col-sm-12 row-subitem-padding pt-1">
        <label class="control-label control-label-des">{{ 'widgets.timerDirective.countdown.action.title' | translate }}:</label>
        <div class="dropdown" >
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {{ item.expType.label }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" *ngFor="let itemType of expTypes" (click)="item.expType = itemType">
              <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemType.label }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div *ngIf="item.expType.type === 1" class="row row-subitem mt-1">
      <div class="col-sm-12 row-subitem-padding pt-1 form-ext-item__item-input">
        <input type="text" class="form-control" [(ngModel)]="item.expUrl">
        <a *ngIf="item.expUrl" href="" (click)="item.expUrl = ''" class="remove-widget-name remove-widget-redirect"></a>
      </div>
    </div>


    <!-- DESIGN -->
    <div class="mt-1 mb-1">
      <h4 class="h4-text-tit control-label-des helper-title-3level">{{ 'widgets.timerDirective.design.title' | translate }}</h4>
    </div>

    <div class="row row-subitem pt-1">
      <div class="col-sm-12 row-subitem-padding">
        <h4 class="h4-text-tit control-label-des">{{ 'widgets.timerDirective.design.fontNumber' | translate }}:</h4>
      </div>
      <div class="col-sm-12 row-subitem-padding">
        <input type="text" [id]="'font-picker-number-timer' + index">
      </div>
    </div>
    <div class="row row-subitem">
      <div class="col-sm-12 row-subitem-padding pt-1 margined-top-10">
        <input type="number" class="form-control form-control-font form-cntrl-45w" [(ngModel)]="item.design.fontNumberSize">
        <label class="control-label ml-1">px <span>{{ 'widgets.font.textSize' | translate }}</span></label>
      </div>
    </div>

    <div class="row row-subitem pt-1 mt-2">
      <div class="col-sm-12 row-subitem-padding">
        <h4 class="h4-text-tit control-label-des">{{ 'widgets.timerDirective.design.fontLabel' | translate }}:</h4>
      </div>
      <div class="col-sm-12 row-subitem-padding">
        <input type="text" [id]="'font-picker-label-timer' + index">
      </div>
    </div>
    <div class="row row-subitem">
      <div class="col-sm-12 row-subitem-padding pt-1 margined-top-10">
        <input type="number" class="form-control form-control-font form-cntrl-45w" [(ngModel)]="item.design.fontLabelSize">
        <label class="control-label ml-1">px <span>{{ 'widgets.font.textSize' | translate }}</span></label>
      </div>
    </div>

    <div class="row row-subitem mt-2">
      <div class="col-sm-6 row-subitem-padding pt-1">
        <label class="control-label control-label-des">{{ 'widgets.timerDirective.design.bgWidth' | translate }}:</label>
        <div class="form-ext-item__width-settings form-ext-item__just-lined-flex">
          <div>
            <input type="number" class="form-control form-control-font form-cntrl-55w" [(ngModel)]="item.design.bgWidth">
            <label class="control-label ml-1">px</label>
          </div>
        </div>
      </div>

      <div class="col-sm-6 row-subitem-padding pt-1">
        <label class="control-label control-label-des">{{ 'widgets.timerDirective.design.bgHeight' | translate }}:</label>
        <div class="form-ext-item__width-settings form-ext-item__just-lined-flex">
          <div>
            <input type="number" class="form-control form-control-font form-cntrl-55w" [(ngModel)]="item.design.bgHeight">
            <label class="control-label ml-1">px</label>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-subitem mt-2">
      <div class="col-sm-12 row-subitem-padding pt-1 side-ui-sm">
        <ngx-slider [(value)]="item.design.opacity" [options]="optionsOpacity"></ngx-slider>
        <label class="control-label control-label-ui ml-2 ">{{ 'widgets.timerDirective.design.bgOpacity' | translate }}</label>
      </div>
    </div>

    <div class="row row-subitem mt-2 mb-2">
      <div class="col-sm-12 row-subitem-padding pt-1 side-ui-sm">
        <ngx-slider [(value)]="item.design.radius" [options]="optionsRound"></ngx-slider>
        <label class="control-label control-label-ui ml-2">{{ 'widgets.timerDirective.design.bgRadius' | translate }}</label>
      </div>
    </div>

    <div class="row row-subitem">
      <div class="col-sm-5 row-subitem-padding pt-1 mr-3">
        <label class="control-label control-label-colorpc control-label-des">{{ 'widgets.timerDirective.design.colorText' | translate }}</label>
        <input
          [(colorPicker)]="item.design.colorText"
          [style.background]="item.design.colorText"
          [cpAlphaChannel]="'disabled'"
          [cpOutputFormat]="'hex'"
          cpPosition="top"
          class="w-100"
        />
      </div>
      <div class="col-sm-6 row-subitem-padding pt-1">
        <label class="control-label control-label-colorpc control-label-des">{{ 'widgets.timerDirective.design.colorBG' | translate }}</label>
        <input
          [(colorPicker)]="item.design.colorBG"
          [style.background]="item.design.colorBG"
          [cpAlphaChannel]="'disabled'"
          [cpOutputFormat]="'hex'"
          cpPosition="top"
          class="w-100"
        />
      </div>
    </div>

    <div class="row row-subitem">
      <div class="col-sm-5 row-subitem-padding pt-1 mr-3">
        <label class="control-label control-label-colorpc control-label-des">{{ 'widgets.timerDirective.design.colorDivider' | translate }}</label>
        <input
          [(colorPicker)]="item.design.colorDivider"
          [style.background]="item.design.colorDivider"
          [cpAlphaChannel]="'disabled'"
          [cpOutputFormat]="'hex'"
          cpPosition="top"
          class="w-100"
        />
      </div>
      <div class="col-sm-6 row-subitem-padding pt-1">
        <label class="control-label control-label-colorpc control-label-des">{{ 'widgets.timerDirective.design.colorIntervalName' | translate }}</label>
        <input
          [(colorPicker)]="item.design.colorIntervalName"
          [style.background]="item.design.colorIntervalName"
          [cpAlphaChannel]="'disabled'"
          [cpOutputFormat]="'hex'"
          cpPosition="top"
          class="w-100"
        />
      </div>
    </div>

    <div class="row row-subitem mt-2 pt-1">
      <div class="col-sm-12 row-subitem-padding mb-1">
        <span class="input-down-sm-lab control-label-des">{{ 'widgets.timerDirective.design.nullData.label' | translate }}</span>
      </div>
    </div>
    <div class="row-subitem pt-1 timer-null-data-block">
      <div class="d-flex row-subitem-padding">
        <div class="form-check pl-2">
          <label class="form-check-label">
            <input
              type="checkbox"
              [(ngModel)]="item.design.nullData.d"
              (change)="setNullData('d')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
          </label>
          {{ 'widgets.timerDirective.labelShort.days' | translate }}
        </div>

        <div class="form-check pl-2 ml-3">
          <label class="form-check-label">
            <input
              type="checkbox"
              [(ngModel)]="item.design.nullData.h"
              (change)="setNullData('h')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
          </label>
          {{ 'widgets.timerDirective.labelShort.hours' | translate }}
        </div>

        <div class="form-check pl-2 ml-3">
          <label class="form-check-label">
            <input
              type="checkbox"
              [(ngModel)]="item.design.nullData.m"
              (change)="setNullData('m')"
              class="form-check-input"
            />
            <span class="checkmark"></span>
          </label>
          {{ 'widgets.timerDirective.labelShort.mins' | translate }}
        </div>
      </div>
    </div>

    <div class="row row-subitem mt-1">
      <div class="col-sm-12 row-subitem-padding widget-small-text">
        {{ 'widgets.timerDirective.design.nullData.desc' | translate }}
      </div>
    </div>

    <div class="row row-subitem mt-2">
      <div class="col-sm-12 row-subitem-padding pt-1">
        <label class="control-label control-label-des">{{ 'widgets.timerDirective.design.align.label' | translate }}</label>
        <div class="dropdown" >
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {{ item.design.align.label }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" *ngFor="let alignItem of alignValues" (click)="item.design.align = alignItem">
              <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ alignItem.label }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row row-subitem mt-3">
      <div class="col-sm-12 row-subitem-padding pt-1 d-flex">
        <ui-switch
          size="small"
          [(ngModel)]="item.design.tempInterval.enable"
        ></ui-switch><label class="control-label switcher-label-xs control-label-des mt-1 ml-2">{{ 'widgets.timerDirective.design.tempInterval.label' | translate }}</label>
      </div>
    </div>
    <div *ngIf="item.design.tempInterval.enable">
      <div class="row row-subitem mt-2">
        <div class="col-sm-12 row-subitem-padding pt-1 form-ext-item__item-input">
          <label class="control-label control-label-des">{{ 'widgets.timerDirective.design.tempInterval.days' | translate }}:</label>
          <input type="text" class="form-control" [(ngModel)]="item.design.tempInterval.dText">
        </div>
      </div>

      <div class="row row-subitem mt-2">
        <div class="col-sm-12 row-subitem-padding pt-1 form-ext-item__item-input">
          <label class="control-label control-label-des">{{ 'widgets.timerDirective.design.tempInterval.hours' | translate }}:</label>
          <input type="text" class="form-control" [(ngModel)]="item.design.tempInterval.hText">
        </div>
      </div>

      <div class="row row-subitem mt-2">
        <div class="col-sm-12 row-subitem-padding pt-1 form-ext-item__item-input">
          <label class="control-label control-label-des">{{ 'widgets.timerDirective.design.tempInterval.mins' | translate }}:</label>
          <input type="text" class="form-control" [(ngModel)]="item.design.tempInterval.mText">
        </div>
      </div>

      <div class="row row-subitem mt-2">
        <div class="col-sm-12 row-subitem-padding pt-1 form-ext-item__item-input">
          <label class="control-label control-label-des">{{ 'widgets.timerDirective.design.tempInterval.secs' | translate }}:</label>
          <input type="text" class="form-control" [(ngModel)]="item.design.tempInterval.sText">
        </div>
      </div>
    </div>
  </div>
</div>
