<div class="w-datepicker" [ngClass]="{'filled': isFilled}">
  <div class="input-group date timer-datepicker-block" id="datetimepicker" data-target-input="nearest" NgTempusdominusBootstrap>
    <input
      data-target="#datetimepicker"
      NgTempusdominusBootstrapInput
      NgTempusdominusBootstrapToggle
      type="text"
      class="form-control datetimepicker-input"
      (change)="change()"
      [style]="'background: ' + st.rgbaInputForm + ';color: ' + st.colorTitleInputForm + ';border-radius: ' + st.borderRadiusInputForm + 'px;border-color: ' + st.border.color"
    />
    <label [style]="'color: ' + st.colorTitleInputForm">{{ item.placeholder }}</label>
  </div>
</div>
