.w-datepicker {
  position: relative;
  height: 42px;
}

.w-datepicker input.form-control {
  position: relative;
  height: 42px;
  background-color: #fff;
  border-color: #e4e5e7 !important;
  color: #6a6c6f;
  font-weight: 200!important;
}

.w-datepicker label {
  cursor: text;
  position: absolute;
  transition: all 0.15s ease;
  top: 10px;
  left: 12px;
  height: 0;
  color: #6a6c6f;
  font-size: 1.1em;
  line-height: 1.6em;
  font-weight: normal;
  white-space: nowrap;
}

.w-datepicker input:focus ~ label,
.w-datepicker.filled label {
  font-size: 0.6em;
  top: 3px;
  left: 12px;
}
