<div>
  <div class="row-subitem row-subitem-padding">
    <input [id]="'font-picker' + index" type="text">
  </div>

  <div class="d-flex align-items-center justify-content-between mt-2 mb-3 border-item">
    <label class="control-label control-label-des">Размер</label>
    <div class="row align-items-center">
      <div class="form-control form-control-font">
        <input
          type="number"
          [(ngModel)]="item.fontSize"
        />
        <label>px</label>
      </div>
    </div>
  </div>

  <div class="d-flex row-subitem justify-content-between w-100 row-subitem-padding">
    <label class="control-label switcher-label-xs control-label-des">
      Тень
    </label>
    <ui-switch
      size="small"
      [(ngModel)]="item.textShadow.enable"
    ></ui-switch>
  </div>


  <div *ngIf="item.textShadow.enable">
    <div class="d-flex justify-content-between mt-3">
      <label class="control-label control-label-des">Цвет</label>
      <div class="text-right">
        <input
          [(colorPicker)]="item.textShadow.color"
          [style.background]="item.textShadow.color"
          [cpAlphaChannel]="'disabled'"
          [cpOutputFormat]="'hex'"
          cpPosition="left"
          class="color-picker-control"
readonly
        />
        <input
          [(ngModel)]="item.textShadow.color"
          class="picker-input color"
        />
      </div>
    </div>

    <div class="d-flex justify-content-between mt-3">
      <h5 class="label-style-ic control-label-des">Прозрачность</h5>
      <div class="d-flex text-right side-ui-sm">
        <ngx-slider [(value)]="widget.guiprops['form'].colorPod.opacityColorPod" [options]="optionsOpacity"></ngx-slider>
        <input
          [(ngModel)]="widget.guiprops['form'].colorPod.opacityColorPod"
          class="picker-input slider"
        />
      </div>
    </div>

    <div class="d-flex justify-content-between mt-3">
      <label class="control-label control-label-des">Сдвиг</label>
      <div>
        <label class="control-label control-label-des mr-1 pr-1">X</label>
        <input
          type="number"
          class="picker-input slider"
          [(ngModel)]="item.textShadow.horiz"
        />
        <label class="control-label control-label-des ml-3 pl-1 mr-1 pr-1">Y</label>
        <input
          type="number"
          class="picker-input slider"
          [(ngModel)]="item.textShadow.vertical"
        />
      </div>
    </div>

    <div class="d-flex justify-content-between mt-3">
      <label class="control-label control-label-des">Размытие</label>
      <div class="d-flex text-right side-ui-sm">
        <ngx-slider [(value)]="item.textShadow.blur" [options]="optionsSharpness"></ngx-slider>
        <input
          type="number"
          [(ngModel)]="item.textShadow.blur"
          class="picker-input slider"
        />
      </div>
    </div>
  </div>
</div>
