.audience-tooolbar-switcher {
  float: left;
  padding-left: 18px !important;
  width: calc(100% - 300px) !important;
}

.audience-tooolbar-desc.integration-tooolbar-desc {
  width: calc(100% - 200px) !important;
}

.integration-item__main {
  flex-basis: 90%;
  max-width: 90%;
  padding: 7px;
  border: 1px solid #e4e5e7;
  color: #6a6c6f;
  display: flex;
}

.integration-item__main-list {
  padding: 9px 7px;
}

.integration-item__name {
  line-height: 30px;
  margin-left: 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.integration-item__main .dropdown,
.integration-item__main .btn {
  width: 100%;
  font-size: 16px;
  padding-left: 0;
  height: 34px;
  padding-top: 0;
  padding-bottom: 0;
  border-color: transparent !important;
}

.integration-item__main .btn .caret {
  position: absolute;
  right: 10px;
  top: 13px;
}

.integration-item__extra {
  display: flex;
  align-items: center;
}

.integration-item__icon_wr {
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.integration-item__icon {
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.integration-item__icon--MAILCHIMP {
  background-image: url('~src/assets/images/sites/mailchimp.jpg');
}

.integration-item__icon--GETRESPONSE {
  background-image: url('~src/assets/images/sites/getresponse.jpg');
}

.integration-item__icon--SENDPULSE {
  background-image: url('~src/assets/images/sites/sendpulse.jpg');
}

.integration-item__icon--SENDBOX {
  background-image: url('~src/assets/images/sites/sendbox.jpg');
}

.integration-item__icon--UNISENDER {
  background-image: url('~src/assets/images/sites/unisender.jpg');
}

.integration-item__icon--BITRIX {
  background-image: url('~src/assets/images/sites/bitrix.jpg');
}

.integration-item__icon--AMOCRM {
  background-image: url('~src/assets/images/sites/amo.jpg');
}

.integration-item__icon--EMAIL {
  background-image: url('~src/assets/images/sites/email.jpg');
}

.integration-item__icon--ROISTAT {
  background-image: url('~src/assets/images/sites/roistat.jpg');
}

.integration-item__icon--WEBHOOK {
  background-image: url('~src/assets/images/sites/webhook.jpg');
}

.remove-sub-item-integration i {
  color: rgb(106, 108, 111);
  font-size: 34px;
}

.remove-sub-item-integration a {
  display: block;
}

.remove-sub-item-integration a[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
}

.integration-selector-item {
  position: relative;
  padding: 5px 20px 5px 35px !important;
  font-size: 14px;
}

.integration-selector-item:before {
  content: "";
  position: absolute;
  left: 4px;
  top: 2px;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  border-radius: 25px;
}

.integration-selector-item.MAILCHIMP:before {
  background-image: url('~src/assets/images/sites/mailchimp.jpg');
}

.integration-selector-item.GETRESPONSE:before {
  background-image: url('~src/assets/images/sites/getresponse.jpg');
}

.integration-selector-item.SENDPULSE:before {
  background-image: url('~src/assets/images/sites/sendpulse.jpg');
}

.integration-selector-item.SENDBOX:before {
  background-image: url('~src/assets/images/sites/sendbox.jpg');
}

.integration-selector-item.UNISENDER:before {
  background-image: url('~src/assets/images/sites/unisender.jpg');
}

.integration-selector-item.BITRIX:before {
  background-image: url('~src/assets/images/sites/bitrix.jpg');
}

.integration-selector-item.AMOCRM:before {
  background-image: url('~src/assets/images/sites/amo.jpg');
}

.integration-selector-item.EMAIL:before {
  background-image: url('~src/assets/images/sites/email.jpg');
}

.integration-selector-item.ROISTAT:before {
  background-image: url('~src/assets/images/sites/roistat.jpg');
}

.integration-selector-item.WEBHOOK:before {
  background-image: url('~src/assets/images/sites/webhook.jpg');
}

.integration-selector .dropdown-menu {
  max-width: 100%;
  padding-left: 5px;
  padding-top: 0;
}

.integration-selector .dropdown-menu a.integration-selector-item {
  overflow: hidden;
  text-overflow: ellipsis;
}

.integration-selector .dropdown-menu span.integration-selector-group {
  font-size: 14px;
  color: #000;
  font-weight: 600;
  padding: 5px;
  margin: 5px 0 3px 0;
  display: block;
}

.dropdown-integration-max-240h {
  max-height: 240px;
  min-width: 250px;
  overflow: auto;
}

.integration-constructor-new-one-btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
  padding-right: 75px;
}

.integration-constructor-new-one-btn a {
  font-size: 14px;
  color: #6a6c6f;
}

.integration-constructor-new-one-btn a .colored-green {
  position: relative;
  top: 1px;
  font-size: 16px;
  color: rgb(100, 189, 99);
}


