<div [id]="item.id">
  <div class="col-lg-12 itempanel hpanel">
    <div class="row panel-heading">
      <span class="itemName">{{ item.name }}</span>
    </div>
    <div class="row panel-body justify-content-between">
      <div class="col-lg-5 itempanel-title">
        <div class="row justify-content-between align-items-center">
          <h3>{{ item.url }}</h3>
          <button
            type="button"
            class="btn btn-default editItem"
            (click)="goToSiteSettings()"
            [id]="item.id + '_button'"><i class="fa fa-cogs"></i> {{ 'header.settings' | translate }}
          </button>
        </div>
        <div class="row mt-2">
          <div class="tariff">
            <h5 *ngIf="item.isFree">
              {{ 'sitelist.tariff.title' | translate }}: <b>{{ 'sitelist.tariff.free' | translate }}</b> <button
              (click)="improvePlan()" class="improve2 btn btn-danger btn-xs">{{ 'sitelist.improve' | translate }}</button>
            </h5>
            <h5 *ngIf="!item.isFree">
              {{ 'sitelist.tariff.title' | translate }}: <b>{{ item.tariffName }}</b> ( {{ 'global.until' | translate }} {{ item.tariffExpTime }} ) <button
              (click)="improvePlan()" class="improve2 btn btn-success btn-xs">{{ 'sitelist.extend' | translate }}</button>
            </h5>
          </div>
        </div>
        <div class="row mt-3">
          <h5>{{ 'sitelist.weekinfo.title' | translate }}:</h5>
        </div>
        <div class="row justify-content-between mb-3">
          <div class="site-item-week-info">
            <div class="week-value">{{ actionsStatsWeekCount | thousandSuffix:2 }}</div>
            <div class="week-data-name" [innerHTML]="'sitelist.weekinfo.actions' | translate"></div>
          </div>
          <div class="site-item-week-info">
            <div class="week-value">{{ leadsStatsWeekCount | thousandSuffix:2 }}</div>
            <div class="week-data-name" [innerHTML]="'sitelist.weekinfo.leads' | translate"></div>
          </div>
          <div class="site-item-week-info">
            <div class="week-value">{{ mailStatsWeekCount | thousandSuffix:2 }}</div>
            <div class="week-data-name" [innerHTML]="'sitelist.weekinfo.mails' | translate"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 chartcontainer">
        <div class="flex-column-site-wr" *ngIf="actionsStatsWeekCount > 0 || leadsStatsWeekCount > 0 || mailStatsWeekCount > 0">
          <div class="chartlegend-container mb-1">
            <div class="chartlegend" *ngIf="actionsStatsWeekCount > 0">
              <div class="charticon targetlegend"></div>
              <h5>{{ 'sitelist.chartLegend.widgets' | translate }}</h5>
            </div>
            <div class="chartlegend" *ngIf="leadsStatsWeekCount > 0">
              <div class="charticon bluebg"></div>
              <h5>{{ 'sitelist.chartLegend.leads' | translate }}</h5>
            </div>
            <div class="chartlegend" *ngIf="mailStatsWeekCount > 0">
              <div class="charticon orangebg"></div><h5>{{ 'sitelist.chartLegend.emails' | translate }}</h5>
            </div>
          </div>
          <canvas
            id="line"
            baseChart
            chartType="line"
            height="100"
            style="max-height: 200px"
            [data]="data"
            [labels]="labels"
            [colors]="colors"
            [options]="options"
            [legend]="false"
          >
          </canvas>
        </div>
        <div class="no-data-graph-title" *ngIf="actionsStatsWeekCount <= 0 && leadsStatsWeekCount <= 0 && mailStatsWeekCount <= 0">
          <div>{{ 'global.noData' | translate }}</div>
        </div>
      </div>
      <div class="col-lg-12 site-item-notification" *ngIf="!item.isFree && item.tariffExpLeftMs < 604800000">
        <div class="notify-text">{{ 'sitelist.notification.payment' | translate }}</div>
      </div>
      <div class="col-lg-12 site-item-notification" *ngIf="item.hasCrmSyncErrors">
        <div class="notify-text">{{ 'sitelist.notification.crm' | translate }}</div>
      </div>
      <div class="col-lg-12 site-item-notification" *ngIf="item.hasMailSyncErrors">
        <div class="notify-text">{{ 'sitelist.notification.mail' | translate }}</div>
      </div>
    </div>
  </div>
</div>
