@font-face {
  font-family: 'Noto Sans Mono';
  src: url('~src/assets/fonts/noto-sans-mono/NotoSansMono.woff2') format('woff2'),
  url('~src/assets/fonts/noto-sans-mono/NotoSansMono.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:host {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  padding-top: 15px;
  background: #F4F4F6;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: none;
}

.tab-content > .active, .pill-content > .active {
  display: block;
}
