<div class="title-widget-container">
  <!-- HEADER -->
  <div class="footer-group" id="save-widget-panel">
    <div class="text-right padding10">
      <button
        type="button"
        *ngIf="widget.abtestInfo && (widget.abtestInfo.type === 'VARIANT')"
        (click)="goToTest(widget)"
        class="btn w-xs gototest-widget-btn"
      >
        <i class="pe-7s-back margined-right-5"></i> Перейти к A/B тесту
      </button>
      <a
        type="button"
        *ngIf="(!isMockup && widget.abtestInfo && (widget.abtestInfo.type !== 'VARIANT')) || (!isMockup && !widget.abtestInfo)"
        class="btn w-xs btn-primary buy-widget-btn"
      >
        <i class="pe-7s-tools margined-right-10"></i> {{ 'widgetsList.add.alt2' | translate }}
      </a>
      <div class="btn-group play-btns" *ngIf="!isMockup">
        <p>Статус:</p>
        <button
          *ngIf="(widget.abtestInfo && (widget.abtestInfo.type !== 'VARIANT')) || (!widget.abtestInfo)"
          (click)="startWidget(widget)"
          [ngClass]="(widget.active) ? 'active' : ''"
          class="btn btn-xs btn-default start-widget-btn"
          data-container="body" data-toggle="tooltip" data-placement="top" title="" data-original-title="Запустить виджет"
        >
          <i class="fa fa-play"></i>
        </button>
        <button
          *ngIf="(widget.abtestInfo && (widget.abtestInfo.type !== 'VARIANT')) || (!widget.abtestInfo)"
          (click)="stopWidget(widget)"
          [ngClass]="(widget.active) ? '' : 'active'"
          class="btn btn-xs btn-default stop-widget-btn"
          data-container="body" data-toggle="tooltip" data-placement="top" title="" data-original-title="Остановить виджет"
        >
          <i class="fa fa-pause"></i>
        </button>

        <button
          *ngIf="widget.abtestInfo && (widget.abtestInfo.type === 'VARIANT')"
          (click)="startWidget(widget)"
          [ngClass]="(widget.active) ? 'active' : ''"
          class="btn btn-xs btn-default start-widget-btn"
          data-container="body" data-toggle="tooltip" data-placement="top" title="" data-original-title="Запустить вариант"
        >
          <i class="fa fa-play"></i>
        </button>
        <button
          *ngIf="widget.abtestInfo && (widget.abtestInfo.type === 'VARIANT')"
          (click)="stopWidget(widget)"
          [ngClass]="(widget.active) ? '' : 'active'"
          class="btn btn-xs btn-default stop-widget-btn"
          data-container="body" data-toggle="tooltip" data-placement="top" title="" data-original-title="Остановить вариант"
        >
          <i class="fa fa-pause"></i>
        </button>
      </div>

      <ng-container *ngIf="isDesigner">
        <button
          type="button"
          *ngIf="!isMockup"
          (click)="saveAsMockup()"
          class="saveAsMockupBtn ladda-button btn w-xs btn-primary floated-left"
          data-style="slide-down"
        >
          <span class="ladda-label"><i class="fa fa-save"></i>Сохранить темплейт</span>
        </button>
      </ng-container>

      <button
        type="button"
        id="saveWidget"
        class="ladda-button btn w-xs btn-success"
        data-style="slide-down"
        [ladda]="isLoading"
        (click)="saveWidget()"
      >
        <span class="ladda-label">
          <i class="fa fa-save"></i> <span
          *ngIf="!isMockup"
          [innerHTML]="(widget.abtestInfo && (widget.abtestInfo.type === 'VARIANT')) ? 'Сохранить вариант' : 'Сохранить виджет'"></span><span
          *ngIf="isMockup">Сохранить темплейт</span>
        </span>
      </button>
    </div>
  </div>

  <h3 *ngIf="renamedWidget.id !== widget.id" class="widget-title-main">
    {{ (widget.abtestInfo && (widget.abtestInfo.type === 'VARIANT')) ? 'Настройка варианта:' : 'Настройка виджета:' }}
  </h3>
  <a
    id="renameWidgetBtn"
    (click)="startRenameWidget(widget)"
    *ngIf="renamedWidget.id !== widget.id"
    href="javascript:void(0);"
    data-toggle="tooltip"
    data-placement="top"
    title=""
    class="f-2 no-bold title-widget-name-editable"
  >
    {{ getCroppedString(widget.name, 35, "…") }}<i class="fa fa-pencil margined-left-6"></i>
  </a>

  <div class="row" *ngIf="renamedWidget.id === widget.id">
    <div class="col-lg-12 no-padding title-widget-rename">
      <input type="text" class="form-control" [(ngModel)]="renamedWidget.name">
      <button
        class="btn btn-default"
        data-container="body"
        data-toggle="tooltip"
        data-placement="top"
        title="{{ 'global.cancel' | translate }}"
        (click)="resetRenaming()"
      >
        <i class="fa fa-times"></i>
      </button>

      <button
        class="btn btn-success margined-left-5"
        data-container="body"
        data-toggle="tooltip"
        data-placement="top"
        title="{{ 'widgetsList.widget.rename.tooltip' | translate }}"
        (click)="renameWidget()"
      >
        <i class="fa fa-check"></i>
      </button>
    </div>
  </div>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs widget-editor-tabs" role="tablist">
  <li role="presentation" class="widget-editor-tab" [ngClass]="{ active: isCurrentActiveTab('design') }">
    <a
      href=""
      (click)="setActiveTab('design')"
    ><i class="pe-7s-paint"></i> <span
      class="tab-text">{{ 'widgetsList.editor.tab.design' | translate }}</span> <span
      *ngIf="isTabHasErrorForFormExt() || isTabHasError('design')"
      data-toggle="tooltip" data-placement="top" title="{{ 'widgetsList.editor.tab.errors.tooltip' | translate }}"
      class="info-link badge badge-danger" href="#">!</span>
    </a>
  </li>

  <li
    *ngIf="!isMockup"
    role="presentation"
    class="widget-editor-tab"
    [ngClass]="{ active: isCurrentActiveTab('audience') }"
  >
    <a
      href=""
      (click)="setActiveTab('audience')"
    >
      <i class="pe-7s-users"></i> <span class="tab-text">{{ 'widgetsList.editor.tab.audience' | translate }}</span>
    </a>
  </li>

  <li
    role="presentation"
    class="widget-editor-tab"
    [ngClass]="{ active: isCurrentActiveTab('rules') }"
  >
    <a
      href=""
      (click)="setActiveTab('rules')"
    >
      <i class="pe-7s-config"></i> <span
      class="tab-text">{{ 'widgetsList.editor.tab.rules' | translate }}</span> <span
      *ngIf="isTabHasError('rules')" data-toggle="tooltip"
      data-placement="top" title="{{ 'widgetsList.editor.tab.errors.tooltip' | translate }}"
      class="info-link badge badge-danger" href="#">!</span>
    </a>
  </li>

  <li
    role="presentation"
    class="widget-editor-tab"
    [ngClass]="{ active: isCurrentActiveTab('integrations') }"
  >
    <a
      href=""
      (click)="setActiveTab('integrations')"
    >
      <i class="pe-7s-plug"></i> <span
      class="tab-text">{{ 'widgetsList.editor.tab.integrations' | translate }}</span> <span
      *ngIf="isTabHasError('integrations')" data-toggle="tooltip"
      data-placement="top" title="{{ 'widgetsList.editor.tab.errors.tooltip' | translate }}"
      class="info-link badge badge-danger" href="#">!</span>
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div
    id="design"
    class="design-tab-fixed"
    *ngIf="isCurrentActiveTab('design')"
    [ngClass]="{ active: isCurrentActiveTab('design') }"
  >
    <app-constructor-design
      [sid]="sid"
      [wid]="wid"
      [isPayment]="isPayment"
      [widget]="widget"
      [coupons]="coupons"
      [isMockup]="isMockup"
      [isContainerized]="isContainerized"
      [currentActiveTab]="currentActiveTab"
      [SP_widget]="SP_widget"
    ></app-constructor-design>
  </div>

  <div
    id="audience"
    *ngIf="isCurrentActiveTab('audience')"
    [ngClass]="{ active: isCurrentActiveTab('audience') }"
  >
    <app-constructor-audiences
      [widget]="widget"
      [audience]="audience"
      [isMockup]="isMockup"
    ></app-constructor-audiences>
  </div>

  <div
    *ngIf="isCurrentActiveTab('rules')"
    id="rules"
    [ngClass]="{ active: isCurrentActiveTab('rules') }"
  >
    <app-constructor-rules></app-constructor-rules>
  </div>

  <div
    *ngIf="isCurrentActiveTab('integrations')"
    [ngClass]="{ active: isCurrentActiveTab('integrations') }"
    id="integrations"
  >
    <app-constructor-integrations
      [widget]="widget"
    ></app-constructor-integrations>
  </div>
</div>
