.widgets-editor-header {
  display: flex;
  justify-content: space-between;
  min-width: 1080px;
}

.title-widget-container {
  position: relative;
  width: 350px;
  min-height: 50px;
  margin: -5px 0 10px 0;
}

.widget-editor-tabs {
  position: relative;
  margin-left: 30px;
  margin-top: -10px;
  width: 400px;
}

.controls-group {
  position: relative;
  margin-right: 20px;

  .btn-group {
    margin-right: 28px;
  }

  button {
    font-size: 14px;

    i {
      font-size: 18px;
      margin-right: 10px;
    }
  }
}

.controls-group .btn-group p {
  float: left;
  line-height: 27px;
  font-size: 17px;
  margin: 0;
  padding-right: 5px;
  color: #ACACAD;
}

.controls-group .btn-group i {
  font-size: 18px;

}

.gototest-widget-btn {
  background-color: #fff;
  border: 1px solid #e4e5e7;
}

.saveAsMockupBtn .fa.fa-save {
  margin-right: 5px !important;
}

.rename-button {
  font-size: 14px;
}

h3.widget-title-main {
  font-size: 25px !important;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.title-widget-name-editable {
  padding-right: 20px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 5px;
}

.title-widget-name-editable .fa {
  opacity: 0;
}

.title-widget-name-editable:hover .fa {
  opacity: 1;
}

.title-widget-rename {
  margin-top: 5px;
  position: relative;
  z-index: 1;
}

.title-widget-rename input {
  width: calc(100% - 120px);
  float: left;
  margin-left: 13px;
  margin-right: 5px;
}

.widget-editor-tabs li > a {
  padding-top: 15px !important;
  padding-bottom: 18px !important;
  font-size: 15px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 1px solid #e4e5e7;
  border-bottom-color: transparent
}

.nav-tabs {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e4e5e7
}

.badge {
  margin-left: 5px;
}

.widget-editor-tab {
  font-size: 16px;
}

.widget-editor-tab span.tab-text {
  line-height: 30px;
}

.widget-editor-tab i {
  font-size: 20px;
  padding-right: 8px;
  position: relative;
  top: 5px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 16px 16px 0 0;

  .before, .after {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: -1px;
    background: #fff;

    .square {
      width: 32px;
      height: 32px;
      background: #F4F4F6;
    }
  }

  .before {
    left: -33px;

    .square {
      border-radius: 0 0 16px 0;
    }
  }

  .after {
    right: -33px;

    .square {
      border-radius: 0 0 0 16px;
    }
  }
}

.widget-editor-tabs li > a {
  padding-top: 15px !important;
  padding-bottom: 18px !important;
  font-size: 15px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: none;
}

.tab-content > .active, .pill-content > .active {
  display: block;
}
