<div *ngIf="widget.guiprops" class="widgets-editor-header">
  <div class="d-flex justify-content-between">
    <div class="title-widget-container">
      <a
        id="renameWidgetBtn"
        (click)="startRenameWidget(widget)"
        *ngIf="widget.name && renamedWidget.id !== widget.id"
        href="javascript:void(0);"
        data-toggle="tooltip"
        data-placement="top"
        title=""
        class="title-widget-name-editable"
      >
        {{ getCroppedString(widget.name, 35, "…") }}<i class="fa fa-pencil ml-1"></i>
      </a>

      <div class="row" *ngIf="renamedWidget.id === widget.id">
        <div class="col-lg-12 p-0 title-widget-rename">
          <input type="text" class="form-control" [(ngModel)]="renamedWidget.name">
          <button
            class="btn btn-default rename-button"
            data-container="body"
            data-toggle="tooltip"
            data-placement="top"
            title="{{ 'global.cancel' | translate }}"
            (click)="resetRenaming()"
          >
            <i class="fa fa-times"></i>
          </button>

          <button
            class="btn btn-success ml-1 rename-button"
            data-container="body"
            data-toggle="tooltip"
            data-placement="top"
            title="{{ 'widgetsList.widget.rename.tooltip' | translate }}"
            (click)="renameWidget()"
          >
            <i class="fa fa-check"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs widget-editor-tabs" role="tablist">
      <li role="presentation" class="widget-editor-tab" [ngClass]="{ active: isCurrentActiveTab('design') }">
        <a
          (click)="setActiveTab('design')"
        ><i class="pe-7s-paint"></i> <span
          class="tab-text">{{ 'widgetsList.editor.tab.design' | translate }}</span> <span
          *ngIf="isTabHasErrorForFormExt() || isTabHasError('design')"
          data-toggle="tooltip" data-placement="top" title="{{ 'widgetsList.editor.tab.errors.tooltip' | translate }}"
          class="info-link badge badge-pill badge-danger">!</span>
        </a>
      </li>

      <li
        role="presentation"
        class="widget-editor-tab"
        [ngClass]="{ active: isCurrentActiveTab('rules') }"
      >
        <a
          (click)="setActiveTab('rules')"
        >
          <i class="pe-7s-config"></i> <span
          class="tab-text">{{ 'widgetsList.editor.tab.rules' | translate }}</span> <span
          *ngIf="isTabHasError('rules')" data-toggle="tooltip"
          data-placement="top" title="{{ 'widgetsList.editor.tab.errors.tooltip' | translate }}"
          class="info-link badge badge-pill badge-danger">!</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Controls -->
  <div class="controls-group" id="save-widget-panel">
    <button
      type="button"
      *ngIf="widget?.abtestInfo && (widget?.abtestInfo.type === 'VARIANT')"
      (click)="goToTest(widget)"
      class="btn gototest-widget-btn"
    >
      <i class="pe-7s-back mr-1"></i> Перейти к A/B тесту
    </button>

    <!-- Заказать разработку виджета -->
    <!--<a
      type="button"
      *ngIf="(!isMockup && widget.abtestInfo && (widget.abtestInfo.type !== 'VARIANT')) || (!isMockup && !widget.abtestInfo)"
      class="btn btn-primary buy-widget-btn"
    >
      <i class="pe-7s-tools mr-2"></i> {{ 'widgetsList.add.alt2' | translate }}
    </a>-->

    <div class="btn-group play-btns" *ngIf="!isMockup">
      <p>Статус</p>
      <ui-switch
        [(ngModel)]="widget.active"
        (change)="switchWidget(widget, !widget.active)"
        class="ml-2 mr-2 float-left"
      ></ui-switch>
    </div>

    <ng-container *ngIf="isDesigner">
      <button
        type="button"
        *ngIf="!isMockup"
        class="saveAsMockupBtn ladda-button btn btn-primary float-left"
        data-style="slide-down"
        [ladda]="isLoading"
        (click)="saveAsMockup()"
      >
        <span class="ladda-label"><i class="fa fa-save"></i>Сохранить</span>
      </button>
    </ng-container>

    <button
      type="button"
      id="saveWidget"
      class="ladda-button btn btn-success"
      data-style="slide-down"
      [ladda]="isLoading"
      (click)="saveWidget()"
    >
      <span class="ladda-label">
        <i class="fa fa-save"></i> <span>Сохранить</span>
      </span>
    </button>
  </div>
</div>

<!-- Tab panes -->
<div *ngIf="widget.guiprops" class="tab-content">
  <div
    id="design"
    class="design-tab-fixed"
    [hidden]="!isCurrentActiveTab('design')"
    [ngClass]="{ active: isCurrentActiveTab('design') }"
  >
    <app-constructor-design
      [sid]="sid"
      [wid]="wid"
      [isPayment]="isPayment"
      [widget]="widget"
      [coupons]="coupons"
      [isMockup]="isMockup"
      [isContainerized]="isContainerized"
      [currentActiveTab]="currentActiveTab"
      [SP_widget]="SP_widget"
    ></app-constructor-design>
  </div>

  <div
    [hidden]="!isCurrentActiveTab('rules')"
    id="rules"
    [ngClass]="{ active: isCurrentActiveTab('rules') }"
  >
    <app-constructor-rules
      [widget]="widget"
      [isContainerized]="isContainerized"
      [isMockup]="isMockup"
      [runValidators]="runValidators"
    ></app-constructor-rules>
  </div>
</div>
