:host {
  position: absolute;
  z-index: 9;
  background: #F4F4F6;
  top: -55px;
  left: -167px;
  padding-top: 15px;
  height: 100vh;
  width: 100vw;
}

a {
  color: inherit;
}

.widgets-editor-header {
  display: flex;
  justify-content: space-between;
  min-width: 1090px;
  margin: 0 -10px;
}

.title-widget-container {
  position: relative;
  width: 350px;
  min-height: 50px;
  margin: -5px 0 10px 0;
}

.widget-editor-tabs {
  position: relative;
  margin-left: 30px;
  margin-top: -10px;
  width: 400px;
}

.controls-group {
  position: relative;
  margin-right: 20px;

  .btn-group {
    margin-right: 30px;
  }

  button {
    font-size: 14px;

    i {
      margin-right: 10px;

      img {
        width: 18px;
        height: 18px;
        margin-top: -2px;
      }
    }
  }
}

.controls-group .btn-group p {
  float: left;
  line-height: 27px;
  font-size: 17px;
  margin: 0;
  padding-right: 5px;
  color: #ACACAD;
}

.controls-group .btn-group i {
  font-size: 18px;
}

.gototest-widget-btn {
  background-color: #fff;
  border: 1px solid #e4e5e7;
}

.saveAsMockupBtn .fa.fa-save {
  margin-right: 5px !important;
}

.rename-button {
  font-size: 14px;
}

h3.widget-title-main {
  font-size: 25px !important;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.title-widget-name-editable {
  padding-right: 20px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 5px;
}

.title-widget-name-editable .fa {
  opacity: 0;
}

.title-widget-name-editable:hover .fa {
  opacity: 1;
}

.title-widget-name-editable span {
  padding: 2px 5px;
}

.title-widget-name-editable:hover span {
  background: #D4D7DD;
  border-radius: 4px;
}

.title-widget-rename {
  margin-top: 5px;
  position: relative;
  z-index: 1;
}

.title-widget-rename input {
  width: calc(100% - 120px);
  float: left;
  margin-left: 13px;
  margin-right: 5px;
}

.widget-editor-tabs li > a {
  padding-top: 15px !important;
  padding-bottom: 18px !important;
  font-size: 15px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 1px solid #e4e5e7;
  border-bottom-color: transparent
}

.nav-tabs {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e4e5e7
}

.badge {
  margin-left: 5px;
}

.widget-editor-tab span.tab-text {
  position: relative;
  z-index: 1;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
}

.widget-editor-tab .rules-icon, .widget-editor-tab .design-icon {
  display: inline-block;
  position: relative;
  margin-right: 8px;
  top: 3px;
  width: 20px;
  height: 20px;
  background-color: #7E889A;
}

.widget-editor-tab .design-icon {
  mask: url("~src/assets/images/widgets/design.svg") no-repeat center;
  mask-size: contain;
}

.widget-editor-tab .rules-icon {
  mask: url("~src/assets/images/widgets/rules.svg") no-repeat center;
  mask-size: contain;
}

.widget-editor-tab.active span.tab-text {
  color: #16181D;
}

.widget-editor-tab.active .rules-icon, .widget-editor-tab.active .design-icon {
  background-color: #16181D;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 16px 16px 0 0;

  .before, .after {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: -1px;
    background: #fff;

    .square {
      width: 32px;
      height: 32px;
      background: #F4F4F6;
    }
  }

  .before {
    left: -33px;

    .square {
      border-radius: 0 0 16px 0;
    }
  }

  .after {
    right: -33px;

    .square {
      border-radius: 0 0 0 16px;
    }
  }
}

.widget-editor-tabs li > a {
  padding-top: 15px !important;
  padding-bottom: 18px !important;
  font-size: 15px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: none;
}

.tab-content > .active, .pill-content > .active {
  display: block;
}

.tab-content {
  margin-left: -15px;
}

.widget-editor-tab.active .fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-timing-function: linear;
  animation-duration: 0.8s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
