<div *ngIf="widget?.guiprops" [@fadeInOut] class="widgets-editor-header">
  <div class="d-flex justify-content-between title-and-tabs-container">
    <div class="title-widget-container">
      <a
        (click)="startRenameWidget(widget)"
        *ngIf="widget.name && renamedWidget.id !== widget.id"
        class="title-widget-name-editable"
        href="javascript:void(0);"
        id="renameWidgetBtn"
      >
        <span [title]="widget.name">{{ widget.name }}</span><i class="fa fa-pencil ml-1"></i>
      </a>

      <div *ngIf="renamedWidget.id === widget.id" class="widget-rename-edited">
        <input
          (blur)="renameWidget()"
          (keydown)="checkKeyDown($event)"
          [(ngModel)]="renamedWidget.name"
          [style.width.ch]="renamedWidget.name.length + 1.45"
          class="widget-rename-control"
          maxlength="50"
          type="text"
        >
        <a
          (click)="renameWidget()"
          class="widget-rename-button"
          href="javascript:void(0);"
        >
          <i class="fa fa-check ml-1"></i>
        </a>
      </div>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs widget-editor-tabs" role="tablist">
      <li [ngClass]="{ active: isCurrentActiveTab('design') }" class="widget-editor-tab" role="presentation">
        <a
          (click)="setActiveTab('design')"
        >
          <div class="before fade-in">
            <div class="square"></div>
          </div>
          <div class="design-icon"></div>
          <span
            class="tab-text">{{ 'widgetsList.editor.tab.design' | translate }}</span> <span
          *ngIf="isTabHasError('design') && showErrors"
          class="info-link badge badge-pill badge-danger" data-placement="top" data-toggle="tooltip"
          title="{{ 'widgetsList.editor.tab.errors.tooltip' | translate }}"></span>
          <div class="after fade-in">
            <div class="square"></div>
          </div>
        </a>
      </li>

      <li
        [ngClass]="{ active: isCurrentActiveTab('rules') }"
        class="widget-editor-tab"
        role="presentation"
      >
        <a
          (click)="setActiveTab('rules')"
        >
          <div class="before fade-in">
            <div class="square fade-in"></div>
          </div>
          <div class="rules-icon"></div>
          <span
            class="tab-text">{{ 'widgetsList.editor.tab.rules' | translate }}</span> <span
          *ngIf="isTabHasError('rules') && showErrors" class="info-link badge badge-pill badge-danger"
          data-placement="top" data-toggle="tooltip"
          title="{{ 'widgetsList.editor.tab.errors.tooltip' | translate }}"></span>
          <div class="after fade-in">
            <div class="square fade-in"></div>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <!-- Controls -->
  <div class="controls-group" id="save-widget-panel">
    <button
      (click)="goToTest(widget)"
      *ngIf="widget?.abtestInfo && (widget?.abtestInfo.type === 'VARIANT')"
      class="btn gototest-widget-btn"
      type="button"
    >
      <i class="pe-7s-back mr-1"></i> Перейти к A/B тесту
    </button>

    <!-- Заказать разработку виджета -->
    <!--<a
      type="button"
      *ngIf="(!isMockup && widget.abtestInfo && (widget.abtestInfo.type !== 'VARIANT')) || (!isMockup && !widget.abtestInfo)"
      class="btn btn-primary buy-widget-btn"
    >
      <i class="pe-7s-tools mr-2"></i> {{ 'widgetsList.add.alt2' | translate }}
    </a>-->

    <!--<div class="btn-group play-btns" *ngIf="!isMockup">-->
    <div class="btn-group play-btns">
      <p>Статус</p>
      <ui-switch
        (change)="switchWidget(widget, !widget.active)"
        [(ngModel)]="widget.active"
        class="ml-2 mr-2 float-left"
      ></ui-switch>
    </div>

    <!--<div *ngIf="isDesigner">
      <button
        type="button"
        *ngIf="!isMockup"
        class="saveAsMockupBtn ladda-button btn btn-primary float-left"
        data-style="slide-down"
        [ladda]="isLoading"
        (click)="saveAsMockup()"
      >
        <span class="ladda-label"><i class="fa fa-save"></i>Сохранить</span>
      </button>
    </div>-->

    <div>
      <button
        (click)="saveWidget()"
        [ladda]="isLoading"
        class="ladda-button btn btn-success"
        data-style="slide-down"
        id="saveWidget"
        type="button"
      >
        <span class="ladda-label">
          <i><img alt="save" src="/assets/images/widgets/save.svg"></i> <span>{{ 'global.save' | translate }}</span>
        </span>
      </button>
    </div>

    <button
      (click)="closeWidget()"
      class="close-widget-button"
      data-placement="bottom" data-toggle="tooltip" title="{{ 'widgetsList.editor.close' | translate }}"
    >
      &times;
    </button>
  </div>
</div>

<!-- Tab panes -->
<div *ngIf="widget?.guiprops" [@fadeInOut] class="tab-content">
  <div
    [hidden]="!isCurrentActiveTab('design')"
    [ngClass]="{ active: isCurrentActiveTab('design') }"
    class="design-tab-fixed"
    id="design"
  >
    <app-constructor-design
      [SP_widget]="SP_widget"
      [coupons]="coupons"
      [currentActiveTab]="currentActiveTab"
      [isButtonRedirectAndEmpty]="isButtonRedirectAndEmpty"
      [isContainerized]="isContainerized"
      [isFieldIdUnique]="isFieldIdUnique"
      [isFormHasButtonWithAction]="isFormHasButtonWithAction"
      [isFormHasSendIfAction]="isFormHasSendIfAction"
      [isFormHasSpecElements]="isFormHasSpecElements"
      [isPayment]="isPayment"
      [isTabHasErrorForFormExt]="isTabHasErrorForFormExt"
      [validateFormExtElements]="validateFormExtElements"
      [mapFormExtFieldId]="mapFormExtFieldId"
      [showErrors]="showErrors"
      [sid]="sid"
      [wid]="wid"
      [widget]="widget"
    ></app-constructor-design>
  </div>

  <div
    *ngIf="isCurrentActiveTab('rules')"
    [ngClass]="{ active: isCurrentActiveTab('rules') }"
    id="rules"
  >
    <app-constructor-rules
      [isContainerized]="isContainerized"
      [showErrors]="showErrors"
      [sid]="sid"
      [widget]="widget"
    ></app-constructor-rules>
  </div>
</div>
