.title-widget-container {
  position: relative;
  width: 260px;
  min-height: 50px;
  margin: -5px 0 10px 0;
}

.footer-group {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 95%;
  height: 55px;
  border-top: 1px solid #ddd;
}

#save-widget-panel {
  background-color: #fff;
  position: fixed;
  width: calc(100% - 181px);
  z-index: 999;
}

#saveWidget {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.footer-group .btn-group {
  position: absolute;
  bottom: 10px;
  left: 60%;
}

.footer-group .btn-group p {
  float: left;
  line-height: 32px;
  font-size: 17px;
  margin: 0;
  padding-right: 5px;
  color: #ACACAD;
}

.footer-group .btn-group i {
  font-size: 18px;
  padding: 5px;
}

.footer-group .start-widget-btn {
  color: #ACACAD;
}

.footer-group .start-widget-btn.active {
  color: #62cb31;
}

.footer-group .stop-widget-btn {
  color: #ACACAD;
}

.footer-group .stop-widget-btn.active {
  color: #e74c3c;
}

.gototest-widget-btn {
  background-color: #fff;
  position: absolute;
  left: 15px;
  bottom: 10px;
  border: 1px solid #e4e5e7;
}

.saveAsMockupBtn {
  position: absolute !important;
  bottom: 10px;
  right: 200px;
}

.saveAsMockupBtn .fa.fa-save {
  margin-right: 5px !important;
}

h3.widget-title-main {
  font-size: 25px !important;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.title-widget-name-editable {
  padding-right: 20px;
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
  font-size: 13px !important;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 5px;
}

.title-widget-name-editable .fa {
  opacity: 0;
  position: absolute;
  right: 5px;
  top: 2px;
}

.title-widget-name-editable:hover .fa {
  opacity: 1;
}

.title-widget-rename {
  margin-top: 5px;
  position: relative;
  z-index: 1;
}

.title-widget-rename input {
  width: calc(100% - 120px);
  float: left;
  margin-left: 13px;
  margin-right: 5px;
}

.widget-editor-tabs {
  position: relative;
  margin-left: 265px;
  margin-top: -65px;
}

.widget-editor-tabs li>a {
  padding-top: 15px !important;
  padding-bottom: 18px !important;
  font-size: 15px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 1px solid #e4e5e7;
  border-bottom-color: transparent
}

.nav-tabs {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e4e5e7
}

.badge {
  margin-left: 5px;
}

.widget-editor-tab {
  font-size: 16px;
}

.widget-editor-tab span.tab-text {
  line-height: 30px;
}

.widget-editor-tab i {
  font-size: 20px;
  padding-right: 8px;
  position: relative;
  top: 5px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 1px solid #e4e5e7;
  border-bottom-color: rgb(228, 229, 231);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.widget-editor-tabs li > a {
  padding-top: 15px !important;
  padding-bottom: 18px !important;
  font-size: 15px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: none;
}

.tab-content > .active, .pill-content > .active {
  display: block;
}
