<div class="filter-section">
  <p class="mt-3">Показывать виджет пользователям, которые перешли с URL</p>
  <div *ngFor="let subitem of item.subitems; index as i" class="filterow">
    <div *ngIf="i > 0" class="rule-subitem-text">{{ 'audience.rule.logic.or' | translate }}</div>
    <div [ngClass]="(subitem.value.trim().length == 0) ? 'is-invalid' : ''" class="mt-2 mb-2">
      <div class="d-flex row-nomargined">
        <div class="input-group subitem-left">
          <div class="input-group-prepend">
            <button aria-expanded="false" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
              {{ vals.compareTypes[vals.compareTypesEnum.indexOf(subitem.valueCompareType)] }} <span
              class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li
                (click)="subitem.valueCompareType = vals.compareTypesEnum[j]"
                *ngFor="let val of vals.compareTypes; index as j"
              >
                <a class="dropdown-item" href="javascript:void(0);">{{ val }}</a>
              </li>
            </ul>
          </div>
          <input [(ngModel)]="subitem.value" aria-label="" class="form-control" placeholder="http://website.com"
                 type="text">
        </div>
        <div class="remove-sub-item">
          <button (click)="removeSubItem(group.id, item.type, i)" class="delete-element-button">&times;</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <button (click)="addSubItem(item)" class="btn-default widget-content-add-btn">
      <img alt="add element" src="assets/images/widgets/plus.svg"/> {{ 'audience.variant.add' | translate }}
    </button>
  </div>
</div>
