.widget1 {
  background: transparent;
  width: 100%;
  margin: 25px auto 0;
  padding: 15px 18px;
  overflow: hidden;
  display: block;
  position: relative;
  min-width: 56px;
  min-height: 50px;
  z-index: 1;

  &.mobile {
    width: 335px;
    margin-left: 31px;
    margin-top: 35%;
  }
}

.color-bg-on-form {
  position: absolute;
  left: -30px;
  width: calc(100% + 60px);
  height: calc(100% + 15px);
}

.widget-image {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 101;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.widget-image.hide-image-bl-for-rebuild {
  opacity: 0;
}

.widget-image-item-block {
  background: url("~src/assets/images/widgets/image_def2.png") center no-repeat, #fff;
  background-size: contain;
}

.widget-image-left {
  top: 0;
  left: 0;
  width: 163px;
  height: 100% !important;
}

.widget-image-left-all {
  top: 0;
  left: 0;
  width: 163px;
  height: 100%;
  z-index: 1;
}

.widget-image-right {
  top: 0;
  right: 0;
  width: 163px;
  height: 100% !important;
}

.widget-image-right-all {
  top: 0;
  right: 0;
  width: 163px;
  height: 100%;
  z-index: 1;
}

.widget-image-top {
  top: 0;
  left: 0;
  width: 100% !important;
  height: 130px;
}

.widget-image-bottom {
  bottom: 0;
  left: 0;
  width: 100% !important;
  height: 130px;
}

.widget-video-item-block {
  position: relative;
}

.widget-video-item-block img {
  display: block;
  width: 100%;
  height: 100%;
}

.widget-video-item-block iframe {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100% !important;
  height: 100% !important;
  z-index: -1;
}

.widget-image-has-full-wh .widget-image-item-block,
.widget-image-has-full-wh .widget-video-item-block {
  width: 100% !important;
  height: 100% !important;
}

.widget-image-has-center-orient {
  align-items: center;
}

.widget-image-has-top-orient {
  align-items: flex-start;
}

.widget-image-has-bottom-orient {
  align-items: flex-end;
}

.widget-main-img-left {
  margin-left: 188px;
  padding-left: 15px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.widget-main-img-right {
  margin-right: 188px;
  padding-right: 15px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.widget-input-left {
  margin-left: -281px;
}

.widget-input-right {
  margin-right: -281px;
}

.wigdet-main-wr {
  position: relative;
  z-index: 103;
}

.wigdet-main-wr ul.widget-flex-dis {
  width: 100%;
}

.wigdet-main-wr ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: flex-start;
}

.wigdet-main-wr ul.widget-main-ul-bottom {
  justify-content: flex-end;
}

.wigdet-main-wr ul.widget-main-ul-center {
  justify-content: center;
}

.wigdet-main-wr ul li {
  display: block;
  width: 100%;
  position: relative;
  border: 1px dashed transparent;
  margin: 0 0 0;
  padding-bottom: 15px;
  transition: margin 0.1s ease;
}

.wigdet-main-wr ul li:first-child {
  margin-top: 0;
}

.wigdet-main-wr ul li:last-child {
  margin-bottom: -5px;
  padding-bottom: 5px;
}

.wigdet-main-wr ul li.margin-if-split-element {
  margin-bottom: 5px;
}

.wigdet-main-wr ul li.margin-if-iframe-element .widget1-hrh-user-w {
  margin-bottom: -4px;
}

.wigdet-main-wr ul li.margin-if-iframe-element .widget1-hrh-full-w {
  margin-bottom: -8px;
}

.wigdet-main-wr ul li:hover {
  border-color: #4898A8;
}

.wigdet-main-wr ul li.help-block-add-if-not-sel:hover {
  border-color: transparent;
}

.widget-mask {
  position: absolute;
  left: -18px;
  right: -18px;
  top: -15px;
  bottom: -15px;
}

.help-block-add-if-not-sel {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}

.wigdet-main-wr ul li.extraClassDefWidth {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}

.remove-element-from-list-view {
  position: absolute;
  top: -1px;
  right: -19px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0;
  color: #fff;
  display: none;
  background-color: #4898A8;
  border-radius: 3px;
}

.wigdet-main-wr ul li:hover .remove-element-from-list-view {
  display: block;
}

.remove-element-from-list-view .remove-sub-item {
  font-size: 18px;
  width: 15px;
  padding: 0;
  float: none;
  color: #fff;
}

.remove-element-from-list-view:hover .remove-sub-item {
  color: #ff0000;
}

.move-element-view {
  color: #fff;
  cursor: move;
  position: absolute;
  width: 19px;
  height: 19px;
  top: -1px;
  left: -19px;
  padding-left: 1px;
  padding-right: 1px;
  text-align: center;
  margin: 0;
  display: none;
  background-color: rgba(52, 152, 219, 1);
  background-color: #4898A8;
  border-radius: 3px;
  z-index: 99999;
}

.wigdet-main-wr ul li:hover .move-element-view {
  display: block;
}

.move-element-view i {
  display: block;
  font-size: 16px;
  width: 15px;
  line-height: 19px;
  padding: 0;
}

.btn-add-on-elem,
.btn-copy-on-elem {
  display: none !important;
  cursor: pointer;
  position: absolute;
  z-index: 999;
  left: 50%;
  bottom: -12px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  border-radius: 3px;
  background-color: #4898A8;
}

.btn-add-on-elem {
  margin-left: -12.5px;
}

.btn-add-on-elem.clonable-button {
  margin-left: -26px;
}

.btn-copy-on-elem {
  margin-left: 1px;
}

.btn-add-on-elem:hover,
.btn-copy-on-elem:hover {
  opacity: 1 !important;
}

.btn-add-on-elem i.fa-plus {
  float: none;
  color: #fff;
  margin: 0;
}

.btn-copy-on-elem i.fa-copy {
  float: none;
  color: #fff;
  margin: 0;
}

.btn-add-on-elem .tooltip,
.btn-copy-on-elem .tooltip {
  opacity: 0;
  display: none;
  width: 150px;
  left: -50px;
  top: -30px;
}

.btn-add-on-elem:hover .tooltip,
.btn-copy-on-elem:hover .tooltip {
  display: block;
  opacity: 1;
}

.btn-add-on-elem .tooltip-arrow,
.btn-copy-on-elem .tooltip-arrow {
  left: 50%;
}

.wigdet-main-wr ul li:hover .btn-add-on-elem {
  display: block !important;
}

.wigdet-main-wr ul li:hover .btn-copy-on-elem.clonable-button {
  display: block !important;
}

.social-block-pd img {
  display: inline-block;
}

.no-text-shadow-imp {
  text-shadow: none !important;
}

.tooltip-inner {
  background-color: #34495e;
  word-wrap: break-word;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #34495e
}

.widget1-hr-left {
  text-align: left !important;
}

.widget1-hr-center {
  text-align: center !important;
}

.widget1-hr-right {
  text-align: right !important;
}

.widget1-w-hr-left {
  text-align: left !important;
}

.widget1-w-hr-center {
  text-align: center !important;
}

.widget1-w-hr-right {
  text-align: right !important;
}

.widget1-hr-full-w hr,
.widget1-hr-full-w img,
.widget1-hr-full-w .element-iframe-block {
  width: 100% !important;
}

.widget1-hrh-full-w .element-iframe-block {
  height: auto !important;
}

.widget1-w-hr-full-w .form-whole-bl {
  width: 100% !important;
}

.form-whole-bl {
  display: inline-block;
}

.element-video-block iframe {
  position: relative;
  z-index: -1;
}

.split-element-block hr {
  display: inline-block;
}

.element-coupon-title {
  margin-bottom: 3px;
}

.element-coupon-block {
  margin-bottom: -4px;
}

.element-coupon-block:not(.widget1-hr-user-w) .element-coupon-wr {
  max-width: 100%;
}

.element-iframe-block {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.element-iframe-block iframe {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  z-index: -1;
}

.widget1-btn-exit {
  margin-top: 0;
  text-align: center;
}

.widget1-btn-exit div.button-link-close {
  display: inline-block;
  background: transparent;
  border: none;
  width: auto;
  margin: 0 0;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}

.widget1-btn-exit div.button-link-close:hover {
  text-decoration: none;
}

.widget1-btn-bl {
  text-align: left;
}

.widget1-btn-bl-center {
  text-align: center;
}

.widget1-btn-bl-right {
  text-align: right;
}

.widget1-btn-bl-min-marg {
  margin-left: -1%;
  margin-right: -1%;
}

.widget1-btn-bl-min-marg div.button-send {
  margin-left: 1%;
  margin-right: 1%;
}

.widget1-btn-bl div.button-alone {
  margin-top: 0;
}

.widget1 div.button-send:after {
  clear: both;
}

.widget1 .widget-inp-bl {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.widget1 .widget1-hr-full-w .widget-inp-bl {
  width: 98% !important;
}

.widget1-form-bl {
  margin-top: -15px;
  margin-left: -1%;
  margin-right: -1%;
}

.widget1 .widget-input-gorizontal {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  display: block;
  float: left;
}

.widget1 .widget1-hr-full-w .widget-input-gorizontal {
  width: 48% !important;
}

.widget1 .widget-input-gorizontal-textar {
  width: 98% !important;
  margin-left: 1%;
  margin-right: 1%;
  display: block;
  float: left;
}

.widget-input-gorizontal-textar input.form-control, .widget-input-gorizontal-textar textarea.form-control {
  height: 103px;
}

.widget-input-vert-textar input.form-control, .widget-input-vert-textar textarea.form-control {
  height: 103px;
}

.widget1 .text-input-class {
  margin-top: 15px;
  height: 42px;
  position: relative;
}

.widget1 .text-input-area-class {
  height: 103px;
}

.widget1 input.form-control, .widget1 textarea.form-control {
  cursor: text;
  height: auto;
  padding-top: 14px;
  padding-bottom: 6px;
  font-size: 1.1em;
  border: none;
  line-height: 1.6em;
  position: absolute;
  margin: 0;
}

.widget1 input.widget-input-border, .widget1 textarea.widget-input-border {
  border: 1px solid #eee;
  padding-bottom: 5px;
  padding-top: 13px;
}

.text-input-class label {
  cursor: text;
  display: block;
  text-align: left;
  position: absolute;
  transition: all 0.15s ease;
  width: 100%;
  color: #6a6c6f;
  font-weight: normal;
  font-size: 1.1em;
  line-height: 1.6em;
  padding: 10px 12px;
  white-space: nowrap;
  overflow: hidden;
}

.text-input-class span.masked-span-helper {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 1.1em;
}

.widget1 input.filled ~ label,
.widget1 input:focus ~ label,
.widget1 input.masked ~ label,
.widget1 textarea.filled ~ label,
.widget1 textarea:focus ~ label {
  font-size: 0.6em;
  top: -8px;
}

.center-mode-social {
  display: inline-block;
}

.webicon {
  cursor: pointer;
  display: inline-block;
  background-size: 100%;
  width: 30px;
  height: 30px;
  text-indent: -999em;
  text-align: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right: 7px;
  transition: transform 0.3s ease;
}

.webicon:hover {
  transform: scale(1.07);
}

.webicon.small {
  width: 20px;
  height: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.webicon.large {
  width: 48px;
  height: 48px;
}

.webicon.large.style-1 {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.webicon.large.style-2 {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.webicon.large.style-3 {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.webicon.linkedin {
  background: url("~src/assets/images/widgets/social/webicon-linkedin.svg"), #41B8D0;
}

.webicon.pinterest {
  background: url("~src/assets/images/widgets/social/webicon-pinterest.svg"), #F93C2D;
}

.webicon.facebook {
  background: url("~src/assets/images/widgets/social/webicon-facebook.svg"), #4B71B8;
}

.webicon.buffer {
  background: url("~src/assets/images/widgets/social/webicon-buffer.svg"), #f5f5f5;
}

.webicon.tumblr {
  background: url("~src/assets/images/widgets/social/webicon-tumblr.svg"), #2F4E68;
}

.webicon.yummly {
  background: url("~src/assets/images/widgets/social/webicon-yummly.svg"), #fff;
}

.webicon.print {
  background: url("~src/assets/images/widgets/social/webicon-print.svg"), #f5f5f5;
}

.webicon.blogger {
  background: url("~src/assets/images/widgets/social/webicon-blogger.svg"), #EC9728;
}

.webicon.xing {
  background: url("~src/assets/images/widgets/social/webicon-xing.svg"), #057272;
}

.webicon.pocket {
  background: url("~src/assets/images/widgets/social/webicon-pocketapp.svg"), #f5f5f5;
}

.webicon.digg {
  background: url("~src/assets/images/widgets/social/webicon-digg.svg"), #fff;
}

.webicon.googleplus {
  background: url("~src/assets/images/widgets/social/webicon-googleplus.svg"), #E16D35;
}

.webicon.odnoklassniki {
  background: url("~src/assets/images/widgets/social/webicon-odnoklassniki.svg"), #fff;
}

.webicon.reddit {
  background: url("~src/assets/images/widgets/social/webicon-reddit.svg"), #f5f5f5;
}

.webicon.stumbleupon {
  background: url("~src/assets/images/widgets/social/webicon-stumbleupon.svg"), #F93C2D;
}

.webicon.twitter {
  background: url("~src/assets/images/widgets/social/webicon-twitter.svg"), #4BD0EF;
}

.webicon.vkontakte {
  background: url("~src/assets/images/widgets/social/webicon-vkontakte.svg"), #fff;
}

.webicon.mail {
  background: url("~src/assets/images/widgets/social/webicon-mail.svg"), #F5F5F5;
}

.timer-wrapper {
  display: flex;
  align-items: center;
}

.timer-items {
  display: flex;
  justify-content: space-around;
}

.timer-item-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-items_item-bgs-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.timer-items_item {
  position: relative;
  text-align: center;
}

.timer-items_item-bgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timer-items_dots {
  min-width: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.timer-items_dots > div {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.align-flexed-pos-left {
  justify-content: flex-start;
}

.align-flexed-pos-center {
  justify-content: center;
}

.align-flexed-pos-right {
  justify-content: flex-end;
}

.widget-btn-style__material {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26) !important;
}

.widget-btn-style__flat {
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.25);
  border-bottom: none !important;
}

.widget-btn-border-style-none-bg {
  border: 1px solid;
  background: transparent !important;
}

.widget-btn-border-style-none-border {
  border-color: transparent !important;
}

.wigdet-main-wr ul.widget-flex-dis {
  width: 100%;
}

.wigdet-main-wr ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: flex-start;
  /*align-content: flex-start;*/
  /*flex-flow: row wrap;*/
  /*align-items: flex-start;*/
  /*justify-content: flex-start;*/
}

.wigdet-main-wr ul.widget-main-ul-bottom {
  justify-content: flex-end;
  /*align-content: flex-end;*/
  /*flex-flow: row wrap;*/
  /*align-items: flex-end;*/
  /*justify-content: flex-end;*/
}

.wigdet-main-wr ul.widget-main-ul-center {
  justify-content: center;
  /*align-content: center;*/
  /*flex-flow: row wrap;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.wigdet-main-wr ul li {
  display: block;
  width: 100%;
  position: relative;
  border: 1px dashed transparent;
  margin: 0 0 0;
  padding-bottom: 15px;
  transition: margin 0.1s ease;
}

.wigdet-main-wr ul li:first-child {
  margin-top: 0;
}

.wigdet-main-wr ul li:last-child {
  margin-bottom: -5px;
  padding-bottom: 5px;
}

.wigdet-main-wr ul li.margin-if-split-element {
  /*margin-top: 5px;*/
  margin-bottom: 5px;
}

.wigdet-main-wr ul li.margin-if-iframe-element .widget1-hrh-user-w {
  margin-bottom: -4px;
}

.wigdet-main-wr ul li.margin-if-iframe-element .widget1-hrh-full-w {
  margin-bottom: -8px;
}

.wigdet-main-wr ul li:hover {
  border-color: #4898A8;
}

.wigdet-main-wr ul li.help-block-add-if-not-sel:hover {
  border-color: transparent;
}
