<div
  id="mainBlockWidget"
  class="widget1 block-widget-show active"
  [ngStyle]="{'border': widget.guiprops['bg'].border.style, 'border-radius': widget.guiprops['bg'].borderRadius+'px', 'box-shadow': widget.guiprops['bg'].shadow.style}"
>
  <div
    class="absolute-bg-content"
    [ngClass]="(widget.guiprops['bg'].fillorImg === 'useImg') ? 'block-widget-bg' : ''"
    [ngStyle]="{'background': bgStyle, 'opacity': widget.guiprops.bg.opacity}"
  >
    <div *ngIf="widget.guiprops.bg.fillorImg === 'useVideo'" class="video-bg">
      <div *ngIf="widget.guiprops.bg.video.videoId" [ngClass]="setVideoBGStyle()">
        <iframe style="" id="idBgVideoFrame" src="" frameborder="0"></iframe>
      </div>
      <img *ngIf="!widget.guiprops.bg.video.videoId" class="item-image-video-block" src="https://static.leadgenic.com/dev/lg_widgets_l11/img/video_example_des.png"/>
    </div>
  </div>

  <div
    *ngIf="widget.guiprops.bg.mask.enable && ((widget.guiprops['bg'].fillorImg === 'useImg') || (widget.guiprops['bg'].fillorImg === 'useVideo')) && widget.guiprops.bg.mask.area === 'Вся площадь виджета'"
    id="globalMask"
    [ngStyle]="{'background':widget.guiprops.bg.mask.rgbaColor}"
  ></div>

  <div
    *ngIf="widget.guiprops.form.enable || widget.guiprops.button.enable || widget.guiprops.formExt.enable"
    id="colorFormPod"
    class="color-bg-on-form"
    [ngStyle]="colorPodStyles()"
  ></div>

  <div
    *ngIf="widget.guiprops.image.enable == true"
    class="widget-image"
    [ngClass]="classNameImg()"
    [ngStyle]="{'width':widthImageStyle, 'height':heightImageStyle}"
    (click)="scrollToEl('IVBl', 'i-or-v-element'); $event.stopPropagation();"
  >
    <div
      *ngIf="((widget.guiprops.image.typeBl == 'imageBl') || (widget.guiprops.image.typeBl !== 'videoBl')) && (widget.guiprops.image.typeBl !== 'paddingBl')" [ngStyle]="{'background':'url(' + widget.guiprops.image.url + ') center no-repeat', 'background-size':'cover', 'width': widget.guiprops.image.img_item_widthpx + 'px', 'height': widget.guiprops.image.img_item_heightpx + 'px'}"
      class="widget-image-item-block"
    ></div>
    <div
      *ngIf="widget.guiprops.image.typeBl == 'videoBl'"
      [ngStyle]="{'width': widget.guiprops.image.img_item_widthpx + 'px', 'height': widget.guiprops.image.img_item_heightpx + 'px'}"
      class="widget-video-item-block"
    >
      <iframe *ngIf="widget.guiprops.image.videoId" style="" id="idImageVideoFrame" src="" frameborder="0"></iframe>
      <img *ngIf="!widget.guiprops.image.videoId" class="item-image-video-block" src="https://static.leadgenic.com/dev/lg_widgets_l11/img/video_example_des.png"/>
    </div>
  </div>

  <div id="widgetMainWr" class="wigdet-main-wr" [ngClass]="classNameImgMain()" [ngStyle]="{'width': widthContentStyle}">
    <div
      *ngIf="widget.guiprops.bg.mask.enable && ((widget.guiprops['bg'].fillorImg === 'useImg') || (widget.guiprops['bg'].fillorImg === 'useVideo')) && widget.guiprops.bg.mask.area === 'Только под контентом'"
      id="widgetMaskTop"
      class="widget-mask"
      [ngStyle]="{'background': widget.guiprops.bg.mask.rgbaColor}"
    ></div>
    <ul
      id="mainElListUl"
      class="widget-flex-dis"
      [sortablejs]="widget.guiprops.elementsList"
      [sortablejsOptions]="{ animation: 100, handle: '.grab-handle-element' }"
      [ngStyle]="{'height': heightContentStyle}"
      [ngClass]="classNameVerticalOrient()"
    >
      <div *ngIf="(widget.guiprops.elementsList.length == 0 && showAddButtonOnWidget)" class="help-block-add-if-not-sel">
        <div>
          <div class="widget-content-add">
            <button class="btn-default widget-content-add-btn" (click)="addNewElementToContent(); $event.stopPropagation();"><i class="fa fa-plus"></i>Добавить новый элемент</button>
            <span>Для добавления элемента нажмите на эту кнопку и выберите элемент из списка</span>
            <a href="" (click)="hiddenAddButtonOnWidget(); $event.stopPropagation();">скрыть кнопку</a>
          </div>
        </div>
      </div>
      <li
        *ngFor="let item of widget.guiprops.elementsList; trackBy: trackById; index as i"
        class="element-to-append-summernote margin-if-{{item.name}}"
        [ngClass]="addExtraClassForFullWidth($index)"
        [attr.data-to]="'elemScrN' + i"
        (click)="scrollToEl($index, item.name); $event.stopPropagation();"
        [ngStyle]="{'z-index': 100 - i}"
      >
        <div class="remove-element-from-list-view remove-sub-form-item">
          <a
            (click)="removeElementFromElementsList($index, item); $event.stopPropagation();"
            href="javascript:void(0);"
          ><i class="remove-sub-item fa fa-trash-o"></i></a>
        </div>
        <div class="move-element-view grab-handle-element"><i class="fa fa-arrows"></i></div>

        <div class="btn-add-on-elem" [ngClass]="getItemClassData(item)" (click)="addNewElementToContent($index, $event); $event.stopPropagation();">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <div class="tooltip top fade in">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner">Добавить элемент</div>
          </div>
        </div>
        <div class="btn-copy-on-elem" [ngClass]="getItemClassData(item)" (click)="copyNewElementToContent(item, $index, $event); $event.stopPropagation();">
          <i class="fa fa-copy" aria-hidden="true"></i>
          <div class="tooltip top fade in">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner">Клонировать элемент</div>
          </div>
        </div>

        <div *ngIf="item.name == 'text-element'" class="social-block-pd">
          <div class="editorFontLine">
            <div
              class="title-main click-edit-cl"
              [ngClass]="(item.textShadow.enable) ? '' : 'no-text-shadow-imp'"
              [ngStyle]="{'font-size': item.fontSize + 'px', 'font-family': item.font.fontFamily, 'text-shadow': item.textShadow.horiz + 'px ' + item.textShadow.vertical + 'px ' + item.textShadow.blur + 'px ' + getRGBAColor(item.textShadow)}"
            >
              <div [ngxSummernote]="optionsSummernote" [(summernoteModel)]="item.textSummer"></div>
            </div>
          </div>
        </div>

        <div *ngIf="item.name == 'split-element'" class="social-block-pd">
          <div class="split-element-block" [ngClass]="hrPosSel(item)">
            <hr class="style{{item.type}}" [ngStyle]="{'border-color': item.color, 'width': item.widthpx + 'px'}">
          </div>
        </div>

        <div *ngIf="item.name == 'padding-element'">
          <div class="padding-element-block" [ngStyle]="{'height':item.padding - 15 + 'px'}"></div>
        </div>

        <div *ngIf="item.name == 'video-element'" class="social-block-pd">
          <div class="element-video-block" [ngClass]="hrPosSel(item)">
            <iframe *ngIf="item.videoId" style="" id="idVideoFrame{{item.counter}}" src="" frameborder="0"></iframe>
            <img *ngIf="!item.videoId" class="element-video-block-img" [ngStyle]="{'width': item.widthpx + 'px'}" src="https://static.leadgenic.com/dev/lg_widgets_l11/img/video_example_des.png" />
          </div>
        </div>

        <div *ngIf="item.name == 'image-element'" class="social-block-pd">
          <div class="element-image-block" [ngClass]="hrPosSel(item)">
            <img class="element-image-block-img" [ngStyle]="{'width': item.widthpx + 'px'}" [src]="item.imageUrl">
          </div>
        </div>

        <div *ngIf="item.name == 'coupon-element'" class="social-block-pd">
          <div class="editorFontLine element-coupon-title" *ngIf="item.title.enable">
            <div
              class="title-main click-edit-cl"
              [ngClass]="(item.title.textShadow.enable) ? '' : 'no-text-shadow-imp'"
              [ngStyle]="{'font-size': item.title.fontSize + 'px', 'font-family': item.title.font.fontFamily, 'text-shadow': item.title.textShadow.horiz + 'px ' + item.title.textShadow.vertical + 'px ' + item.title.textShadow.blur + 'px ' + getRGBAColor(item.title.textShadow)}"
            >
              <div [ngxSummernote]="optionsSummernote" [(summernoteModel)]="item.title.textSummer"></div>
            </div>
          </div>
          <div class="element-coupon-block" [ngClass]="hrPosSel(item)">
            <div
              class="element-coupon-wr"
              [ngStyle]="{'width': widthCouponStyle(item), 'background': getRGBAColor(item), 'color': item.colorText, 'border-radius': item.borderRadius + 'px', 'font-size': item.fontSize+'px', 'font-family': item.font.fontFamily}"
            >
              <div class="element-coupon-name">COUPON CODE</div>
              <div class="element-coupon-hover">{{ item.hoverText }}</div>
            </div>
          </div>
        </div>

        <div *ngIf="item.name == 'iframe-element'" class="social-block-pd">
          <div [ngClass]="hrPosSel(item)">
            <div [ngClass]="heightIfrmPosSel(item)">
              <div id="elementIframeBlock{{ item.counter }}" class="element-iframe-block" [ngStyle]="{'width': item.widthpx + 'px', 'height': item.heightpx + 'px'}">
                <iframe id="idFrame{{ item.counter }}">
                  <!DOCTYPE html>
                  <html lang="en">
                  <head><meta charset="UTF-8" /></head>
                  <body></body>
                  </html>
                </iframe>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="item.name == 'closelink-element'">
          <div *ngIf="!widget.guiprops.exit.button.enable">
            <div class="widget1-btn-exit" [ngClass]="hrPosSel(widget.guiprops['exit'])">
              <div
                class="click-edit-cl button-link-close"
                [ngStyle]="{'font-size': widget.guiprops['exit'].fontSize + 'px', 'font-family': widget.guiprops['exit'].font.fontFamily}"
              >
                <div [ngxSummernote]="optionsSummernote" [(summernoteModel)]="widget.guiprops['exit'].textSummer"></div>
              </div>
            </div>
          </div>
          <div *ngIf="widget.guiprops.exit.button.enable">
            <div class="widget1-btn-bl" [ngClass]="btnPosSel(widget.guiprops.exit.button)">
              <div
                class="click-edit-cl button-send button-alone"
                [ngClass]="setBtnStyleClass(widget.guiprops.exit.button)"
                [ngStyle]="{'font-size': widget.guiprops.exit.button.fontSize + 'px', 'font-family': widget.guiprops.exit.button.font.fontFamily, 'border-color': widget.guiprops.exit.button.colorBtn, 'background': widget.guiprops.exit.button.colorBtn, 'color': widget.guiprops.exit.button.colorTextBtn, 'border-radius': widget.guiprops.exit.button.borderRadiusBtn + 'px', 'width': widthExitBtnStyle}"
              >
                <div [ngxSummernote]="optionsSummernote" [(summernoteModel)]="widget.guiprops.exit.button.textSummer"></div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="item.name == 'form-element'" class="color-pod" [ngClass]="hrPosSelWholeForm(widget.guiprops['form'])">
          <div class="form-whole-bl" [ngStyle]="{'width': widget.guiprops.form.form_widthpx + 'px'}">
            <div id="widgetFormBlockM" class="widget1-form-bl" [ngClass]="hrPosSelForm(widget.guiprops['form'])">
              <div>
                <div class="widget-inp-bl" *ngFor="let item of widget.guiprops['formSet'].items" [ngClass]="classNameInputItem(item)" [ngStyle]="{'width': widget.guiprops['form'].widthpx + 'px'}">
                  <div [ngSwitch]="elementInputItem(item)">
                    <div *ngSwitchCase="inputEl" class="text-input-class">
                      <input
                        type="text"
                        *ngIf="item.type !== 'phone' || !widget.guiprops.formSet.phoneMask.enable"
                        [id]="'elementid' + item.type"
                        [ngClass]="classNameFormInput(item.type)"
                        class="form-control form-widget-cntrl"
                        [style]="'background: ' + widget.guiprops['form'].rgbaInputForm + '; color: ' + widget.guiprops['form'].colorTitleInputForm + '; border-radius: ' + widget.guiprops['form'].borderRadiusInputForm + 'px; border-color: ' + widget.guiprops['form'].border.color + '!important'"
                      />
                      <input
                        type="text"
                        *ngIf="item.type === 'phone' && widget.guiprops.formSet.phoneMask.enable"
                        [id]="'elementid' + item.type"
                        [ngClass]="classNameFormInput(item.type)"
                        class="form-control form-widget-cntrl"
                        readonly
                        [style]="'background: ' + widget.guiprops['form'].rgbaInputForm + '; color: ' + widget.guiprops['form'].colorTitleInputForm + '; border-radius: ' + widget.guiprops['form'].borderRadiusInputForm + 'px; border-color: ' + widget.guiprops['form'].border.color + '!important'"
                      />
                      <label
                        [for]="'elementid' + item.type"
                        class="form-widget-cntrl-label"
                        [style]="'color: ' + widget.guiprops['form'].colorTitleInputForm"
                      >{{ item.placeholder }}</label>
                      <span
                        *ngIf="item.type === 'phone' && widget.guiprops.formSet.phoneMask.enable"
                        class="masked-span-helper"
                        [style]="'color: ' + widget.guiprops['form'].colorTitleInputForm"
                      >{{ getInputFormPhoneMask() }}</span>
                    </div>
                    <div *ngSwitchCase="textarEl" class="text-input-class text-input-area-class">
                      <textarea
                        [id]="'elementid' + item.type"
                        [ngClass]="classNameFormInput(item.type)"
                        class="form-control form-widget-cntrl"
                        [style]="'background: ' + widget.guiprops['form'].rgbaInputForm + ';color: ' + widget.guiprops['form'].colorTitleInputForm + ';border-radius: ' + widget.guiprops['form'].borderRadiusInputForm + 'px;border-color: ' + widget.guiprops['form'].border.color + '!important'"
                      ></textarea>
                      <label
                        [for]="'elementid' + item.type"
                        class="form-widget-cntrl-label"
                        [style]="'color: ' + widget.guiprops['form'].colorTitleInputForm"
                      >{{ item.placeholder }}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="widget1-btn-bl widget1-btn-bl-min-marg" [ngClass]="btnPosSel(widget.guiprops.button)">
                <div class="click-edit-cl button-send" [ngClass]="setBtnStyleClass(widget.guiprops.button)" [ngStyle]="{'font-size':widget.guiprops['button'].fontSize+'px', 'font-family':widget.guiprops['button'].font.fontFamily, 'border-color':widget.guiprops['button'].colorBtn, 'background':widget.guiprops['button'].colorBtn, 'color':widget.guiprops['button'].colorTextBtn, 'border-radius':widget.guiprops['button'].borderRadiusBtn+'px', 'width':widthBtnFormStyle}">
                  <div [ngxSummernote]="optionsSummernote" [(summernoteModel)]="widget.guiprops['button'].textSummer"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="item.name === 'button-element'">
          <div>
            <div id="widgetButtonBlockM" class="widget1-btn-bl" [ngClass]="btnPosSel(widget.guiprops.button)">
              <div class="click-edit-cl button-send button-alone" [ngClass]="setBtnStyleClass(widget.guiprops.button)" [ngStyle]="{'font-size':widget.guiprops['button'].fontSize+'px', 'font-family':widget.guiprops['button'].font.fontFamily, 'border-color':widget.guiprops['button'].colorBtn, 'background':widget.guiprops['button'].colorBtn, 'color':widget.guiprops['button'].colorTextBtn, 'border-radius':widget.guiprops['button'].borderRadiusBtn+'px', 'width':widthBtnStyle}">
                <div [ngxSummernote]="optionsSummernote" [(summernoteModel)]="widget.guiprops['button'].textSummer"></div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="item.name === 'social-element'" class="m-r-n-xs m-b-n-sm social-block-pd" [ngClass]="hrPosSel(widget.guiprops.social)">
          <div class="center-mode-social">
            <div
              *ngFor="let itemSocial of widget.guiprops['social'].items"
              class="webicon large soc-var-1 {{ itemSocial.name }} {{ widget.guiprops['social'].type }}"></div>
          </div>
        </div>

      </li>
    </ul>
  </div>
</div>
