.widget1 {
  background: transparent;
  width: 100%;
  margin: 25px auto 0;
  padding: 15px 18px;
  overflow: hidden;
  display: block;
  position: relative;
  min-width: 56px;
  min-height: 50px;
  z-index: 1;
}

.absolute-bg-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.absolute-bg-content .video-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.absolute-bg-content .video-bg iframe {
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100% !important;
  height: 100% !important;
}

.absolute-bg-content .video-bg img {
  display: block;
  width: 100%;
  height: 100%;
}

.block-widget-bg {
  background: url("~src/assets/images/widgets/land.jpg") center no-repeat;
  background-size: cover;
}

#globalMask {
  position: absolute;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
}

.color-bg-on-form {
  position: absolute;
  left: -30px;
  width: calc(100% + 60px);
  height: calc(100% + 15px);
}

.widget-image {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 101;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.widget-image.hide-image-bl-for-rebuild {
  opacity: 0;
}

.widget-image-item-block {
  background: url("~src/assets/images/widgets/image_def2.png") center no-repeat, #fff;
  background-size: contain;
}

.widget-video-item-block {
  position: relative;
}

.widget-video-item-block img {
  display: block;
  width: 100%;
  height: 100%;
}

.widget-video-item-block iframe {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%!important;
  height: 100%!important;
  z-index: -1;
}

.widget-image-has-full-wh .widget-image-item-block,
.widget-image-has-full-wh .widget-video-item-block {
  width: 100%!important;
  height: 100%!important;
}

.widget-image-has-center-orient {
  align-items: center;
}

.widget-image-has-top-orient {
  align-items: flex-start;
}

.widget-image-has-bottom-orient {
  align-items: flex-end;
}

.wigdet-main-wr {
  position: relative;
  z-index: 3;
}

.wigdet-main-wr ul.widget-flex-dis {
  width: 100%;
}

.wigdet-main-wr ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: flex-start;
}

.wigdet-main-wr ul.widget-main-ul-bottom {
  justify-content: flex-end;
}

.wigdet-main-wr ul.widget-main-ul-center {
  justify-content: center;
}

.wigdet-main-wr ul li {
  display: block;
  width: 100%;
  position: relative;
  border: 1px dashed transparent;
  margin: 0 0 0;
  padding-bottom: 15px;
  transition: margin 0.1s ease;
}

.wigdet-main-wr ul li:first-child {
  margin-top: 0;
}

.wigdet-main-wr ul li:last-child {
  margin-bottom: -5px;
  padding-bottom: 5px;
}

.wigdet-main-wr ul li.margin-if-split-element {
  margin-bottom: 5px;
}

.wigdet-main-wr ul li.margin-if-iframe-element .widget1-hrh-user-w {
  margin-bottom: -4px;
}

.wigdet-main-wr ul li.margin-if-iframe-element .widget1-hrh-full-w {
  margin-bottom: -8px;
}

.wigdet-main-wr ul li:hover {
  border-color: #3498db;
}

.wigdet-main-wr ul li.help-block-add-if-not-sel:hover {
  border-color: transparent;
}

.widget-mask {
  position: absolute;
  left: -18px;
  right: -18px;
  top: -15px;
  bottom: -15px;
}

.help-block-add-if-not-sel {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}

.wigdet-main-wr ul li.extraClassDefWidth {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}

.remove-element-from-list-view {
  position: absolute;
  top: -1px;
  right: -19px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0;
  color: #fff;
  display: none;
  background-color: rgba(52, 152, 219, 1);
  background-color: #3498db;
}

.wigdet-main-wr ul li:hover .remove-element-from-list-view {
  display: block;
}

.remove-element-from-list-view .remove-sub-item {
  font-size: 18px;
  width: 15px;
  padding: 0;
  float: none;
  color: #fff;
}

.remove-element-from-list-view:hover .remove-sub-item {
  color: #ff0000;
}

.remove-sub-form-item {
  position: absolute;
  top: 5px;
  right: 5px;
  margin-right: 10px;
}

.remove-sub-form-item .remove-sub-item {
  font-size: 25px;
}

.move-element-view {
  color: #fff;
  cursor: move;
  position: absolute;
  top: -1px;
  left: -19px;
  padding-left: 1px;
  padding-right: 1px;
  text-align: center;
  width: 19px;
  height: 19px;
  margin: 0;
  display: none;
  background-color: rgba(52, 152, 219, 1);
  background-color: #3498db;
}

.wigdet-main-wr ul li:hover .move-element-view {
  display: block;
}

.move-element-view i {
  display: block;
  font-size: 16px;
  width: 15px;
  line-height: 19px;
  padding: 0;
}

.btn-add-on-elem,
.btn-copy-on-elem {
  display: none!important;
  cursor: pointer;
  position: absolute;
  z-index: 999;
  left: 50%;
  bottom: -12px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  border-radius: 3px;
  background-color: #3498db;
}

.btn-add-on-elem {
  margin-left: -12.5px;
}

.btn-add-on-elem.clonable-button {
  margin-left: -26px;
}

.btn-copy-on-elem {
  margin-left: 1px;
}

.btn-add-on-elem:hover,
.btn-copy-on-elem:hover {
  opacity: 1 !important;
}

.btn-add-on-elem i.fa-plus {
  float: none;
  color: #fff;
  margin: 0;
}

.btn-copy-on-elem i.fa-copy {
  float: none;
  color: #fff;
  margin: 0;
}

.wigdet-main-wr ul li:hover .btn-add-on-elem {
  display: block !important;
}

.wigdet-main-wr ul li:hover .btn-copy-on-elem.clonable-button {
  display: block !important;
}

.social-block-pd {
  margin-right: -5px;
  margin-bottom: -10px;
}

.social-block-pd img {
  display: inline-block;
}

.no-text-shadow-imp {
  text-shadow: none!important;
}

.note-editor h1,
.note-editor h2,
.note-editor h3,
.note-editor h4,
.note-editor h5,
.note-editor h6,
.note-editor p,
.note-editor span {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: 1em;
  color: #424242;
  -webkit-font-smoothing: antialiased;
}

.note-editor font p,
.note-editor font span {
  color: inherit;
}

div.button-send.click-edit-cl .note-editor h1,
div.button-send.click-edit-cl .note-editor h2,
div.button-send.click-edit-cl .note-editor h3,
div.button-send.click-edit-cl .note-editor h4,
div.button-send.click-edit-cl .note-editor h5,
div.button-send.click-edit-cl .note-editor h6,
div.button-send.click-edit-cl .note-editor p,
div.button-send.click-edit-cl .note-editor span {
  color: #fff;
}

div.button-send.click-edit-cl .note-editor font p,
div.button-send.click-edit-cl .note-editor font span {
  color: inherit;
}

.widget1-btn-exit div.button-link-close.click-edit-cl .note-editor h1,
.widget1-btn-exit div.button-link-close.click-edit-cl .note-editor h2,
.widget1-btn-exit div.button-link-close.click-edit-cl .note-editor h3,
.widget1-btn-exit div.button-link-close.click-edit-cl .note-editor h4,
.widget1-btn-exit div.button-link-close.click-edit-cl .note-editor h5,
.widget1-btn-exit div.button-link-close.click-edit-cl .note-editor h6,
.widget1-btn-exit div.button-link-close.click-edit-cl .note-editor p,
.widget1-btn-exit div.button-link-close.click-edit-cl .note-editor span {
  color: #6a6c6f;
}

.widget1-btn-exit div.button-link-close.click-edit-cl .note-editor font p,
.widget1-btn-exit div.button-link-close.click-edit-cl .note-editor font span {
  color: inherit;
}

.widget1-btn-bl .click-edit-cl .note-editor,
.widget1-btn-exit .click-edit-cl .note-editor {
  line-height: 1.5em!important;
}
.widget1-btn-bl .click-edit-cl .note-editor,
.widget1-btn-exit .click-edit-cl .note-editor{
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
}
.widget1-btn-bl .click-edit-cl .note-editor .note-editing-area,
.widget1-btn-exit .click-edit-cl .note-editor .note-editing-area{
  width: 100%;
  text-align: center;
}
.widget1-btn-bl div.button-send .note-editor,
.widget1-btn-exit div.button-send .note-editor{
  min-height: 30px;
}
.widget1-btn-bl div.button-link-close .note-editor,
.widget1-btn-exit div.button-link-close .note-editor{
  min-height: 21px;
}

.note-editor {
  border: none;
  line-height: 1em;
}

.note-editor a {
  color: inherit;
  text-decoration: underline;
}

.note-editor a:hover {
  text-decoration: none;
}

.tooltip-inner {
  background-color: #34495e;
  word-wrap: break-word;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #34495e
}

.editorFontLine .note-editor .note-editing-area .note-editable {
  line-height: 1em;
}

.widget1-hr-left {
  text-align: left;
}

.widget1-hr-center {
  text-align: center;
}

.widget1-hr-right {
  text-align: right;
}

.widget1-w-hr-left {
  text-align: left;
}

.widget1-w-hr-center {
  text-align: center;
}

.widget1-w-hr-right {
  text-align: right;
}

.widget1-hr-full-w hr,
.widget1-hr-full-w img,
.widget1-hr-full-w .element-iframe-block,
.editorFontLine {
  width: 100%!important;
}

.widget1-hrh-full-w .element-iframe-block {
  height: auto!important;
}

.widget1-w-hr-full-w .form-whole-bl {
  width: 100%!important;
}

.form-whole-bl {
  display: inline-block;
}

.element-video-block iframe {
  position: relative;
  z-index: -1;
}

.split-element-block hr {
  display: inline-block;
}

.element-coupon-title {
  margin-bottom: 3px;
}

.element-coupon-block {
  margin-bottom: -4px;
}

.element-coupon-block:not(.widget1-hr-user-w) .element-coupon-wr {
  max-width: 100%;
}

.element-coupon-wr {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  line-height: 2em;
  height: 2em;
  padding: 0 10px;
  position: relative;
}

.element-coupon-wr > div {
  white-space: nowrap;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.3s ease;
}

.element-coupon-wr:hover .element-coupon-name {
  margin-top: -2em;
}

.element-iframe-block {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.element-iframe-block iframe {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  z-index: -1;
}

.widget1-btn-exit {
  margin-top: 0px;
  text-align: center;
}

.widget1-btn-exit div.button-link-close {
  display: inline-block;
  background: transparent;
  border: none;
  width: auto;
  margin: 0 0;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}

.widget1-btn-exit div.button-link-close:hover {
  text-decoration: none;
}

.widget1-btn-bl {
  text-align: left;
}

.widget1-btn-bl-center {
  text-align: center;
}

.widget1-btn-bl-right {
  text-align: right;
}

.widget1-btn-bl div.button-send {
  display: inline-block;
  text-align: center;
  margin: 15px 0 0;
  padding: 5px 20px;
  min-height: 42px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased!important;
}

.widget1-btn-bl-min-marg {
  margin-left: -1%;
  margin-right: -1%;
}

.widget1-btn-bl-min-marg div.button-send {
  margin-left: 1%;
  margin-right: 1%;
}

.widget1-btn-bl div.button-alone {
  margin-top: 0;
}

.widget1 div.button-send:after {
  clear: both;
}

.widget1 .widget-inp-bl {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.widget1 .widget1-hr-full-w .widget-inp-bl {
  width: 98%!important;
}

.widget1-form-bl {
  margin-top: -15px;
  margin-left: -1%;
  margin-right: -1%;
}

.widget1 .widget-input-gorizontal {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  display: block;
  float: left;
}

.widget1 .widget1-hr-full-w .widget-input-gorizontal {
  width: 48%!important;
}

.widget1 .widget-input-gorizontal-textar {
  width: 98%!important;
  margin-left: 1%;
  margin-right: 1%;
  display: block;
  float: left;
}

.widget-input-gorizontal-textar input.form-control, .widget-input-gorizontal-textar textarea.form-control {
  height: 103px;
}

.widget-input-vert-textar input.form-control, .widget-input-vert-textar textarea.form-control {
  height: 103px;
}

.widget1 .text-input-class {
  margin-top: 15px;
  height: 42px;
  position: relative;
}

.widget1 .text-input-area-class {
  height: 103px;
}

.widget1 input.form-control, .widget1 textarea.form-control {
  cursor: text;
  height: auto;
  padding-top: 14px;
  padding-bottom: 6px;
  font-size: 1.1em;
  border: none;
  line-height: 1.6em;
  position: absolute;
  margin: 0;
}

.widget1 input.widget-input-border, .widget1 textarea.widget-input-border {
  border: 1px solid #eee;
  padding-bottom: 5px;
  padding-top: 13px;
}

.text-input-class label {
  cursor: text;
  display: block;
  text-align: left;
  position: absolute;
  transition: all 0.15s ease;
  width: 100%;
  color: #6a6c6f;
  font-weight: normal;
  font-size: 1.1em;
  line-height: 1.6em;
  padding: 10px 12px;
  white-space: nowrap;
  overflow: hidden;
}

.text-input-class span.masked-span-helper {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 1.1em;
}

.widget1 input.filled ~ label,
.widget1 input:focus ~ label,
.widget1 input.masked ~ label,
.widget1 textarea.filled ~ label,
.widget1 textarea:focus ~ label{
  font-size: 0.6em;
  top: -8px;
}

.center-mode-social {
  display: inline-block;
}
