<app-color-line type="modals"></app-color-line>
<div class="modal-header text-center">
  <h4 class="modal-title">{{ 'widgetsList.company.delete.title' | translate }}</h4>
  <h5>{{ deletedCompany.name }}</h5>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-12" ng-if="!companies.length">
      <div class="row margined-bottom-15 margined-left-0 select-site-title">
        <h5 style="text-align: center">{{ 'widgetsList.company.delete.one.company' | translate }}</h5>
      </div>
    </div>
    <div class="col-lg-12" ng-if="companies.length">
      <div class="row margined-bottom-15 margined-left-0 select-site-title">
        <h5>{{ 'widgetsList.company.delete.move' | translate }}:</h5>
      </div>

      <div class="dropdown site-selector">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="dropdown-selected-cropp" style="max-width: 90%!important;">{{ currentCompany.name }}</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="company in companies" ng-click="changeCompany(company)"><a href="#">{{ company.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button id="deleteCompany1" ng-if="companies.length" ng-click="performDeleteCompany('MOVE_WIDGETS')" type="button" class="btn btn-primary floated-left">{{ 'widgetsList.company.delete.move' | translate }}</button>
  <button id="deleteCompany2" ng-click="performDeleteCompany('DELETE_WIDGETS')" type="button" class="btn btn-danger floated-right">{{ 'widgetsList.company.delete.remove' | translate }}</button>
</div>
