<div *ngIf="coupon">
  <div class="d-flex justify-content-between row-subitem row-subitem-padding pt-1 mt-3">
    <label *ngIf="coupon.elementType === 'form'" class="control-label switcher-label-xs control-label-des">
      {{ 'widgets.coupon.couponCallback.actionDesc1' | translate }}<span class="label label-warning tariff-info">окупаемый</span>
    </label>
    <label *ngIf="coupon.elementType === 'social'" class="control-label switcher-label-xs control-label-des">
      {{ 'widgets.coupon.couponCallback.actionDesc1' | translate }}<span class="label label-warning tariff-info">окупаемый</span>
    </label>
    <label *ngIf="coupon.elementType === 'closeBtn'" class="control-label switcher-label-xs control-label-des">
      {{ 'widgets.coupon.couponCallback.actionDesc1' | translate }}<span class="label label-warning tariff-info">окупаемый</span>
    </label>
    <ui-switch
      size="small"
      [(ngModel)]="coupon.enable"
      (change)="onChangePayment($event)"
    ></ui-switch>
  </div>

  <div class="row-subitem mt-2">
    <div *ngIf="coupon.elementType === 'form'" class="col-sm-12 row-subitem-padding widget-small-text">
      {{ 'widgets.coupon.couponCallback.actionDesc2.form' | translate }}
    </div>
    <div *ngIf="coupon.elementType === 'social'" class="col-sm-12 row-subitem-padding widget-small-text">
      {{ 'widgets.coupon.couponCallback.actionDesc2.social' | translate }}
    </div>
    <div *ngIf="coupon.elementType === 'closeBtn'" class="col-sm-12 row-subitem-padding widget-small-text">
      {{ 'widgets.coupon.couponCallback.actionDesc2.closeBtn' | translate }}
    </div>
  </div>

  <div *ngIf="coupon.enable">
    <div *ngIf="!coupons.length" class="row-subitem row-subitem-padding coupons-flex-wr mt-2 pt-1">
      <a href="../../../coupons/?enableCouponModal=true" target="_blank" class="btn btn-primary btn-coupon-add">
        {{ 'widgets.coupon.couponCallback.couponAdd' | translate }}
      </a>
      <button
        (click)="refreshCouponsList()"
        class="btn btn-default refresh-coupons-element-btn"
        data-toggle="tooltip"
        data-container="body"
        data-placement="top"
        [attr.data-original-title]="'widgets.coupon.couponCallback.couponRefresh' | translate"
      >
        <i class="fas fa-sync"></i>
      </button>
    </div>

    <div *ngIf="coupons.length" class="row-subitem row-subitem-padding mt-2 pt-1">
      <h3>{{ 'widgets.coupon.couponCallback.couponChoose' | translate }}</h3>
      <div class="coupons-flex-wr mt-1">
        <div class="dropdown btn-coupon-chose">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {{ coupon.coupon.coupon.name }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li
              role="presentation"
              *ngFor="let itemCoupon of coupons"
              (click)="coupon.coupon.coupon = itemCoupon"
            >
              <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemCoupon.name }}</a>
            </li>
          </ul>
        </div>
        <button
          (click)="refreshCouponsList()"
          class="btn btn-default refresh-coupons-element-btn"
          data-toggle="tooltip"
          data-container="body"
          data-placement="top"
          title=""
          [attr.data-original-title]="'widgets.coupon.couponCallback.couponRefresh' | translate"
        >
          <i class="fas fa-sync"></i>
        </button>
      </div>
    </div>
    <div class="row-subitem mt-1 border-item">
      <div
        class="row-subitem-padding widget-small-text underline-links blue-links hover-links"
        [innerHTML]="'widgets.coupon.couponCallback.desc' | translate"
      ></div>
    </div>

    <div class="mt-3 pt-1">
      <h3 class="h4-text-tit control-label-des helper-title-3level">
        {{ 'widgets.coupon.couponCallback.popupWindow.setting.title' | translate }}
      </h3>
    </div>

    <!-- Coupon preview -->
    <div class="row-subitem mt-3">
      <div class="coupon-viewer-wr">
        <div class="coupon-viewer-text1">{{ coupon.coupon.actionText }}</div>
        <div class="element-coupon-wr" [ngStyle]="{'background-color': coupon.coupon.color, 'color': coupon.coupon.colorText}">
          <div class="element-coupon-name">COUPON CODE</div>
          <div class="element-coupon-hover">{{ coupon.coupon.hoverText }}</div>
        </div>
        <div class="coupon-viewer-text2">{{ coupon.coupon.manualText }}</div>
      </div>
    </div>

    <div class="row-subitem row-subitem-padding mt-3 pt-2 border-item">
      <h3>{{ 'widgets.coupon.couponCallback.popupWindow.setting.position' | translate }}</h3>

      <div class="row-subitem-padding mt-2 pt-1">
        <app-position-control
          [positions]="placePopup"
          [currentPosition]="coupon.coupon.positionPopup"
          (changePosition)="coupon.coupon.positionPopup = $event"
        ></app-position-control>
      </div>
    </div>

    <div class="d-flex justify-content-between mt-3">
      <label class="control-label control-label-des">{{ 'widgets.coupon.couponCallback.popupWindow.setting.colorBg' | translate }}</label>
      <div class="d-flex text-right">
        <input
          [(colorPicker)]="coupon.coupon.color"
          [style.background]="coupon.coupon.color"
          [cpAlphaChannel]="'disabled'"
          [cpOutputFormat]="'hex'"
          cpPosition="left"
          class="color-picker-control"
        />
        <input
          [(ngModel)]="coupon.coupon.color"
          class="picker-input color"
        />
      </div>
    </div>

    <div class="d-flex justify-content-between mt-3 border-item">
      <label class="control-label control-label-des">{{ 'widgets.coupon.couponCallback.popupWindow.setting.color' | translate }}</label>
      <div class="d-flex text-right">
        <input
          [(colorPicker)]="coupon.coupon.colorText"
          [style.background]="coupon.coupon.colorText"
          [cpAlphaChannel]="'disabled'"
          [cpOutputFormat]="'hex'"
          cpPosition="left"
          class="color-picker-control"
        />
        <input
          [(ngModel)]="coupon.coupon.colorText"
          class="picker-input color"
        />
      </div>
    </div>

    <h3 class="mt-3">{{ 'widgets.coupon.couponCallback.popupWindow.setting.text' | translate }}</h3>

    <div class="widget-name-block-rel row-subitem-padding row-subitem mt-2 pt-1">
      <h3>{{ 'widgets.coupon.couponCallback.popupWindow.setting.action' | translate }}</h3>
      <textarea type="text" row="2" class="form-control mt-1" [(ngModel)]="coupon.coupon.actionText"></textarea>
    </div>

    <div class="widget-name-block-rel row-subitem-padding row-subitem mt-2 pt-1">
      <h3>{{ 'widgets.coupon.couponCallback.popupWindow.setting.manual' | translate }}</h3>
      <textarea type="text" row="2" class="form-control mt-1" [(ngModel)]="coupon.coupon.manualText"></textarea>
    </div>

    <div class="widget-name-block-rel row-subitem-padding row-subitem mt-2 pt-1">
      <h3>{{ 'widgets.coupon.couponCallback.popupWindow.setting.hover' | translate }}</h3>
      <input type="text" class="form-control mt-1" [(ngModel)]="coupon.coupon.hoverText" placeholder="" />
    </div>

    <div class="widget-name-block-rel row-subitem-padding row-subitem mt-2 pt-1 border-item">
      <h3>{{ 'widgets.coupon.couponCallback.popupWindow.setting.click' | translate }}</h3>
      <input type="text" class="form-control mt-1" [(ngModel)]="coupon.coupon.clickText" placeholder="">
    </div>

    <h3 class="mt-3">{{ 'widgets.coupon.setting.actions' | translate }}</h3>

    <div *ngIf="coupon.elementType !== 'closeBtn'" class="row-subitem row-subitem-padding mt-2 pt-1">
      <div class="form-check">
        <label class="form-check-label mr-2">
          <input
            type="checkbox"
            [(ngModel)]="coupon.coupon.closeAfter"
            class="form-check-input"
          />
          <span class="checkmark"></span>
        </label>
        <p>{{ 'widgets.coupon.setting.closeAfter' | translate }}</p>
      </div>
    </div>

    <div class="row-subitem row-subitem-padding mt-2 pt-1 mb-3">
      <div class="form-check">
        <label class="form-check-label mr-2">
          <input
            type="checkbox"
            [(ngModel)]="coupon.coupon.isCopyAction"
            class="form-check-input"
          />
          <span class="checkmark"></span>
        </label>
        <p>{{ 'widgets.coupon.setting.isCopyAction' | translate }}</p>
      </div>
    </div>
  </div>
</div>
