.coupon-switcher-wr {
  text-align: center;
}

.coupon-switcher-wr h5 {
  margin: -5px 0 15px;
}

.coupon-switcher-wr span.btn.btn-default {
  font-weight: 400 !important;
}

.coupon-switcher-wr .btn.active {
  background-color: #74d348;
  border-color: #74d348;
  color: #FFFFFF;
}

.coupon-tab h6 {
  margin: 12px 0;
  text-align: center;
}

.coupon-tab-item {
  margin-bottom: 15px;
  position: relative;
}

.coupon-tab-item .switcher-label-xs {
  font-weight: 600;
  margin: 0 0 0 10px;
}
