<div class="widgets-settings-container">
  <!-- Audience editor -->
  <div id="audiences-item">
    <!-- Audience editor core -->
    <div class="row mb-3">
      <div class="col-lg-8" id="rules-containers">
        <div class="audiences-header">
          <h1>{{ 'widgetsList.editor.audiences.title' | translate }}<span
            class="label label-warning tariff-info biggest">окупаемый</span></h1>
          <ui-switch
            [(ngModel)]="widget.audiencesEnabled"
            (change)="onChangePayment"
            class="mt-1 mr-2 float-left"
          ></ui-switch>
        </div>

        <div
          *ngIf="widget.audience.groups.length == 0 || !widget.audiencesEnabled"
          class="rule-container rule-def"
          appDropContainer
          [audience]="widget.audience"
          [type]="'AND'"
        >
          <div class="rule-droppable">
            <h4 *ngIf="widget.audiencesEnabled && widget.audience.groups.length == 0">{{ 'audience.rule.droppable' | translate }}</h4>
            <h4 *ngIf="!widget.audiencesEnabled">{{ 'audience.rule.nonactive' | translate }}</h4>
          </div>
        </div>

        <ng-container *ngIf="widget.audiencesEnabled">
          <div *ngFor="let group of widget.audience.groups; index as i">
            <div *ngIf="i !== 0" class="rule-groups-text">{{ 'audience.rule.logic.and' | translate }}</div>
            <div *ngFor="let item of group.items; index as j">
              <div class="rule-block">
                <div class="rule-header">
                  {{ item.name }} <button class="delete-element-button" (click)="removeItem(group.id, j)">&times;</button>
                </div>

                <div class="rule-body" [ngSwitch]="item.type">
                  <app-rule-devices
                    *ngSwitchCase="'devices'"
                    [item]="item"
                    [group]="group"
                    (remove)="removeSubItem($event.groupId, $event.itemType, $event.index)"
                    (add)="addSubItem($event)"
                  ></app-rule-devices>

                  <app-rule-refer
                    *ngSwitchCase="'refer'"
                    [item]="item"
                    [group]="group"
                    (remove)="removeSubItem($event.groupId, $event.itemType, $event.index)"
                    (add)="addSubItem($event)"
                  ></app-rule-refer>

                  <app-rule-social
                    *ngSwitchCase="'social'"
                    [item]="item"
                    [group]="group"
                    (remove)="removeSubItem($event.groupId, $event.itemType, $event.index)"
                    (add)="addSubItem($event)"
                  ></app-rule-social>

                  <app-rule-type
                    *ngSwitchCase="'type'"
                    [item]="item"
                    [group]="group"
                    (remove)="removeSubItem($event.groupId, $event.itemType, $event.index)"
                    (add)="addSubItem($event)"
                  ></app-rule-type>

                  <app-rule-url
                    *ngSwitchCase="'url'"
                    [item]="item"
                    [group]="group"
                    (remove)="removeSubItem($event.groupId, $event.itemType, $event.index)"
                    (add)="addSubItem($event)"
                  ></app-rule-url>

                  <app-rule-visit
                    *ngSwitchCase="'visit'"
                    [item]="item"
                    [group]="group"
                    (remove)="removeSubItem($event.groupId, $event.itemType, $event.index)"
                    (add)="addSubItem($event)"
                  ></app-rule-visit>

                  <app-rule-visit-no
                    *ngSwitchCase="'visitno'"
                    [item]="item"
                    [group]="group"
                    (remove)="removeSubItem($event.groupId, $event.itemType, $event.index)"
                    (add)="addSubItem($event)"
                  ></app-rule-visit-no>

                  <h1 *ngSwitchDefault>ERROR!</h1>
                </div>
              </div>
              <div class="rule-groups-text"><span>{{ 'audience.rule.logic.or' | translate }}</span></div>
            </div>

            <div
              class="rule-container mb-3"
              appDropContainer
              [audience]="widget.audience"
              [type]="'OR'"
              [index]="i"
            >
              <div class="rule-droppable-or">
                <h4>{{ 'audience.rule.ordroppable' | translate }}</h4>
              </div>
            </div>
            <div *ngIf="i === widget.audience.groups.length - 1">
              <div class="rule-groups-text rule-groups-text-ok"><span>{{ 'audience.rule.logic.and' | translate }}</span></div>
              <div
                class="rule-container rule-container-ok"
                appDropContainer
                [audience]="widget.audience"
                [type]="'AND'"
              >
                <div class="rule-droppable-and">
                  <h4>{{ 'audience.rule.anddroppable' | translate }}</h4>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="col-lg-4 rules-templates-list">
        <h3 class="control-label">{{ 'audience.rules' | translate }}</h3>

        <div
          class="audience-rule"
          [class.disabled]="!widget.audiencesEnabled"
          data-code="refer"
          data-title="{{ 'audience.rule.refer.title' | translate }}"
        >
          <span><img src="assets/images/widgets/move.svg" alt="Move" /> {{ 'audience.rule.refer.title' | translate }}</span> <a
          data-toggle="tooltip"
          data-placement="top"
          title=""
          class="info-link"
          [attr.data-original-title]="'audience.rule.refer.desc' | translate"><i class="far fa-question-circle"></i></a>
        </div>

        <div
          class="audience-rule"
          [class.disabled]="!widget.audiencesEnabled"
          data-code="type"
          data-title="{{ 'audience.rule.type.title' | translate }}"
        >
          <span><img src="assets/images/widgets/move.svg" alt="Move" /> {{ 'audience.rule.type.title' | translate }}</span> <a
          data-toggle="tooltip"
          data-placement="top"
          title=""
          class="info-link"
          [attr.data-original-title]="'audience.rule.type.desc' | translate"><i class="far fa-question-circle"></i></a>
        </div>

        <div
          class="audience-rule"
          [class.disabled]="!widget.audiencesEnabled"
          data-code="url"
          data-title="{{ 'audience.rule.url.title' | translate }}"
        >
          <span><img src="assets/images/widgets/move.svg" alt="Move" /> {{ 'audience.rule.url.title' | translate }}</span> <a
          data-toggle="tooltip"
          data-placement="top"
          title=""
          class="info-link"
          [attr.data-original-title]="'audience.rule.url.desc' | translate"><i class="far fa-question-circle"></i></a>
        </div>

        <div
          class="audience-rule"
          [class.disabled]="!widget.audiencesEnabled"
          data-code="visit"
          data-title="{{ 'audience.rule.visit.title' | translate }}"
        >
          <span><img src="assets/images/widgets/move.svg" alt="Move" /> {{ 'audience.rule.visit.title' | translate }}</span> <a
          data-toggle="tooltip"
          data-placement="top"
          title=""
          class="info-link"
          [attr.data-original-title]="'audience.rule.visit.desc' | translate"><i class="far fa-question-circle"></i></a>
        </div>

        <div
          class="audience-rule"
          [class.disabled]="!widget.audiencesEnabled"
          data-code="visitno"
          data-title="{{ 'audience.rule.visitno.title' | translate }}"
        >
          <span><img src="assets/images/widgets/move.svg" alt="Move" /> {{ 'audience.rule.visitno.title' | translate }}</span> <a
          data-toggle="tooltip"
          data-placement="top"
          title=""
          class="info-link"
          [attr.data-original-title]="'audience.rule.visitno.desc' | translate"><i class="far fa-question-circle"></i></a>
        </div>

        <div
          class="audience-rule"
          [class.disabled]="!widget.audiencesEnabled"
          data-code="devices"
          data-title="{{ 'audience.rule.devices.title' | translate }}"
        >
          <span><img src="assets/images/widgets/move.svg" alt="Move" /> {{ 'audience.rule.devices.title' | translate }}</span> <a
          data-toggle="tooltip"
          data-placement="top"
          title=""
          class="info-link"
          [attr.data-original-title]="'audience.rule.devices.desc' | translate"><i class="far fa-question-circle"></i></a>
        </div>

        <div
          class="audience-rule"
          [class.disabled]="!widget.audiencesEnabled"
          data-code="social"
          data-title="{{ 'audience.rule.social.title' | translate }}"
        >
          <span><img src="assets/images/widgets/move.svg" alt="Move" /> {{ 'audience.rule.social.title' | translate }}</span> <a
          data-toggle="tooltip"
          data-placement="top"
          title=""
          class="info-link"
          [attr.data-original-title]="'audience.rule.social.desc' | translate"><i class="far fa-question-circle"></i></a>
        </div>

        <div class="audience-tooolbar-desc" style="margin-top: 30px;">
          <p>{{ 'widgetsList.editor.audiences.desc1' | translate }}</p>
          <p>{{ 'widgetsList.editor.audiences.desc2' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Audience editor -->
</div>
