<div class="widgets-settings-container">
  <!-- Audience editor -->
  <div id="audiences-item">
    <!-- Audience editor core -->
    <div class="d-flex mb-3">
      <div class="col-lg-8" id="rules-containers">
        <div class="audiences-header">
          <h1>{{ 'widgetsList.editor.audiences.title' | translate }}<span
            class="label label-warning tariff-info biggest">окупаемый</span></h1>
          <ui-switch
            (change)="onChangePayment"
            [(ngModel)]="widget.audiencesEnabled"
            class="mt-1 mr-2 float-left"
          ></ui-switch>
        </div>

        <div
          *ngIf="widget.audience.groups.length == 0 || !widget.audiencesEnabled"
          [audience]="widget.audience"
          [type]="'AND'"
          appDropContainer
          class="rule-container rule-def"
        >
          <div class="rule-droppable">
            <h4
              *ngIf="widget.audiencesEnabled && widget.audience.groups.length == 0">{{ 'audience.rule.droppable' | translate }}</h4>
            <h4 *ngIf="!widget.audiencesEnabled">{{ 'audience.rule.nonactive' | translate }}</h4>
          </div>
        </div>

        <div *ngIf="widget.audiencesEnabled" class="rules-container">
          <ng-container *ngFor="let group of widget.audience.groups; index as i">
            <div *ngIf="i !== 0" class="rule-groups-text">{{ 'audience.rule.logic.and' | translate }}</div>
            <div *ngFor="let item of group.items; index as j">
              <div class="rule-block">
                <div class="rule-header">
                  {{ 'audience.rule.' + item.type.toLowerCase() + '.title' | translate }}
                  <button (click)="removeItem(group.id, j)" class="delete-element-button">&times;</button>
                </div>

                <div [ngSwitch]="item.type" class="rule-body">
                  <app-rule-devices
                    (add)="addSubItem($event)"
                    (remove)="removeSubItem($event.groupId, $event.itemType, $event.index)"
                    *ngSwitchCase="'DEVICES'"
                    [group]="group"
                    [item]="item"
                  ></app-rule-devices>

                  <app-rule-refer
                    (add)="addSubItem($event)"
                    (remove)="removeSubItem($event.groupId, $event.itemType, $event.index)"
                    *ngSwitchCase="'REFER'"
                    [group]="group"
                    [item]="item"
                  ></app-rule-refer>

                  <app-rule-social
                    (add)="addSubItem($event)"
                    (remove)="removeSubItem($event.groupId, $event.itemType, $event.index)"
                    *ngSwitchCase="'SOCIAL'"
                    [group]="group"
                    [item]="item"
                  ></app-rule-social>

                  <app-rule-type
                    (add)="addSubItem($event)"
                    (remove)="removeSubItem($event.groupId, $event.itemType, $event.index)"
                    *ngSwitchCase="'TYPE'"
                    [group]="group"
                    [item]="item"
                  ></app-rule-type>

                  <app-rule-url
                    (add)="addSubItem($event)"
                    (remove)="removeSubItem($event.groupId, $event.itemType, $event.index)"
                    *ngSwitchCase="'URL'"
                    [group]="group"
                    [item]="item"
                  ></app-rule-url>

                  <app-rule-visit
                    (add)="addSubItem($event)"
                    (remove)="removeSubItem($event.groupId, $event.itemType, $event.index)"
                    *ngSwitchCase="'VISIT'"
                    [group]="group"
                    [item]="item"
                  ></app-rule-visit>

                  <app-rule-visit-no
                    (add)="addSubItem($event)"
                    (remove)="removeSubItem($event.groupId, $event.itemType, $event.index)"
                    *ngSwitchCase="'VISIT_NO'"
                    [group]="group"
                    [item]="item"
                  ></app-rule-visit-no>

                  <h1 *ngSwitchDefault>ERROR!</h1>
                </div>
              </div>
              <div class="rule-groups-text"><span>{{ 'audience.rule.logic.or' | translate }}</span></div>
            </div>

            <div
              [audience]="widget.audience"
              [index]="i"
              [type]="'OR'"
              appDropContainer
              class="rule-container mb-3"
            >
              <div class="rule-droppable-or">
                <h4>{{ 'audience.rule.ordroppable' | translate }}</h4>
              </div>
            </div>
            <div *ngIf="i === widget.audience.groups.length - 1">
              <div class="rule-groups-text rule-groups-text-ok"><span>{{ 'audience.rule.logic.and' | translate }}</span>
              </div>
              <div
                [audience]="widget.audience"
                [type]="'AND'"
                appDropContainer
                class="rule-container rule-container-ok"
              >
                <div class="rule-droppable-and">
                  <h4>{{ 'audience.rule.anddroppable' | translate }}</h4>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-lg-4 rules-templates-list">
        <h3 class="control-label">{{ 'audience.rules' | translate }}</h3>

        <div
          [class.disabled]="!widget.audiencesEnabled"
          class="audience-rule"
          data-code="REFER"
          data-title="{{ 'audience.rule.refer.title' | translate }}"
        >
          <span><img alt="Move"
                     src="assets/images/widgets/move.svg"/> {{ 'audience.rule.refer.title' | translate }}</span> <a
          [attr.data-original-title]="'audience.rule.refer.desc' | translate"
          class="info-link"
          data-placement="top"
          data-toggle="tooltip"
          title=""><i class="far fa-question-circle"></i></a>
        </div>

        <div
          [class.disabled]="!widget.audiencesEnabled"
          class="audience-rule"
          data-code="TYPE"
          data-title="{{ 'audience.rule.type.title' | translate }}"
        >
          <span><img alt="Move"
                     src="assets/images/widgets/move.svg"/> {{ 'audience.rule.type.title' | translate }}</span> <a
          [attr.data-original-title]="'audience.rule.type.desc' | translate"
          class="info-link"
          data-placement="top"
          data-toggle="tooltip"
          title=""><i class="far fa-question-circle"></i></a>
        </div>

        <div
          [class.disabled]="!widget.audiencesEnabled"
          class="audience-rule"
          data-code="URL"
          data-title="{{ 'audience.rule.url.title' | translate }}"
        >
          <span><img alt="Move"
                     src="assets/images/widgets/move.svg"/> {{ 'audience.rule.url.title' | translate }}</span> <a
          [attr.data-original-title]="'audience.rule.url.desc' | translate"
          class="info-link"
          data-placement="top"
          data-toggle="tooltip"
          title=""><i class="far fa-question-circle"></i></a>
        </div>

        <div
          [class.disabled]="!widget.audiencesEnabled"
          class="audience-rule"
          data-code="VISIT"
          data-title="{{ 'audience.rule.visit.title' | translate }}"
        >
          <span><img alt="Move"
                     src="assets/images/widgets/move.svg"/> {{ 'audience.rule.visit.title' | translate }}</span> <a
          [attr.data-original-title]="'audience.rule.visit.desc' | translate"
          class="info-link"
          data-placement="top"
          data-toggle="tooltip"
          title=""><i class="far fa-question-circle"></i></a>
        </div>

        <div
          [class.disabled]="!widget.audiencesEnabled"
          class="audience-rule"
          data-code="VISIT_NO"
          data-title="{{ 'audience.rule.visit_no.title' | translate }}"
        >
          <span><img alt="Move" src="assets/images/widgets/move.svg"/> {{ 'audience.rule.visit_no.title' | translate }}</span>
          <a
            [attr.data-original-title]="'audience.rule.visit_no.desc' | translate"
            class="info-link"
            data-placement="top"
            data-toggle="tooltip"
            title=""><i
            class="far fa-question-circle"></i></a>
        </div>

        <div
          [class.disabled]="!widget.audiencesEnabled"
          class="audience-rule"
          data-code="DEVICES"
          data-title="{{ 'audience.rule.devices.title' | translate }}"
        >
          <span><img alt="Move"
                     src="assets/images/widgets/move.svg"/> {{ 'audience.rule.devices.title' | translate }}</span> <a
          [attr.data-original-title]="'audience.rule.devices.desc' | translate"
          class="info-link"
          data-placement="top"
          data-toggle="tooltip"
          title=""><i
          class="far fa-question-circle"></i></a>
        </div>

        <div
          [class.disabled]="!widget.audiencesEnabled"
          class="audience-rule"
          data-code="SOCIAL"
          data-title="{{ 'audience.rule.social.title' | translate }}"
        >
          <span><img alt="Move"
                     src="assets/images/widgets/move.svg"/> {{ 'audience.rule.social.title' | translate }}</span> <a
          [attr.data-original-title]="'audience.rule.social.desc' | translate"
          class="info-link"
          data-placement="top"
          data-toggle="tooltip"
          title=""><i
          class="far fa-question-circle"></i></a>
        </div>

        <div class="audience-tooolbar-desc" style="margin-top: 30px;">
          <p>{{ 'widgetsList.editor.audiences.desc1' | translate }}</p>
          <p>{{ 'widgetsList.editor.audiences.desc2' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Audience editor -->
</div>
