<div class="ab-grid__item">
  <div class="ab-grid__item--name">
    <cool-inline-edit-field
      class="long-text-item"
      name="name"
      [(ngModel)]="item.name"
      (saved)="updateCWidget($event)"
      [emptyText]="'containerized.container.add.name' | translate"
    >
    </cool-inline-edit-field>
  </div>
  <div class="ab-grid__item--company">
    <a href="javascript:void(0);"
       *ngIf="changeCompanyWidget.id !== item.id"
       (click)="startChangeCompany()"
       class="widget-company-editable penciled"
    ><span class="long-text-item">{{ widgetCurrentCompany.name }}</span><i class="fa fa-pencil ml-1"></i>
    </a>

    <div class="changeable-company-widget" *ngIf="changeCompanyWidget.id === item.id">
      <div class="float-left" style="width: calc(100% - 80px)">
        <div class="dropdown widget-company-selector">
          <button class="btn btn-default dropdown-toggle" type="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="value">{{changeCompanyWidget.name}}</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let company of getFilteredCompanies()" (click)="changeCurrentCompany(company)">
              <a href="javascript:void(0);" class="dropdown-item">{{company.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="float-right">
        <button (click)="changeCWidgetCompany()"
                class="btn btn-success ml-1 float-right"
                data-container="body"  data-toggle="tooltip" data-placement="top"
                title="{{ 'widgetsList.widget.changecompany.tooltip' | translate }}"><i class="fa fa-check"></i></button>

        <button (click)="resetChangeCompany()"
                class="btn btn-default floated-right"
                data-container="body"  data-toggle="tooltip" data-placement="top"
                title="{{ 'global.cancel' | translate }}"><i class="fa fa-times"></i></button>
      </div>
    </div>
  </div>
  <div *ngIf="item.widgetConversion" class="ab-grid__item--shows">{{ item.widgetConversion.shows | thousandSuffix:2 }}</div>
  <div *ngIf="item.widgetConversion" class="ab-grid__item--targets">{{ item.widgetConversion.targets | thousandSuffix:2 }}</div>
  <div *ngIf="item.widgetConversion" class="ab-grid__item--conv" [innerHTML]="(item.widgetConversion.shows !== 0) ? getCConversion() : '0.00%'"></div>

  <div *ngIf="!item.widgetConversion" class="ab-grid__item--shows reports-emails-preloader"></div>
  <div *ngIf="!item.widgetConversion" class="ab-grid__item--targets reports-emails-preloader"></div>
  <div *ngIf="!item.widgetConversion" class="ab-grid__item--conv reports-emails-preloader"></div>

  <div class="ab-grid__item--priority">
    <div class="btn-group priority-btns">
      <button class="btn btn-sm btn-default priority-up-widget-btn"
              [disabled]="first"
              (click)="swapCWidgets(true)">
        <i class="fa fa-angle-up"></i></button>

      <button class="btn btn-sm btn-default priority-down-widget-btn"
              [disabled]="last"
              (click)="swapCWidgets(false)">
        <i class="fa fa-angle-down"></i></button>
    </div>
  </div>
  <div class="ab-grid__item--actions-static">
    <div class="btn-group play-btns mr-2">
      <button (click)="switchCWidget(true)"
              [ngClass]="item.active ? 'active' : ''"
              class="btn btn-sm btn-default start-widget-btn"
              data-container="body" data-toggle="tooltip" data-placement="top"
              title="{{ 'widgetsList.widget.start' | translate }}"><i class="fa fa-play"></i></button>

      <button (click)="switchCWidget(false)"
              [ngClass]="item.active ? '' : 'active'"
              class="btn btn-sm btn-default stop-widget-btn"
              data-container="body"  data-toggle="tooltip" data-placement="top"
              title="{{ 'widgetsList.widget.stop' | translate }}"><i class="fa fa-pause"></i></button>
    </div>

    <div class="btn-group ab-btns mr-2">
      <button (click)="abAction()"
              *ngIf="abIfNoTest()"
              class="btn btn-sm btn-default ab-widget-btn"
              data-container="body" data-toggle="tooltip" data-placement="top"
              title="{{ 'widgetsList.widget.ab.start.desc' | translate }}">{{ 'abtests.ab' | translate }}</button>

      <button (click)="goToTest()"
              *ngIf="abIfTestOnWork()"
              class="btn btn-sm btn-default ab-widget-btn in-work"
              data-container="body" data-toggle="tooltip" data-placement="top"
              title="{{ 'widgetsList.widget.ab.state.desc' | translate }}">{{ 'abtests.ab' | translate }}</button>

      <button (click)="goToTest()"
              *ngIf="abIfTestOnPause()"
              class="btn btn-sm btn-default ab-widget-btn in-pause"
              data-container="body" data-toggle="tooltip" data-placement="top"
              title="{{ 'widgetsList.widget.ab.stop.desc' | translate }}">{{ 'abtests.ab' | translate }}</button>
    </div>

    <div class="btn-group edit-btns">
      <button class="btn btn-sm btn-default"
              (click)="duplicateCWidget()"
              data-container="body"  data-toggle="tooltip" data-placement="top"
              title="{{ 'widgetsList.widget.duplicate' | translate }}">
        <i class="fa fa-copy"></i>
      </button>

      <button (click)="goToConstructor()"
              class="btn btn-sm btn-default"
              data-container="body" data-toggle="tooltip" data-placement="top"
              title="{{ 'widgetsList.widget.settings' | translate }}"><i class="fa fa-cogs"></i></button>

      <button class="btn btn-sm btn-default"
              (click)="removeCWidget()"
              data-container="body"  data-toggle="tooltip" data-placement="top"
              title="{{ 'widgetsList.widget.trash' | translate }}">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>
