<div class="border-item">
  <div>
    <div class="row row-subitem">
      <div class="col-lg-12 row-subitem-padding">
        <h4 class="h4-element-title">
          Кнопка <a (click)="removeElementFromElementsList(index, {name: 'button-element'})" href="javascript:void(0);"><i class="remove-sub-item fa fa-trash-o"></i></a>
        </h4>
      </div>
      <div class="col-lg-12 row-subitem-padding">
        <h4 class="h4-text-tit control-label-des">Настройки кнопки</h4>
      </div>
    </div>

    <div class="row row-subitem">
      <div class="col-sm-12 row-subitem-padding">
        <h4 class="h4-text-tit control-label-des">Шрифт:</h4>
      </div>
      <div class="col-sm-12 row-subitem-padding">
        <input [id]="'font-picker' + index" type="text">
      </div>
    </div>
    <div class="row row-subitem">
      <div class="col-sm-12 row-subitem-padding pt-1 mt-2">
        <input type="number" class="form-control form-control-font form-cntrl-45w" [(ngModel)]="widget.guiprops['button'].fontSize">
        <label class="control-label">px <span>размер текста</span></label>
      </div>
    </div>
    <div class="row row-subitem mt-1 mb-2">
      <div class="col-sm-6 row-subitem-padding pt-1">
        <label class="control-label control-label-colorpc control-label-des">Цвет кнопки:</label>
        <input
          [(colorPicker)]="widget.guiprops['button'].colorBtn"
          [style.background]="widget.guiprops['button'].colorBtn"
          [cpAlphaChannel]="'disabled'"
          [cpOutputFormat]="'hex'"
        />
      </div>
      <div class="col-sm-6 row-subitem-padding pt-1 side-ui-dev">
        <label class="control-label control-label-colorpc control-label-des">Закругление углов</label>
        <ngx-slider [(value)]="widget.guiprops['button'].borderRadiusBtn" [options]="optionsRound"></ngx-slider>
      </div>
    </div>

    <div class="row row-subitem mt-1 mb-2">
      <div class="col-sm-12 row-subitem-padding">
        <label class="control-label control-label-des">Вид кнопки:</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {{ widget.guiprops.form.visual }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li
              role="presentation"
              *ngFor="let itemVisual of visualInputForm"
              (click)="widget.guiprops.form.visual = itemVisual"
            >
              <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ itemVisual }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row row-subitem mt-1">
      <div class="col-sm-6 row-subitem-padding pt-1">
        <label class="control-label control-label-des">Ширина кнопки:</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {{ widget.guiprops.button.btn_width }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li
              role="presentation"
              *ngFor="let item of widthBtn"
              (click)="widget.guiprops.button.btn_width = item"
            >
              <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ item }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 row-subitem-padding pt-1">
        <label class="control-label control-label-des">Ориентация:</label>
        <div class="dropdown">
          <button
            type="button"
            [disabled]="widget.guiprops.button.btn_width === 'От края до края'"
            class="btn btn-default dropdown-toggle"
            data-toggle="dropdown"
            aria-expanded="true"
          >
            {{ widget.guiprops.button.position }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li
              role="presentation"
              *ngFor="let item of floatBtn"
              (click)="widget.guiprops.button.position = item"
            >
              <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ item }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="widget.guiprops['button'].btn_width === 'Собственная'">
      <div class="col-sm-12 pt-1 mt-2">
        <input type="number" class="form-control form-control-font form-cntrl-55w" [(ngModel)]="widget.guiprops['button'].btn_widthpx">
        <label class="control-label">px <span>ширина кнопки</span></label>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="row row-subitem m-t-sm">
      <div class="col-sm-12 row-subitem-padding">
        <label class="control-label control-label-des">Стиль кнопки:</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {{ widget.guiprops.button.styleType }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-with-btn-styles" role="menu">
            <li
              role="presentation"
              (click)="setBtnStyle('Default', widget.guiprops.button)"
            >
              <a
                class="btn-var-styles btn-var-styles__default"
                [ngStyle]="{'font-family': widget.guiprops['button'].font.fontFamily, 'background': widget.guiprops['button'].colorBtn}"
                href="javascript:void(0)"
              >Default</a>
            </li>
            <li
              role="presentation"
              (click)="setBtnStyle('Material', widget.guiprops.button)"
            >
              <a
                class="btn-var-styles btn-var-styles__material"
                [ngStyle]="{'font-family': widget.guiprops['button'].font.fontFamily, 'background': widget.guiprops['button'].colorBtn}"
                href="javascript:void(0)"
              >Material</a></li>
            <li
              role="presentation"
              (click)="setBtnStyle('Flat', widget.guiprops.button)"
            >
              <a
                class="btn-var-styles btn-var-styles__flat"
                [ngStyle]="{'font-family': widget.guiprops['button'].font.fontFamily, 'background': widget.guiprops['button'].colorBtn}"
                href="javascript:void(0)"
              >Flat</a></li>
            <li
              role="presentation"
              (click)="setBtnStyle('Border Style', widget.guiprops.button)"
            >
              <a
                class="btn-var-styles btn-var-styles__border-style"
                [ngStyle]="{'font-family':widget.guiprops['button'].font.fontFamily, 'border-color':widget.guiprops['button'].colorBtn}"
                href="javascript:void(0)"
              >Border Style</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div *ngIf="widget.guiprops['form'].enable == false">
      <div class="row row-subitem mt-2">
        <div class="col-sm-12 row-subitem-padding pt-1">
          <ui-switch
            size="small"
            [checked]="widget.guiprops.form.colorPod.enable"
          ></ui-switch><label class="control-label switcher-label-xs control-label-des">Использовать подложку под кнопкой</label>
        </div>
      </div>
      <div *ngIf="widget.guiprops['form'].colorPod.enable == true">
        <div class="row row-subitem">
          <div class="col-sm-6 row-subitem-padding pt-1">
            <label class="control-label control-label-colorpc control-label-des">Цвет подложки:</label>
            <input
              [(colorPicker)]="widget.guiprops['form'].colorPod.color"
              [style.background]="widget.guiprops['form'].colorPod.color"
              [cpAlphaChannel]="'disabled'"
              [cpOutputFormat]="'hex'"
            />
          </div>
          <div class="col-sm-6 row-subitem-padding pt-1 side-ui-dev">
            <label class="control-label control-label-colorpc control-label-des">Прозрачность:</label>
            <ngx-slider [(value)]="widget.guiprops['form'].colorPod.opacityColorPod" [options]="optionsOpacity"></ngx-slider>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
