<div
  *ngIf="widget.guiprops.bg"
  id="thankWidget"
  class="hide block-widget-show block-thank"
  [ngClass]="(widget.guiprops['bg'].fillorImg === 'useImg') ? 'block-widget-bg' : ''"
  [ngStyle]="{'background': bgStyle, 'border': widget.guiprops['bg'].border.style, 'border-radius': widget.guiprops['bg'].borderRadius + 'px', 'box-shadow': widget.guiprops['bg'].shadow.style}"
>
  <div class="thank-text-cent">
    <div class="editorFontLine">
      <div
        class="element-to-append-summernote click-edit-cl title-main"
        [ngStyle]="{'font-size': widget.guiprops['title'].fontSize + 'px', 'font-family': widget.guiprops['title'].font.fontFamily}"
      >
        <div [ngxSummernote]="optionsSummernote" [ngxSummernoteView]="widget.guiprops['thank'].textSummer"></div>
      </div>
      <div
        class="element-to-append-summernote click-edit-cl description"
        [ngStyle]="{'font-size': widget.guiprops['desc'].fontSize + 'px', 'font-family': widget.guiprops['desc'].font.fontFamily}"
      >
        <div [ngxSummernote]="optionsSummernote" [ngxSummernoteView]="widget.guiprops['thank2'].textSummer"></div>
      </div>
    </div>
  </div>

  <div
    class="absolute-bg-content"
    [ngClass]="(widget.guiprops['bg'].fillorImg === 'useImg') ? 'block-widget-bg' : ''"
    [ngStyle]="{'background': bgStyle, 'opacity': widget.guiprops.bg.opacity}"
  >
    <div *ngIf="widget.guiprops.bg.fillorImg === 'useVideo'" class="video-bg video-bg-thank">
      <div *ngIf="widget.guiprops.bg.video.videoId" [ngClass]="setVideoBGThankStyle()">
        <iframe id="idBgVideoFrameThank" style="" src="" frameborder="0"></iframe>
      </div>
      <img *ngIf="!widget.guiprops.bg.video.videoId" class="item-image-video-block" src="https://static.leadgenic.com/dev/lg_widgets_l11/img/video_example_des.png"/>
    </div>
  </div>

  <div
    *ngIf="widget.guiprops.bg.mask.enable && ((widget.guiprops['bg'].fillorImg === 'useImg') || (widget.guiprops['bg'].fillorImg === 'useVideo'))"
    id="globalMask"
    [ngStyle]="{'background': widget.guiprops.bg.mask.rgbaColor, 'border-radius': widget.guiprops['bg'].borderRadius + 'px'}"
  ></div>
</div>
