<div class="border-item">
  <div class="row row-subitem m-b-sm">
    <div class="col-sm-12 row-subitem-padding">
      <h3 class="marg-minus-bord-des">CRM LeadGenic<a data-toggle="tooltip" data-placement="right" title="" class="info-link info-link-wd" href="#" data-container="body" data-original-title='Включите эту опцию, если хотите, что бы данные при отправки формы в виджете заносили как заявка в CRM LeadGenic и другие CRM, с которыми вы настроили интеграцию. Опция включается автоматически, если в форме используются поля "Телефон" или "Сообщение".'><i class="fa fa-info-circle"></i></a></h3>
    </div>
  </div>
  <div class="col-lg-12 margined-top-10">
    <switch ng-model="widget.sendCrm"></switch><label class="control-label switcher-label control-label-des">Отправлять данные в CRM</label>
  </div>
  <div class="clearfix"></div>
</div>
