<div *ngIf="newWidgetStep !== 1" class="modal-header text-center justify-content-center">
  <h4 class="modal-title">{{ 'widgetsList.add.modal.title' | translate }}</h4>
  <button class="close btn" (click)="closeModal()">
    <span inlineSVG="./assets/images/core/cross.svg"></span>
  </button>
</div>

<ng-container *ngIf="newWidgetStep !== 1">
  <div class="modal-body">
    <ng-container *ngIf="newWidgetStep === 2">
      <label class="big-label m-0">{{ 'widgetsList.add.chooseType.label' | translate }}</label>
      <div class="widget-types-container">
        <ng-container *ngFor="let type of widgetTypes">
          <button (click)="setType(type)" class="widget-type-view">
            <img alt="preview" src="{{ type.previewLink }}" />
            <div class="view-name">{{ type.name }}</div>
            <div class="view-desc">{{ type.description }}</div>
          </button>
        </ng-container>
      </div>
    </ng-container>

    <div *ngIf="newWidgetStep === 3" class="p-2" id="step3">
      <label class="big-label">{{ 'widgetsList.add.chooseTemplate.label' | translate }}:</label>
      <div class="row">
        <div
          (click)="setTemplate(template)"
          *ngFor="let template of templates | filterBy:editableWidget.typeId"
          class="col-lg-4 widget-type-view"
        >
          <img alt="preview" src="{{ template.previewLink }}" />
          <div class="view-name">{{ template.name }}</div>
          <div class="view-desc">{{ template.description }}</div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="newWidgetStep === 4">
      <label class="big-label">{{ 'widgetsList.add.params.label' | translate }}</label>
      <form>
        <div class="form-group">
          <label class="control-label">{{ 'widgetsList.add.params.name.title' | translate }}</label>
          <input
            [(ngModel)]="editableWidget.name"
            placeholder="{{ 'widgetsList.add.params.name.placeholder' | translate }}"
            class="form-control"
            name="name"
            type="text"
          />
          <span class="small">{{ 'widgetsList.add.params.name.tooltip' | translate }}</span>
        </div>
        <ng-container *ngIf="editableWidget.companyMode === 0">
          <div class="form-group">
            <label class="control-label">
              {{ 'widgetsList.selectCompany' | translate }}
              <a
                class="info-link"
                data-placement="top"
                data-toggle="tooltip"
                title="{{ 'widgetsList.add.params.company.tooltip' | translate }}"
                inlineSVG="./assets/images/core/question"
              ></a>
            </label>
            <div class="widget-company-selector">
              <div
                [class.is-invalid]="!editableWidget.companyId"
                class="dropdown widget-company-selector"
              >
                <button
                  aria-expanded="true"
                  aria-haspopup="true"
                  class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown"
                  type="button"
                >
                  <span class="dropdown-selected-cropp">{{ editableWidget.company }}</span>
                  <span class="caret"></span>
                </button>
                <ul *ngIf="companies.length" class="dropdown-menu">
                  <li (click)="changeCompany(company)" *ngFor="let company of getFilteredCompanies()">
                    <a class="dropdown-item" href="javascript:void(0);">{{ company.name }}</a>
                  </li>
                </ul>
              </div>
              <button
                (click)="openAddCompanyMode()"
                class="btn btn-default remove-sub-item"
                data-container="body"
                data-placement="top"
                data-toggle="tooltip"
                title="{{ 'widgetsList.company.add.tooltip' | translate }}"
              >
                <span inlineSVG="./assets/images/core/plus.svg"></span>
              </button>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="editableWidget.companyMode === 1">
          <div class="form-group" [class.is-invalid]="editableWidget.company.trim().length === 0">
            <label class="control-label">
              {{ 'widgetsList.add.params.company.add.name' | translate }}
              <a
                class="info-link"
                data-placement="top"
                data-toggle="tooltip"
                title="{{ 'widgetsList.add.params.company.tooltip' | translate }}"
                inlineSVG="./assets/images/core/question.svg"
              ></a>
            </label>
            <div class="widget-company-selector align-items-start">
              <div class="form-group flex-column">
                <input
                  [(ngModel)]="editableWidget.company"
                  class="form-control"
                  name="companyName"
                  placeholder="{{ 'widgetsList.clone.company.add.label' | translate }}"
                  type="text"
                />
                <span class="small">{{ 'widgetsList.add.params.company.under' | translate }}</span>
              </div>
              <button
                *ngIf="companies.length"
                (click)="closeAddCompanyMode()"
                class="btn btn-default remove-sub-item"
                data-container="body"
                data-placement="top"
                data-toggle="tooltip"
                title="{{ 'widgetsList.add.params.company.add.back' | translate }}"
              >
                <span inlineSVG="./assets/images/core/cross.svg"></span>
              </button>
            </div>
          </div>
        </ng-container>

      </form>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="newWidgetStep === 4">
  <div class="modal-footer border-0">
    <button
      (click)="addWidget()"
      [disabled]="
        (editableWidget.companyMode === 0 && editableWidget.companyId === null) ||
        (editableWidget.companyMode === 1 && editableWidget.company.trim().length === 0)
      "
      class="btn btn-default"
    >
      {{ 'widgetsList.add.modal.gallery.gotosettings' | translate }}
    </button>
  </div>
</ng-container>

<ng-container *ngIf="newWidgetStep === 1">
  <div class="modal-body" id="step1">
    <div class="active">
      <div class="create-widget-m p-0">
        <div class="filters-loader"></div>
        <div class="container-for-loader">
          <div class="templates-gallery-header">
            <div class="header-modal">
              <div>
                <div>
                  <h4 class="modal-title">{{ 'widgetsList.add.params.mockup.title' | translate }}</h4>
                  <button (click)="createNullWidget()" class="btn btn-default">
                    {{ 'widgetsList.add.params.mockup.notselect' | translate }}
                  </button>
                </div>
                <span class="sub-text">{{ 'widgetsList.add.modal.gallery.desc' | translate }}</span>
              </div>
              <button class="close btn" (click)="closeModal()">
                <span inlineSVG="./assets/images/core/cross.svg"></span>
              </button>
            </div>
          </div>

          <app-templates-gallery
            (chooseWidget)="chooseTemplateWidget($event)"
            [types]="widgetTypes"
          ></app-templates-gallery>
        </div>
      </div>
    </div>
  </div>
</ng-container>
