<div *ngIf="item" class="timer-datepicker">
  <div class="form-group">
    <div NgTempusdominusBootstrap class="input-group date timer-datepicker-block" data-target-input="nearest"
         id="datetimepicker">
      <input
        (ngModelChange)="update()"
        NgTempusdominusBootstrapInput
        [(ngModel)]="value"
        [options]="options"
        class="form-control datetimepicker-input"
        data-target="#datetimepicker" placeholder="Выбрать дату и время"
        type="text"
      />
      <div NgTempusdominusBootstrapToggle class="input-group-append">
        <div class="input-group-text" data-target="#datetimepicker"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>
</div>
