<div *ngIf="sites.length > 0" class="toolbar-content widgets-toolbar">
  <h1 class="title-main">{{ 'sidebar.widgets' | translate }}</h1>
  <div class="textcontent col-lg-12">
    <div class="select-site">
      <!-- Site selector -->
      <div class="selector">
        <div class="row select-site-title"><h5>{{ 'widgetsList.selectSite' | translate }}:</h5></div>
        <div class="row dropdown site-selector">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="dropdown-selected-cropp">{{ currentSite.name }}</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let site of sites" (click)="changeCurrentSite(site)">
              <a href="#" class="dropdown-item">{{ site.name }}</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Company selector -->
      <div>
        <div class="row select-site-title"><h5>{{ 'widgetsList.selectCompany' | translate }}:</h5></div>
        <div class="row">
          <div *ngIf="!newCompany.on" class="d-flex">
            <div class="dropdown site-selector floated-left" style="min-width: 260px!important; width: 260px;">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="dropdown-selected-cropp" style="max-width: 215px!important;">{{ currentCompany.name || defCompanyName }}</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" *ngIf="companies.length">
                <li *ngFor="let company of companies" (click)="changeCurrentCompany(company)">
                  <a href="#" class="dropdown-item">{{ company.name || defCompanyName }}</a>
                </li>
              </ul>
            </div>

            <button
              (click)="newCompany.on = true"
              class="btn btn-default btn-inline ml-1"
              data-container="body"
              data-toggle="tooltip"
              data-placement="top"
              data-title="{{ 'widgetsList.company.add.tooltip' | translate }}"
            >
              <i class="fa fa-plus"></i>
            </button>
            <button
              (click)="deleteCompany()"
              *ngIf="!currentCompany.default"
              class="btn btn-default btn-inline ml-1"
              data-container="body"
              data-toggle="tooltip"
              data-placement="top"
              data-title="{{ 'widgetsList.company.delete.tooltip' | translate }}"
            >
              <i class="fa fa-trash"></i>
            </button>
          </div>
          <div class="no-padding mt-2" *ngIf="newCompany.on">
            <div class="floated-left" [ngClass]="(newCompany.name.trim().length === 0) ? 'is-invalid' : ''">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="newCompany.name"
                style="width: 245px;"
                placeholder="{{ 'widgetsList.clone.company.add.label' | translate }}"
              >
            </div>
            <div class="floated-right mr-3">
              <button
                class="btn btn-default btn-inline"
                data-container="body"
                data-toggle="tooltip"
                data-placement="top"
                title="{{ 'global.cancel' | translate }}"
                (click)="resetNewCompany()"
              >
                <i class="fa fa-times"></i>
              </button>
              <button
                [disabled]="newCompany.name.trim().length === 0"
                class="btn btn-success btn-inline ml-1"
                data-container="body"
                data-toggle="tooltip"
                data-placement="top"
                title="{{ 'widgetsList.company.add.tooltip' | translate }}"
                (click)="saveNewCompany()"
              >
                <i class="fa fa-check"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btnpanel padding-top-75">
      <div>
        <button
          (click)="createNewWidget()"
          type="button"
          class="btn btn-lg w-xs btn-success"
        ><i class="fa fa-plus-circle"></i> {{ 'widgetsList.add.title' | translate }}
        </button>
      </div>
      <div id="buyWidgetDevelopmentContainer" class="ng-binding"><a href="#" id="buyWidgetDevelopment">{{ 'widgetsList.add.alt' | translate }}</a></div>
    </div>
  </div>

</div>


<!-- smart points settings -->
<div class="widgets-site-settings" *ngIf="sites.length > 0 && smartPoints">
  <div class="row col-lg-12">
    <ui-switch
      [(ngModel)]="smartPoints.enabled"
      (change)="enableDisableSP()"
      class="mr-2"
    ></ui-switch>
    <h3 class="f-0">
      {{ 'widgetsList.site.default.title' | translate }} <a
      data-toggle="tooltip" data-placement="bottom"
      title="{{ 'widgetsList.site.default.tooltip' | translate }}"
      class="info-link" href="#"><i class="fa fa-info-circle"></i></a>
    </h3>
  </div>
  <div *ngIf="smartPoints.enabled" class="column ml-5 mr-5 pl-2 widget-page__smaptpoint-container">
    <span class="widget-page__smaptpoint-container-title">{{ 'settings.widgets.select' | translate }}:</span>
    <app-smartpoints-control [smartPoints]="smartPoints" [siteId]="currentSite.id"></app-smartpoints-control>
  </div>
</div>
<!-- End smart points settings -->


<div id="myWidgets" class="row col-lg-12 no-animate">
  <div class="col-lg-12 mt-3" *ngIf="isHasWidgets() || filteredContainers().length">
    <h3 class="f-0">{{ 'widgetsList.listTitle' | translate }}</h3>
  </div>
  <div class="col-lg-12 mt-3" *ngIf="!sites.length">
    <h3 class="f-0 text-center">{{ 'widgetsList.sitePlaceholder' | translate }}</h3>
    <h4 class="f-2 text-center underline-links blue-links hover-links">
      <span>{{ 'widgetsList.sitePlaceholder2' | translate }}</span>
      <a routerLink="/site/list">{{ 'widgetsList.sitePlaceholder3' | translate }}</a>
      <span>{{ 'widgetsList.sitePlaceholder4' | translate }}</span>
    </h4>
  </div>

  <!-- Static widgets -->
  <div class="col-lg-12 mt-3" *ngIf="containers.length && filteredContainers().length">
    <h4 class="f-1 no-bold">{{ 'containerized.title' | translate }}:</h4>
  </div>
  <div *ngIf="containers.length" style="width: 100%">
    <app-containerized-container
      *ngFor="let container of filteredContainers()"
      [container]="container"
      [site]="currentSite"
      [currentCompany]="currentCompany"
    ></app-containerized-container>
  </div>
  <!-- End Static widgets -->

  <div class="col-lg-12 mt-3" *ngIf="!isHasWidgets() && !filteredContainers().length && sites.length">
    <div *ngIf="currentCompany.default">
      <h3 class="f-0 text-center">{{ 'widgetsList.listPlaceholder' | translate }}</h3>
      <h4 class="f-2 text-center">{{ 'widgetsList.listPlaceholder2' | translate }}</h4>
    </div>
    <div *ngIf="!currentCompany.default">
      <h3 class="f-0 text-center">{{ 'widgetsList.listPlaceholder3' | translate }}</h3>
    </div>
  </div>

  <div class="mt-3 col-lg-4" *ngFor="let wdgTypes of getTypesWithCompanyFilter()">
    <h4 class="f-1 no-bold mt-3">{{ getTypeItem(wdgTypes)?.name }}:</h4>
    <div class="row" *ngFor="let widget of getFilteredWidgets(wdgTypes); index as i">
      <app-widget-item
        [widget]="widget"
        [first]="i === 0"
        [last]="i === getFilteredWidgets(wdgTypes).length - 1"
        [prev]="getFilteredWidgets(wdgTypes)[i - 1]"
        [next]="getFilteredWidgets(wdgTypes)[i + 1]">
      </app-widget-item>
    </div>
  </div>
</div>
