<div class="maincontroller widget-page__home">
    <div class="toolbar-content widgets-toolbar no-animate row" ng-show="sites.length > 0">
      <div class="textcontent">
        <div class="row margined-left-0">{{ 'widgetsList.title' | translate }}</div>
        <div class="row">
          <!-- Site selector -->
          <div class="col-lg-6">
            <div class="row margined-left-0 select-site-title select-site-title-top"><h5>{{ 'widgetsList.selectSite' | translate }}:</h5></div>
            <div class="dropdown site-selector">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="dropdown-selected-cropp">{{ currentSite.name }}</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="site in sites" ng-click="changeCurrentSite(site)"><a href="#">{{ site.name }}</a></li>
              </ul>
            </div>
          </div>
          <!-- Company selector -->
          <div class="col-lg-6">
            <div class="row margined-left-0 select-site-title"><h5>{{ 'widgetsList.selectCompany' | translate }}:</h5></div>
            <div class="width-350">
              <div ng-show="!newCompany.on">
                <div class="dropdown site-selector floated-left" style="min-width: 255px!important; width: 255px;">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="dropdown-selected-cropp" style="max-width: 215px!important;">{{ currentCompany.name || defCompanyName }}</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" ng-show="companies.length">
                    <li ng-repeat="company in companies" ng-click="changeCurrentCompany(company)"><a href="#">{{ company.name || defCompanyName}}</a></li>
                  </ul>
                </div>

                <button ng-click="newCompany.on = true" class="btn btn-default floated-left margined-top-10half hovered-btn-blue margined-left-5" data-container="body" data-toggle="tooltip" data-placement="top" data-title="{{ 'widgetsList.company.add.tooltip' | translate }}">
                  <i class="fa fa-plus"></i>
                </button>
                <button ng-click="deleteCompany()" ng-if="!currentCompany.default" class="btn btn-default floated-left margined-top-10half hovered-btn-red margined-left-5" data-container="body" data-toggle="tooltip" data-placement="top" data-title="{{ 'widgetsList.company.delete.tooltip' | translate }}">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
              <div class="no-padding margined-top-10" ng-show="newCompany.on">
                <div class="floated-left" ng-class="(newCompany.name.trim().length === 0) ? 'has-error':''">
                  <input type="text" class="form-control" ng-model="newCompany.name" style="width: 245px;" placeholder="{{'widgetsList.clone.company.add.label' | translate}}">
                </div>
                <div class="floated-right margined-right-15">
                  <button class="btn btn-default floated-left" data-container="body"  data-toggle="tooltip" data-placement="top" title="{{ 'global.cancel' | translate }}" ng-click="resetNewCompany()">
                    <i class="fa fa-times"></i>
                  </button>
                  <button ng-disabled="newCompany.name.trim().length === 0" class="btn btn-success margined-left-5 floated-left" data-container="body"  data-toggle="tooltip" data-placement="top" title="{{ 'widgetsList.company.add.tooltip' | translate }}" ng-click="saveNewCompany()">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btnpanel padding-top-75">
        <div><button ng-click="createNewWidget()" type="button" class="btn btn-lg w-xs btn-success"><i class="fa fa-plus-circle"></i> {{ 'widgetsList.add' | translate }}</button></div>
        <div id="buyWidgetDevelopmentContainer"><a href="#" id="buyWidgetDevelopment">{{ 'widgetsList.add.alt' | translate }}</a></div>
      </div>
    </div>


    <!-- smart points settings -->
    <div class="widgets-site-settings no-animate" ng-show="sites.length > 0" tooltiped>
      <div class="row">
        <div class="col-lg-12">
          <ui-switch ng-model="smartPoints.enabled" ng-change="enableDisableSP()" class="margined-top-5 margined-right-10 floated-left"></ui-switch>
          <h3 class="f-0">{{ 'widgetsList.site.default' | translate }} <a data-toggle="tooltip"
                                                                          data-placement="bottom"
                                                                          title="{{ 'widgetsList.site.default.tooltip' | translate }}"
                                                                          class="info-link" href="#"><i class="fa fa-info-circle"></i></a>
          </h3>
        </div>
      </div>
      <div ng-show="smartPoints.enabled" class="row margined-left-40 widget-page__smaptpoint-container">
        <span class="widget-page__smaptpoint-container-title">{{ 'settings.widgets.select' | translate }}:</span>
        <!--<smartpoints-control-directive smart-points="smartPoints" site-id="currentSite.id"></smartpoints-control-directive>-->
      </div>
    </div>
    <!-- End smart points settings -->


    <div class="row no-animate">
      <div class="col-lg-12 margined-top-30" ng-hide="!isHasWidgets() && !filteredContainers().length">
        <h3 class="f-0">{{ 'widgetsList.listTitle' | translate }}</h3>
      </div>
      <div class="col-lg-12 margined-top-30" ng-show="!sites.length">
        <h3 class="f-0 text-center">{{ 'widgetsList.sitePlaceholder' | translate }}</h3>
        <h4 class="f-2 text-center underline-links blue-links hover-links" [innerHTML]="'widgetsList.sitePlaceholder2' | translate"></h4>
      </div>

      <!-- Static widgets -->
      <div class="col-lg-12 margined-top-30" ng-hide="!containers.length || !filteredContainers().length">
        <h4 class="f-1 no-bold">{{ 'containerized.title' | translate }}:</h4>
      </div>
      <div ng-if="containers.length">
        <!--<containerized-container container="container" site="currentSite" current-company="currentCompany" ng-repeat="container in filteredContainers()"></containerized-container>-->
      </div>
      <!-- End Static widgets -->

      <div class="col-lg-12 margined-top-30" ng-show="!isHasWidgets() && !filteredContainers().length && sites.length">
        <div ng-if="currentCompany.default">
          <h3 class="f-0 text-center">{{ 'widgetsList.listPlaceholder' | translate }}</h3>
          <h4 class="f-2 text-center">{{ 'widgetsList.listPlaceholder2' | translate }}</h4>
        </div>
        <div ng-if="!currentCompany.default">
          <h3 class="f-0 text-center">{{ 'widgetsList.listPlaceholder3' | translate }}</h3>
        </div>
      </div>

      <div class="margined-top-10 col-lg-4" *ngFor="let wdgTypes of getTypesWithCompanyFilter()">
        <h4 class="f-1 no-bold margined-top-30">{{ getTypeItem(wdgTypes).name }}:</h4>
        <div class="row" ng-repeat="widget in getFilteredWidgets(wdgTypes)">
          <!--<widget-item-directive widget="widget"
                                 first="$first"
                                 last="$last"
                                 prev="getFilteredWidgets(wdgTypes)[$index - 1]"
                                 next="getFilteredWidgets(wdgTypes)[$index + 1]">
          </widget-item-directive>-->
        </div>
      </div>
    </div>
</div>
