.toolbar-content {
  flex-direction: column;
}

.toolbar-content.widgets-toolbar .textcontent {
  display: flex;
  justify-content: space-between;
}

.toolbar-content.widgets-toolbar #addNewWidget {
  cursor: pointer;
  font-size: 16px;
  width: 225px;
}

.btnpanel {
  margin-bottom: 15px;
  margin-left: 20px;
}

.selector {
  margin-right: 40px;
}

.select-site {
  display: flex;
  margin-top: 15px;
}

.select-site-title {
  position: relative;
  top: 5px;
}

.site-selector {
  min-width: 300px;
}

.site-selector .dropdown-toggle {
  text-align: left;
}

.site-selector .caret {
  float: right;
  position: relative;
  top: 8px;
}

@media (max-width: 1000px) {
  .select-site {
    flex-direction: column;
    width: 100%;
  }

  .toolbar-content.widgets-toolbar .textcontent {
    flex-direction: column;
  }

  .toolbar-content .btnpanel {
    margin-bottom: 0!important;
  }
}
