h3 {
  font-size: 24px !important;
}

.toolbar-content {
  flex-direction: column;
}

.toolbar-content.widgets-toolbar .textcontent {
  display: flex;
  justify-content: space-between;
}

.toolbar-content.widgets-toolbar #addNewWidget {
  cursor: pointer;
  font-size: 16px;
  width: 225px;
}

.btnpanel {
  margin-top: 35px;
}

.selector {
  margin-right: 40px;
}

.select-site {
  display: flex;
  margin-top: 15px;
  margin-right: 30px;
}

.site-selector {
  min-width: 300px;
}

.site-selector .dropdown-toggle {
  text-align: left;
}

.site-selector .caret {
  float: right;
  position: relative;
  top: 8px;
}

#buyWidgetDevelopmentContainer {
  float: right;
  padding-top: 5px;
  text-align: center;
  width: 255px;
  text-decoration: underline;
  a {
    color: #727477;
  }

  &:hover {
    text-decoration: none;
  }
}

.widgets-site-settings {
  background-color: #fff;
  margin: 12px;
  padding: 20px;
}

.widget-page__smaptpoint-container-title {
  display: block;
  margin: 10px 0 15px 5px;
  font-size: 14px;
}

@media (max-width: 1000px) {
  .select-site {
    flex-direction: column;
    width: 100%;
  }

  .toolbar-content.widgets-toolbar .textcontent {
    flex-direction: column;
  }

  .toolbar-content .btnpanel {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: -15px;
  }
}
