.create-widget-m {
  position: relative;
  padding: 20px 10px 0;
}

.create-widget-m .header-modal {
  display: flex;
  justify-content: center;
}

.create-widget-m .header-modal button {
  height: 34px;
  margin-top: 5px;
  margin-left: 25px;
}

.create-widget-m .header-modal span {
  font-weight: 300;
  font-size: 30px;
  color: #2c3239;
}

.create-widget-m span.sub-text {
  text-align: center;
  display: block;
  color: #363636;
  font-size: 16px;
  font-weight: 300;
  margin: 5px 0 20px;
}
