<div class="border-item">
  <div>
    <div class="col-lg-12">
      <h4 class="h4-element-title">
        Купон &#35;{{ item.counter }} <a (click)="removeElementFromElementsList(index)" href="javascript:void(0);"><i class="remove-sub-item fa fa-trash-o"></i></a>
      </h4>
    </div>
    <div class="clearfix"></div>

    <div *ngIf="!coupons.length" class="row row-subitem m-t-sm">
      <div class="col-sm-12 row-subitem-padding padding-top-5 coupons-flex-wr">
        <a href="../../../coupons/?enableCouponModal=true" target="_blank" class="btn btn-primary btn-coupon-add">Добавить купон</a>
        <button
          (click)="refreshCouponsList()"
          class="btn btn-default refresh-coupons-element-btn"
          data-toggle="tooltip"
          data-container="body"
          data-placement="top"
          title=""
          [attr.data-original-title]="'Обновить список купонов'"
        ><i class="fa fa-refresh"></i></button>
      </div>
    </div>

    <div *ngIf="coupons.length" class="row row-subitem m-t-xs3">
      <div class="col-sm-12 row-subitem-padding padding-top-5">
        <label class="control-label control-label-des">Выберите купон:</label>
        <div class="coupons-flex-wr">
          <div class="dropdown btn-coupon-chose">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
              {{ item.coupon.name }}
              <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
              <li role="presentation" *ngFor="let itemCoupon of coupons" (click)="item.coupon = itemCoupon">
                <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ itemCoupon.name }}</a>
              </li>
            </ul>
          </div>
          <button
            (click)="refreshCouponsList()"
            class="btn btn-default refresh-coupons-element-btn"
            data-toggle="tooltip"
            data-container="body"
            data-placement="top"
            title=""
            [attr.data-original-title]="'widgets.constructor.coupon.couponCallback.couponRefresh' | translate"
          ><i class="fa fa-refresh"></i></button>
        </div>
      </div>
    </div>
    <div class="row row-subitem m-t-xs">
      <div class="col-sm-12 row-subitem-padding widget-small-text underline-links blue-links hover-links">
        Вы можете использовать в элементе один из ранее добавленных купонов. Если вы еще не добавили ни одного купона, вы можете добавить его на <a href="../../../coupons/" target="_blank">странице "Купоны"</a> и после этого вернуться к настройке элемента.
      </div>
    </div>

    <div class="col-lg-12 m-t-xs m-b-xs">
      <h4 class="h4-text-tit control-label-des helper-title-3level">Настройки дизайна</h4>
    </div>

    <div class="row row-subitem m-t-sm">
      <div class="col-sm-6 row-subitem-padding padding-top-5">
        <label class="control-label control-label-colorpc control-label-des">Цвет текста:</label>
        <input
          [(colorPicker)]="item.colorText"
          [style.background]="item.colorText"
          [cpAlphaChannel]="'disabled'"
          [cpOutputFormat]="'hex'"
        />
      </div>
      <div class="col-sm-6 row-subitem-padding padding-top-5">
        <label class="control-label control-label-colorpc control-label-des">Цвет фона:</label>
        <input
          [(colorPicker)]="item.color"
          [style.background]="item.color"
          [cpAlphaChannel]="'disabled'"
          [cpOutputFormat]="'hex'"
        />
      </div>
    </div>

    <div class="row row-subitem m-t-sm">
      <div class="col-sm-12 row-subitem-padding padding-top-5 side-ui-sm">
        <ngx-slider [(value)]="item.opacity" [options]="optionsOpacity" style="margin-right: 18px"></ngx-slider>
        <label class="control-label control-label-ui">Прозрачность фона</label>
      </div>
    </div>

    <div class="row row-subitem m-t-sm m-b-sm">
      <div class="col-sm-12 row-subitem-padding padding-top-5 side-ui-sm">
        <ngx-slider [(value)]="item.borderRadius" [options]="optionsRound" style="margin-right: 18px"></ngx-slider>
        <label class="control-label control-label-ui">Закругление углов</label>
      </div>
    </div>

    <div class="row row-subitem padding-top-5">
      <div class="col-sm-12 row-subitem-padding">
        <h4 class="h4-text-tit control-label-des">Шрифт:</h4>
      </div>
      <div class="col-sm-12 row-subitem-padding">
        <input type="text" [id]="'font-picker' + index">
      </div>
    </div>
    <div class="row row-subitem">
      <div class="col-sm-12 row-subitem-padding padding-top-5 margined-top-10">
        <input type="number" class="form-control form-control-font form-cntrl-45w" [(ngModel)]="item.fontSize">
        <label class="control-label">px <span>размер текста</span></label>
      </div>
    </div>

    <div class="row row-subitem m-t-sm">
      <div class="col-sm-6 row-subitem-padding padding-top-5">
        <label class="control-label control-label-des">Ширина элемента:</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {{ item.width_type }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" *ngFor="let itemVisual of widthBtn" (click)="item.width_type = itemVisual">
              <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ itemVisual }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 row-subitem-padding padding-top-5">
        <label class="control-label control-label-des">Ориентация:</label>
        <div class="dropdown" >
          <button
            type="button"
            class="btn btn-default dropdown-toggle"
            [disabled]="item.width_type === 'От края до края'"
            data-toggle="dropdown"
            aria-expanded="true"
          >
            {{ item.position }}
            <span class="caret"></span>
          </button>
          <ul role="menu" class="dropdown-menu">
            <li role="presentation" (click)="item.position = itemVisual" *ngFor="let itemVisual of floatBtn">
              <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ itemVisual }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="item.width_type === 'Собственная'">
      <div class="col-sm-12 padding-top-5 margined-top-10">
        <input type="number" class="form-control form-control-font form-cntrl-55w" [(ngModel)]="item.widthpx">
        <label class="control-label">px <span>ширина элемента</span></label>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="row row-subitem">
      <div class="col-sm-12 widget-name-block-rel row-subitem-padding padding-top-5 margined-top-10">
        <label class="control-label control-label-des">Текст при наведении:</label>
        <input type="text" class="form-control"[(ngModel)]="item.hoverText" placeholder="">
      </div>
    </div>

    <div class="row row-subitem">
      <div class="col-sm-12 widget-name-block-rel row-subitem-padding padding-top-5 margined-top-10">
        <label class="control-label control-label-des">Текст при клике:</label>
        <input type="text" class="form-control" [(ngModel)]="item.clickText" placeholder="">
      </div>
    </div>

    <div class="row row-subitem m-t-md">
      <div class="col-sm-12 row-subitem-padding padding-top-5">
        <ui-switch
          size="small"
          [checked]="item.title.enable"
        ></ui-switch><label class="control-label switcher-label-xs control-label-des">Добавить призыв к действию</label>
      </div>
    </div>

    <div *ngIf="item.title.enable" class="m-t-sm">
      <div class="row row-subitem padding-top-5">
        <div class="col-sm-12 row-subitem-padding">
          <h4 class="h4-text-tit control-label-des">Шрифт:</h4>
        </div>
        <div class="col-sm-12 row-subitem-padding">
          <input type="text" [id]="'font-picker-title' + index">
        </div>
      </div>
      <div class="row row-subitem">
        <div class="col-sm-12 row-subitem-padding padding-top-5 margined-top-10">
          <input type="number" class="form-control form-control-font form-cntrl-45w" [(ngModel)]="item.title.fontSize">
          <label class="control-label">px <span>размер текста</span></label>
        </div>
      </div>
      <div class="row row-subitem m-t-md">
        <div class="col-sm-12 row-subitem-padding padding-top-5">
          <ui-switch
            size="small"
            [checked]="item.title.textShadow.enable"
          ></ui-switch><label class="control-label switcher-label-xs control-label-des">Добавить тень</label>
        </div>
      </div>
      <div *ngIf="item.title.textShadow.enable">
        <div class="row row-subitem">
          <div class="col-sm-6 row-subitem-padding padding-top-5">
            <label class="control-label control-label-colorpc control-label-des">Цвет тени:</label>
            <input
              [(colorPicker)]="item.title.textShadow.color"
              [style.background]="item.title.textShadow.color"
              [cpAlphaChannel]="'disabled'"
              [cpOutputFormat]="'hex'"
            />
          </div>
          <div class="col-sm-6 row-subitem-padding padding-top-5 side-ui-dev">
            <label class="control-label control-label-colorpc control-label-des">Прозрачность:</label>
            <ngx-slider [(value)]="item.title.textShadow.opacity" [options]="optionsOpacity" style="margin-right: 18px"></ngx-slider>
          </div>
        </div>
        <div class="row row-subitem m-t-xs">
          <div class="col-sm-6 row-subitem-padding padding-top-5">
            <label class="control-label control-label-des">Сдвиг по горизонтали:</label>
            <input
              type="number"
              class="form-control form-control-font form-control-block form-cntrl-45w"
              [(ngModel)]="item.title.textShadow.horiz"
            />
          </div>
          <div class="col-sm-6 row-subitem-padding padding-top-5">
            <label class="control-label control-label-des">Сдвиг по вертикали:</label>
            <input
              type="number"
              class="form-control form-control-font form-control-block form-cntrl-45w"
              [(ngModel)]="item.title.textShadow.vertical"
            />
          </div>
        </div>
        <div class="row row-subitem m-t-xs">
          <div class="col-sm-6 row-subitem-padding padding-top-5">
            <label class="control-label control-label-des">Резкость:</label>
            <input
              type="number"
              class="form-control form-control-font form-control-block form-cntrl-45w"
              [(ngModel)]="item.title.textShadow.blur"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 m-t-xs m-b-xs">
      <h4 class="h4-text-tit control-label-des helper-title-3level">
        {{ 'widgets.constructor.coupon.setting.actions' | translate }}
      </h4>
    </div>

    <div class="row row-subitem">
      <div class="col-sm-12 row-subitem-padding padding-top-5">
        <label class="non-bold">
          <input type="checkbox" class="checkbox-green-btn" [(ngModel)]="item.isCopyAction">
          {{ 'widgets.constructor.coupon.setting.isCopyAction' | translate }}
        </label>
      </div>
    </div>
  </div>
</div>
