<div class="modal-header text-center justify-content-center">
  <h4 class="modal-title">{{ 'partner.add.modal.title' | translate }}</h4>
</div>
<div class="modal-body">
  <div>{{ 'partner.add.modal.description' | translate }}</div>
  <div id="partner-reg-container">
    <label class="control-label" for="refMail">{{ 'partner.add.modal.field' | translate }}:</label>
    <input type="text" id="refMail" name="partneremail" [(ngModel)]="refMail" class="form-control">
  </div>
</div>
<div class="modal-footer justify-content-between">
    <button
      class="btn btn-default floated-left"
      (click)="closeModal()"
    >
      {{ 'global.cancel' | translate }}
    </button>
    <button
      class="btn btn-success"
      (click)="createRef()"
      [disabled]="!refMail"
    >
      {{ 'partner.add.modal.button' | translate }}
    </button>
</div>
