.static-widget-block.test-item {
  margin-top: 20px;
  padding: 15px;
  min-width: 1220px;
}

.test-item-left {
  width: 70%;
}

.static-widget-block button.btn-show-dialog-code {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}

.static-widget-block button.btn-show-dialog-code b {
  color: #428bca;
}

.static-widget-block button.btn-remove-container {
  padding-top: 3px;
  padding-bottom: 2px;
}

.ab-grid__header--priority {
  line-height: 17px;
}

.ab-grid__header--priority a,
.ab-grid__header--priority div {
  text-transform: none;
}

.ab-grid__header--company,
.ab-grid__header--targets,
.ab-grid__header--priority,
.ab-grid__header--actions-static {
  padding: 7px 10px;
}

.ab-grid__header--actions-static {
  text-align: right;
}

.ab-grid__header--priority {
  text-align: center;
}

.ab-grid__footer {
  font-size: 16px;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
}

.ng-submitted .editable-input.editable-has-buttons {
  border-color: red;
}

.grid-containerized-item {
  display: block;
}

.priority-btns i {
  margin: 0;
}

@media (max-width: 1460px) {
  .static-wrapper-scr {
    overflow: auto;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .modal-flex .modal.in .modal-dialog {
    overflow: auto;
  }
}
