<div class="row-subitem">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
      {{ item.label }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation" *ngFor="let itemForm of availItemTypes" (click)="changeFormType(itemForm.type)">
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemForm.label }}</a>
      </li>
    </ul>
  </div>
</div>

<h3 class="mt-3">{{ 'widgets.formExt.hidden.fieldType.label' | translate }}</h3>

<div class="row-subitem mt-1">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
      {{ item.fieldType.label }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li
        role="presentation"
        *ngFor="let itemFieldType of fieldTypes"
        (click)="selectFieldType(itemFieldType)"
      >
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemFieldType.label }}</a>
      </li>
    </ul>
  </div>
</div>

<div class="row-subitem mt-3 form-ext-item__item-input">
  <label class="control-label control-label-des switcher-label-xs">{{ 'widgets.formExt.email.service1' | translate }}</label>
  <input type="text" class="form-control mt-1" [(ngModel)]="item.service">
  <span class="input-down-sm-lab">{{ 'widgets.formExt.email.service3' | translate }}</span>
</div>

<div class="row-subitem mt-3 form-ext-item__item-input">
  <label class="control-label control-label-des switcher-label-xs">{{ 'widgets.formExt.email.id1' | translate }}</label>
  <input type="text" class="form-control mt-1 form-control-form-ext-id-field" (blur)="idFocusOut()" [(ngModel)]="item.idField"/>
  <span class="input-down-sm-lab">{{ 'widgets.formExt.mainSettings.id.example' | translate }}</span>
</div>

<div
  class="row-subitem mt-2 widget-small-text"
  [innerHTML]="'widgets.formExt.mainSettings.id.description' | translate"
></div>

<div *ngIf="isFieldUtmOrRef(item.fieldType.type)" class="mt-3">
  <h3>{{ 'widgets.formExt.hidden.fieldUtm.radio.title' | translate }}</h3>
  <div class="d-flex mt-2">
    <div class="col-sm-6 row-subitem-padding">
      <div class="form-group widget-selector mb-0">
        <label class="non-bold">
          <input
            type="radio"
            name="hidden"
            class="radio radio-info radio-inline"
            [(ngModel)]="item.utmRefPage.currentPage"
            [value]="true"
          />
          {{ 'widgets.formExt.hidden.fieldUtm.radio.label1' | translate }}
        </label>
      </div>
    </div>
    <div class="col-sm-6 row-subitem-padding">
      <div class="form-group widget-selector mb-0">
        <label class="non-bold">
          <input
            type="radio"
            name="hidden"
            class="radio radio-info radio-inline"
            [(ngModel)]="item.utmRefPage.currentPage"
            [value]="false"
          />
          {{ 'widgets.formExt.hidden.fieldUtm.radio.label2' | translate }}
        </label>
      </div>
    </div>
  </div>

  <div class="widget-small-text">
    {{ (item.fieldType.type === 'referrer' ? 'widgets.formExt.hidden.fieldRef.desc' : 'widgets.formExt.hidden.fieldUtm.desc') | translate }}
  </div>
</div>

<div *ngIf="item.fieldType.type === 'custom_parameter'" class="row-subitem mt-3 form-ext-item__item-input">
  <label class="control-label control-label-des switcher-label-xs">{{ 'widgets.formExt.hidden.fieldUserParam.label' | translate }}</label>
  <input type="text" class="form-control mt-1" [(ngModel)]="item.customParamValue"/>
  <span class="input-down-sm-lab">{{ 'widgets.formExt.hidden.fieldUserParam.desc' | translate }}</span>
</div>

<div *ngIf="item.fieldType.type === 'cookie'" class="row-subitem mt-3 form-ext-item__item-input">
  <label class="control-label control-label-des switcher-label-xs">{{ 'widgets.formExt.hidden.fieldCookies.label' | translate }}</label>
  <input type="text" class="form-control mt-1" [(ngModel)]="item.cookieValue"/>
  <span class="input-down-sm-lab">{{ 'widgets.formExt.hidden.fieldCookies.desc' | translate }}</span>
</div>

<div *ngIf="item.fieldType.type === 'user_value'" class="row-subitem mt-3 form-ext-item__item-input">
  <label class="control-label control-label-des switcher-label-xs">{{ 'widgets.formExt.hidden.fieldUserValue.label' | translate }}</label>
  <input type="text" class="form-control mt-1" [(ngModel)]="item.customUserValue"/>
  <span class="input-down-sm-lab">{{ 'widgets.formExt.hidden.fieldUserValue.desc' | translate }}</span>
</div>
