<app-color-line type="modals"></app-color-line>
<div class="modal-header text-center justify-content-center">
  <h3 class="modal-title">{{ 'abtests.modal.variant.add' | translate }}</h3>
</div>

<div id="newABTabs" class="modal-body tab-content">
  <div id="step1" class="p-m" *ngIf="step == 0">
    <div class="row">
      <div class="col-lg-4 widget-type-view" *ngFor="let type of ABTypes" (click)="setABType(type)">
        <div class="ab-type-icon-{{ type.type }}"></div>
        <div class="view-name">{{ type.title }}</div>
      </div>
    </div>
  </div>
  <div id="step2" class="active" *ngIf="step == 1">
    <div class="create-widget-m" style="padding-top: 0" [ngClass]="{'main-content-container-loader': isLoaderActive}">
      <div class="filters-loader"></div>
      <div class="container-for-loader">
        <div class="header-modal">
          <span>{{ 'abtests.modal.template.choose' | translate }}</span>
        </div>
        <span class="sub-text">{{ 'abtests.modal.template.subtext' | translate }}</span>
        <div class="just-blue-line"></div>
        <div class="main-content-container">
          <div class="left-panel-filter">
            <span class="left-panel-filter-title">{{ 'abtests.modal.template.categories' | translate }}</span>
            <div class="left-panel-filter-categories">
              <div class="left-panel-filter-categories-container">
                <div *ngFor="let grp of groups; index as i">
                  <h5 [ngClass]="(i !== 0) ? 'margined-top-20' : ''">
                    {{ grp.name }}
                  </h5>
                  <div class="left-category-item" *ngFor="let cat of grp.categories">
                    <div class="left-panel-filter-categories-category">
                      <label class="non-bold">
                        {{ cat.name }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-widgets-list">
            <div class="alert-if-empty" *ngIf="mockups.length === 0">
              <h3>{{ 'abtests.modal.noWidgets' | translate }}</h3>
            </div>
            <div class="test-scroll-inf" infiniteScroll (scrolled)="loadMore()">
              <div class="mockup-selector-categories-mockups-item-container" *ngFor="let mckp of mockups">
                <div class="mockup-selector-categories-mockups-item">
                  <div class="mockup-selector-categories-mockups-item-hover">
                    <button (click)="setMockupABT(mckp)" type="button" class="btn btn-success">
                      <i class="fa fa-check"></i> {{ 'widgetsList.add.params.select' | translate }}
                    </button>
                  </div>
                  <div class="mockup-selector-categories-mockups-item-content">
                    <div id="mockup-selector-categories-mockups-item-tariff-container">

                    </div>
                    <img [src]="mckp.preview" alt="">
                    <div class="mockup-selector-categories-mockups-item-title">
                      <div>
                        <div>{{ mckp.name }}</div>
                      </div>
                    </div>
                    <div class="mockup-selector-categories-mockups-item-desc">
                      <div>
                        <div>{{ mckp.description }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
