<div>
  <div class="d-flex align-items-center row-subitem row-subitem-padding row-tune-split">
    <label class="control-label control-label-des w-75">Вид</label>
    <div class="dropdown w-100">
      <button aria-expanded="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
        <hr [class]="'style' + modelName.type">
      </button>
      <ul class="dropdown-menu" role="menu">
        <li (click)="modelName.type = itemVisual" *ngFor="let itemVisual of typeClass" role="presentation">
          <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">
            <hr [class]="'style' + itemVisual">
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-3">
    <label class="control-label control-label-des">Цвет</label>
    <div class="d-flex text-right">
      <input
        [(colorPicker)]="modelName.color"
        [cpAlphaChannel]="'disabled'"
        [cpOutputFormat]="'hex'"
        [style.background]="modelName.color"
        class="color-picker-control"
        cpPosition="left"
        readonly
      />
      <input
        [(ngModel)]="modelName.color"
        class="picker-input color"
      />
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-between mt-3">
    <label class="control-label control-label-des">Толщина</label>
    <div class="d-flex text-right side-ui-sm align-items-center">
      <ngx-slider [(value)]="modelName.thickness" [options]="optionsThickness"></ngx-slider>
      <div class="form-control form-control-font ml-2">
        <input
          [(ngModel)]="modelName.thickness"
          type="number"
        />
        <label>px</label>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-between mt-3">
    <label class="control-label control-label-des">Ширина</label>
    <div class="d-flex align-items-center">
      <div
        [class.disabled]="modelName.width_type !== widthHrType[1]"
        class="form-control form-control-font mr-2"
      >
        <input
          [(ngModel)]="modelName.widthpx"
          [disabled]="modelName.width_type !== widthHrType[1]"
          type="number"
        />
        <label>px</label>
      </div>
      <button
        (click)="modelName.width_type = (modelName.width_type === widthHrType[0] ? widthHrType[1] : widthHrType[0])"
        [class.active]="modelName.width_type === widthHrType[0]"
        class="wide-button"
      >
      </button>
    </div>
  </div>

  <div class="d-flex justify-content-between row-subitem row-subitem-padding mt-3 pt-1 border-item">
    <label
      [class.disabled]="modelName.width_type === widthHrType[0]"
      class="control-label control-label-des"
    >
      Выравнивание
    </label>
    <div>
      <button
        (click)="modelName.position = floatBtn[0]"
        [class.active]="modelName.position === floatBtn[0]"
        [disabled]="modelName.width_type === widthHrType[0]"
        class="align-button icon-left"
      ></button>
      <button
        (click)="modelName.position = floatBtn[1]"
        [class.active]="modelName.position === floatBtn[1]"
        [disabled]="modelName.width_type === widthHrType[0]"
        class="align-button icon-center"
      ></button>
      <button
        (click)="modelName.position = floatBtn[2]"
        [class.active]="modelName.position === floatBtn[2]"
        [disabled]="modelName.width_type === widthHrType[0]"
        class="align-button icon-right"
      ></button>
    </div>
  </div>
</div>
