<div>
  <!-- Page Input Form -->
  <div class="formMas border-item">
    <div *ngFor="let item of widget.guiprops['formSet'].items; trackBy: trackById; index as i"
         class="row row-subitem">
      <div class="formItem">
        <div class="col-sm-12 mt-2 greyFormBg">
          <label class="control-label">Введите название поля</label>
          <input type="text" class="form-control" [(ngModel)]="item.placeholder">

          <span class="small">Например: Введите email</span>
          <div class="typeInputRBtn mt-2">
            <div class="form-add-title-type">Тип:</div>
            <div *ngFor="let itemType of itemVariable; index as j" class="form-rbtn-line">
              <label *ngIf="getItemT(item, itemType)" class="d-flex align-items-center" (click)="getPlaceholderFrom(item, i)">
                <input
                  type="radio"
                  class="radio radio-info radio-inline mr-1"
                  (click)="(item.type === 'message') ? addFirstInput(item, i) : ''"
                  [(ngModel)]="item.type"
                  [value]="itemType.type"
                  [name]="'form' + i"
                />
                {{ itemType.value }}
              </label>
            </div>
          </div>
          <div class="mt-2 formReqBl d-flex">
            <ui-switch
              size="small"
              [(ngModel)]="item.required"
            ></ui-switch>
            <label class="switcher-label-xs ml-2 mb-0 font-normal">Поле обязательно к заполнению</label>
          </div>

          <div class="mt-2 formReqBl d-flex" *ngIf="item.type === 'phone' && widget.guiprops.formSet.phoneMask">
            <ui-switch
              size="small"
              [(ngModel)]="widget.guiprops.formSet.phoneMask.enable"
            ></ui-switch>
            <label class="switcher-label-xs ml-2 mb-0 font-normal">
              {{ 'widgets.form.phoneMask.titleSwitcher' | translate }}
            </label>
          </div>
          <div *ngIf="item.type === 'phone' && widget.guiprops.formSet?.phoneMask?.enable" class="mt-2 formReqBl">
            <label class="control-label">{{ 'widgets.form.phoneMask.titleInput' | translate }}</label>
            <input type="text" class="form-control" (keyup)="blockedUnusedChars()"
                   [(ngModel)]="widget.guiprops.formSet.phoneMask.maskValue">
            <span class="small">{{ 'widgets.form.phoneMask.description' | translate }}</span>
          </div>

          <div *ngIf="widget.guiprops.formSet?.items.length > 1" class="remove-sub-form-item">
            <a (click)="removePageInputItem(i)" href="javascript:void(0);"><i
              class="remove-sub-item col-sm-1 pe-7s-close-circle"></i></a>
          </div>
        </div>

        <div class="add-sub-form-item mt-2">
          <a
            *ngIf="widget.guiprops.formSet?.items.length < 4"
            (click)="addPageInputItem()"
            href="javascript:void(0);"
          >Добавить еще одно поле<i class="remove-sub-item col-sm-1 fa fa-plus"></i></a>
        </div>
      </div>
    </div>
    <!-- END Page input item -->
  </div>

  <div class="mt-3 border-item">
    <h3>Вид формы</h3>

    <div class="d-flex align-items-center justify-content-between mt-3">
      <label class="control-label control-label-des">Ширина</label>
      <div class="d-flex align-items-center">
        <div
          class="form-control form-control-font mr-2"
          [class.disabled]="widget.guiprops.form.form_width_type !== widthHrType[1]"
        >
          <input
            type="number"
            [(ngModel)]="widget.guiprops.form.form_widthpx"
            [disabled]="widget.guiprops.form.form_width_type !== widthHrType[1]"
          />
          <label>px</label>
        </div>
        <button
          class="wide-button"
          [class.active]="widget.guiprops.form.form_width_type === widthHrType[0]"
          (click)="widget.guiprops.form.form_width_type = (widget.guiprops.form.form_width_type === widthHrType[0] ? widthHrType[1] : widthHrType[0])"
        >
        </button>
      </div>
    </div>

    <div class="d-flex justify-content-between row-subitem row-subitem-padding mt-3">
      <label
        class="control-label control-label-des"
        [class.disabled]="widget.guiprops.form.form_width_type === widthHrType[0]"
      >
        Выравнивание
      </label>
      <div>
        <button
          class="align-button icon-left"
          [class.active]="widget.guiprops.form.form_position === floatBtn[0]"
          (click)="widget.guiprops.form.form_position = floatBtn[0]"
          [disabled]="widget.guiprops.form.form_width_type === widthHrType[0]"
        ></button>
        <button
          class="align-button icon-center"
          [class.active]="widget.guiprops.form.form_position === floatBtn[1]"
          (click)="widget.guiprops.form.form_position = floatBtn[1]"
          [disabled]="widget.guiprops.form.form_width_type === widthHrType[0]"
        ></button>
        <button
          class="align-button icon-right"
          [class.active]="widget.guiprops.form.form_position === floatBtn[2]"
          (click)="widget.guiprops.form.form_position = floatBtn[2]"
          [disabled]="widget.guiprops.form.form_width_type === widthHrType[0]"
        ></button>
      </div>
    </div>
  </div>

  <div class="row-subitem w-100">
    <div class="row-subitem-padding mt-3">
      <h3>Вид полей</h3>
      <div class="dropdown mt-1 pt-1">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
          {{ widget.guiprops.form.visual }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation" *ngFor="let itemVisual of visualInputForm"
              (click)="widget.guiprops.form.visual = itemVisual">
            <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemVisual }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-3">
    <label class="control-label control-label-des">Цвет текста</label>
    <div class="d-flex text-right">
      <input
        [(colorPicker)]="widget.guiprops['form'].colorTitleInputForm"
        [style.background]="widget.guiprops['form'].colorTitleInputForm"
        [cpAlphaChannel]="'disabled'"
        [cpOutputFormat]="'hex'"
        cpPosition="left"
        class="color-picker-control"
      />
      <input
        [(ngModel)]="widget.guiprops['form'].colorTitleInputForm"
        class="picker-input color"
      />
    </div>
  </div>

  <div class="d-flex justify-content-between mt-2 pt-1">
    <label class="control-label control-label-des">Цвет фона</label>
    <div class="d-flex text-right">
      <input
        [(colorPicker)]="widget.guiprops['form'].bgInputForm"
        [style.background]="widget.guiprops['form'].bgInputForm"
        [cpAlphaChannel]="'disabled'"
        [cpOutputFormat]="'hex'"
        cpPosition="left"
        class="color-picker-control"
      />
      <input
        [(ngModel)]="widget.guiprops['form'].bgInputForm"
        class="picker-input color"
      />
    </div>
  </div>

  <div class="d-flex justify-content-between mt-2 pt-1">
    <h5 class="label-style-ic control-label-des">Прозрачность фона</h5>
    <div class="d-flex text-right side-ui-sm">
      <ngx-slider [(value)]="widget.guiprops['form'].opacityBgInputForm" [options]="optionsOpacity"></ngx-slider>
      <input
        [(ngModel)]="widget.guiprops['form'].opacityBgInputForm"
        class="picker-input slider"
      />
    </div>
  </div>

  <div class="d-flex justify-content-between mt-2 pt-1">
    <h5 class="label-style-ic control-label-des">Скругление углов</h5>
    <div class="d-flex text-right side-ui-sm">
      <ngx-slider [(value)]="widget.guiprops['form'].borderRadiusInputForm" [options]="optionsRound"></ngx-slider>
      <input
        [(ngModel)]="widget.guiprops['form'].borderRadiusInputForm"
        class="picker-input slider"
      />
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-between mt-2">
    <label class="control-label control-label-des">Ширина поля</label>
    <div class="d-flex align-items-center">
      <div
        class="form-control form-control-font mr-2"
        [class.disabled]="widget.guiprops['form'].width_type !== widthHrType[1]"
      >
        <input
          type="number"
          [(ngModel)]="widget.guiprops['form'].widthpx"
          [disabled]="widget.guiprops['form'].width_type !== widthHrType[1]"
        />
        <label>px</label>
      </div>
      <button
        class="wide-button"
        [class.active]="widget.guiprops['form'].width_type === widthHrType[0]"
        (click)="widget.guiprops['form'].width_type = (widget.guiprops['form'].width_type === widthHrType[0] ? widthHrType[1] : widthHrType[0])"
      >
      </button>
    </div>
  </div>

  <div class="row-subitem w-100 border-item">
    <div class="row-subitem-padding mt-3">
      <label class="control-label control-label-des">Ориентация полей</label>
      <div class="dropdown mt-1">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
          {{ widget.guiprops.form.orient }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation" *ngFor="let itemOrient of orientInputForm"
              (click)="widget.guiprops.form['orient'] = itemOrient">
            <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemOrient }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row-subitem mt-3 border-item">
    <div class="d-flex row-subitem justify-content-between">
      <label class="control-label switcher-label-xs control-label-des">
        Использовать рамку вокруг полей
      </label>
      <ui-switch
        size="small"
        [(ngModel)]="widget.guiprops.form.border.enable"
      ></ui-switch>
    </div>

    <div *ngIf="widget.guiprops['form'].border?.enable">
      <div class="d-flex justify-content-between mt-2 pt-1">
        <label class="control-label control-label-des">Цвет рамки</label>
        <div class="d-flex text-right">
          <input
            [(colorPicker)]="widget.guiprops['form'].border.color"
            [style.background]="widget.guiprops['form'].border.color"
            [cpAlphaChannel]="'disabled'"
            [cpOutputFormat]="'hex'"
            cpPosition="left"
            class="color-picker-control"
          />
          <input
            [(ngModel)]="widget.guiprops['form'].border.color"
            class="picker-input color"
          />
        </div>
      </div>
    </div>
  </div>


  <div class="row-subitem mt-3 border-item">
    <div class="d-flex row-subitem justify-content-between">
      <label class="control-label switcher-label-xs control-label-des">
        Использовать подложку под формой
      </label>
      <ui-switch
        size="small"
        [(ngModel)]="widget.guiprops.form.colorPod.enable"
      ></ui-switch>
    </div>

    <div *ngIf="widget.guiprops['form'].colorPod?.enable">
      <div class="d-flex justify-content-between mt-2 pt-1">
        <label class="control-label control-label-des">Цвет подложки</label>
        <div class="d-flex text-right">
          <input
            [(colorPicker)]="widget.guiprops['form'].colorPod.color"
            [style.background]="widget.guiprops['form'].colorPod.color"
            [cpAlphaChannel]="'disabled'"
            [cpOutputFormat]="'hex'"
            cpPosition="left"
            class="color-picker-control"
          />
          <input
            [(ngModel)]="widget.guiprops['form'].colorPod.color"
            class="picker-input color"
          />
        </div>
      </div>

      <div class="d-flex justify-content-between mt-2 pt-1">
        <h5 class="label-style-ic control-label-des">Прозрачность</h5>
        <div class="d-flex text-right side-ui-sm">
          <ngx-slider [(value)]="widget.guiprops['form'].colorPod.opacityColorPod" [options]="optionsOpacity"></ngx-slider>
          <input
            [(ngModel)]="widget.guiprops['form'].colorPod.opacityColorPod"
            class="picker-input slider"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-4">
  <h3>Вид кнопки</h3>

  <label class="control-label control-label-des mt-3">Шрифт</label>
  <div class="row-subitem-padding mt-1">
    <input [id]="'font-picker' + index" type="text">
  </div>

  <div class="d-flex align-items-center justify-content-between mt-2">
    <label class="control-label control-label-des">Размер</label>
    <div class="align-items-center">
      <div class="form-control form-control-font">
        <input
          type="number"
          [(ngModel)]="widget.guiprops['button'].fontSize"
        />
        <label>px</label>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-3">
    <label class="control-label control-label-des">Цвет кнопки</label>
    <div class="d-flex text-right">
      <input
        [(colorPicker)]="widget.guiprops['button'].colorBtn"
        [style.background]="widget.guiprops['button'].colorBtn"
        [cpAlphaChannel]="'disabled'"
        [cpOutputFormat]="'hex'"
        cpPosition="left"
        class="color-picker-control"
      />
      <input
        [(ngModel)]="widget.guiprops['button'].colorBtn"
        class="picker-input color"
      />
    </div>
  </div>

  <div class="d-flex justify-content-between mt-2 pt-1">
    <h5 class="label-style-ic control-label-des">Скругление углов</h5>
    <div class="d-flex text-right side-ui-sm">
      <ngx-slider [(value)]="widget.guiprops['button'].borderRadiusBtn" [options]="optionsRound"></ngx-slider>
      <input
        [(ngModel)]="widget.guiprops['button'].borderRadiusBtn"
        class="picker-input slider"
      />
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-between mt-2 pt-1">
    <label class="control-label control-label-des">Ширина</label>
    <div class="d-flex align-items-center">
      <div
        class="form-control form-control-font mr-2"
        [class.disabled]="widget.guiprops.button.btn_width !== widthBtn[2]"
      >
        <input
          type="number"
          [(ngModel)]="widget.guiprops['button'].btn_widthpx"
          [disabled]="widget.guiprops.button.btn_width !== widthBtn[2]"
        />
        <label>px</label>
      </div>
      <button
        class="content-type-button"
        [class.active]="widget.guiprops.button.btn_width === widthBtn[0]"
        (click)="widget.guiprops.button.btn_width = (widget.guiprops.button.btn_width === widthBtn[0] ? widthBtn[2] : widthBtn[0])"
      >
        AUTO
      </button>
      <button
        class="wide-button"
        [class.active]="widget.guiprops.button.btn_width === widthBtn[1]"
        (click)="widget.guiprops.button.btn_width = (widget.guiprops.button.btn_width === widthBtn[1] ? widthBtn[2] : widthBtn[1])"
      >
      </button>
    </div>
  </div>

  <div class="d-flex justify-content-between row-subitem row-subitem-padding mt-2 pt-1 border-item">
    <label
      class="control-label control-label-des"
      [class.disabled]="widget.guiprops.button.btn_width === widthBtn[1]"
    >
      Выравнивание
    </label>
    <div>
      <button
        class="align-button icon-left"
        [class.active]="widget.guiprops.button.position === floatBtn[0]"
        (click)="widget.guiprops.button.position = floatBtn[0]"
        [disabled]="widget.guiprops.button.btn_width === widthBtn[1]"
      ></button>
      <button
        class="align-button icon-center"
        [class.active]="widget.guiprops.button.position === floatBtn[1]"
        (click)="widget.guiprops.button.position = floatBtn[1]"
        [disabled]="widget.guiprops.button.btn_width === widthBtn[1]"
      ></button>
      <button
        class="align-button icon-right"
        [class.active]="widget.guiprops.button.position === floatBtn[2]"
        (click)="widget.guiprops.button.position = floatBtn[2]"
        [disabled]="widget.guiprops.button.btn_width === widthBtn[1]"
      ></button>
    </div>
  </div>
</div>

<div class="row-subitem mt-3 border-item">
  <h3>Стиль кнопки</h3>
  <div class="dropdown mt-3 mb-1">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
      {{ widget.guiprops.button.styleType }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-with-btn-styles" role="menu">
      <li role="presentation" (click)="setBtnStyle('Default', widget.guiprops.button)">
        <a
          class="dropdown-item btn-var-styles btn-var-styles__default"
          [ngStyle]="{'font-family': widget.guiprops['button'].font.fontFamily, 'background': widget.guiprops['button'].colorBtn}"
          href="javascript:void(0)"
        >Default</a></li>
      <li role="presentation" (click)="setBtnStyle('Material', widget.guiprops.button)">
        <a
          class="dropdown-item btn-var-styles btn-var-styles__material"
          [ngStyle]="{'font-family': widget.guiprops['button'].font.fontFamily, 'background': widget.guiprops['button'].colorBtn}"
          href="javascript:void(0)"
        >Material</a></li>
      <li role="presentation" (click)="setBtnStyle('Flat', widget.guiprops.button)">
        <a
          class="dropdown-item btn-var-styles btn-var-styles__flat"
          [ngStyle]="{'font-family': widget.guiprops['button'].font.fontFamily, 'background': widget.guiprops['button'].colorBtn}"
          href="javascript:void(0)"
        >Flat</a></li>
      <li role="presentation" (click)="setBtnStyle('Border Style', widget.guiprops.button)">
        <a
          class="dropdown-item btn-var-styles btn-var-styles__border-style"
          [ngStyle]="{'font-family': widget.guiprops['button'].font.fontFamily, 'border-color': widget.guiprops['button'].colorBtn}"
          href="javascript:void(0)"
        >Border Style</a></li>
    </ul>
  </div>
</div>

<!-- Coupon settings -->
<app-coupon-callback
  [coupons]="coupons"
  [coupon]="widget.guiprops.exit.couponCallback"
  [placePopup]="placePopup"
></app-coupon-callback>
