<div class="flex-column toolbar-content">
  <div class="row col-lg-12 pr-0 justify-content-between">
    <h1 class="title-main">{{ 'sidebar.coupons' | translate }}</h1>
    <button
      type="button"
      class="btn btn-lg btn-success"
      (click)="openCouponModal()"
    ><i class="fa fa-plus-circle"></i> {{ 'coupons.addCoupon' | translate }}
    </button>
  </div>

  <div class="content">
    <div class="row pr-3">
      <div *ngIf="!coupons.length" class="col-lg-12 mt-5">
        <h3 class="f-0 text-center">{{ 'coupons.empty.title' | translate }}</h3>
        <h4 class="f-2 text-center">{{ 'coupons.empty.subtitle' | translate }}</h4>
        <h6 class="f-3 text-center underline-links blue-links hover-links" [innerHTML]="'coupons.empty.help' | translate"></h6>
      </div>

      <div class="col-lg-12 coupons-wrapper-scr" *ngIf="coupons.length">
        <div class="coupons-items-block test-item">
          <div class="ab-content">
            <div class="ab-grid">
              <div class="ab-grid__header">
                <div class="ab-grid__header--name-coupon">{{ 'coupons.grid.coupon.name' | translate }}</div>
                <div class="ab-grid__header--code-coupon">{{ 'coupons.grid.coupon.code' | translate }}</div>
                <div class="ab-grid__header--type-coupon">{{ 'coupons.grid.coupon.type' | translate }}</div>
                <div class="ab-grid__header--actions-coupon">{{ 'coupons.grid.coupon.control' | translate }}</div>
              </div>
              <div class="ab-grid__body">
                <app-coupons-list
                  *ngFor="let coupon of coupons; trackBy: trackById; let isOdd = odd"
                  [isColoredRow]="isOdd"
                  [coupon]="coupon"
                >
                </app-coupons-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
