.coupons-items-block.test-item {
  margin-top: 20px;
  padding: 15px;
  min-width: 1220px;
}

.test-item {
  margin-top: 25px;
  background-color: #fff;
  padding: 15px 10px;
  border: 1px solid #e4e5e7;
}

.ab-grid__header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: #f7f7f7;
}

.ab-grid__header--name-coupon,
.ab-grid__header--code-coupon,
.ab-grid__header--type-coupon,
.ab-grid__header--actions-coupon {
  padding: 7px 10px;
}

.ab-grid__header--actions-coupon {
  text-align: right;
}

.ab-grid__header--name-coupon {
  flex-basis: 32%;
  max-width: 32%;
}

.ab-grid__header--code-coupon  {
  flex-basis: 29%;
  max-width: 29%;
}

.ab-grid__header--type-coupon {
  flex-basis: 26%;
  max-width: 26%;
}

.ab-grid__header--actions-coupon {
  flex-basis: 13%;
  max-width: 13%;
  margin-right: 2px;
}



@media (max-width: 1460px) {
  .coupons-wrapper-scr {
    overflow: auto;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
  }
}
