@import "src/scss/vars";
@import "src/scss/mixins";
@import "src/scss/modal-header";

:host {
  width: 1020px;
  border-radius: $borderRadius;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 991px) {
    width: 100%;
  }
  .modal-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 40px 40px 40px;

    @media (max-width: 991px) {
      padding: 20px;
    }

    form {
      width: inherit;
      display: inherit;
      flex-direction: inherit;
      gap: 25px;

      .form-group {
        width: inherit;
        display: inherit;
        flex-direction: inherit;
        gap: 10px;
        margin: 0;

        &.is-invalid {
          lbael, .control-label {
            color: #a94442;
          }
        }

        lbael, .control-label {
          display: inherit;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: $fontPrimaryColor;
          margin: 0;
          gap: 10px;

          a {
            display: flex;
            width: 22px;
            height: 22px;
            position: relative;
            color: $fontGrayColor;

            @include svg-position();
          }
        }

        input, textarea {
          min-height: 50px;
          padding: 14px;
          border-color: $borderColor;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
        }

        span, .small {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: $fontPrimaryColor;
        }
      }

      .form-buttons {
        display: flex;
        justify-content: flex-end;

        button {
          margin-top: 15px;
        }

        @media (max-width: 991px) {
          justify-content: center;
        }
      }
    }

    .test-type-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 35px;

      @media (max-width: 991px) {
        flex-direction: column;
      }

      .widget-type-view {
        height: 260px;
        width: 290px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        padding: 20px;
        background-color: transparent;
        transition: all 0.2s ease-in-out;

        @media (max-width: 375px) {
          width: 100%;
          height: auto;
        }

        &:focus-visible {
          border-color: $successColor;
        }

        &:hover, &:focus-visible {
          box-shadow: $boxShadow;
        }

        .ab-type-icon {
          &-NEW, &-DUPLICATE, &-MOCKUP {
            margin: 0;
            border: 1px solid $borderColor;
          }
        }

        .view-name {
          margin: 0;
        }
      }
    }
  }
}

.sub-text-extra-create-new-test {
  text-align: center;
  display: block;
  color: #363636;
  font-size: 16px;
  font-weight: 300;
  margin: -20px 0 5px;
}
