<div class="row-panel-fl">
  <div class="row-panel-item small-pdn">
    <div
      (click)="addFormExtButtonElement(disElementOrNotBtn())"
      [ngClass]="(disElementOrNotBtn()) ? 'disable-new-element-btn' : ''"
      class="newElementItem"
    >
      <div class="element-form-new-icon"></div>
      <span>Форма+кнопки (новый)</span>
    </div>
  </div>

  <div *ngIf="!isContainerized" class="row-panel-item small-pdn">
    <div
      (click)="addCloseLinkElement(disElementOrNotBtnCloseLink())"
      [ngClass]="(disElementOrNotBtnCloseLink()) ? 'disable-new-element-btn' : ''"
      class="newElementItem"
    >
      <div class="element-dismiss-icon"></div>
      <span>Ссылка/Кнопка закрытия</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div
      (click)="addButtonElement(disElementOrNotBtn())"
      [ngClass]="(disElementOrNotBtn()) ? 'disable-new-element-btn' : ''"
      class="newElementItem"
    >
      <div class="element-button-icon"></div>
      <span>Кнопка</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div (click)="addTextElement()" class="newElementItem">
      <div class="element-text-icon"></div>
      <span>Текст</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div
      (click)="addSocialElement(disElementOrNotBtnSocial())"
      [ngClass]="(disElementOrNotBtnSocial()) ? 'disable-new-element-btn' : ''"
      class="newElementItem"
    >
      <div class="element-social-icon"></div>
      <span>Социальные кнопки</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div (click)="addSplitElement()" class="newElementItem">
      <div class="element-divider-icon"></div>
      <span>Разделитель</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div (click)="addVideoElement()" class="newElementItem">
      <div class="element-video-icon"></div>
      <span>Видео</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div (click)="addImageElement()" class="newElementItem">
      <div class="element-image-icon"></div>
      <span>Изображение</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div (click)="addPaddingElement()" class="newElementItem">
      <div class="element-padding-icon"></div>
      <span>Отступ</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div (click)="addIframeElement()" class="newElementItem">
      <div class="element-iframe-icon"></div>
      <span>HTML / JS / Iframe</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div (click)="addCouponElement()" class="newElementItem">
      <span class="payment-modal-icon label label-warning tariff-info">окупаемый</span>
      <div class="element-coupon-icon"></div>
      <span>Купон</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div (click)="addTimerElement()" class="newElementItem">
      <div class="element-countdown-icon"></div>
      <span>Таймер</span>
    </div>
  </div>
</div>
