<div class="row-panel-fl">
  <div class="row-panel-item small-pdn">
    <div
      class="newElementItem"
      (click)="addFormExtButtonElement(disElementOrNotBtn())"
      [ngClass]="(disElementOrNotBtn()) ? 'disable-new-element-btn' : ''"
    >
      <div class="element-form-new-icon"></div>
      <span>Форма+кнопки (новый)</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn" *ngIf="!isContainerized">
    <div
      class="newElementItem"
      (click)="addCloseLinkElement(disElementOrNotBtnCloseLink())"
      [ngClass]="(disElementOrNotBtnCloseLink()) ? 'disable-new-element-btn' : ''"
    >
      <div class="element-dismiss-icon"></div>
      <span>Ссылка/Кнопка закрытия</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div
      class="newElementItem"
      (click)="addButtonElement(disElementOrNotBtn())"
      [ngClass]="(disElementOrNotBtn()) ? 'disable-new-element-btn' : ''"
    >
      <div class="element-button-icon"></div>
      <span>Кнопка</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div class="newElementItem" (click)="addTextElement()">
      <div class="element-text-icon"></div>
      <span>Текст</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div
      class="newElementItem"
      (click)="addSocialElement(disElementOrNotBtnSocial())"
      [ngClass]="(disElementOrNotBtnSocial()) ? 'disable-new-element-btn' : ''"
    >
      <div class="element-social-icon"></div>
      <span>Социальные кнопки</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div class="newElementItem" (click)="addSplitElement()">
      <div class="element-divider-icon"></div>
      <span>Разделитель</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div class="newElementItem" (click)="addVideoElement()">
      <div class="element-video-icon"></div>
      <span>Видео</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div class="newElementItem" (click)="addImageElement()">
      <div class="element-image-icon"></div>
      <span>Изображение</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div class="newElementItem" (click)="addPaddingElement()">
      <div class="element-padding-icon"></div>
      <span>Отступ</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div class="newElementItem" (click)="addIframeElement()">
      <div class="element-iframe-icon"></div>
      <span>HTML / JS / Iframe</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div class="newElementItem" (click)="addCouponElement()">
      <span class="payment-modal-icon label label-warning tariff-info">окупаемый</span>
      <div class="element-coupon-icon"></div>
      <span>Купон</span>
    </div>
  </div>

  <div class="row-panel-item small-pdn">
    <div class="newElementItem" (click)="addTimerElement()">
      <div class="element-countdown-icon"></div>
      <span>Таймер</span>
    </div>
  </div>
</div>
