.partner {
  margin: 0 30px;
}

.hpanel {
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: none;
  margin-top: 20px;
}

.hpanel .panel-body {
  background: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  overflow-x: hidden;
}

.ads-container {
  width: 200px;
  float: left;
}

.dimension {
  display: flex;
  padding: 5px 0;
}

.show-code {
  margin: 15px 0 30px;
}

.btn {
  white-space: nowrap;
  font-size: 14px;
}

#partnerlink {
  cursor: text;
  font-size: 12px;
}

@media (max-width: 1360px) {
  #partnerlink {
    font-size: 10px;
  }
}

@media (max-width: 1150px) {
  #partnerlink {
    font-size: 8px;
  }
}

@media (max-width: 990px) {
  #partnerlink {
    font-size: 10px;
  }
}

.partnerlink-description {
  font-size: 11px;
}

.partnerlink-socialnetworks {
  text-align: right;
}

.partnerlink-socialnetworks .fab {
  cursor: pointer;
  font-size:   35px;
  margin-left: 10px;
}

@media (max-width: 1280px) {
  .partnerlink-socialnetworks .fab {
    margin-left: 5px;
  }
}

.partnerlink-socialnetworks .fab:hover {
  color: #3498db;
}
