<div class="border-item">
  <div class="col-lg-12">
    <h4 class="h4-element-title">Ссылка/Кнопка закрытия <a
      (click)="removeElementFromElementsList(index)" href="javascript:void(0);"><i class="remove-sub-item fa fa-trash-o"></i></a>
    </h4>
  </div>
  <div class="clearfix"></div>
  <div class="m-b-sm m-t-xs">
    <div class="row row-subitem padding-top-5">
      <div class="col-sm-12 row-subitem-padding">
        <h4 class="h4-text-tit control-label-des">Выберите тип элемента:</h4>
      </div>
      <div class="col-sm-6 row-subitem-padding">
        <div class="form-group widget-selector">
          <label class="non-bold">
            <input type="radio" class="radio radio-info radio-inline" [(ngModel)]="widget.guiprops.exit.button.enable" [value]="false">
            Ссылка закрытия
          </label>
        </div>
      </div>
      <div class="col-sm-6 row-subitem-padding">
        <div class="form-group widget-selector">
          <label class="non-bold">
            <input type="radio" class="radio radio-info radio-inline" [(ngModel)]="widget.guiprops.exit.button.enable" [value]="true">
            Кнопка закрытия
          </label>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!widget.guiprops.exit.button.enable">
    <div class="row row-subitem padding-top-5">
      <div class="col-sm-12 row-subitem-padding">
        <h4 class="h4-text-tit control-label-des">Шрифт:</h4>
      </div>
      <div class="col-sm-12 row-subitem-padding">
        <input [id]="'font-picker' + index" type="text">
      </div>
    </div>
    <div class="row row-subitem">
      <div class="col-sm-12 row-subitem-padding padding-top-5 margined-top-10">
        <input type="number" class="form-control form-control-font form-cntrl-45w" [(ngModel)]="widget.guiprops['exit'].fontSize">
        <label class="control-label">px <span>размер текста</span></label>
      </div>
    </div>

    <div class="row row-subitem padding-top-5 m-t-sm">
      <div class="col-sm-12 row-subitem-padding padding-top-5">
        <label class="control-label control-label-des">Выравнивание:</label>
        <div class="dropdown" >
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {{ widget.guiprops.exit.position }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li
              role="presentation"
              *ngFor="let itemVisual of floatBtn"
              (click)="widget.guiprops.exit.position = itemVisual"
            >
              <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ itemVisual }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="widget.guiprops.exit.button.enable">
    <div>
      <div class="row row-subitem">
        <div class="col-sm-12 row-subitem-padding">
          <h4 class="h4-text-tit control-label-des">Шрифт:</h4>
        </div>
        <div class="col-sm-12 row-subitem-padding">
          <input [id]="'font-picker-button-l' + index" type="text">
        </div>
      </div>
      <div class="row row-subitem">
        <div class="col-sm-12 row-subitem-padding padding-top-5 margined-top-10">
          <input type="number" class="form-control form-control-font form-cntrl-45w" [(ngModel)]="widget.guiprops.exit.button.fontSize">
          <label class="control-label">px <span>размер текста</span></label>
        </div>
      </div>
      <div class="row row-subitem m-t-sm m-b-md">
        <div class="col-sm-6 row-subitem-padding padding-top-5">
          <label class="control-label control-label-colorpc control-label-des">Цвет кнопки:</label>
          <input
            [(colorPicker)]="widget.guiprops.exit.button.colorBtn"
            [style.background]="widget.guiprops.exit.button.colorBtn"
            [cpAlphaChannel]="'disabled'"
            [cpOutputFormat]="'hex'"
          />
        </div>
        <div class="col-sm-6 row-subitem-padding padding-top-5 side-ui-dev">
          <label class="control-label control-label-colorpc control-label-des">Закругление углов</label>
          <ngx-slider [(value)]="widget.guiprops.exit.button.borderRadiusBtn" [options]="optionsRound"></ngx-slider>
        </div>
      </div>

      <div class="row row-subitem m-t-sm">
        <div class="col-sm-6 row-subitem-padding padding-top-5">
          <label class="control-label control-label-des">Ширина кнопки:</label>
          <div class="dropdown" >
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
              {{ widget.guiprops.exit.button.btn_width }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li
                role="presentation"
                *ngFor="let item of widthBtn"
                (click)="widget.guiprops.exit.button.btn_width = item"
              >
                <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ item }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 row-subitem-padding padding-top-5">
          <label class="control-label control-label-des">Ориентация:</label>
          <div class="dropdown">
            <button
              class="btn btn-default dropdown-toggle"
              [disabled]="widget.guiprops.exit.button.btn_width === 'От края до края'"
              type="button"
              data-toggle="dropdown"
              aria-expanded="true"
            >
              {{ widget.guiprops.exit.button.position }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li
                role="presentation"
                *ngFor="let item of floatBtn"
                (click)="widget.guiprops.exit.button.position = item"
              >
                <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ item }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div *ngIf="widget.guiprops.exit.button.btn_width === 'Собственная'">
        <div class="col-sm-12 padding-top-5 margined-top-10">
          <input type="number" class="form-control form-control-font form-cntrl-55w" [(ngModel)]="widget.guiprops.exit.button.btn_widthpx">
          <label class="control-label">px <span>ширина кнопки</span></label>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="row row-subitem m-t-sm">
        <div class="col-sm-12 row-subitem-padding">
          <label class="control-label control-label-des">Стиль кнопки:</label>
          <div class="dropdown" >
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
              {{ widget.guiprops.exit.button.styleType }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-with-btn-styles" role="menu">
              <li
                role="presentation"
                (click)="setBtnStyle('Default', widget.guiprops.exit.button)"
              >
                <a
                  class="btn-var-styles btn-var-styles__default"
                  [ngStyle]="{'font-family': widget.guiprops.exit.button.font.fontFamily, 'background': widget.guiprops.exit.button.colorBtn}"
                  href="javascript:void(0)"
                >Default</a>
              </li>
              <li
                role="presentation"
                (click)="setBtnStyle('Material', widget.guiprops.exit.button)"
              >
                <a
                  class="btn-var-styles btn-var-styles__material"
                  [ngStyle]="{'font-family': widget.guiprops.exit.button.font.fontFamily, 'background': widget.guiprops.exit.button.colorBtn}"
                  href="javascript:void(0)"
                >Material</a>
              </li>
              <li
                role="presentation"
                (click)="setBtnStyle('Flat', widget.guiprops.exit.button)"
              >
                <a
                  class="btn-var-styles btn-var-styles__flat"
                  [ngStyle]="{'font-family': widget.guiprops.exit.button.font.fontFamily, 'background': widget.guiprops.exit.button.colorBtn}"
                  href="javascript:void(0)"
                >Flat</a>
              </li>
              <li
                role="presentation"
                (click)="setBtnStyle('Border Style', widget.guiprops.exit.button)"
              >
                <a
                  class="btn-var-styles btn-var-styles__border-style"
                  [ngStyle]="{'font-family': widget.guiprops.exit.button.font.fontFamily, 'border-color': widget.guiprops.exit.button.colorBtn}"
                  href="javascript:void(0)"
                >Border Style</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <!-- Coupon settings -->
  <app-coupon-callback
    [coupons]="coupons"
    [coupon]="widget.guiprops.exit.couponCallback"
    [placePopup]="placePopup"
  ></app-coupon-callback>
</div>
