<div class="border-item main-settings-for-top-el-near">
  <div class="main-settings-for-top-el" id="elemScrNMainSetBl">
    <div class="row row-subitem m-t-n-sm">
      <div class="col-sm-12 row-subitem-padding">
        <h4 class="h4-element-title">Контент виджета</h4>
      </div>
    </div>
    <div class="row row-subitem mt-2">
      <div class="col-sm-6 row-subitem-padding pt-1">
        <div>
          <label class="control-label control-label-des">Ширина контента:</label>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
              {{ widget.guiprops?.dhVisual?.widget_content_width }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li
                role="presentation"
                *ngFor="let item of widgwidthBtn"
                (click)="widget.guiprops.dhVisual.widget_content_width = item"
              >
                <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ item }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="widget.guiprops?.dhVisual?.widget_content_width === 'Собственная'" class="pt-1 mt-2">
          <input
            type="number"
            min="60"
            class="form-control form-control-font form-cntrl-55w"
            [(ngModel)]="widget.guiprops.dhVisual.widget_content_widthpx"
          />
          <label class="control-label">px <span>ширина</span></label>
        </div>
      </div>
      <div class="col-sm-6 row-subitem-padding pt-1">
        <div>
          <label class="control-label control-label-des">Высота контента:</label>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
              {{ widget.guiprops?.dhVisual?.widget_content_height }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li
                role="presentation"
                *ngFor="let item of widgwidthBtn"
                (click)="widget.guiprops.dhVisual.widget_content_height = item"
              >
                <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ item }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="widget.guiprops?.dhVisual?.widget_content_height === 'Собственная'" class="pt-1 mt-2">
          <input
            type="number"
            min="60"
            class="form-control form-control-font form-cntrl-55w"
            [(ngModel)]="widget.guiprops['dhVisual'].widget_content_heightpx"
          />
          <label class="control-label">px <span>высота</span></label>
        </div>
      </div>
    </div>
    <div *ngIf="widget.guiprops?.dhVisual?.widget_content_height === 'Собственная'" class="row row-subitem mt-2">
      <div class="col-sm-6 row-subitem-padding pt-1">
        <label class="control-label control-label-des">Позиционирование контента:</label>
        <div class="dropdown" >
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {{ widget.guiprops.dhVisual.widget_content_height_orient }}
            <span class="caret"></span>
          </button>
          <ul role="menu" class="dropdown-menu">
            <li
              role="presentation"
              (click)="widget.guiprops.dhVisual.widget_content_height_orient = item"
              *ngFor="let item of vertOrientDh"
            >
              <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ item }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Page rule item -->
    <div *ngIf="widget.guiprops.bg">
      <div class="row row-subitem mt-3">
        <div class="col-sm-12 row-subitem-padding">
          <h4 class="h4-text-tit control-label-des">Фон контента:</h4>
        </div>
        <div class="clearfix"></div>
        <div class="flex-bl-for-radio-group">
          <div class="row-subitem-padding radio-group-item">
            <div class="form-group widget-selector">
              <label>
                <input
                  type="radio"
                  class="radio radio-info radio-inline"
                  [(ngModel)]="widget.guiprops['bg'].fillorImg"
                  value="fill"
                />
                Залить цветом
              </label>
            </div>
          </div>
          <div class="row-subitem-padding radio-group-item">
            <div class="form-group widget-selector">
              <label>
                <input
                  type="radio"
                  class="radio radio-info radio-inline"
                  [(ngModel)]="widget.guiprops['bg'].fillorImg"
                  value="useImg"
                />
                Изображение
              </label>
            </div>
          </div>
          <div class="row-subitem-padding">
            <div class="form-group widget-selector">
              <label>
                <input
                  type="radio"
                  class="radio radio-info radio-inline"
                  [(ngModel)]="widget.guiprops['bg'].fillorImg"
                  value="useVideo"
                />
                Видео
              </label>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="widget.guiprops['bg'].fillorImg === 'useImg'">
        <div class="row row-subitem">
          <div class="col-sm-12 row-subitem-padding mt-2">
            <a (click)="listFile('bg')" class="widget-download-img"><i class="fa fa-image"></i> Установить или изменить изображение</a>
          </div>
        </div>

        <div class="row row-subitem mt-2">
          <div class="col-sm-6 row-subitem-padding pt-1">
            <div>
              <label class="control-label control-label-des">Положение:</label>
              <div class="dropdown" >
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                  {{ widget.guiprops.bg.positionType }}
                  <span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu">
                  <li
                    role="presentation"
                    *ngFor="let item of bgPositionTypesList"
                    (click)="widget.guiprops.bg.positionType = item"
                  >
                    <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ item }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div *ngIf="widget.guiprops['bg'].positionType === 'Замостить'" class="col-sm-6 row-subitem-padding pt-1">
            <div>
              <label class="control-label control-label-des">Плитка:</label>
              <div class="dropdown" >
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                  {{ widget.guiprops.bg.tiles }}
                  <span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu">
                  <li
                    role="presentation"
                    *ngFor="let item of tilesList"
                    (click)="widget.guiprops.bg.tiles = item"
                  >
                    <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ item }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="widget.guiprops['bg'].fillorImg === 'useVideo'">
        <div class="imaget-item-video-settings m-b">
          <div class="row row-subitem pt-1">
            <div class="col-sm-12 row-subitem-padding mt-2 mb-1">
              <h4 class="h4-text-tit control-label-des helper-title-3level">Источник видео</h4>
            </div>
            <div class="col-sm-6 row-subitem-padding">
              <div class="form-group widget-selector">
                <label>
                  <input
                    type="radio"
                    class="radio radio-info radio-inline"
                    (change)="getVideoId(widget.guiprops.bg.video)"
                    [ngModel]="widget.guiprops.bg.video.videoType"
                    value="youtube"
                  />
                  Youtube
                </label>
              </div>
            </div>
            <div class="col-sm-6 row-subitem-padding">
              <div class="form-group widget-selector">
                <label>
                  <input
                    type="radio"
                    class="radio radio-info radio-inline"
                    (change)="getVideoId(widget.guiprops.bg.video)"
                    [ngModel]="widget.guiprops.bg.video.videoType"
                    value="vimeo"
                  />
                  Vimeo
                </label>
              </div>
            </div>
            <button
              (click)="getVideoId(widget.guiprops.bg.video)"
              class="btn btn-default refresh-video-element-btn"
              data-toggle="tooltip"
              data-container="body"
              data-placement="top"
              title=""
              data-original-title="Обновить превью видео"
            >
              <i class="fa fa-refresh"></i>
            </button>
          </div>
          <div class="row row-subitem">
            <div class="col-sm-12 row-subitem-padding pt-1 widget-name-block-rel">
              <input
                type="text"
                class="form-control widgetVideoUrl"
                (blur)="getVideoId(widget.guiprops.bg.video)"
                [(ngModel)]="widget.guiprops.bg.video.videoUrl"
              />
              <span class="input-down-sm-lab small">
                {{ (widget.guiprops.bg.video.videoType === 'youtube') ? 'Например: https://www.youtube.com/watch?v=FFu-JFifX28' : 'Например: https://vimeo.com/207763253'}}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="((widget.guiprops['bg'].fillorImg === 'useVideo') || (widget.guiprops['bg'].fillorImg === 'useImg'))">
        <div class="row row-subitem mt-3">
          <div class="col-sm-12 row-subitem-padding pt-1">
            <ui-switch
              size="small"
              [checked]="widget.guiprops['bg'].mask.enable"
            ></ui-switch><label class="control-label switcher-label-xs control-label-des">Затемнить фон виджета маской</label>
          </div>
        </div>
        <div *ngIf="widget.guiprops['bg'].mask.enable == true">
          <div class="row row-subitem">
            <div class="col-sm-6 row-subitem-padding pt-1">
              <label class="control-label control-label-colorpc control-label-des">Цвет маски:</label>
              <input
                [(colorPicker)]="widget.guiprops['bg'].mask.color"
                [style.background]="widget.guiprops['bg'].mask.color"
                [cpAlphaChannel]="'disabled'"
                [cpOutputFormat]="'hex'"
              />
            </div>
            <div class="col-sm-6 row-subitem-padding pt-1 side-ui-dev">
              <label class="control-label control-label-colorpc control-label-des">Прозрачность:</label>
              <ngx-slider [(value)]="widget.guiprops['bg'].mask.opacity" [options]="optionsOpacity"></ngx-slider>
            </div>
          </div>
          <div class="row row-subitem">
            <div class="col-sm-12 row-subitem-padding">
              <label class="control-label control-label-colorpc control-label-des">Расположение маски:</label>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                  {{ widget.guiprops.bg.mask.area }}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li
                    role="presentation"
                    *ngFor="let item of maskTypeList"
                    (click)="widget.guiprops.bg.mask.area = item"
                  >
                    <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{item}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="widget.guiprops['bg'].fillorImg === 'fill'">
        <div class="row row-subitem mt-2">
          <div class="col-sm-6 row-subitem-padding pt-1">
            <label class="control-label control-label-colorpc control-label-des">Цвет фона:</label>
            <input
              [(colorPicker)]="widget.guiprops['bg'].colorBg"
              [style.background]="widget.guiprops['bg'].colorBg"
              [cpAlphaChannel]="'disabled'"
              [cpOutputFormat]="'hex'"
            />
          </div>
        </div>
      </div>

      <div class="row row-subitem mt-2">
        <div class="col-sm-12 row-subitem-padding">
          <h5 class="label-style-ic control-label-des">Прозрачность фона:</h5>
        </div>
        <div class="col-sm-12 row-subitem-padding pt-1 side-ui-sm">
          <ngx-slider [(value)]="widget.guiprops['bg'].opacity" [options]="optionsOpacity"></ngx-slider>
        </div>
      </div>

    </div>

    <div *ngIf="widget.guiprops.image" id="elemScrNIVBl" class="image-or-video-settings-bl">
      <div class="col-lg-12 m-b-sm">
        <ui-switch
          [checked]="widget.guiprops.image.enable"
        ></ui-switch><label class="control-label switcher-label control-label-des">Добавить изображение, видео или отступ</label>
      </div>
      <div class="clearfix"></div>

      <!-- Page rule item -->
      <div class="row row-subitem">
        <div class="col-sm-12 row-subitem-padding widget-small-text">
          Вы можете добавить изображение или видео и разместить его слева, справа, сверху или снизу от контента виджета. Также вы можете добавить отступ. При добавлении отступа, фон виджета растягивается на всю ширину, включая отступ. Обратите внимание, добавленный элемент скрывается на мобильных устройствах и работает только на компьютерах и планшетах.
        </div>
      </div>

      <div *ngIf="widget.guiprops['image'].enable == true">
        <div class="row row-subitem mt-3">
          <div class="col-sm-12 row-subitem-padding">
            <h4 class="h4-text-tit control-label-des">Выберите, что вы хотите добавить:</h4>
          </div>
          <div class="clearfix"></div>
          <div class="flex-bl-for-radio-group">
            <div class="row-subitem-padding radio-group-item">
              <div class="form-group widget-selector">
                <label>
                  <input type="radio" class="radio radio-info radio-inline" [(ngModel)]="widget.guiprops['image'].typeBl" value="imageBl">
                  Изображение
                </label>
              </div>
            </div>
            <div class="row-subitem-padding radio-group-item">
              <div class="form-group widget-selector">
                <label>
                  <input type="radio" class="radio radio-info radio-inline" [(ngModel)]="widget.guiprops['image'].typeBl" value="videoBl">
                  Видео
                </label>
              </div>
            </div>
            <div class="row-subitem-padding">
              <div class="form-group widget-selector">
                <label>
                  <input type="radio" class="radio radio-info radio-inline" [(ngModel)]="widget.guiprops['image'].typeBl" value="paddingBl">
                  Отступ
                </label>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="widget.guiprops['image'].typeBl == 'imageBl'" class="mt-2 m-b">
          <div class="row row-subitem">
            <div class="col-sm-12 row-subitem-padding mb-1">
              <h4 class="h4-text-tit control-label-des helper-title-3level">Настройка изображения</h4>
            </div>
            <div class="col-sm-12 row-subitem-padding">
              <a (click)="listFile('imageSingle')" class="widget-download-img"><i class="fa fa-image"></i> Установить или изменить изображение</a>
            </div>
          </div>
        </div>

        <div *ngIf="widget.guiprops['image'].typeBl == 'videoBl'" class="imaget-item-video-settings m-b">
          <div class="row row-subitem pt-1">
            <div class="col-sm-12 row-subitem-padding mt-2 mb-1">
              <h4 class="h4-text-tit control-label-des helper-title-3level">Настройка видео</h4>
            </div>
            <div class="col-sm-6 row-subitem-padding">
              <div class="form-group widget-selector">
                <label>
                  <input
                    type="radio"
                    class="radio radio-info radio-inline"
                    (change)="getVideoId(widget.guiprops.image)"
                    [ngModel]="widget.guiprops.image.videoType"
                    value="youtube"
                  />
                  Youtube
                </label>
              </div>
            </div>
            <div class="col-sm-6 row-subitem-padding">
              <div class="form-group widget-selector">
                <label>
                  <input
                    type="radio"
                    class="radio radio-info radio-inline"
                    (change)="getVideoId(widget.guiprops.image)"
                    [ngModel]="widget.guiprops.image.videoType"
                    value="vimeo"
                  />
                  Vimeo
                </label>
              </div>
            </div>
            <button
              (click)="getVideoId(widget.guiprops.image)"
              class="btn btn-default refresh-video-element-btn"
              data-toggle="tooltip"
              data-container="body"
              data-placement="top"
              title=""
              data-original-title="Обновить превью видео"
            >
              <i class="fa fa-refresh"></i>
            </button>
          </div>
          <div class="row row-subitem">
            <div class="col-sm-12 row-subitem-padding pt-1 widget-name-block-rel">
              <input
                type="text"
                class="form-control widgetVideoUrl"
                (blur)="getVideoId(widget.guiprops.image)"
                [(ngModel)]="widget.guiprops.image.videoUrl"
              />
              <span class="input-down-sm-lab small">
                {{( widget.guiprops.image.videoType === 'youtube') ? 'Например: https://www.youtube.com/watch?v=FFu-JFifX28' : 'Например: https://vimeo.com/207763253'}}
              </span>
            </div>
          </div>

          <div class="row row-subitem mt-3">
            <div class="col-sm-12 row-subitem-padding pt-1">
              <ui-switch
                size="small"
                [checked]="widget.guiprops.image.autoplay"
              ></ui-switch><label class="control-label switcher-label-xs control-label-des">Автоматически проигрывать видео</label>
            </div>
          </div>
          <div class="row row-subitem">
            <div class="col-sm-12 row-subitem-padding pt-1">
              <div class="sm-video-text sm-video-text-act widget-small-text">Видео будет автоматически воспроизводиться при показе виджета.</div>
            </div>
          </div>
        </div>

        <div class="margined-top-minus-5">
          <div class="col-lg-12 mt-1 mb-1">
            <h4 class="h4-text-tit control-label-des helper-title-3level">Настройка расположения и габаритов</h4>
          </div>

          <div class="row row-subitem mt-2">
            <div class="col-sm-6 row-subitem-padding">
              <label class="control-label control-label-des">Расположение блока:</label>
              <div class="dropdown" >
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                  {{ widget.guiprops.image.place }}
                  <span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu">
                  <li
                    role="presentation"
                    *ngFor="let itemPlace of placeImg"
                    (click)="widget.guiprops.image.place = itemPlace"
                  >
                    <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ itemPlace }}</a>
                  </li>
                </ul>
              </div>
            </div>

            <div
              *ngIf="(widget.guiprops['image'].place === 'Слева' || widget.guiprops['image'].place === 'Справа')"
              class="col-sm-6 row-subitem-padding pt-1"
            >
              <div>
                <label class="control-label control-label-des">Ширина блока:</label>
                <div class="dropdown" >
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                    {{ widget.guiprops.image.img_width }}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li
                      role="presentation"
                      *ngFor="let item of widgwidthBtn"
                      (click)="widget.guiprops.image.img_width = item"
                    >
                      <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ item }}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div *ngIf="widget.guiprops['image'].img_width === 'Собственная'" class="mt-2">
                <input
                  type="number"
                  class="form-control form-control-font form-cntrl-55w"
                  [(ngModel)]="widget.guiprops['image'].img_widthpx"
                />
                <label class="control-label">px <span>ширина блока</span></label>
              </div>
            </div>

            <div
              *ngIf="(widget.guiprops['image'].place === 'Сверху' || widget.guiprops['image'].place === 'Снизу')"
              class="col-sm-6 row-subitem-padding pt-1"
            >
              <div>
                <label class="control-label control-label-des">Высота блока:</label>
                <div class="dropdown" >
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                    {{ widget.guiprops.image.img_height }}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li
                      role="presentation"
                      *ngFor="let item of widgwidthBtn"
                      (click)="widget.guiprops.image.img_height = item"
                    >
                      <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ item }}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div *ngIf="widget.guiprops['image'].img_height === 'Собственная'" class="mt-2">
                <input
                  type="number"
                  class="form-control form-control-font form-cntrl-55w"
                  [(ngModel)]="widget.guiprops['image'].img_heightpx"
                />
                <label class="control-label">px <span>высота блока</span></label>
              </div>
            </div>
          </div>

          <div class="row row-subitem" *ngIf="widget.guiprops['image'].typeBl !== 'paddingBl'">
            <div class="col-sm-12 row-subitem-padding mt-2">
              <label *ngIf="widget.guiprops['image'].typeBl == 'imageBl'" class="control-label control-label-des">Габариты изображения:</label>
              <label *ngIf="widget.guiprops['image'].typeBl == 'videoBl'" class="control-label control-label-des">Габариты видео:</label>
              <div class="dropdown" >
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                  {{ widget.guiprops.image.img_item_type }}
                  <span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu">
                  <li
                    role="presentation"
                    *ngFor="let item of imageItemsType"
                    (click)="widget.guiprops.image.img_item_type = item"
                  >
                    <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ item }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div *ngIf="widget.guiprops['image'].typeBl !== 'paddingBl'">
            <div *ngIf="widget.guiprops['image'].img_item_type === 'Установить произвольные габариты'">
              <div class="row row-subitem">
                <div class="col-sm-6 row-subitem-padding pt-1">
                  <div class="pt-1 mt-2">
                    <input
                      type="number"
                      class="form-control form-control-font form-cntrl-55w"
                      [(ngModel)]="widget.guiprops.image.img_item_widthpx"
                    />
                    <label class="control-label">px <span>ширина</span></label>
                  </div>
                </div>
                <div class="col-sm-6 row-subitem-padding pt-1">
                  <div class="pt-1 mt-2">
                    <input
                      type="number"
                      class="form-control form-control-font form-cntrl-55w"
                      [(ngModel)]="widget.guiprops.image.img_item_heightpx"
                    />
                    <label class="control-label">px <span>высота</span></label>
                  </div>
                </div>
              </div>

              <div class="row row-subitem">
                <div class="col-sm-12 row-subitem-padding mt-2">
                  <label class="control-label control-label-des">Выравнивание по вертикали:</label>
                  <div class="dropdown" >
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                      {{ widget.guiprops.image.img_item_align }}
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li
                        role="presentation"
                        *ngFor="let item of imageItemsAlign"
                        (click)="widget.guiprops.image.img_item_align = item"
                      >
                        <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{ item }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-subitem">
      <div class="col-sm-12 row-subitem-padding">
        <h4 class="h4-element-title">Границы виджета</h4>
      </div>
    </div>

    <div *ngIf="widget.guiprops.bg" class="row row-subitem mt-2">
      <div class="col-sm-12 row-subitem-padding pt-1">
        <ui-switch
          size="small"
          [checked]="widget.guiprops['bg'].border.enable"
        ></ui-switch><label class="control-label switcher-label-xs control-label-des">Добавить рамку</label>
      </div>
    </div>
    <div *ngIf="widget.guiprops.bg && widget.guiprops.bg.border.enable == true">
      <div class="row row-subitem">
        <div class="col-sm-6 row-subitem-padding pt-1">
          <label class="control-label control-label-colorpc control-label-des">Цвет рамки:</label>
          <input
            [(colorPicker)]="widget.guiprops['bg'].border.color"
            [style.background]="widget.guiprops['bg'].border.color"
            [cpAlphaChannel]="'disabled'"
            [cpOutputFormat]="'hex'"
          />
        </div>
        <div class="col-sm-6 row-subitem-padding pt-1 side-ui-dev">
          <label class="control-label control-label-colorpc control-label-des">Толщина:</label>
          <ngx-slider [(value)]="widget.guiprops['bg'].border.thickness" [options]="optionsThickness"></ngx-slider>
        </div>
      </div>
    </div>

    <div *ngIf="widget.guiprops.bg" class="row row-subitem mt-3">
      <div class="col-sm-12 row-subitem-padding pt-1">
        <ui-switch
          size="small"
          [checked]="widget.guiprops['bg'].shadow.enable"
        ></ui-switch><label class="control-label switcher-label-xs control-label-des">Добавить тень</label>
      </div>
    </div>
    <div *ngIf="widget.guiprops.bg && widget.guiprops.bg.shadow.enable == true">
      <div class="row row-subitem">
        <div class="col-sm-6 row-subitem-padding pt-1">
          <label class="control-label control-label-colorpc control-label-des">Цвет тени:</label>
          <input
            [(colorPicker)]="widget.guiprops['bg'].shadow.color"
            [style.background]="widget.guiprops['bg'].shadow.color"
            [cpAlphaChannel]="'disabled'"
            [cpOutputFormat]="'hex'"
          />
        </div>
        <div class="col-sm-6 row-subitem-padding pt-1 side-ui-dev">
          <label class="control-label control-label-colorpc control-label-des">Прозрачность:</label>
          <ngx-slider [(value)]="widget.guiprops['bg'].shadow.opacity" [options]="optionsOpacity"></ngx-slider>
        </div>
      </div>
      <div class="row row-subitem mt-1">
        <div class="col-sm-6 row-subitem-padding pt-1">
          <label class="control-label control-label-des">Сдвиг по горизонтали:</label>
          <input
            type="number"
            class="form-control form-control-font form-control-block form-cntrl-45w"
            [(ngModel)]="widget.guiprops['bg'].shadow.horiz"
          />
        </div>
        <div class="col-sm-6 row-subitem-padding pt-1">
          <label class="control-label control-label-des">Сдвиг по вертикали:</label>
          <input
            type="number"
            class="form-control form-control-font form-control-block form-cntrl-45w"
            [(ngModel)]="widget.guiprops['bg'].shadow.vertical"
          />
        </div>
      </div>
      <div class="row row-subitem mt-1">
        <div class="col-sm-6 row-subitem-padding pt-1">
          <label class="control-label control-label-des">Резкость:</label>
          <input
            type="number"
            class="form-control form-control-font form-control-block form-cntrl-45w"
            [(ngModel)]="widget.guiprops['bg'].shadow.blur"
          />
        </div>
      </div>
    </div>

    <div *ngIf="widget.guiprops.bg" class="row row-subitem mt-2">
      <div class="col-sm-12 row-subitem-padding">
        <h5 class="label-style-ic control-label-des">Углы виджета:</h5>
      </div>
      <div class="col-sm-12 row-subitem-padding pt-1 side-ui-sm">
        <ngx-slider [(value)]="widget.guiprops['bg'].borderRadius" [options]="optionsRound"></ngx-slider>
        <label class="control-label control-label-ui">Закругление углов в виджете</label>
      </div>
    </div>
  </div>
</div>
