.imaget-item-video-settings {
  position: relative;
}

.imaget-item-video-settings button.refresh-video-element-btn {
  top: 35px;
}

.image-or-video-settings-bl {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 20px;
}

.main-settings-for-top-el-near {
  padding-top: 2px;
}

.main-settings-for-top-el {
  padding-top: 20px;
}

.radio-group-item {
  margin-right: 25px;
}

.form-group.widget-selector {
  margin-bottom: 0;
}

.content-type-button {
  width: 31px;
  height: 22px;
  font-size: 7px;
  font-weight: 700;
  color: #7E889A;
  border: 2px solid #7E889A;
  border-radius: 5px;
  background: transparent;

  &.active {
    background-color: #4898A8;
    border-color: #4898A8;
    color: #FFFFFF;
  }
}
