.imaget-item-video-settings {
  position: relative;
}

.imaget-item-video-settings button.refresh-video-element-btn {
  top: 35px;
}

.image-or-video-settings-bl {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 25px;
  padding-bottom: 20px;
  background: #fbfbfb;
}

.main-settings-for-top-el-near {
  padding-top: 2px;
}

.main-settings-for-top-el {
  padding-top: 15px;
}

.flex-bl-for-radio-group {
  display: flex;
  justify-content: flex-start;
  padding-right: 15px;
}

.radio-group-item {
  margin-right: 25px;
}

.form-group.widget-selector {
  margin-bottom: 0;
}

.form-control {
  font-size: 14px;
}
