.imaget-item-video-settings {
  position: relative;
}

.image-or-video-settings-bl {
  padding-bottom: 20px;
}

.main-settings-for-top-el-near {
  padding-top: 2px;
}

.main-settings-for-top-el {
  padding-top: 20px;
}

.radio-group-item {
  margin-right: 25px;
}

.form-group.widget-selector {
  margin-bottom: 0;
}
