<div [ngClass]="(widget.active) ? 'hgreen' : 'hred'" class="hpanel">
  <div class="integration-item__body">
    <div class="integration-item__header">
      <div class="integration-item__type">
        <div class="integration-item__icon_wr">
          <div class="integration-item__icon integration-item__icon--{{widget.type}}"></div>
        </div>
        <div class="integration-item__type-name">{{widget.serviceName}}</div>
        <span *ngIf="widget.isPayment" class="label label-warning tariff-info">{{ 'global.payment' | translate }}</span>
      </div>
      <div class="buttons">
        <div class="group">
          <button
            (click)="startStopItem(true)"
            [class.active]="widget.active"
            class="btn btn-default"
            data-container="body"
            data-placement="top"
            data-toggle="tooltip"
            title="{{ 'settings.site.tabs.integration.tooltip.start' | translate }}"
          >
            <span inlineSVG="./assets/images/core/play.svg"></span>
          </button>

          <button
            (click)="startStopItem(false)"
            [class.active]="!widget.active"
            class="btn btn-default"
            data-container="body"
            data-placement="top"
            data-toggle="tooltip"
            title="{{ 'settings.site.tabs.integration.tooltip.stop' | translate }}"
          >
            <span inlineSVG="./assets/images/core/pause.svg"></span>
          </button>
        </div>

        <div class="group">
          <button
            (click)="setupItem()"
            class="btn btn-default"
            data-container="body"
            data-placement="top"
            data-toggle="tooltip"
            title="{{ 'settings.site.tabs.integration.tooltip.settings' | translate }}"
          >
            <span inlineSVG="./assets/images/core/settings.svg"></span>
          </button>

          <button
            (click)="removeItem()"
            class="btn btn-default"
            data-container="body"
            data-placement="top"
            data-toggle="tooltip"
            title="{{ 'settings.site.tabs.integration.tooltip.remove' | translate }}"
          >
            <span inlineSVG="./assets/images/core/delete-icon.svg"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="widget-item-view-header">
      <cool-inline-edit-field
        (editStarted)="fixOldWidgetName($event)"
        (saved)="updateWidgetName($event)"
        [(ngModel)]="widget.name"
        class="long-text"
        name="name"
      ></cool-inline-edit-field>
    </div>
    <div class="integration-item__switcher">
      <div *ngIf="widget.default" class="pull-right">
        <span inlineSVG="./assets/images/core/check-round.svg"></span>
        {{ 'settings.site.tabs.integration.defaultUse' | translate }}
      </div>
    </div>
  </div>
</div>
