@import "src/scss/vars";
@import "src/scss/mixins";

.hpanel.hgreen .integration-item__body {
  border-top: 5px solid #62cb31;
}

.hpanel.hred .integration-item__body {
  border-top: 5px solid #e74c3c;
}

.integration-item__body {
  background: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 4px;
  padding: 15px;
  position: relative;
}

.integration-item__header {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.integration-item__icon_wr {
  min-width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
}

.integration-item__icon {
  width: 42px;
  height: 42px;
  background-size: 42px;
  background-position: center;
  background-repeat: no-repeat;
}

.integration-item__icon--MAILCHIMP {
  background-image: url('../../../../../assets/images/sites/mailchimp.jpg');
}

.integration-item__icon--GETRESPONSE {
  background-image: url('../../../../../assets/images/sites/getresponse.jpg');
}

.integration-item__icon--SENDPULSE {
  background-image: url('../../../../../assets/images/sites/sendpulse.jpg');
}

.integration-item__icon--SENDBOX {
  background-image: url('../../../../../assets/images/sites/sendbox.jpg');
}

.integration-item__icon--UNISENDER {
  background-image: url('../../../../../assets/images/sites/unisender.jpg');
}

.integration-item__icon--BITRIX {
  background-image: url('../../../../../assets/images/sites/bitrix.jpg');
}

.integration-item__icon--AMOCRM {
  background-image: url('../../../../../assets/images/sites/amo.jpg');
}

.integration-item__icon--EMAIL {
  background-image: url('../../../../../assets/images/sites/email.jpg');
}

.integration-item__icon--ROISTAT {
  background-image: url('../../../../../assets/images/sites/roistat.jpg');
}

.integration-item__icon--WEBHOOK {
  background-image: url('../../../../../assets/images/sites/webhook.jpg');
}

.integration-item__type {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.label.label-warning.tariff-info {
  display: flex;
  padding: 2px 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  border-radius: 4px;
  position: unset;
  margin: 0;
}

.integration-item__type-name {
  color: $fontPrimaryColor;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  white-space: nowrap;
}

.long-text {
  margin-top: 20px;
  padding: 1px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
}

.integration-item__switcher label {
  position: relative;
  top: -6px;
}

.integration-item__switcher {
  margin-top: 20px;
  .pull-right {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    span {
      display: block;
      width: 28px;
      height: 28px;
      position: relative;

      @include svg-position();
    }

    @media (max-width: 767px) {
      font-size: 14px;

      span {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.icons-for-sidemenu {
  font-size: 18px;
  margin-right: 10px;
}

.btn {
  border-radius: 3px;
  font-size: 14px;
  white-space: nowrap;
}

.btn:hover, .btn:focus, .btn.focus {
  text-decoration: none;
  box-shadow: none;
}

.btn:active:not(:disabled), .btn.active:not(:disabled) {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
}
