<app-color-line type="modals"></app-color-line>
<div class="modal-header text-center">
  <h4 *ngIf="title" class="modal-title" >{{ title }}</h4>
  <h5 *ngIf="subscription" class="paymentSubscription" [innerHTML]="subscription"></h5>
</div>

<div class="modal-body">
  <div id="paymentForm" style="display: none;" accept-charset="UTF-8">
    <form action="https://wl.walletone.com/checkout/checkout/Index" method="POST" target="_blank">
      <input name="WMI_MERCHANT_ID"    value=""/><br/>
      <input name="WMI_PAYMENT_AMOUNT" value=""/><br/>
      <input name="WMI_CURRENCY_ID"    value=""/><br/>
      <input name="WMI_DESCRIPTION"    value=""/><br/>
      <input name="WMI_SUCCESS_URL"    value=""/><br/>
      <input name="WMI_FAIL_URL"       value=""/><br/>
      <input name="WMI_PAYMENT_NO"     value=""/><br/>
      <input name="WMI_SIGNATURE"      value=""/><br/>
    </form>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4>{{ planLabels.activationLabel }}</h4>
      <h4>{{ planLabels.activationDateLabel }}</h4>

      <div class="row">
        <div class="col-lg-4">
          <h4>{{ 'sitelist.tariff.length' | translate }}</h4>
        </div>
        <div class="col-lg-8">
          <div class="tariff-btns btn-group" data-toggle="buttons">
            <label
              *ngFor="let price of plan.prices"
              class="btn btn-default"
              (click)="changePrice(price)"
              [ngClass]="{'active': (activePriceId === price.id)}"
            >
              <input
                type="radio"
                name="options"
                id="option1"
                autocomplete="off"
              >{{ price.name }}<span class="btn-comment">{{ price.desc }}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row payinfo">
        <div class="col-lg-4">
          <h2>{{ 'billing.modal.paysum.label' | translate }}</h2>
        </div>
        <div class="col-lg-3">
          <h2 class="paySum">{{ planLabels.currentPrice }} {{ 'global.currency.ruble' | translate }}</h2>
          <span class="payDesc">{{ planLabels.payDescription }}</span>
        </div>
        <div class="col-lg-4">
          <button (click)="activatePlan()" class="btn btn-lg btn-success btn-activate-plan">
            {{ 'billing.modal.paysum.btn' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="payment-form-footer-text" [innerHTML]="'billing.modal.footer' | translate"></div>
</div>
