<div class="position-control-container">
  <div class="position-control-row">
    <div class="position-control-item">
    </div>
    <div class="position-control-item">
    </div>
    <div class="position-control-item">
    </div>
  </div>
  <div class="position-control-row">
    <div class="position-control-item">
    </div>
    <div class="position-control-item">
    </div>
    <div class="position-control-item">
    </div>
  </div>
  <div class="position-control-row">
    <div class="position-control-item">
    </div>
    <div class="position-control-item">
    </div>
    <div class="position-control-item">
    </div>
  </div>
</div>
