<div class="page-title">
  <h1 class="title-main">{{ 'sidebar.crm' | translate }}</h1>
</div>

<h2>{{ 'crm.page.filter.title' | translate }}</h2>
<app-card>
  <div class="filters">
    <div class="filter">
      <h5>{{ 'sidebar.sites' | translate }}</h5>
      <ng-select
        (add)="checkFilters($event, 'sites')"
        (change)="timeoutFiltering(false)"
        [(ngModel)]="sitesIds"
        [items]="allSites"
        [placeholder]="'widgetsList.add.chooseSite' | translate"
        bindLabel="name"
        bindValue="id"
        id="siteSelector"
        multiple="true"
      ></ng-select>
    </div>

    <div class="filter">
      <h5>{{ 'crm.page.filter.period' | translate }}</h5>
      <div
        (ngModelChange)="changePeriod($event)"
        [(ngModel)]="periodType"
        class="btn-group btn-group-toggle btn-group__period-selector"
        name="radioBasic"
        ngbRadioGroup
      >
        <label class="btn btn-default" ngbButtonLabel>
          <input [value]="'TODAY'" ngbButton type="radio" /> {{ 'reports.emails.period.today' | translate }}
        </label>
        <label class="btn btn-default" ngbButtonLabel>
          <input [value]="'YESTERDAY'" ngbButton type="radio" /> {{ 'reports.emails.period.yesterday' | translate }}
        </label>
        <label class="btn btn-default" ngbButtonLabel>
          <input [value]="'WEEK'" ngbButton type="radio" /> {{ 'reports.emails.period.week' | translate }}
        </label>
        <label class="btn btn-default" ngbButtonLabel>
          <input [value]="'DECADE'" ngbButton type="radio" /> {{ 'reports.emails.period.decade' | translate }}
        </label>
        <label class="btn btn-default" ngbButtonLabel>
          <input [value]="'MONTH'" ngbButton type="radio" /> {{ 'reports.emails.period.month' | translate }}
        </label>
        <ng-template #popContent>
          <div id="custom-period-container-template">
            <div class="d-flex flex-column">
              <div class="text-left">
                <label class="control-label m-0">{{ 'global.period.dateStart' | translate }}:</label>
                <div id="req-period-start">
                  <ngbd-datepicker-i18n [(ngModel)]="periodStart"></ngbd-datepicker-i18n>
                </div>
              </div>
              <div class="text-left mt-3">
                <label class="control-label m-0">{{ 'global.period.dateEnd' | translate }}:</label>
                <div id="req-period-end">
                  <ngbd-datepicker-i18n [(ngModel)]="periodEnd"></ngbd-datepicker-i18n>
                </div>
              </div>
            </div>
            <div class="text-right mt-3">
              <button (click)="periodApply()" class="btn w-xs btn-success" id="periodApply" type="button">
                {{ 'global.period.start' | translate }}
              </button>
            </div>
          </div>
        </ng-template>
        <button
          #p="ngbPopover"
          [autoClose]="'outside'"
          [ngClass]="(periodType === 'USER') ? 'active' : ''"
          [ngbPopover]="popContent"
          class="btn btn-default"
          container="body"
          id="periods-custom"
          placement="{{ innerWidth < 850 ? 'bottom' : 'left' }}"
          type="button"
        >
          {{ 'reports.emails.period.user' | translate }}
        </button>
      </div>
      <p class="request-period-name">
        <span>{{ 'reports.emails.filter.from' | translate }}</span>
        <span> {{ periodStart | date : 'd.MM.yyyy' }}</span>
        <span> {{ 'reports.emails.filter.to' | translate }}</span>
        <span> {{ periodEnd | date : 'd.MM.yyyy' }}</span>
      </p>
    </div>

    <div class="filter">
      <h5>{{ 'sidebar.widgets' | translate }}</h5>
      <ng-select
        (add)="checkFilters($event, 'widgets')"
        (change)="timeoutFiltering(false)"
        [(ngModel)]="widgetsIds"
        [items]="allWidgets"
        [placeholder]="'crm.page.filter.widgets.placeholder' | translate"
        bindLabel="name"
        bindValue="id"
        id="widgetsSelector"
        multiple="true"
      ></ng-select>
    </div>

    <div class="filter">
      <h5>{{ 'crm.page.filter.states.title' | translate }}</h5>
      <ng-select
        (add)="checkFilters($event, 'states')"
        (change)="timeoutFiltering(false)"
        [(ngModel)]="statesIds"
        [items]="states"
        [placeholder]="'crm.page.filter.states.placeholder' | translate"
        bindLabel="name"
        bindValue="id"
        id="statesSelector"
        multiple="true"
      ></ng-select>
    </div>
  </div>
</app-card>

<div *ngIf="isNotificationEnable" class="crm-notification-container">
  <div class="crm-notification-block">
    <div class="crm-notification-icon"></div>
    <div class="crm-notification-text">{{ 'crm.page.notification.text' | translate }}</div>
    <button (click)="notificationCookieSet()" class="btn btn-default">
      {{ 'crm.page.notification.btn' | translate }}
    </button>
  </div>
</div>

<section>
  <h2>{{ 'sidebar.crm' | translate }}</h2>
  <app-card>
    <ng-container *ngIf="initTables; else loading">
      <ng-container *ngIf="leads.length; else noDataTemplate">
        <div class="crm-header">
          <button (click)="timeoutFiltering(false)" class="btn">
            <span inlineSVG="./assets/images/crm/refresh-icon.svg"></span>
            {{ 'crm.page.table.refresh' | translate }}
          </button>
        </div>
        <div class="crm-table">
          <table>
            <thead>
            <th class="widget-name">{{ 'crm.page.table.th1' | translate }}</th>
            <th class="site">{{ 'crm.page.table.th2' | translate }}</th>
            <th class="site-url">{{ 'crm.page.table.th3' | translate }}</th>
            <th class="status">{{ 'crm.page.table.th4' | translate }}</th>
            <th (click)="changeDateSorting()" class="date">
              {{ 'crm.page.table.th5' | translate }}
              <i [ngClass]="sortingDesc ? 'fa-sort-amount-up' : 'fa-sort-amount-down'" class="fas float-right pt-1"></i>
            </th>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of leads; index as i">
              <tr
                (click)="openLeadInfo(item, i)"
                [ngClass]="{'active-row': currentOpenedRow === i}"
                data-container=".table-container"
                data-placement="top"
                data-toggle="tooltip"
                data-title="{{ 'crm.page.table.tooltip' | translate }}"
              >
                <td class="widget-name">{{ item.widgetName }}</td>
                <td class="site">
                  <span>{{ item.siteName }}</span>
                </td>
                <td class="site-url">
                  <span class="">{{ item.pageUrl }}</span>
                </td>
                <td class="status">
                  <span class="{{ item.state }}">{{ item.status }}</span>
                </td>
                <td class="date">{{ item.date | date : "dd.MM.y, HH:mm" }}</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
        <div class="crm-footer">
          <div class="on-page">
            <label>{{ 'sitelist.table.onPage' | translate }}</label>
            <ng-select
              (change)="timeoutFiltering(false)"
              [(ngModel)]="searchParams.limit"
              [clearable]="false"
              [items]="limitOptions"
              bindLabel="value"
              id="limitSelector"
            ></ng-select>
          </div>
          <div class="btn-group">
            <button (click)="prevList()" [disabled]="searchParams.offset === 0" class="btn btn-default">
              <span inlineSVG="./assets/images/core/caret-down.svg"></span>
            </button>
            <button (click)="nextList()" [disabled]="leads.length < searchParams.limit.value" class="btn btn-default">
              <span inlineSVG="./assets/images/core/caret-down.svg"></span>
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #noDataTemplate>
        <h2>{{ 'crm.page.table.no-data' | translate }}</h2>
      </ng-template>
    </ng-container>
    <ng-template #loading>
      <div class="loader"></div>
    </ng-template>
  </app-card>
</section>

<app-lead-info *ngIf="currentOpenedRow !== null"></app-lead-info>
