@import "src/scss/vars";
@import "src/scss/mixins";
@import "src/scss/page-title";


:host {
  .page-title {
    margin-bottom: 35px;
  }

  h2 {
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $fontPrimaryColor;
  }

  .filters {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    .filter {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
      gap: 10px;
      flex-basis: 48%;

      h5 {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin: 0;
        color: $fontPrimaryColor;
      }

      .ng-select {
        width: 100%;

        ::ng-deep {
          .ng-select-container {
            align-items: center;
            border-radius: 4px;
            border: 1px solid $borderColor;
            padding: 5px;

            .ng-value-container, .ng-clear-wrapper, .ng-arrow-wrapper {
              padding: 0;
            }

            .ng-value-container {
              display: inline-flex;
              align-items: center;
              justify-content: flex-start;
              gap: 5px;

              .ng-placeholder, .ng-input {
                padding: 8px 5px;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: $fontGrayColor;
              }

              .ng-value {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border: 1px solid $borderColor;
                border-radius: 4px;
                background-color: #FFFFFF;
                margin: 0;

                span {
                  display: flex;
                  height: 100%;
                  padding: 7px;
                  border: none;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 22px;
                  color: $fontGrayColor;
                }

                .ng-value-icon {
                  font-size: 22px;
                  line-height: 22px;
                  padding-left: 10px;
                  padding-right: 4px;

                  &:hover {
                    background-color: $activeElementBG;
                  }
                }

                .ng-value-label {
                  padding-left: 4px;
                  padding-right: 10px;
                }
              }
            }
          }
        }
      }

      .btn-group__period-selector {
        width: 100%;
        flex-wrap: wrap;

        label, button {
          height: 50px;
          padding: 14px;
          font-style: normal;
          font-weight: 500 !important;
          font-size: 18px !important;
          line-height: 22px !important;
          color: $fontPrimaryColor;

          &:first-child {
            border-radius: 4px 0 0 4px;
          }

          &:last-child {
            border-radius: 0 4px 4px 0;
          }

          &.btn.active:not(:disabled) {
            background: rgba(72, 152, 168, 0.1);
            border: 1px solid $successColor;
            color: $successColor;
            box-shadow: none;
          }
        }
      }

      p {
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: $fontGrayColor;
      }
    }

    @media (max-width: 1199px) {
      flex-direction: column;

      .filter {
        .btn-group__period-selector {
          label, button {
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  section {
    margin-top: 35px;

    .crm {
      &-header, &-tabl, &-footer, {
        width: 100%;
        display: flex;
      }

      &-header, &-footer {
        align-items: center;
        justify-content: flex-end;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &-header {
        margin-bottom: 30px;

        button {
          gap: 15px;
          padding: 15px;
          border-radius: 4px;
          background-color: $successColor;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #FFFFFF;

          span {
            display: flex;
            width: 24px;
            height: 24px;
            position: relative;

            @include svg-position();
          }

          &:hover {
            background-color: darken($successColor, 10%);
            border-color: darken($successColor, 10%);
          }
        }
      }

      &-table {
        display: block;
        width: 100%;
        max-height: 65vh;
        border: 1px solid $borderColor;
        border-radius: 5px;
        overflow: auto;

        table {

          thead {
            display: table-header-group;
            position: sticky;
            z-index: 1;
            top: 0;
            background-color: #FFFFFF;
            box-shadow: 0 0 1px $borderColor;

            th {
              color: $fontGrayColor;
            }
          }

          tbody {
            tr {
              width: 100%;

              &:not(:first-child) {
                border-top: 1px solid $borderColor;
              }

              &:last-child {
                td {
                  border-bottom: none;
                }
              }

              td {
                color: $fontPrimaryColor;


                &.widget-name {
                  font-weight: 600;
                }
              }

              &:hover {
                cursor: pointer;
              }

              &:hover, &.active-row {

                td {
                  background-color: $activeElementBG;
                }
              }
            }
          }

          thead, tbody {
            th, td {
              height: 100%;
              padding: 19px 14px;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 22px;
              text-align: left;
              background-color: #FFFFFF;
              border-bottom:  1px solid $borderColor;

              &:not(:last-of-type) {
                border-right:  1px solid $borderColor;
              }

              &.widget-name {
                width: 20%;
                min-width: 320px;

                @media (max-width: 424px) {
                  min-width: 255px;
                }
              }

              &.site {
                width: 17%;
                min-width: 300px;
              }

              &.site-url {
                width: 25%;
                min-width: 430px;
              }

              &.status {
                width: 19%;
                min-width: 230px;

                span {
                  padding: 7px 10px;
                  border-radius: 4px;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 22px;
                  color: #FFFFFF;


                  &.NEW {
                    background-color: $purpleColor;
                  }

                  &.INWORK {
                    background-color: $successColor;
                  }

                  &.INVALID {
                    background-color: $dangerColor;
                  }

                  &.SUCCESS {
                    background-color: $greenColor;
                  }
                }

              }

              &.date {
                width: 19%;
                min-width: 230px;
              }
            }
          }
        }

        .loader {
          width: 100%;
          height: 150px;
          background-image: url("../../../../../assets/images/core/preloader.gif");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 40px;
          background-color: rgba(255, 255, 255, 0.5);
        }
      }

      &-footer {
        margin-top: 30px;
        gap: 40px;
        flex-wrap: nowrap;

        .on-page {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 15px;

          label {
            margin: 0;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: $fontPrimaryColor;
          }

          .ng-select {
            border-color: $borderColor;

            &.ng-select-opened {
              ::ng-deep {
                .ng-select-container {
                  .ng-arrow-wrapper {
                    background: {
                      image: url("~src/assets/images/core/caret-up.svg");
                    };
                  }
                }
              }
            }

            ::ng-deep {
              .ng-select-container {
                padding: 7px 10px;

                .ng-value-container {
                  padding: 0 5px 0 0;
                }

                .ng-input {display: none}

                .ng-arrow-wrapper {
                  width: 24px;
                  height: 24px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: {
                    image: url("~src/assets/images/core/caret-down.svg");
                    position: center;
                    repeat: no-repeat;
                  };

                  .ng-arrow {
                    display: none;
                  }
                }
              }
            }
          }
        }

        .btn-group {

          button {
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px 16px;
            color: $fontPrimaryColor;
            border-color: $borderColor;

            span {
              display: flex;
              width: 28px;
              height: 28px;
              position: relative;

              @include svg-position();
            }

            &:first-child {
              span {
                transform: rotate(90deg);
              }
            }

            &:last-child {
              span {
                transform: rotate(-90deg);
              }
            }

            &:hover:not(:disabled) {
              background-color: $activeElementBG;
            }
          }
        }
      }
    }
  }
}
