<div *ngIf="widget.guiprops.formSet" class="border-item">
  <div class="row row-subitem mb-2">
    <div class="col-sm-12 row-subitem-padding">
      <h3 class="marg-minus-bord-des">
        {{ 'widgets.redirect.title' | translate }}
        <a
          data-toggle="tooltip"
          data-placement="top"
          data-container="#widgetStyle"
          title=""
          class="info-link info-link-wd"
          href="#"
          [attr.data-original-title]="'widgets.redirect.tooltip' | translate"
        >
          <i class="fa fa-info-circle"></i>
        </a>
      </h3>
    </div>
  </div>
  <div class="d-flex mt-3">
    <ui-switch
      size="small"
      [(ngModel)]="widget.guiprops.formSet.redirect.enable"
    ></ui-switch><label class="control-label switcher-label control-label-des mt-1 ml-2">{{ 'widgets.redirect.doOnClick' | translate }}</label>
  </div>
  <div class="clearfix"></div>
  <!-- Page rule item -->
  <div *ngIf="widget.guiprops['formSet'].redirect.enable === true">
    <div class="row row-subitem">
      <div
        class="col-sm-12 row-subitem-padding pt-1 mt-2 widget-name-block-rel"
        [ngClass]="(widget.guiprops['formSet'].redirect.url === '') ? 'is-invalid' : ''"
      >
        <label class="control-label">{{ 'widgets.redirect.onClickRedirect' | translate }}:</label>
        <input
          type="text"
          class="form-control"
          id="widgetRedirectUrl"
          (keyup)="validateRedirect($event)"
          [(ngModel)]="widget.guiprops['formSet'].redirect.url"
        />
        <span class="input-down-sm-lab">{{ 'widgets.redirect.example' | translate }}: http://mywebsite.com</span>
        <a href="#" (click)="removeWidgetRedirect($event)" class="remove-widget-name remove-widget-redirect" id="removeWidgetRedirect"></a>
      </div>
    </div>
    <div class="row row-subitem">
      <div class="col-sm-12 row-subitem-padding mt-2 widget-small-text">
        {{ 'widgets.redirect.descriptionOld' | translate }}
      </div>

    </div>
    <div class="row row-subitem mt-2">
      <div class="col-sm-12 row-subitem-padding pt-1">
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [(ngModel)]="widget.guiprops.formSet.redirect.blank"
              class="form-check-input"
            />
            <span class="checkmark"></span>
          </label>
          {{ 'widgets.redirect.blank' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
