<div *ngIf="widget.guiprops.formSet" class="border-item">
  <div class="row row-subitem m-b-sm">
    <div class="col-sm-12 row-subitem-padding">
      <h3 class="marg-minus-bord-des">
        {{ 'widgets.constructor.redirect.title' | translate }}
        <a
          data-toggle="tooltip"
          data-placement="right"
          data-container="body"
          title=""
          class="info-link info-link-wd"
          href="#"
          [attr.data-original-title]="'widgets.constructor.redirect.tooltip' | translate"
        >
          <i class="fa fa-info-circle"></i>
        </a>
      </h3>
    </div>
  </div>
  <div class="col-lg-12 mt-2">
    <ui-switch
      size="small"
      [checked]="widget.guiprops.formSet.redirect.enable"
    ></ui-switch><label class="control-label switcher-label control-label-des">{{ 'widgets.constructor.redirect.doOnClick' | translate }}</label>
  </div>
  <div class="clearfix"></div>
  <!-- Page rule item -->
  <div *ngIf="widget.guiprops['formSet'].redirect.enable == true">
    <div class="row row-subitem">
      <div
        class="col-sm-12 row-subitem-padding pt-1 mt-2 widget-name-block-rel"
        [ngClass]="(widget.guiprops['formSet'].redirect.url === '') ? 'is-invalid' : ''"
      >
        <label class="control-label">{{ 'widgets.constructor.redirect.onClickRedirect' | translate }}:</label>
        <input
          type="text"
          class="form-control"
          id="widgetRedirectUrl"
          (keyup)="validateRedirect($event)"
          [(ngModel)]="widget.guiprops['formSet'].redirect.url"
        />
        <span class="input-down-sm-lab">{{ 'widgets.constructor.redirect.example' | translate }}: http://mywebsite.com</span>
        <a href="#" (click)="removeWidgetRedirect($event)" class="remove-widget-name remove-widget-redirect" id="removeWidgetRedirect"></a>
      </div>
    </div>
    <div class="row row-subitem">
      <div class="col-sm-12 row-subitem-padding mt-2 widget-small-text">
        {{ 'widgets.constructor.redirect.descriptionOld' | translate }}
      </div>

    </div>
    <div class="row row-subitem mt-2">
      <div class="col-sm-12 row-subitem-padding pt-1">
        <label>
          <input type="checkbox" class="checkbox-green-btn" [(ngModel)]="widget.guiprops.formSet.redirect.blank">
          {{ 'widgets.constructor.redirect.blank' | translate }}
        </label>
      </div>
    </div>
  </div>
</div>
