.non-b-textar-iframe {
  font-weight: 400;
}

textarea.textar-iframe {
  height: 120px;
}

button.refresh-iframe-element-btn {
  position: absolute;
  cursor: pointer;
  top: -5px;
  text-align: center !important;
  line-height: 22px;
  right: 15px;
  width: 25px !important;
  height: 24px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #e4e5e7 !important;
  padding: 0 !important;
  color: #606265 !important;
}
