h4 {
  margin: 0;
}

.non-b-textar-iframe {
  font-weight: 400;
}

button.refresh-iframe-element-btn {
  position: absolute;
  cursor: pointer;
  top: -5px;
  text-align: center !important;
  line-height: 22px;
  right: 0;
  width: 25px !important;
  height: 24px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  padding: 0 !important;
  color: #606265 !important;
}
