@CHARSET "UTF-8";
@import "./_vars.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");
@import "../node_modules/pe7-icon/dist/scss/pe-icon-7-stroke";
@import "../node_modules/icheck/skins/square/green.css";

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: none !important;
}

::-moz-focus-inner {
  border: none;
}

a:link, a:hover, a:visited {
  text-decoration: none;
  color: #34495e;
  cursor: pointer;
}

.help-text a {
  text-decoration: underline;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  font-size: 13px;
  color: #6a6c6f;
  margin: 0;
  padding: 0;
  height: calc(100vh - 62px);
}

body.hide-sidebar #menu {
  margin-left: -180px;
}

body.hide-sidebar .wrapper {
  margin-left: 0;
}

body.page-small #menu {
  margin-left: -180px;
}

body.page-small .wrapper {
  margin-left: 0;
}

body.page-small.show-sidebar #menu {
  margin-left: 0;
}

body.page-small.show-sidebar .wrapper {
  margin-left: 180px;
}

.wrapper {
  margin: 42px 0 0 180px;
  padding: 20px 15px;
  background: #edf0f5;
  border-left: 1px solid #e4e5e7;
  transition: all 0.4s ease 0s;
  position: relative;
  min-height: 100%;
}

.content {
  min-width: 320px;
}

@media (max-width: 768px) {
  .content {
    padding: 15px 15px 15px 15px;
    min-width: 320px
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 200;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

.text-primary {
  color: #34495e;
}

.toolbar-content {
  display: flex;
  padding: 0 10px;
}

.site-selector .dropdown-toggle {
  text-align: left;
  width: 100%;
}

.dropdown-toggle::after {
  float: right;
  position: relative;
  top: 8px;
}

.dropdown-item {
  font-size: 12px;
  color: #262626;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-item:active {
  background-color: #ccc;
}

.title-main {
  font-size: 36px;
  margin-left: -2px;
}

.modal-title {
  font-size: 23px;
}

.tooltip-inner {
  max-width: 350px;
  font-size: 12px;
}

.long-text {
  display: block;
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav {
  flex-direction: column;
}

.modal-footer > * {
  margin-left: 0;
  margin-right: 0;
}

.modal-footer button {
  font-size: 16px;
}

label.control-label {
  font-weight: bold;
  margin-bottom: 5px;
}

a.info-link {
  color: #34495e;
  font-size: 16px;
}

.hpanel {
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: none;
  margin-top: 20px;
}

.hpanel .panel-body {
  background: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  overflow-x: hidden;
}

.f-0 {
  color: #6a6c6f;
  font-size: 24px;
  font-weight: 200;
}

.f-1 {
  color: #6a6c6f;
  font-size: 18px;
  font-weight: 400;
}

.f-2 {
  color: #6a6c6f;
  font-size: 18px;
  font-weight: 200;
}

.f-3 {
  font-size: 15px;
}

.font-normal {
  font-size: 14px;
}

.icheckbox_square-green.checked {
  background-position: -48px 0;
}

.icheckbox_square-green {
  background-position: 0 0;
}

.icheckbox_square-green, .iradio_square-green {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url("/assets/images/account/green.png") no-repeat;
  border: none;
  cursor: pointer;
}

.btn-default {
  background-color: #fff;
  border-color: #e4e5e7;
  color: #6a6c6f;
  font-weight: 200 !important;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #fff;
  border-color: #c9cbcd;
  color: #606265
}

.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-image: none
}

.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default.active[disabled], fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  background-color: #e4ebee;
  border-color: #e4ebee
}

.btn-success, {
  background-color: #62cb31;
  border-color: #62cb31;
  color: #FFFFFF;
  font-size: 18px;
  transition: none;
}

.btn-success.btn-outline {
  color: #62cb31;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  background-color: #74d348;
  border-color: #74d348;
  color: #FFFFFF;
}

.btn-success:active, .btn-success:not(:disabled):not(.disabled):active, .open .dropdown-toggle.btn-success {
  background-color: #57b42b;
  border-color: #57b42b;
  background-image: none;
}

.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success.active[disabled], fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color: #56b22b;
  border-color: #56b22b;
}

button.hovered-btn-red:hover {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #FFFFFF;
}

button.hovered-btn-blue:hover {
  background-color: #3498db !important;
  border-color: #3498db !important;
  color: #FFFFFF !important;
}

#toast-container.toast-bottom-center > div, #toast-container.toast-top-center > div {
  margin: 10px auto 0;
}

#toast-container > .toast-info,
#toast-container > .toast-error,
#toast-container > .toast-warning,
#toast-container > .toast-success{
  background-image: none;
}

#toast-container > div {
  background: #fff;
  padding: 20px;
  color: #6a6c6f;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
}


#toast-container > div:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toast-close-button {
  color: #000000;
  opacity: 0.2;
}

.toast-info {
  background: #fff;
  border-left: 6px solid #3498db;
}

.toast-success {
  background: #fff;
  border-left: 6px solid #62cb31;
}

.toast-warning {
  background: #fff;
  border-left: 6px solid #ffb606;
}

.toast-error {
  background: #fff;
  border-left: 6px solid #e74c3c;
}

.toast-progress {
  opacity: 0.6;
}

.toast-info .toast-progress {
  background-color: #3498db;
}

.toast-success .toast-progress {
  background-color: #62cb31;
}

.toast-warning .toast-progress {
  background-color: #ffb606;
}

.toast-error .toast-progress {
  background-color: #e74c3c;
}

.underline-links a {
  text-decoration: underline !important;
}

.blue-links a {
  color: #4fa6e0;
}

.hover-links a:hover {
  text-decoration: none !important;
}

.ab-grid__header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: #f7f7f7;
}

.panel-heading {
  font-size: 15px;
  font-weight: 300;
  padding: 10px 0;
}

.filters-flexed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-flexed__item {
  flex-basis: 48%;
  width: 48%;
  margin-bottom: 10px;
}

.filter-flexed__item .btn-group__period-selector {
  display: flex;
}

.filter-flexed__item .btn-group__period-selector .btn {
  float: none;
  flex-grow: 1;
}

.request-period-name {
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 12px;
  text-align: right;
}

.filters-loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("~src/assets/images/core/preloader.gif");
  background-size: 60px 60px;
  background-position: center;
  background-repeat: no-repeat;
}

.max-w-868 {
  max-width: 868px;
}

.widget-type-view {
  border: 3px solid #fff;
  cursor: pointer;
}

.widget-type-view:hover {
  border: 3px solid #3498db;
}

.widget-type-view div.view-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}

.widget-type-view div.view-desc {
  font-size: 12px !important;
  padding-bottom: 15px !important;
}

.widget-type-view img {
  height: 108px;
  margin: 20px auto 20px auto;
  width: 180px;
}

.dropdown .dropdown-selected-cropp {
  float: left;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 260px;
}

.left-panel-filter {
  width: 300px;
  height: calc(100vh - 312px);
  overflow: auto;
  padding-left: 15px;
  transition: opacity 0.3s ease;
}

.left-category-item {
  padding-bottom: 10px;
}

.left-panel-filter-categories-category label {
  cursor: pointer;
}

.panel-widgets-list {
  position: relative;
  width: calc(100% - 330px);
  height: calc(100vh - 312px);
  overflow: auto;
  overflow-x: hidden;
  transition: opacity 0.3s ease;
}

#NewABTestModal .panel-widgets-list,
#NewABTestModal .left-panel-filter {
  height: calc(100vh - 202px);
}

.create-widget-m span.left-panel-filter-title {
  font-size: 20px;
  font-weight: 300;
  color: #363636;
}

.create-widget-m .left-panel-filter h5 {
  font-weight: 600;
  font-size: 14px;
  color: #363636;
  margin: 15px 0;
}

.create-widget-m .left-panel-filter-categories-category-name {
  float: right;
  left: 5px;
  position: relative;
  top: 2px;
}

.main-content-container-loader .left-panel-filter {
  opacity: 0.4;
}

.main-content-container-loader .left-panel-filter-categories,
.main-content-container-loader .panel-widgets-list {
  opacity: 0.6;
}

.panel-widgets-list .alert-if-empty {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
}

.test-scroll-inf {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mockup-selector-categories-mockups-item-container {
  padding: 0 15px;
  position: relative;
  float: none;
  transform-origin: 0 0;
  transition: transform 0.3s ease;
}

.main-content-container-loader .mockup-selector-categories-mockups-item-container {
  transform: scale(0);
}

.mockup-selector-categories-mockups-item {
  border: 1px solid #ebebeb;
  margin: auto auto 20px auto !important;
  width: 305px;
}

.mockup-selector-categories-mockups-item:hover .mockup-selector-categories-mockups-item-hover {
  display: block;
}

.mockup-selector-categories-mockups-item-hover {
  background-color: rgba(0,0,0, .55);
  display: none;
  height: calc(100% - 20px);
  position: absolute;
  text-align: center;
  left: 15px;
  right: 15px;
  z-index: 100;
}

.mockup-selector-categories-mockups-item-hover button {
  position: relative;
  top: 45% !important;
}

.mockup-selector-categories-mockups-item-content img {
  display: block;
  height: 200px;
  width: 100%;
}

.mockup-selector-categories-mockups-item-title {
  font-size: 16px;
  font-weight: 600;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-top: 10px;
  margin-bottom: 6px;
  overflow: hidden;
  height: 46px;
  width: 100%;
  line-height: 22px;
}
.mockup-selector-categories-mockups-item-title:before {
  content: "";
  float: left;
  width: 5px;
  height: 46px;
}

.mockup-selector-categories-mockups-item-title > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
}

.mockup-selector-categories-mockups-item-title:after {
  content: "\02026";
  box-sizing: content-box;
  float: right;
  position: relative;
  top: -24px;
  left: 100%;
  width: 3em;
  margin-left: -3em;
  padding-right: 5px;
  text-align: right;
  background-size: 100% 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}

.mockup-selector-categories-mockups-item-desc {
  font-size: 12px !important;
  margin-bottom: 15px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  overflow: hidden;
  height: 50px;
  width: 100%;
  line-height: 16px;
}
.mockup-selector-categories-mockups-item-desc:before {
  content: "";
  float: left;
  width: 5px;
  height: 50px;
}

.mockup-selector-categories-mockups-item-desc > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
}

.mockup-selector-categories-mockups-item-desc:after {
  content: "\02026";
  box-sizing: content-box;
  float: right;
  position: relative;
  top: -18px;
  left: 100%;
  width: 3em;
  margin-left: -3em;
  padding-right: 5px;
  text-align: right;
  background-size: 100% 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}

#mockup-selector-categories-mockups-item-tariff-container {
  position: absolute;
  width: 100%;
  z-index: 0;
}

.widget-item-view-btns {
  float: right;
  width: 300px;
}

.widget-item-view-btns i {
  font-size: 13px;
  padding: 5px;
}

button.widget-item-view-btns .btn {
  color: #8c8c8c;
}

button.widget-item-view-btns .btn:hover {
  color: #5d5d5d;
}

.start-widget-btn.active {
  color: #62cb31;
}

.stop-widget-btn.active {
  color: #e74c3c;
}



@media (max-width: 700px) {
  .sites-settings-page .site-settings-switcher label {
    width: 100%;
  }
  .sites-settings-page .btn-add-new-integration {
    width: 100%;
    white-space: inherit;
  }
  .sites-settings-page .integration-item__header {
    display: block;
  }
  .sites-settings-page .widget-item-view-btns {
    width: 100%;
    float: none;
  }
  .analyticssync-sync-panel-wrapper .site-selector {
    min-width: 100%;
  }
  .integration-new-modal-temp .integration-tab {
    width: 100%;
  }
}



@media (max-width: 1310px) {
  .filter-flexed__item {
    flex-basis: 100%;
    width: 100%;
    margin-top: 5px;
  }

  .filter-flexed__item .btn-group__period-selector {
    flex-wrap: wrap;
  }
}




.widget__constructor .modal-dialog {
  max-width: 1140px;
}

@media (min-width: 1410px) {
  .widget__constructor .modal-dialog {
    max-width: 1405px;
  }
}



/*AB Tests********************************/
.ab-widget-btn {
  position: relative;
  padding-left: 22px;
  font-size: 14px;
  line-height: 23px;
  border-radius: 3px!important;
}

.ab-widget-btn:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 6px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #ccc;
}

.ab-widget-btn.in-work:before {
  background-color: #62cb31;
}

.ab-widget-btn.in-pause:before {
  background-color: #ffe567;
}

.ab-type-icon {
  background: url("http://dvlas.ru/wp-content/uploads/2014/10/google-play.jpg") center no-repeat;
  background-size: contain;
  height: 150px;
  margin: 20px auto 20px auto;
  width: 100%;
}

.ab-type-icon-DUPLICATE {
  background: url("~src/assets/images/abtests/icon2-type2-abtest.png") center no-repeat;
  background-size: contain;
  height: 150px;
  margin: 20px auto 20px auto;
  width: 100%;
}

.ab-type-icon-NEW {
  background: url("~src/assets/images/abtests/icon3-type3-abtest.png") center no-repeat;
  background-size: contain;
  height: 150px;
  margin: 20px auto 20px auto;
  width: 100%;
}

.ab-type-icon-MOCKUP {
  background: url("~src/assets/images/abtests/icon1-type1-abtest.png") center no-repeat;
  background-size: contain;
  height: 150px;
  margin: 20px auto 20px auto;
  width: 100%;
}

.widget-item-view-header h6 {
  margin: 0 5px;
}

span.underow-comment {
  font-size: 10px;
  font-style: italic;
}

.select-site-title {
  position: relative;
  top: 5px;
}

.create-widget-m {
  position: relative;
  padding: 20px 10px 0;
}

.create-widget-m .header-modal {
  display: flex;
  justify-content: center;
}

.create-widget-m .header-modal button {
  height: 34px;
  margin-top: 5px;
  margin-left: 25px;
}

.create-widget-m .header-modal span {
  font-weight: 300;
  font-size: 30px;
  color: #2c3239;
}

.create-widget-m span.sub-text {
  text-align: center;
  display: block;
  color: #363636;
  font-size: 16px;
  font-weight: 300;
  margin: 5px 0 20px;
}
