@CHARSET "UTF-8";
@import "./_vars.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");
@import "../node_modules/pe7-icon/dist/scss/pe-icon-7-stroke";
@import "../node_modules/icheck/skins/square/green.css";

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: none !important;
}

::-moz-focus-inner {
  border: none;
}

a:link, a:hover, a:visited {
  text-decoration: none;
  color: #34495e;
  cursor: pointer;
}

.help-text a {
  text-decoration: underline;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  font-size: 13px;
  color: #6a6c6f;
  margin: 0;
  padding: 0;
  height: calc(100vh - 62px);
}

body.hide-sidebar #menu {
  margin-left: -180px;
}

body.hide-sidebar .wrapper {
  margin-left: 0;
}

body.page-small #menu {
  margin-left: -180px;
}

body.page-small .wrapper {
  margin-left: 0;
}

body.page-small.show-sidebar #menu {
  margin-left: 0;
}

body.page-small.show-sidebar .wrapper {
  margin-left: 180px;
}

.wrapper {
  margin: 42px 0 0 180px;
  padding: 20px 15px;
  background: #edf0f5;
  border-left: 1px solid #e4e5e7;
  transition: all 0.4s ease 0s;
  position: relative;
  min-height: 100%;
}

.content {
  min-width: 320px;
}

@media (max-width: 768px) {
  .content {
    padding: 15px 15px 15px 15px;
    min-width: 320px
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 200;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

.text-primary {
  color: #34495e;
}

.toolbar-content {
  display: flex;
  padding: 0 10px;
}

.site-selector .dropdown-toggle {
  text-align: left;
  width: 100%;
}

.dropdown-toggle::after {
  float: right;
  position: relative;
  top: 8px;
}

.dropdown-item {
  font-size: 12px;
  color: #262626;
}

.dropdown-item:active {
  background-color: #ddd;
}

.title-main {
  font-size: 36px;
  margin-left: -2px;
}

.modal-title {
  font-size: 22px;
}

.long-text {
  display: block;
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav {
  flex-direction: column;
}

.modal-footer > * {
  margin-left: 0;
  margin-right: 0;
}

label.control-label {
  font-weight: bold;
}

.hpanel {
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: none;
  margin-top: 20px;
}

.hpanel .panel-body {
  background: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  overflow-x: hidden;
}

.f-0 {
  color: #6a6c6f;
  font-size: 24px;
  font-weight: 200;
}

.f-1 {
  color: #6a6c6f;
  font-size: 18px;
  font-weight: 400;
}

.f-2 {
  color: #6a6c6f;
  font-size: 18px;
  font-weight: 200;
}

.f-3 {
  font-size: 15px;
}

.font-normal {
  font-size: 14px;
}

.icheckbox_square-green.checked {
  background-position: -48px 0;
}

.icheckbox_square-green {
  background-position: 0 0;
}

.icheckbox_square-green, .iradio_square-green {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url("/assets/images/account/green.png") no-repeat;
  border: none;
  cursor: pointer;
}

.btn-default {
  background-color: #fff;
  border-color: #e4e5e7;
  color: #6a6c6f;
  font-weight: 200 !important;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #fff;
  border-color: #c9cbcd;
  color: #606265
}

.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-image: none
}

.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default.active[disabled], fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  background-color: #e4ebee;
  border-color: #e4ebee
}

.btn-success, {
  background-color: #62cb31;
  border-color: #62cb31;
  color: #FFFFFF;
  font-size: 18px;
  transition: none;
}

.btn-success.btn-outline {
  color: #62cb31;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  background-color: #74d348;
  border-color: #74d348;
  color: #FFFFFF;
}

.btn-success:active, .btn-success:not(:disabled):not(.disabled):active, .open .dropdown-toggle.btn-success {
  background-color: #57b42b;
  border-color: #57b42b;
  background-image: none;
}

.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success.active[disabled], fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color: #56b22b;
  border-color: #56b22b;
}

button.hovered-btn-red:hover {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #FFFFFF;
}

button.hovered-btn-blue:hover {
  background-color: #3498db !important;
  border-color: #3498db !important;
  color: #FFFFFF !important;
}

#toast-container.toast-bottom-center > div, #toast-container.toast-top-center > div {
  margin: 10px auto 0;
}

#toast-container > .toast-info,
#toast-container > .toast-error,
#toast-container > .toast-warning,
#toast-container > .toast-success{
  background-image: none;
}

#toast-container > div {
  background: #fff;
  padding: 20px;
  color: #6a6c6f;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
}


#toast-container > div:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toast-close-button {
  color: #000000;
  opacity: 0.2;
}

.toast-info {
  background: #fff;
  border-left: 6px solid #3498db;
}

.toast-success {
  background: #fff;
  border-left: 6px solid #62cb31;
}

.toast-warning {
  background: #fff;
  border-left: 6px solid #ffb606;
}

.toast-error {
  background: #fff;
  border-left: 6px solid #e74c3c;
}

.toast-progress {
  opacity: 0.6;
}

.toast-info .toast-progress {
  background-color: #3498db;
}

.toast-success .toast-progress {
  background-color: #62cb31;
}

.toast-warning .toast-progress {
  background-color: #ffb606;
}

.toast-error .toast-progress {
  background-color: #e74c3c;
}

.underline-links a {
  text-decoration: underline !important;
}

.blue-links a {
  color: #4fa6e0;
}

.hover-links a:hover {
  text-decoration: none !important;
}

.ab-grid__header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: #f7f7f7;
}

.panel-heading {
  font-size: 15px;
  font-weight: 300;
  padding: 10px 0;
}

.filters-flexed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-flexed__item {
  flex-basis: 48%;
  width: 48%;
  margin-bottom: 10px;
}

.filter-flexed__item .btn-group__period-selector {
  display: flex;
}

.filter-flexed__item .btn-group__period-selector .btn {
  float: none;
  flex-grow: 1;
}

.request-period-name {
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 12px;
  text-align: right;
}



@media (max-width: 1310px) {
  .filter-flexed__item {
    flex-basis: 100%;
    width: 100%;
    margin-top: 5px;
  }

  .filter-flexed__item .btn-group__period-selector {
    flex-wrap: wrap;
  }
}
