@CHARSET "UTF-8";
@import "./_vars.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");
@import "../node_modules/pe7-icon/dist/scss/pe-icon-7-stroke";
@import "../node_modules/icheck/skins/square/green.css";

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

a:link, a:hover, a:visited {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  font-size: 13px;
  color: #6a6c6f;
  margin: 0;
  padding: 0;
  height: calc(100vh - 62px);
}

body.hide-sidebar #menu {
  margin-left: -180px;
}

body.hide-sidebar .wrapper {
  margin-left: 0;
}

body.page-small #menu {
  margin-left: -180px;
}

body.page-small .wrapper {
  margin-left: 0;
}

body.page-small.show-sidebar #menu {
  margin-left: 0;
}

body.page-small.show-sidebar .wrapper {
  margin-left: 180px;
}

.wrapper {
  margin: 42px 0 0 180px;
  padding: 20px 20px 20px 20px;
  background: #edf0f5;
  border-left: 1px solid #e4e5e7;
  transition: all 0.4s ease 0s;
  position: relative;
  min-height: 100%;
}

.content {
  padding: 0 40px 40px 40px;
  min-width: 320px
}

@media (max-width: 768px) {
  .content {
    padding: 15px 15px 15px 15px;
    min-width: 320px
  }
}

h1, .h1, h2, .h2, h3, .h3 {
  font-weight: 200;
}

h5 {
  font-size: 14px;
}

.text-primary {
  color: #34495e;
}

.toolbar-content {
  display: flex;
  padding: 0 30px 0 10px;
}

.title-main {
  font-size: 36px;
  margin-left: -2px;
}

.modal-title {
  font-size: 18px;
}

.nav {
  flex-direction: column;
}

.icheckbox_square-green.checked {
  background-position: -48px 0;
}

.icheckbox_square-green {
  background-position: 0 0;
}

.icheckbox_square-green, .iradio_square-green {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url("/assets/images/account/green.png") no-repeat;
  border: none;
  cursor: pointer;
}

.btn-default {
  background-color: #fff;
  border-color: #e4e5e7;
  color: #6a6c6f;
  font-weight: 200 !important;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #fff;
  border-color: #c9cbcd;
  color: #606265
}

.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-image: none
}

.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default.active[disabled], fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  background-color: #e4ebee;
  border-color: #e4ebee
}

.btn-success, {
  background-color: #62cb31;
  border-color: #62cb31;
  color: #FFFFFF;
  font-size: 18px;
  transition: none;
}

.btn-success.btn-outline {
  color: #62cb31;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  background-color: #74d348;
  border-color: #74d348;
  color: #FFFFFF;
}

.btn-success:active, .btn-success:not(:disabled):not(.disabled):active, .open .dropdown-toggle.btn-success {
  background-color: #57b42b;
  border-color: #57b42b;
  background-image: none;
}

.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success.active[disabled], fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color: #56b22b;
  border-color: #56b22b;
}
