@CHARSET "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

$pe-7s-font-path: "../node_modules/pe7-icon/dist/fonts" !default;
@import "node_modules/pe7-icon/dist/scss/pe-icon-7-stroke";

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

a:link, a:hover, a:visited {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  font-size: 13px;
  color: #6a6c6f;
  margin: 0;
  padding: 0;
  height: 90%;
}

body.hide-sidebar #menu {
  margin-left: -180px
}

body.hide-sidebar .wrapper {
  margin-left: 0
}

body.page-small #menu {
  margin-left: -180px
}

body.page-small .wrapper {
  margin-left: 0
}

body.page-small.show-sidebar #menu {
  margin-left: 0
}

body.page-small.show-sidebar .wrapper {
  margin-left: 180px
}

.wrapper {
  margin: 42px 0 0 180px;
  padding: 20px 20px 20px 20px;
  background: #edf0f5;
  border-left: 1px solid #e4e5e7;
  transition: all 0.4s ease 0s;
  position: relative;
  min-height: 100%;
}

.text-primary {
  color: #34495e
}

.nav {
  flex-direction: column;
}
