@import "vars";
@import "mixins";

.page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title-button {
  padding: 20px 24px;
  border-radius: $borderRadius;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    &.icon {
      width: 26px;
      height: 26px;
      margin-right: 18px;
      position: relative;

      @include svg-position();
    }
  }

  @media (max-width: 1199px) {
    padding: 16px 20px;

    span {
      font-size: 20px;
      line-height: 26px;
    }
  }

  @media (max-width: 991px) {
    padding: 12px 16px;

    span {
      font-size: 16px;
      line-height: 22px;

      &.icon {
        width: 22px;
        height: 22px;
      }
    }
  }

  @media (max-width: 767px) {

    span {
      line-height: 18px;

      &.icon {
        width: 18px;
        height: 18px;
        margin-right: 10px;
      }
    }
  }
}
