$headerHeight: 70px;
$sideBarWidth: 226px;
$borderRadius: 10px;
$boxShadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
$activeElementBG: #F4F4F6;
$fontColor: #A4A4A4;
$fontGrayColor: #7E889A;
$fontPrimaryColor: #16181D;
$fontSecondaryColor: #505662;
$greenColor: #59A44A;
$yellowColor: #FFE567;
$dangerColor: #E25336;
$successColor: #4898A8;
$borderColor: #D4D7DD;
$mainBG: #F8F8F8;
