.form-control.not-readonly-hand[readonly] {
  cursor: pointer;
  font-size: 14px;
}

.simple-link {
  display: block;
  margin-top: 15px;
  color: #8c8b8b;
}

.widgets-options-container {
  border: 1px dashed #777777;
  border-radius: 7px;
  height: 200px;
  margin: auto;
  padding: 25px 10px;
  width: 780px;
}
