.btn {
  border-radius: 3px;
  font-size: 14px;
  white-space: nowrap;
}

.btn:hover, .btn:focus, .btn.focus {
  text-decoration: none;
  box-shadow: none;
}

.btn:active:not(:disabled), .btn.active:not(:disabled) {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.reports-emails-chart {
  float: left;
  margin-top: 15px;
  width: calc(100% - 335px);
  height: 240px;
}

.reports-emails-stats-list {
  float: right;
  margin-right: 20px;
  width: 300px;
}

.report-email-stat-panel .panel-body {
  padding-top: 0px !important;
}

.report-email-stat-panel .download-btn {
  position: absolute;
  right: 0;
  top: 15px;
}

.report-email-stat-panel #emailsChart {
  height: 240px !important;
}

.report-email-sites-sites-header,
.report-email-sites-value-header {
  font-weight: 600;
  font-size: 15px;
}

.report-email-sites-sites-header {
  padding-left: 17px;
}

.report-email-sites-value-header,
.report-email-sites-values {
  text-align: center;
}

.report-email-sites-sites-row {
  margin-left: 2px;
  padding: 10px 0px;
  font-size: 15px;
}

.report-email-sites-sites-rows {
  width: 100%;
}

.report-email-last-logo {
  border: 1px solid #e4e5e7;
  border-radius: 25px;
  float: left;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

.report-email-user-icon {
  background-image: url("~src/assets/images/core/default-user-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.report-email-last-name {
  padding-top: 10px;
}

.report-email-last-container div:first-child {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.reports-emails-preloader {
  background: #fff url("~src/assets/images/core/preloader.gif") no-repeat center center;
  background-size: 30px 30px;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.list .list-item-container {
  float: left;
  width: 100%;
}

.list-item-container div:first-child {
  border-top: none;
}

.list .list-item {
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e4e5e7
}
