<div id="header">
  <div
    routerLink="/"
    id="logo"
    class="light-version logo-svg__menu"
    [class.default]="!yandexRef" [class.yandex]="yandexRef"
  >
  </div>
  <nav role="navigation" class="main-nav-head">
    <div
      class="header-link"
      (click)="handleMinimalizeSidebar($event)"
    >
      <i class="fa fa-bars"></i>
    </div>
    <div
      routerLink="/"
      class="small-logo"
    >
      <span class="text-primary">LeadGenic</span>
    </div>

    <a routerLink="/site/list">
      <button
        id="goCabinet"
        class="btn btn-notselected saveButton-toolbar"
        [class.btn-default]="!isPartnerPage"
      >
        {{ 'header.cabinet' | translate }}
      </button>
    </a>

    <a routerLink="/user/partner">
      <button
        id="goPartner"
        class="btn btn-notselected saveButton-toolbar"
        routerLinkActive="btn-default"
      >
        {{ 'header.partner' | translate }}
      </button>
    </a>

    <a
      *ngIf="yandexRef"
      href="https://kassa.yandex.ru/"
      target="_blank"
    >
      <button
        id="goYandex"
        class="btn btn-notselected saveButton-toolbar"
      >
        {{ 'header.yandex' | translate }}
      </button>
    </a>

    <div class="navbar-right">
      <ul class="nav navbar-nav mr-auto">
        <li class="toolbar-text-like">
          <span class="lg-like">{{ 'header.like' | translate }}</span>
        </li>
        <li class="toolbar-fb-like">
          <div id="fb-root"></div>
          <div
            class="fb-like"
            data-href="https://leadgenic.com/"
            data-layout="button_count"
            data-action="like"
            data-show-faces="false"
            data-share="false"
          ></div>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle label-menu-corner" data-toggle="dropdown">
            <i class="pe-7s-user"></i><span class="userinfo">{{ login }}</span>
          </a>
          <ul class="dropdown-menu hdropdown animate__animated animate__flipInX">
            <li>
              <a routerLink="/user/"><i class="fa fa-cogs"></i>
                {{ 'header.settings' | translate }}
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a routerLink="/logout">
            <i class="pe-7s-upload"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
