#header {
  background-color: #fff;
  display: block;
  height: 56px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e4e5e7;
  position: fixed;
  top: 6px;
  left: 0;
  z-index: 1;
  width: 100%;
}

#logo {
  float: left;
  width: 180px;
  background-color: #34495e;
  padding: 18px 10px 18px 18px;
  height: 56px;
  text-align: center;
  cursor: pointer;
}

#logo span {
  font-weight: 600;
  color: #fff;
  font-size: 14px;
}

#logo.light-version {
  background-color: #f7f9fa;
  border-bottom: 1px solid #e4e5e7;
  text-align: left;
}

#logo.light-version span {
  font-weight: 600;
  color: #34495e;
  font-size: 14px;
}

#logo.logo-svg__menu {
  padding: 0;
  background-position: 16px center;
  background-repeat: no-repeat;
  background-size: 140px;
}

#logo.logo-svg__menu.default {
  background-image: url('~src/assets/images/header/logo_LG_black.svg');
}

#logo.logo-svg__menu.yandex {
  background-image: url('~src/assets/images/header/logo_LG_yandex.svg');
}

.header-link {
  padding: 18px 26px 16px 26px;
  font-size: 14px;
  float: left;
  border-right: 1px solid #e4e5e7;
  border-left: 1px solid #e4e5e7;
  margin-right: 15px;
  background: #f7f9fa;
  cursor: pointer;
}

.header-link:hover {
  background: #f1f4f6
}

.small-logo {
  display: none;
  text-align: center;
  padding-top: 18px;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
}

.btn {
  border-radius: 3px;
  font-size: 14px;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #333;
  text-decoration: none;
  box-shadow: none;
}

.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-notselected {
  background-color: #f7f9fa;
  border-color: #e4e5e7;
  color: #6a6c6f;
  font-weight: 200;
}

.saveButton-toolbar {
  float: left;
  margin-left: -15px;
  margin-right: 15px;
  width: 150px;
  height: 56px;
  border-radius: 0;
  border-left: none;
}

.btn-default {
  background-color: #fff;
  border-color: #e4e5e7;
  color: #6a6c6f;
  font-weight: 200;
}

#goPartner {
  width: 200px;
}

#goYandex {
  background-color: #f7f9fa !important;
}

.navbar-right {
  float: right;
}

.navbar-nav {
  flex-direction: row;
}

.nav.navbar-nav li a {
  color: #9d9fa2;
}

.navbar-nav > li, .navbar-nav > li > a {
  height: 56px;
}

.navbar-nav > li > a {
  display: block;
  padding: 15px 25px;
  font-size: 25px;
  line-height: 20px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav .open > a,
.navbar-nav .open > a:hover,
.navbar-nav .open > a:focus,
.dropdown.show {
  color: inherit;
  background: #f4f5f9;
  border-bottom: 1px solid #e4e5e7;
}

.toolbar-text-like {
  margin-right: 10px;
  padding-top: 15px;
}

.lg-like {
  font-size: 15px;
}

.toolbar-fb-like {
  margin-right: 10px;
  padding-top: 16px;
}

.label-menu-corner .label {
  font-size: 10px;
  line-height: 12px;
  padding: 2px 5px;
  position: absolute;
  right: 18px;
  top: 12px
}

span.userinfo {
  font-size: 13px;
  margin-left: 5px;
  position: relative;
  top: -6px;
  vertical-align: middle;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin: -10px 0 0 6px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown-menu {
  top: auto !important;
  left: auto !important;
  text-align: center;
  right: 0;
  font-size: 13px;
  border-radius: 3px;
  transition: height 1s ease;
}

.dropdown-menu.hdropdown {
  padding: 0;
  z-index: 2;
}

.dropdown-menu.hdropdown .title {
  padding: 12px 12px;
  text-align: center;
  border-bottom: 1px solid #e4e5e7;
}

.dropdown-menu.hdropdown li {
  padding: 8px 30px;
  text-align: left;
  background: #f7f8fa;
  border-bottom: 1px solid #e4e5e7;
}

.dropdown-menu.hdropdown.notification li {
  padding: 12px 12px;
}

.dropdown-menu.hdropdown.notification li .label {
  margin-right: 10px;
}

.dropdown-menu.hdropdown li > a:hover {
  background: inherit;
}

.dropdown-menu.hdropdown li:hover {
  background: #edf0f5;
}

.dropdown-menu.hdropdown li.summary {
  padding: 6px 12px;
  text-align: center;
  background: #fff;
}


@media (max-width: 1300px) {
  .toolbar-text-like {
    display: none;
  }
}

@media (max-width: 1050px) {
  .toolbar-text-like {
    display: none;
  }

  .userinfo {
    display: none;
  }
}

@media (max-width: 900px) {
  .toolbar-fb-like {
    display: none;
  }

  .saveButton-toolbar {
    width: 120px;
  }
}


@media (max-width: 768px) {
  #logo {
    display: none;
  }

  .small-logo {
    display: block;
    float: left;
    margin-right: 25px;
  }

  .nav {
    white-space: nowrap;
    overflow: hidden;
  }

  .saveButton-toolbar {
    margin: 0;
    width: auto;
    border-left: 1px solid #e4e5e7;
  }
}

@media (max-width: 625px) {
  .header-link {
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .small-logo {
    margin: 0 5px;
  }

  .saveButton-toolbar, .navbar-nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 500px) {
  #goPartner {
    width: 100px;
  }
}

@media (max-width: 380px) {
  .small-logo {
    margin: 0 2px;
  }
}

@media (max-width: 358px) {
  .header-link {
    padding-left: 0;
    padding-right: 2px;
  }
  .navbar-right {
    display: none;
  }
}
