<ng-container *ngIf="(uiBreakpoint$ | async) as currentBreakpoint">
  <header id="header">

    <ng-container *ngIf="currentBreakpoint > breakpoint.MD">
      <div
        [class.default]="!yandexRef"
        [class.yandex]="yandexRef"
        class="logo logo-svg__menu"
        id="logo"
        routerLink="/"
      ></div>
    </ng-container>

    <nav class="main-nav-head" role="navigation">
      <ul class="navbar-left">

        <li>
          <button (click)="toggleSidebar()" class="menu-button">
            <span inlineSVG="./assets/images/core/header-menu-button.svg"></span>
          </button>
        </li>

        <ng-container *ngIf="currentBreakpoint >= breakpoint.SM && currentBreakpoint <= breakpoint.MD">
          <li>
            <a class="small-logo" routerLink="/">
              <span class="text-primary">LeadGenic</span>
            </a>
          </li>
        </ng-container>

        <li>
          <a routerLink="/site/list" routerLinkActive="active-link" id="goCabinet">
            <span>{{ 'header.cabinet' | translate }}</span>
          </a>
        </li>

        <li>
          <a routerLink="/user/partner" routerLinkActive="active-link" id="goPartner">
            <span>{{ 'header.partner' | translate }}</span>
          </a>
        </li>

        <ng-container *ngIf="yandexRef">
          <li>
            <a
              href="https://kassa.yandex.ru/"
              target="_blank"
              id="goYandex"
              class="active-link"
            >
              <span >{{ 'header.yandex' | translate }}</span>
            </a>
          </li>
        </ng-container>

      </ul>

      <ul class="navbar-right">

        <li class="like">
          <span>{{ 'header.like' | translate }}</span>
          <span class="toolbar-fb-like">
            <span id="fb-root"></span>
            <span
              class="fb-like"
              data-action="like"
              data-href="https://leadgenic.com/"
              data-layout="button_count"
              data-share="false"
              data-show-faces="false"
            ></span>
          </span>
        </li>

        <ng-container *ngIf="currentBreakpoint > breakpoint.MD">
          <li class="dropdown">
            <button class="dropdown-toggle" data-toggle="dropdown">
              <i class="pe-7s-user"></i><span class="userinfo" *ngIf="(user$ | async) as user">{{ user.login }}</span>
            </button>
            <ul class="dropdown-menu hdropdown animate__animated animate__flipInX">

              <li>
                <a routerLink="/user/" class="settings">
                  <i class="fa fa-cogs"></i>
                  <span>{{ 'header.settings' | translate }}</span>
                </a>
              </li>

            </ul>
          </li>
        </ng-container>

        <ng-container *ngIf="currentBreakpoint <= breakpoint.MD">
          <li>
            <a routerLink="/user" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
              <span class="settings" inlineSVG="./assets/images/core/settings.svg"></span>
            </a>
          </li>
        </ng-container>

        <li class="dropdown">
          <a routerLink="/logout">
            <i class="pe-7s-upload"></i>
          </a>
        </li>

      </ul>
    </nav>
  </header>
</ng-container>
