.content {
  padding: 0 0 60px;
}

.nav-tabs {
  border-bottom: 1px solid #e4e5e7;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 1px solid #e4e5e7;
  border-bottom-color: transparent;
  background-color: #fff;
}

.nav-tabs > li a:hover {
  background: transparent;
  border-color: transparent
}

.tabs-left > .nav-tabs > li > a {
  display: block;
  padding: 10px 15px;
  min-width: 74px;
  margin-bottom: 3px;
  margin-right: -2px;
  border-radius: 4px 0 0 4px;
  border: 1px solid transparent;
  color: #34495e;
}

.tabs-left .panel-body {
  position: static;
  width: 80%;
  margin-left: 20%;
  border-top: 1px solid #e4e5e7;
}

.tabs-left > .nav-tabs {
  float: left;
  width: 20%;
  border-bottom: 0;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
  border-color: #e4e5e7 transparent #e4e5e7 #e4e5e7;
  border-right-color: #ffffff;
  color: #555;
}

h4.site-settings-h4-text {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
}

.is-invalid span.validate {
  display: block;
}

.label.label-warning.tariff-info {
  margin-left: 15px;
}

.buttons {
  margin-left: 20%;
}

.buttons button, .integration-tab-flex button {
  font-size: 15px;
}

.integration-tab-flex {
  display: flex;
  justify-content: space-between;
}

.integration-rowed {
  display: flex;
  margin: -10px -15px 0;
  flex-wrap: wrap;
}

p.small {
  font-size: 11.5px;
}

.form-control.not-readonly-hand[readonly] {
  font-size: 14px;
  cursor: pointer;
}

.mail-sync-panel {
  border: 1px solid #e4e5e7;
  border-radius: 3px;
  margin-bottom: 10px;
  min-height: 260px;
}

.mailsync-logo {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.mailsync-logo img {
  height: 50px;
}



@media (max-width: 900px) {
  .tabs-left > .nav-tabs {
    float: none;
    margin-right: 0;
    width: 100%;
  }

  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #e4e5e7;
    border-radius: 5px;
  }

  .tabs-left .panel-body {
    width: 100%;
    margin-left: 0;
  }

  .integration-tab-flex {
    display: block;
  }

  .integration-item-wr {
    width: 100%;
  }

  .floated-left {
    margin-left: 0;
    float: none;
  }

  .analyticssync-sync-panel-wrapper {
    width: 100%;
  }

  .text-left .btn,
  .text-right .btn {
    width: 100%;
  }

  .buttons {
    margin-left: 0;
  }

  .analyticssync-sync-panel-wrapper {
    width: 100%;
  }
}



@media (max-width: 700px) {
  .site-settings-switcher label {
    width: 100%;
  }

  .btn-add-new-integration {
    width: 100%;
    white-space: inherit;
  }

  .analyticssync-sync-panel-wrapper .site-selector {
    min-width: 100%;
  }

  .analyticssync-sync-panel-wrapper .site-selector {
    min-width: 100%;
  }
}
