<div class="flex-column toolbar-content">
  <h1 class="title-main">{{ 'settings.title' | translate }} &laquo;{{site.name}}&raquo;</h1>
  <div class="content">
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-body">
            <div class="tabs-left">
              <ul class="nav nav-tabs">
                <li [ngClass]="{'active' : tab === 0}"><a (click)="setTab(0)">{{ 'header.settings' | translate }}</a></li>
                <li [ngClass]="{'active' : tab === 1}"><a (click)="setTab(1)">{{ 'settings.site.tabs.integrations.title' | translate }}</a></li>
                <li [ngClass]="{'active' : tab === 2}"><a (click)="setTab(2)">{{ 'settings.site.tabs.analytics' | translate }}</a></li>
                <li [ngClass]="{'active' : tab === 3}"><a (click)="setTab(3)">{{ 'settings.script.title' | translate }}</a></li>
              </ul>

              <div class="tab-content">
                <div *ngIf="tab === 0" class="tab-pane active">
                  <div class="panel-body">
                    <h3>{{ 'header.settings' | translate }}</h3>
                    <div class="pt-1">
                      <h4 class="site-settings-h4-text">{{ 'global.general' | translate }}:</h4>
                    </div>
                    <div class="validable form-group" data-context="name">
                      <label for="sitename" class="control-label">{{ 'sitelist.form.name' | translate }}</label>
                      <input id="sitename" type="text" name="name" class="form-control" [ngModel]="site.name">
                      <span class="validate">Validate info</span>
                    </div>
                    <div class="validable form-group" data-context="url">
                      <label for="domain" class="control-label">{{ 'settings.site.settings.domain.title' | translate }}</label>
                      <input id="domain" type="text" name="name" class="form-control" [ngModel]="site.url">
                      <span class="validate">Validate info</span>
                    </div>
                    <button type="button" (click)="deleteSite()" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i> {{ 'settings.site.settings.removeSite' | translate }}</button>

                    <div class="pt-1">
                      <h4 class="site-settings-h4-text">{{ 'settings.site.settings.notification.title' | translate }}:</h4>
                    </div>
                    <div class="form-group d-flex">
                      <ui-switch size="small" [checked]="site.needLeadNotification"></ui-switch>
                      <label class="control-label ml-2 pt-1">
                        {{ 'settings.site.settings.notification.send' | translate }}
                      </label>
                    </div>

                    <div class="pt-1">
                      <h4 class="site-settings-h4-text">{{ 'settings.site.settings.stats.title' | translate }}:</h4>
                    </div>
                    <div class="form-group d-flex">
                      <ui-switch size="small" [checked]="site.needEmailSubscriptions"></ui-switch>
                      <label class="control-label ml-2">
                        {{ 'settings.site.settings.stats.email' | translate }}
                        <a
                          data-toggle="tooltip"
                          data-placement="top"
                          title="{{ 'settings.site.settings.stats.tooltip' | translate }}"
                          class="info-link"><i class="fa fa-info-circle"></i>
                        </a>
                      </label>
                    </div>

                    <div class="pt-1">
                      <h4 class="site-settings-h4-text">{{ 'settings.site.settings.lglinks.title' | translate }}:</h4>
                    </div>
                    <div class="form-group d-flex">
                      <ui-switch size="small" [checked]="site.needHideLogo" (change)="onChangePaymentLogo()"></ui-switch>
                      <label class="control-label ml-2 pt-1">
                        {{ 'settings.site.settings.lglinks.link1' | translate }}<span
                        class="label label-warning tariff-info"
                        style="background-color: red">{{ 'global.payment' | translate }}</span>
                      </label>
                    </div>
                    <div class="form-group d-flex">
                      <ui-switch size="small" [checked]="site.logoRefLink" (change)="onChangePaymentLogo()"></ui-switch>
                      <label class="control-label ml-2">
                        {{ 'settings.site.settings.lglinks.link2' | translate }}
                        <a
                          data-toggle="tooltip"
                          data-placement="top"
                          title="{{ 'settings.site.settings.lglinks.tooltip' | translate }}"
                          class="info-link"><i class="fa fa-info-circle"></i>
                        </a><span
                        class="label label-warning tariff-info"
                        style="background-color: red">{{ 'global.payment' | translate }}</span>
                      </label>
                    </div>
                  </div>
                </div>

                <div *ngIf="tab === 1" class="tab-pane active">
                  <div class="panel-body integration-tab">
                    <div class="integration-tab-flex">
                      <h3>{{ 'settings.site.tabs.integrations.title' | translate }}</h3>
                      <button
                        type="button"
                        class="btn btn-sm btn-success"
                        (click)="openModalForCreatingNewIntegration()"
                      ><i class="fa fa-plus-circle"></i> {{ 'settings.site.tabs.integrations.addIntegration' | translate }} </button>
                    </div>

                    <div class="tab-wrap">
                      <div class="col-lg-12 mt-5 mb-5" *ngIf="!integrations.length">
                        <h3 class="f-0 text-center">{{ 'settings.site.settings.integrations.not.title' | translate }}</h3>
                        <h4 class="f-2 text-center">{{ 'settings.site.settings.integrations.not.desc' | translate }}</h4>
                      </div>

                      <div class="tab-wrap__crm" *ngIf="integrationsCRM.length">
                        <h4 class="f-1 mt-3">{{ 'settings.site.tabs.group.crm' | translate }}</h4>
                        <div class="integration-rowed">
                          <div class="col-md-6 integration-item-wr" *ngFor="let item of integrationsCRM">
                            <app-integration-item
                              class="integration-item__100"
                              [widget]="item"
                              [siteId]="siteId"
                              (updateIntegrations)="getSiteIntegrations()"
                            >
                            </app-integration-item>
                          </div>
                        </div>
                      </div>

                      <div class="tab-wrap__crm" *ngIf="integrationsMailing.length">
                        <h4 class="f-1 mt-3">{{ 'settings.site.tabs.group.email' | translate }}</h4>
                        <div class="integration-rowed">
                          <div class="col-md-6 integration-item-wr" *ngFor="let item of integrationsMailing">
                            <app-integration-item
                              class="integration-item__100"
                              [widget]="item"
                              [siteId]="siteId"
                              (updateIntegrations)="getSiteIntegrations()"
                            >
                            </app-integration-item>
                          </div>
                        </div>
                      </div>

                      <div class="tab-wrap__crm" *ngIf="integrationsNotifications.length">
                        <h4 class="f-1 mt-3">{{ 'settings.site.settings.notification.title' | translate }}</h4>
                        <div class="integration-rowed">
                          <div class="col-md-6 integration-item-wr" *ngFor="let item of integrationsNotifications">
                            <app-integration-item
                              class="integration-item__100"
                              [widget]="item"
                              [siteId]="siteId"
                              (updateIntegrations)="getSiteIntegrations()"
                            >
                            </app-integration-item>
                          </div>
                        </div>
                      </div>

                      <div class="tab-wrap__crm" *ngIf="integrationsOthers.length">
                        <h4 class="f-1 mt-3">{{ 'settings.site.tabs.group.other' | translate }}</h4>
                        <div class="integration-rowed">
                          <div class="col-md-6 integration-item-wr" *ngFor="let item of integrationsOthers">
                            <app-integration-item
                              class="integration-item__100"
                              [widget]="item"
                              [siteId]="siteId"
                              (updateIntegrations)="getSiteIntegrations()"
                            >
                            </app-integration-item>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="tab === 2" class="tab-pane active">
                  <div class="panel-body">
                    <h3 class="m-b-lg">{{ 'settings.site.tabs.analytics' | translate }}</h3>

                    <div class="integration-rowed">
                      <!-- YMetrika -->
                      <div class="col-lg-6 analyticssync-sync-panel-wrapper"
                           id="crmsync-ymetrika">
                        <div class="mail-sync-panel mail-sync-panel-height">
                          <a class="mailsync-logo" href="https://metrika.yandex.ru/"
                             target="_blank"><img
                            src="https://static.leadgenic.com/crmimages/metrika.gif"
                            alt=""/></a>
                          <div class="row row-nomargined margined-bottom-15"
                               style="max-height: 72px;">
                            <div class="validable col-lg-12"
                                 data-context="ymetrika-counter">
                              <label class="control-label">{{ 'settings.site.settings.integrations.ymetrika.counter.title' | translate }}</label>
                              <input type="text" name="name" class="form-control" [ngModel]="site.yandexAnalyticsCounter">
                              <span style="display: block;margin-top: 20px;" [innerHTML]="'settings.site.settings.integrations.ymetrika.counter.span' | translate"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Google analytics -->
                      <div class="col-lg-6 analyticssync-sync-panel-wrapper"
                           id="crmsync-ganalytics">
                        <div class="mail-sync-panel mail-sync-panel-height">
                          <a class="mailsync-logo" href="https://www.google.com/analytics/"
                             target="_blank"><img
                            src="https://static.leadgenic.com/crmimages/ga.jpg"
                            alt=""/></a>
                          <div class="row row-nomargined margined-bottom-15"
                               style="max-height: 72px;">
                            <div class="validable col-lg-12"
                                 data-context="ganalytics-service">
                              <label>{{ 'settings.site.newIntegration.service' | translate }}</label>
                              <div class="dropdown site-selector">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  <span class="dropdown-selected-cropp" style="max-width:90%">{{site.googleAnalyticsService}}</span>
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                  <li *ngFor="let item of googleAnalyticsServices" (click)="changeAnalyticGService(item.value)"><a href="javascript:void(0);">{{item.name}}</a></li>
                                </ul>
                              </div>
                              <span style="display: block;margin-top: 20px;" [innerHTML]="'settings.site.settings.integrations.ganalytics.service' | translate"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="tab === 3" class="tab-pane active">
                  <div class="panel-body">
                    <h3>{{ 'settings.script.title' | translate }}</h3>
                    <p class="small mt-3 mb-1">
                      <strong [innerHTML]="'sitelist.form.code.desc1' | translate"></strong>
                    </p>
                    <div class="form-group mb-0">
                      <textarea
                        [(ngModel)]="codeSiteScript"
                        class="form-control not-readonly-hand"
                        rows="5"
                        appSelectOnClick
                        readonly
                      ></textarea>
                    </div>
                    <div class="form-group">
                      <a href="" class="help-link-add-code-to-site">{{ 'settings.script.helplinktext' | translate }}</a>
                    </div>
                    <br />
                    <br />
                    <strong>
                      {{ 'settings.script.apicode.title' | translate }} <a
                      data-toggle="tooltip"
                      data-placement="top"
                      title="{{ 'settings.script.apicode.tooltip' | translate }}"
                      class="info-link"><i class="fa fa-info-circle"></i></a>
                    </strong>

                    <div class="form-group mb-0" data-context="url">
                      <input
                        type="text"
                        class="form-control not-readonly-hand"
                        name="name"
                        [(ngModel)]="siteId"
                        appSelectOnClick
                        readonly
                      />
                    </div>
                    <p class="small">{{ 'settings.script.apicode.desc' | translate }}</p>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-3 mb-2 buttons">
                <button
                  type="button"
                  class="btn btn-sm btn-default"
                  (click)="goBack()"
                >{{ 'settings.site.global.backButton' | translate }}</button>
                <button
                  type="button"
                  class="btn btn-sm btn-success"
                  (click)="saveSite()"
                  [disabled]="!site.name || !site.url"
                ><i class="fa fa-save"></i> {{ 'settings.site.global.saveButton' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
