<app-color-line type="modals"></app-color-line>
<div class="modal-header text-center justify-content-center">
  <h3 *ngIf="!isEditIntegration" class="modal-title">{{ 'settings.site.newIntegration.title' | translate }}</h3>
  <h3 *ngIf="isEditIntegration" class="modal-title">{{ 'settings.site.newIntegration.edit' | translate }}</h3>
</div>
<div class="modal-body">
  <div class="integration-switcher-wr" *ngIf="!isEditIntegration">
    <h5>{{ 'settings.site.newIntegration.description' | translate }}</h5>
    <div class="btn-group">
      <span
        class="btn btn-default"
        [class.active]="tab ==='NEW'"
        (click)="setIntegrationType('NEW')"
      >
        {{ 'settings.site.newIntegration.tabs.new' | translate }}
      </span>
      <span
        class="btn btn-default"
        [class.active]="tab ==='COPY'"
        (click)="setIntegrationType('COPY')"
      >
        {{ 'settings.site.newIntegration.tabs.copy' | translate }}
      </span>
    </div>
  </div>
  <div class="integration-tab">
    <div *ngIf="integrationIsOnProgress" class="integration-tab-inner-loading-state"></div>
    <div>
      <div *ngIf="tab ==='NEW'">
        <div class="integration-tab-item">
          <label class="control-label">{{ 'settings.site.newIntegration.service' | translate }}</label>
          <div class="dropdown integration-selector">
            <button
              type="button"
              class="btn btn-default dropdown-toggle"
              data-toggle="dropdown"
              data-display="static"
              aria-haspopup="true"
              aria-expanded="true"
            >
              <span
                *ngIf="!currentIntegrationService.type"
                class="dropdown-selected-cropp"
              >{{ defIntegrationServiceName }}</span>
              <span
                *ngIf="currentIntegrationService.type"
                class="dropdown-selected-cropp integration-selector-item {{currentIntegrationService.type}}"
              >{{ currentIntegrationService.name }}</span>
            </button>
            <ul class="dropdown-menu dropdown-new-integration-menu dropdown-integration-max-240h">
              <span class="integration-selector-group">{{ 'settings.site.tabs.group.email' | translate }}</span>
              <li
                *ngFor="let item of integrationServices | filterBy: { group: 'mailing' }"
                (click)="changeCurrentIntegrationService(item)"
              >
                <a class="dropdown-item integration-selector-item {{item.type}}">
                  {{item.name || defIntegrationServiceName}} <span
                  *ngIf="item.isPayment"
                  class="label label-warning tariff-info">{{ 'global.payment' | translate }}</span>
                </a>
              </li>
              <span class="integration-selector-group">{{ 'settings.site.tabs.group.crm' | translate }}</span>
              <li
                *ngFor="let item of integrationServices | filterBy: { group: 'CRM' }"
                (click)="changeCurrentIntegrationService(item)"
              >
                <a class="dropdown-item integration-selector-item {{item.type}}">
                  {{item.name || defIntegrationServiceName}} <span
                  *ngIf="item.isPayment"
                  class="label label-warning tariff-info">{{ 'global.payment' | translate }}</span>
                </a>
              </li>
              <span
                class="integration-selector-group">{{ 'settings.site.settings.notification.title' | translate }}</span>
              <li
                *ngFor="let item of integrationServices | filterBy: { group: 'notification' }"
                (click)="changeCurrentIntegrationService(item)"
              >
                <a class="dropdown-item integration-selector-item {{item.type}}">
                  {{item.name || defIntegrationServiceName}} <span
                  *ngIf="item.isPayment"
                  class="label label-warning tariff-info">{{ 'global.payment' | translate }}</span>
                </a>
              </li>
              <span class="integration-selector-group">{{ 'settings.site.newIntegration.others' | translate }}</span>
              <li
                *ngFor="let item of integrationServices | filterBy: { group: 'others' }"
                (click)="changeCurrentIntegrationService(item)"
              >
                <a class="dropdown-item integration-selector-item {{item.type}}">
                  {{item.name || defIntegrationServiceName}} <span
                  *ngIf="item.isPayment"
                  class="label label-warning tariff-info">{{ 'global.payment' | translate }}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <a
          *ngIf="currentIntegrationService.type"
          [href]="currentIntegrationService.helpUrl"
          target="_blank"
          class="integration-help-link"
        >{{ 'settings.site.newIntegration.instruction' | translate }}</a>

        <div
          *ngIf="currentIntegrationService.type"
          class="integration-settings mt-4 w-100"
        >
          <h5>
            <strong>{{ 'settings.site.newIntegration.settings' | translate }}</strong>
          </h5>
          <div
            *ngIf="currentIntegrationService.type === IntegrationTypes.AMOCRM"
            class="small"
          >
            {{ 'settings.site.newIntegration.help' | translate }}
          </div>

          <!-- BITRIX SWITCH -->
          <div *ngIf="currentIntegrationService.type === IntegrationTypes.BITRIX" class="mt-3">
            <label class="control-label">{{ 'settings.site.newIntegration.connection.title' | translate }}</label>
            <div class="d-flex align-items-center">
              <input
                type="radio"
                id="bitrix-webhook"
                class="mr-2"
                name="bitrix"
                [value]="BitrixTypes.Webhook"
                [(ngModel)]="bitrixConnectionType"
              /><label for="bitrix-webhook"
                       class="pt-1">{{ 'settings.site.newIntegration.connection.webhook' | translate }}</label>
            </div>
            <div class="d-flex align-items-center">
              <input
                type="radio"
                id="bitrix-api"
                class="mr-2"
                name="bitrix"
                [value]="BitrixTypes.Api"
                [(ngModel)]="bitrixConnectionType"
              /><label for="bitrix-api"
                       class="pt-1">{{ 'settings.site.newIntegration.connection.api' | translate }}</label>
            </div>
          </div>

          <div
            class="integration-tab-item mt-3"
            [class.mr-3]="currentIntegrationService.type === IntegrationTypes.BITRIX && bitrixConnectionType === BitrixTypes.Webhook
            || currentIntegrationService.type === IntegrationTypes.AMOCRM"
          >
            <label for="getResponseName"
                   class="control-label">{{ 'settings.site.newIntegration.name' | translate }}</label>
            <input type="text" id="getResponseName" [(ngModel)]="newCurrentIntegration.name" class="form-control"
                   name="getResponseName">
          </div>

          <!-- GETRESPONSE PARAMS -->
          <div *ngIf="currentIntegrationService.type === IntegrationTypes.GETRESPONSE">
            <div class="integration-tab-item">
              <label for="getResponseCode"
                     class="control-label">{{ 'settings.site.newIntegration.apikey' | translate }}</label>
              <input type="text" id="getResponseCode" [(ngModel)]="getResponseParams.code" class="form-control"
                     name="getResponseCode">
            </div>
            <div class="integration-tab-item">
              <label for="getResponseCampaignId"
                     class="control-label">{{ 'settings.site.newIntegration.create.campaignId' | translate }}</label>
              <input type="text" id="getResponseCampaignId" [(ngModel)]="getResponseParams.campaignId"
                     class="form-control" name="getResponseCampaignId">
            </div>
          </div>

          <!-- MAILCHIMP PARAMS and UNISENDER -->
          <div
            *ngIf="currentIntegrationService.type === IntegrationTypes.MAILCHIMP || currentIntegrationService.type === IntegrationTypes.UNISENDER">
            <div class="integration-tab-item">
              <label for="mailchimpCode"
                     class="control-label">{{ 'settings.site.newIntegration.apikey' | translate }}</label>
              <input type="text" id="mailchimpCode" [(ngModel)]="mailchimpUniParams.code" class="form-control"
                     name="mailchimpCode">
            </div>
            <div class="integration-tab-item">
              <label for="mailchimpListId"
                     class="control-label">{{ 'settings.site.newIntegration.create.listId' | translate }}</label>
              <input type="text" id="mailchimpListId" [(ngModel)]="mailchimpUniParams.listId" class="form-control"
                     name="mailchimpListId">
            </div>
          </div>

          <!-- SENDPULSE and SENDBOX PARAMS -->
          <div
            *ngIf="currentIntegrationService.type === IntegrationTypes.SENDPULSE || currentIntegrationService.type === IntegrationTypes.SENDBOX">
            <div class="integration-tab-item">
              <label for="sendPBParamsId"
                     class="control-label">{{ 'settings.site.newIntegration.create.id' | translate }}</label>
              <input type="text" id="sendPBParamsId" [(ngModel)]="sendPBParams.id" class="form-control"
                     name="sendPBParamsId">
            </div>
            <div class="integration-tab-item">
              <label for="sendPBParamsSecret"
                     class="control-label">{{ 'settings.site.newIntegration.create.secret' | translate }}</label>
              <input type="text" id="sendPBParamsSecret" [(ngModel)]="sendPBParams.secret" class="form-control"
                     name="sendPBParamsSecret">
            </div>
            <div class="integration-tab-item">
              <label for="sendPBParamsBook"
                     class="control-label">{{ 'settings.site.newIntegration.create.book' | translate }}</label>
              <input type="text" id="sendPBParamsBook" [(ngModel)]="sendPBParams.book" class="form-control"
                     name="sendPBParamsBook">
            </div>
          </div>

          <!-- BITRIX WEBHOOK PARAMS -->
          <div
            *ngIf="currentIntegrationService.type === IntegrationTypes.BITRIX && bitrixConnectionType === BitrixTypes.Webhook">
            <div class="d-flex">
              <div class="w-50 pr-4 mr-1 integration-tab-item">
                <label for="bitrixParamsUrl"
                       class="control-label">{{ 'settings.site.newIntegration.create.address.title' | translate }}</label>
                <input type="text" id="bitrixParamsUrl" [(ngModel)]="bitrixWebhookParams.url"
                       class="form-control" name="bitrixParamsAddress">
                <div class="small">{{ 'settings.site.newIntegration.create.address.desc' | translate }}</div>
              </div>
              <div class="w-50 ml-1 mr-3 integration-tab-item">
                <label for="bitrixParamsHash"
                       class="control-label">{{ 'settings.site.newIntegration.create.webhook.title' | translate }}</label>
                <input type="text" id="bitrixParamsHash" [(ngModel)]="bitrixWebhookParams.hash"
                       class="form-control" name="bitrixParamsWebhook">
                <div class="small">{{ 'settings.site.newIntegration.create.webhook.desc' | translate }}</div>
              </div>
            </div>
          </div>

          <!-- BITRIX API PARAMS -->
          <div
            *ngIf="currentIntegrationService.type === IntegrationTypes.BITRIX && bitrixConnectionType === BitrixTypes.Api">
            <div class="integration-tab-item">
              <label for="bitrixParamsHost"
                     class="control-label">{{ 'settings.site.newIntegration.create.host' | translate }}</label>
              <input type="text" id="bitrixParamsHost" [(ngModel)]="bitrixApiParams.host" class="form-control"
                     name="bitrixParamsHost">
            </div>
            <div class="integration-tab-item">
              <label for="bitrixParamsLogin"
                     class="control-label">{{ 'settings.site.newIntegration.create.login' | translate }}</label>
              <input type="text" id="bitrixParamsLogin" [(ngModel)]="bitrixApiParams.login" class="form-control"
                     name="bitrixParamsLogin">
            </div>
            <div class="integration-tab-item">
              <label for="bitrixParamsPassword" class="control-label">{{ 'login.password' | translate }}</label>
              <input type="password" id="bitrixParamsPassword" [(ngModel)]="bitrixApiParams.password"
                     class="form-control" name="bitrixParamsPassword">
            </div>
          </div>

          <!-- AMOCRM PARAMS -->
          <div *ngIf="currentIntegrationService.type === IntegrationTypes.AMOCRM">
            <div class="d-flex">
              <div class="w-50 pr-4 mr-1 integration-tab-item">
                <div>
                  <label for="amoParamsSubdomain"
                         class="control-label">{{ 'settings.site.newIntegration.create.urlExtra.title' | translate }}</label>
                  <input type="text" id="amoParamsSubdomain" [(ngModel)]="amoParams.subdomain" class="form-control"
                         name="amoParamsSubdomain">
                  <div class="small">{{ 'settings.site.newIntegration.create.urlExtra.desc' | translate }}</div>
                </div>
              </div>
              <div class="w-50 ml-1 mr-3 integration-tab-item">
                <div>
                  <label for="amoParamsClientId"
                         class="control-label">{{ 'settings.site.newIntegration.create.integrationId' | translate }}</label>
                  <input type="text" id="amoParamsClientId" [(ngModel)]="amoParams.clientId" class="form-control"
                         name="amoParamsClientId">
                </div>
              </div>
            </div>
            <div class="d-flex">
              <div class="w-50 pr-4 mr-1 integration-tab-item">
                <div>
                  <label for="amoParamsClientSecret"
                         class="control-label">{{ 'settings.site.newIntegration.create.secretKey' | translate }}</label>
                  <input type="text" id="amoParamsClientSecret" [(ngModel)]="amoParams.clientSecret" class="form-control"
                         name="amoParamsClientSecret">
                </div>
              </div>
              <div class="w-50 ml-1 mr-3 integration-tab-item">
                <div>
                  <label for="amoParamsCode"
                         class="control-label">{{ 'settings.site.newIntegration.create.code' | translate }}</label>
                  <input type="text" id="amoParamsCode" [(ngModel)]="amoParams.code" class="form-control"
                         name="amoParamsCode">
                </div>
              </div>
            </div>

            <button
              *ngIf="!isAmoActivated"
              class="btn btn-default mt-2 mb-4"
              (click)="activateIntegration(AmoGrantTypes.AuthCode)"
              [disabled]="disableActivation()"
            >
              <i class="fas fa-power-off mr-2"></i> {{ 'settings.site.newIntegration.activate' | translate }}
            </button>
            <button
              *ngIf="isAmoActivated"
              class="btn btn-default mt-2 mb-4"
              disabled
            >
              <i class="fas fa-power-off mr-2"></i> {{ 'settings.site.newIntegration.activated' | translate }}
            </button>
          </div>

          <!-- EMAIL PARAMS -->
          <div *ngIf="currentIntegrationService.type === IntegrationTypes.EMAIL">
            <div class="integration-tab-item">
              <label for="emailParamsEmail"
                     class="control-label">{{ 'settings.site.newIntegration.create.email' | translate }}</label>
              <input type="text" id="emailParamsEmail" [(ngModel)]="emailParams.email" class="form-control"
                     name="emailParamsEmail">
            </div>
          </div>

          <!-- ROISTAT PARAMS -->
          <div
            *ngIf="currentIntegrationService.type === IntegrationTypes.ROISTAT || currentIntegrationService.type === IntegrationTypes.WEBHOOK">
            <div class="integration-tab-item">
              <label for="roistatParamsUrl"
                     class="control-label">{{ 'settings.site.newIntegration.create.url' | translate }}</label>
              <input type="text" id="roistatParamsUrl" [(ngModel)]="roistatParams.url" class="form-control"
                     name="roistatParamsUrl">
            </div>
          </div>

          <div class="integration-tab-item mb-0">
            <div class="d-flex">
              <ui-switch size="small" [checked]="newCurrentIntegration.default"></ui-switch>
              <label class="control-label ml-2">
                {{ 'settings.site.tabs.integration.useDefault.title' | translate }}
                <a data-toggle="tooltip"
                   data-placement="top"
                   data-container="body"
                   title="{{ 'settings.site.tabs.integration.useDefault.tooltip' | translate }}"
                   class="info-link"><i class="fa fa-info-circle"></i>
                </a>
              </label>
            </div>
          </div>

          <!-- AMOCRM FUNNEL PARAMS -->
          <div *ngIf="currentIntegrationService.type === IntegrationTypes.AMOCRM">
            <h5 class="mt-4">
              <strong>{{ 'settings.site.newIntegration.funnel.title' | translate }}</strong>
            </h5>
            <button
              class="btn btn-default mt-2 mb-3"
              (click)="loadIntegration()"
              [disabled]="disableActivation() || !this.amoParams.accessToken"
            >
              <i class="fas fa-sync mr-2"></i> {{ 'settings.site.newIntegration.funnel.button' | translate }}
            </button>
            <div class="d-flex">
              <div class="w-50 pr-4 mr-1 integration-tab-item">
                <label class="control-label">{{ 'settings.site.newIntegration.funnel.name' | translate }}</label>
                <div class="dropdown integration-selector">
                  <button
                    type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    data-display="static"
                    aria-haspopup="true"
                    aria-expanded="true"
                    [disabled]="!pipelines.length"
                  >
                    <span
                      class="dropdown-selected-cropp"
                    >{{ amoParams.funnelName }}</span>
                  </button>
                  <ul class="dropdown-menu dropdown-new-integration-menu dropdown-integration-max-240h">
                    <li
                      *ngFor="let item of pipelines"
                      (click)="changeCurrentFunnelId(item.id.toString(), item.name)"
                    >
                      <a class="dropdown-item">{{ item.name }}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="w-50 ml-1 mr-3 integration-tab-item">
                <label class="control-label">{{ 'settings.site.newIntegration.funnel.status' | translate }}</label>
                <div class="dropdown integration-selector">
                  <button
                    type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    data-display="static"
                    aria-haspopup="true"
                    aria-expanded="true"
                    [disabled]="!pipelines.length"
                  >
                  <span
                    class="dropdown-selected-cropp"
                  >{{ amoParams.leadStateName }}</span>
                  </button>
                  <ul class="dropdown-menu dropdown-new-integration-menu dropdown-integration-max-240h">
                    <li
                      *ngFor="let item of leadStates"
                      (click)="changeCurrentFunnelLeadStateId(item.id.toString(), item.name)"
                    >
                      <a class="dropdown-item">{{ item.name }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="integration-tab-item mr-3">
              <label class="control-label">{{ 'settings.site.newIntegration.funnel.check.title' | translate }}</label>
              <a data-toggle="tooltip"
                 data-placement="bottom"
                 data-container="body"
                 title="{{ 'settings.site.newIntegration.funnel.check.tooltip' | translate }}"
                 class="info-link ml-1 mt-1"><i class="fa fa-info-circle"></i>
              </a>

              <div class="dropdown integration-selector">
                <button
                  type="button"
                  class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown"
                  data-display="static"
                  aria-haspopup="true"
                  aria-expanded="true"
                  [disabled]="!pipelines.length"
                >
                <span
                  class="dropdown-selected-cropp"
                >{{ funnelCheckDuplicates[amoParams.checkDuplicate] }}</span>
                </button>
                <ul class="dropdown-menu dropdown-new-integration-menu dropdown-integration-max-240h">
                  <li
                    *ngFor="let item of funnelCheckDuplicates | keyvalue : returnZero"
                    (click)="changeCurrentFunnelCheckDuplicates(item.key)"
                  >
                    <a class="dropdown-item">{{ item.value }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- CUSTOM FIELDS MAPPING -->
          <div
            *ngIf="currentIntegrationService.type === IntegrationTypes.BITRIX && bitrixConnectionType === BitrixTypes.Webhook
            || currentIntegrationService.type === IntegrationTypes.AMOCRM"
            class="d-flex flex-column mt-4"
          >
            <div class="d-flex">
              <h5 class="mt-2">
                <strong>{{ 'settings.site.newIntegration.fields.title' | translate }}</strong>
              </h5>
              <a data-toggle="tooltip"
                 data-placement="bottom"
                 data-container="body"
                 title="{{ 'settings.site.newIntegration.fields.tooltip' | translate }}"
                 class="info-link ml-1 mt-1"><i class="fa fa-info-circle"></i>
              </a>
            </div>
            <div class="d-flex flex-column mt-2">
              <div class="d-flex">
                <div class="w-50">
                  <label class="control-label leadgenic-field">
                    {{ 'settings.site.newIntegration.fields.leadgenic' | translate }}
                  </label>
                </div>
                <div class="w-50">
                  <label class="control-label crm-field">
                    {{ 'settings.site.newIntegration.fields.crm' | translate }}
                  </label>
                </div>
              </div>
              <ng-container *ngFor="let integrationField of integrationFieldsIds; index as i">
                <div class="d-flex mb-2">
                  <div class="w-50 mr-3">
                    <input
                      type="text"
                      [id]="'leadgenicFieldId' + i"
                      [(ngModel)]="integrationField.leadGenicId"
                      pattern="[0-9a-zA-Z_\-]{1,50}"
                      class="form-control leadgenic-field"
                      [class.field-error]=
                        "integrationField.leadGenicId === 'email' ||
                        integrationField.leadGenicId === 'phone' ||
                        integrationField.leadGenicId === 'message' ||
                        integrationField.leadGenicId === 'name'"
                      name="'leadgenicFieldId' + i"
                    >
                  </div>
                  <div class="w-50 ml-3 mr-3">
                    <input
                      type="text"
                      [id]="'crmFieldId' + i"
                      [(ngModel)]="integrationField.crmId"
                      pattern="^.{1,50}$"
                      class="form-control"
                      name="'crmFieldId' + i"
                    >
                  </div>
                  <a (click)="deleteIntegrationField(i)"><i class="fa fa-trash integration-field-delete mr-2"></i></a>
                </div>
                <div
                  *ngIf="integrationField.leadGenicId === 'email' ||
                  integrationField.leadGenicId === 'phone' ||
                  integrationField.leadGenicId === 'message' ||
                  integrationField.leadGenicId === 'name'"
                  class="small mb-2"
                >
                  {{ 'settings.site.newIntegration.fields.error' | translate }}
                </div>
              </ng-container>

            </div>
            <a class="integration-field-add" (click)="addIntegrationField()">
              <i class="fa fa-plus integration-field-add-icon"></i>
              {{ 'settings.site.newIntegration.fields.add' | translate }}
            </a>
          </div>
        </div>
      </div>

      <div *ngIf="tab ==='COPY'">
        <div class="integration-tab-item p-5" *ngIf="!sites.length">
          <h4 class="f-2 text-center">{{ 'settings.site.newIntegration.create.copy.noSites' | translate }}</h4>
        </div>

        <div *ngIf="sites.length" class="integration-tab-item">
          <label for="currentIntegrationSiteServiceCloneName" class="control-label">
            {{ 'settings.site.newIntegration.name' | translate }}
          </label>
          <input
            type="text"
            id="currentIntegrationSiteServiceCloneName"
            [(ngModel)]="currentIntegrationSiteServiceClone.name"
            class="form-control"
            name="currentIntegrationSiteServiceCloneName"
          >
        </div>

        <div *ngIf="sites.length" class="integration-tab-item">
          <label class="control-label">{{ 'settings.site.newIntegration.donorSite' | translate }}</label>
          <div class="dropdown site-selector">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">
              <span class="dropdown-selected-cropp"
                    style="max-width:90%">{{ currentIntegrationSite.name || defIntegrationSiteName }}</span>
            </button>
            <ul class="dropdown-menu dropdown-integration-max-240h">
              <li *ngFor="let site of sites" (click)="changeCurrentIntegrationSite(site)">
                <a class="dropdown-item">{{site.name}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="integrationSitesLoading" class="integration-site-loading-inner"></div>
        <div *ngIf="!(integrationSitesLoading || !currentIntegrationSite.id)" class="integration-tab-item">
          <label class="control-label">{{ 'settings.site.newIntegration.service' | translate }}</label>
          <div class="dropdown integration-selector">
            <button
              type="button"
              class="btn btn-default dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
            >
              <span
                *ngIf="!currentIntegrationSiteService.type"
                class="dropdown-selected-cropp"
              >
                {{ defIntegrationServiceName }}
              </span>
              <span
                *ngIf="currentIntegrationSiteService.type"
                class="dropdown-selected-cropp integration-selector-item {{ currentIntegrationSiteService.type }}"
              >
                {{ currentIntegrationSiteService.name }}
              </span>
            </button>
            <ul class="dropdown-menu dropdown-integration-max-240h">
              <span
                *ngIf="integrationSiteServicesCRM.length"
                class="integration-selector-group"
              >
                {{ 'settings.site.tabs.group.crm' | translate }}
              </span>
              <li
                *ngFor="let item of integrationSiteServicesCRM"
                (click)="changeCurrentIntegrationSiteService(item)"
              >
                <a class="dropdown-item integration-selector-item {{ item.type }}">
                  {{ item.name || defIntegrationServiceName }} <span
                  *ngIf="item.isPayment"
                  class="label label-warning tariff-info">{{ 'global.payment' | translate }}</span>
                </a>
              </li>
              <span
                *ngIf="integrationSiteServicesMailing.length"
                class="integration-selector-group"
              >
                {{ 'settings.site.tabs.group.email' | translate }}
              </span>
              <li
                *ngFor="let item of integrationSiteServicesMailing"
                (click)="changeCurrentIntegrationSiteService(item)"
              >
                <a class="dropdown-item integration-selector-item {{ item.type }}">
                  {{ item.name || defIntegrationServiceName }} <span
                  *ngIf="item.isPayment"
                  class="label label-warning tariff-info">{{ 'global.payment' | translate }}</span>
                </a>
              </li>
              <span
                *ngIf="integrationSiteServicesNotifications.length"
                class="integration-selector-group"
              >
                {{ 'settings.site.settings.notification.title' | translate }}
              </span>
              <li
                *ngFor="let item of integrationSiteServicesNotifications"
                (click)="changeCurrentIntegrationSiteService(item)"
              >
                <a class="dropdown-item integration-selector-item {{ item.type }}">
                  {{ item.name || defIntegrationServiceName }} <span
                  *ngIf="item.isPayment"
                  class="label label-warning tariff-info">{{ 'global.payment' | translate }}</span>
                </a>
              </li>
              <span
                *ngIf="integrationSiteServicesOthers.length"
                class="integration-selector-group"
              >
                {{ 'settings.site.newIntegration.others' | translate }}
              </span>
              <li
                *ngFor="let item of integrationSiteServicesOthers"
                (click)="changeCurrentIntegrationSiteService(item)"
              >
                <a class="dropdown-item integration-selector-item {{ item.type }}">
                  {{ item.name || defIntegrationServiceName }} <span
                  *ngIf="item.isPayment"
                  class="label label-warning tariff-info">{{ 'global.payment' | translate }}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="currentIntegrationSiteService.type" class="integration-tab-item mb-0">
          <div class="d-flex">
            <ui-switch size="small" [checked]="currentIntegrationSiteService.default"></ui-switch>
            <label class="control-label ml-2">
              {{ 'settings.site.tabs.integration.useDefault.title' | translate }}
              <a data-toggle="tooltip"
                 data-placement="top"
                 data-container="body"
                 title="{{ 'settings.site.tabs.integration.useDefault.tooltip' | translate }}"
                 class="info-link"><i class="fa fa-info-circle"></i>
              </a>
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="tab === 'EDIT'" class="integration-settings-edit">
        <div class="integration-tab-item d-flex" style="margin-top: 15px">
          <label class="control-label">{{ 'settings.site.newIntegration.service' | translate }}</label>
          <div
            class="integration-edit-service {{ editableIntegration.type }}">{{ editableIntegrationServiceName }}</div>
        </div>
        <div class="integration-tab-item">
          <label for="editableIntegrationName"
                 class="control-label">{{ 'settings.site.newIntegration.name' | translate }}</label>
          <input
            type="text"
            id="editableIntegrationName"
            [(ngModel)]="editableIntegration.name"
            class="form-control"
            name="editableIntegrationName"
          >
        </div>

        <!-- GETRESPONSE PARAMS -->
        <div *ngIf="editableIntegration.type === IntegrationTypes.GETRESPONSE">
          <div class="integration-tab-item">
            <label for="editGetResponseCode" class="control-label">
              {{ 'settings.site.newIntegration.apikey' | translate }}
            </label>
            <input
              type="text"
              id="editGetResponseCode"
              [(ngModel)]="editableIntegration.params.code"
              class="form-control"
              name="editGetResponseCode"
            >
          </div>
          <div class="integration-tab-item">
            <label for="editGetResponseCampaignId" class="control-label">
              {{ 'settings.site.newIntegration.create.campaignId' | translate }}
            </label>
            <input
              type="text"
              id="editGetResponseCampaignId"
              [(ngModel)]="editableIntegration.params.campaignId"
              class="form-control"
              name="editGetResponseCampaignId"
            >
          </div>
        </div>

        <!-- MAILCHIMP PARAMS and UNISENDER -->
        <div
          *ngIf="editableIntegration.type === IntegrationTypes.MAILCHIMP || editableIntegration.type === IntegrationTypes.UNISENDER">
          <div class="integration-tab-item">
            <label for="editMailchimpCode" class="control-label">
              {{ 'settings.site.newIntegration.apikey' | translate }}
            </label>
            <input
              type="text"
              id="editMailchimpCode"
              [(ngModel)]="editableIntegration.params.code"
              class="form-control"
              name="editMailchimpCode"
            >
          </div>
          <div class="integration-tab-item">
            <label for="editMailchimpListId" class="control-label">
              {{ 'settings.site.newIntegration.create.listId' | translate }}
            </label>
            <input
              type="text"
              id="editMailchimpListId"
              [(ngModel)]="editableIntegration.params.listId"
              class="form-control"
              name="editMailchimpListId"
            >
          </div>
        </div>

        <!-- SENDPULSE and SENDBOX PARAMS -->
        <div
          *ngIf="editableIntegration.type === IntegrationTypes.SENDPULSE || editableIntegration.type === IntegrationTypes.SENDBOX">
          <div class="integration-tab-item">
            <label for="editSendPBParamsId" class="control-label">
              {{ 'settings.site.newIntegration.create.id' | translate }}
            </label>
            <input
              type="text"
              id="editSendPBParamsId"
              [(ngModel)]="editableIntegration.params.id"
              class="form-control"
              name="editSendPBParamsId"
            >
          </div>
          <div class="integration-tab-item">
            <label for="editSendPBParamsSecret" class="control-label">
              {{ 'settings.site.newIntegration.create.secret' | translate }}
            </label>
            <input
              type="text"
              id="editSendPBParamsSecret"
              [(ngModel)]="editableIntegration.params.secret"
              class="form-control"
              name="editSendPBParamsSecret"
            >
          </div>
          <div class="integration-tab-item">
            <label for="editSendPBParamsBook" class="control-label">
              {{ 'settings.site.newIntegration.create.book' | translate }}
            </label>
            <input
              type="text"
              id="editSendPBParamsBook"
              [(ngModel)]="editableIntegration.params.book"
              class="form-control"
              name="editSendPBParamsBook"
            >
          </div>
        </div>

        <!-- BITRIX WEBHOOK PARAMS -->
        <div
          *ngIf="editableIntegration.type === IntegrationTypes.BITRIX && bitrixConnectionType === BitrixTypes.Webhook">
          <div class="d-flex">
            <div class="w-50 pr-4 mr-1 integration-tab-item">
              <label for="editBitrixParamsAddress"
                     class="control-label">{{ 'settings.site.newIntegration.create.address.title' | translate }}</label>
              <input type="text" id="editBitrixParamsAddress" [(ngModel)]="editableIntegration.params.url"
                     class="form-control" name="editBitrixParamsAddress">
              <div class="small">{{ 'settings.site.newIntegration.create.address.desc' | translate }}</div>
            </div>
            <div class="w-50 ml-1 mr-3 integration-tab-item">
              <label for="editBitrixParamsWebhook"
                     class="control-label">{{ 'settings.site.newIntegration.create.webhook.title' | translate }}</label>
              <input type="text" id="editBitrixParamsWebhook" [(ngModel)]="editableIntegration.params.hash"
                     class="form-control" name="editBitrixParamsWebhook">
              <div class="small">{{ 'settings.site.newIntegration.create.webhook.desc' | translate }}</div>
            </div>
          </div>
        </div>

        <!-- BITRIX API PARAMS -->
        <div
          *ngIf="editableIntegration.type === IntegrationTypes.BITRIX && bitrixConnectionType === BitrixTypes.Api"
        >
          <div class="integration-tab-item">
            <label for="editBitrixParamsHost"
                   class="control-label">{{ 'settings.site.newIntegration.create.host' | translate }}</label>
            <input type="text" id="editBitrixParamsHost" [(ngModel)]="editableIntegration.params.host" class="form-control"
                   name="editBitrixParamsHost">
          </div>
          <div class="integration-tab-item">
            <label for="editBitrixParamsLogin"
                   class="control-label">{{ 'settings.site.newIntegration.create.login' | translate }}</label>
            <input type="text" id="editBitrixParamsLogin" [(ngModel)]="editableIntegration.params.login" class="form-control"
                   name="editBitrixParamsLogin">
          </div>
          <div class="integration-tab-item">
            <label for="editBitrixParamsPassword" class="control-label">{{ 'login.password' | translate }}</label>
            <input type="password" id="editBitrixParamsPassword" [(ngModel)]="editableIntegration.params.password"
                   class="form-control" name="editBitrixParamsPassword">
          </div>
        </div>

        <!-- AMOCRM PARAMS -->
        <div *ngIf="editableIntegration.type === IntegrationTypes.AMOCRM">
          <div class="d-flex">
            <div class="w-50 pr-4 mr-1 integration-tab-item">
              <div>
                <label for="editAmoParamsSubdomain"
                       class="control-label">{{ 'settings.site.newIntegration.create.urlExtra.title' | translate }}</label>
                <input type="text" id="editAmoParamsSubdomain" [(ngModel)]="editableIntegration.params.subdomain" class="form-control"
                       name="editAmoParamsSubdomain">
                <div class="small">{{ 'settings.site.newIntegration.create.urlExtra.desc' | translate }}</div>
              </div>
            </div>
            <div class="w-50 ml-1 mr-3 integration-tab-item">
              <div>
                <label for="editAmoParamsClientId"
                       class="control-label">{{ 'settings.site.newIntegration.create.integrationId' | translate }}</label>
                <input type="text" id="editAmoParamsClientId" [(ngModel)]="editableIntegration.params.clientId" class="form-control"
                       name="editAmoParamsClientId">
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="w-50 pr-4 mr-1 integration-tab-item">
              <div>
                <label for="editAmoParamsClientSecret"
                       class="control-label">{{ 'settings.site.newIntegration.create.secretKey' | translate }}</label>
                <input type="text" id="editAmoParamsClientSecret" [(ngModel)]="editableIntegration.params.clientSecret" class="form-control"
                       name="editAmoParamsClientSecret">
              </div>
            </div>
            <div class="w-50 ml-1 mr-3 integration-tab-item">
              <div>
                <label for="editAmoParamsCode"
                       class="control-label">{{ 'settings.site.newIntegration.create.code' | translate }}</label>
                <input type="text" id="editAmoParamsCode" [(ngModel)]="editableIntegration.params.code" class="form-control"
                       name="editAmoParamsCode">
              </div>
            </div>
          </div>

          <button
            *ngIf="!isAmoActivated"
            class="btn btn-default mt-2 mb-4"
            (click)="activateIntegration(AmoGrantTypes.AuthCode)"
            [disabled]="disableEditingActivation()"
          >
            <i class="fas fa-power-off mr-2"></i> {{ 'settings.site.newIntegration.activate' | translate }}
          </button>
          <button
            *ngIf="isAmoActivated"
            class="btn btn-default mt-2 mb-4"
            disabled
          >
            <i class="fas fa-power-off mr-2"></i> {{ 'settings.site.newIntegration.activated' | translate }}
          </button>
        </div>

        <!-- EMAIL PARAMS -->
        <div *ngIf="editableIntegration.type === IntegrationTypes.EMAIL">
          <div class="integration-tab-item">
            <label for="editEmailParamsEmail" class="control-label">
              {{ 'settings.site.newIntegration.create.email' | translate }}
            </label>
            <input
              type="text"
              id="editEmailParamsEmail"
              [(ngModel)]="editableIntegration.params.email"
              class="form-control"
              name="editEmailParamsEmail"
            >
          </div>
        </div>

        <!-- ROISTAT PARAMS -->
        <div
          *ngIf="editableIntegration.type === IntegrationTypes.ROISTAT || editableIntegration.type === IntegrationTypes.WEBHOOK">
          <div class="integration-tab-item">
            <label for="editRoistatParamsUrl" class="control-label">
              {{ 'settings.site.newIntegration.create.url' | translate }}
            </label>
            <input
              type="text"
              id="editRoistatParamsUrl"
              [(ngModel)]="editableIntegration.params.url"
              class="form-control"
              name="editRoistatParamsUrl"
            >
          </div>
        </div>

        <div class="integration-tab-item m-b-none">
          <div class="d-flex">
            <ui-switch size="small" [checked]="editableIntegration.default"></ui-switch>
            <label class="control-label ml-2">
              {{ 'settings.site.tabs.integration.useDefault.title' | translate }}
              <a data-toggle="tooltip"
                 data-placement="top"
                 data-container="body"
                 title="{{ 'settings.site.tabs.integration.useDefault.tooltip' | translate }}"
                 class="info-link"><i class="fa fa-info-circle"></i>
              </a>
            </label>
          </div>
        </div>

        <!-- AMOCRM FUNNEL PARAMS -->
        <div *ngIf="editableIntegration.type === IntegrationTypes.AMOCRM">
          <h5 class="mt-4">
            <strong>{{ 'settings.site.newIntegration.funnel.title' | translate }}</strong>
          </h5>
          <button
            class="btn btn-default mt-2 mb-3"
            (click)="loadIntegration()"
            [disabled]="disableEditingActivation() || !this.editableIntegration.params.accessToken"
          >
            <i class="fas fa-sync mr-2"></i> {{ 'settings.site.newIntegration.funnel.button' | translate }}
          </button>
          <div class="d-flex">
            <div class="w-50 pr-4 mr-1 integration-tab-item">
              <label class="control-label">{{ 'settings.site.newIntegration.funnel.name' | translate }}</label>
              <div class="dropdown integration-selector">
                <button
                  type="button"
                  class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown"
                  data-display="static"
                  aria-haspopup="true"
                  aria-expanded="true"
                  [disabled]="!pipelines.length"
                >
                  <span
                    class="dropdown-selected-cropp"
                  >{{ editableIntegration.params.funnelName }}</span>
                </button>
                <ul class="dropdown-menu dropdown-new-integration-menu dropdown-integration-max-240h">
                  <li
                    *ngFor="let item of pipelines"
                    (click)="changeCurrentFunnelId(item.id.toString(), item.name)"
                  >
                    <a class="dropdown-item">{{ item.name }}</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="w-50 ml-1 mr-3 integration-tab-item">
              <label class="control-label">{{ 'settings.site.newIntegration.funnel.status' | translate }}</label>
              <div class="dropdown integration-selector">
                <button
                  type="button"
                  class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown"
                  data-display="static"
                  aria-haspopup="true"
                  aria-expanded="true"
                  [disabled]="!pipelines.length"
                >
                  <span
                    class="dropdown-selected-cropp"
                  >{{ editableIntegration.params.leadStateName }}</span>
                </button>
                <ul class="dropdown-menu dropdown-new-integration-menu dropdown-integration-max-240h">
                  <li
                    *ngFor="let item of leadStates"
                    (click)="changeCurrentFunnelLeadStateId(item.id.toString(), item.name)"
                  >
                    <a class="dropdown-item">{{ item.name }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="integration-tab-item mr-3">
            <label class="control-label">{{ 'settings.site.newIntegration.funnel.check.title' | translate }}</label>
            <a data-toggle="tooltip"
               data-placement="bottom"
               data-container="body"
               title="{{ 'settings.site.newIntegration.funnel.check.tooltip' | translate }}"
               class="info-link ml-1 mt-1"><i class="fa fa-info-circle"></i>
            </a>

            <div class="dropdown integration-selector">
              <button
                type="button"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                data-display="static"
                aria-haspopup="true"
                aria-expanded="true"
                [disabled]="!pipelines.length"
              >
                <span
                  class="dropdown-selected-cropp"
                >{{ funnelCheckDuplicates[editableIntegration.params.checkDuplicate] }}</span>
              </button>
              <ul class="dropdown-menu dropdown-new-integration-menu dropdown-integration-max-240h">
                <li
                  *ngFor="let item of funnelCheckDuplicates | keyvalue : returnZero"
                  (click)="changeCurrentFunnelCheckDuplicates(item.key)"
                >
                  <a class="dropdown-item">{{ item.value }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- CUSTOM FIELDS MAPPING -->
        <div
          *ngIf="editableIntegration.type === IntegrationTypes.BITRIX && bitrixConnectionType === BitrixTypes.Webhook
            || editableIntegration.type === IntegrationTypes.AMOCRM"
          class="d-flex flex-column mt-4"
        >
          <div class="d-flex">
            <h5 class="mt-2">
              <strong>{{ 'settings.site.newIntegration.fields.title' | translate }}</strong>
            </h5>
            <a data-toggle="tooltip"
               data-placement="bottom"
               data-container="body"
               title="{{ 'settings.site.newIntegration.fields.tooltip' | translate }}"
               class="info-link ml-1 mt-1"><i class="fa fa-info-circle"></i>
            </a>
          </div>
          <div class="d-flex flex-column mt-2">
            <div class="d-flex">
              <div class="w-50">
                <label class="control-label leadgenic-field">
                  {{ 'settings.site.newIntegration.fields.leadgenic' | translate }}
                </label>
              </div>
              <div class="w-50">
                <label class="control-label crm-field">
                  {{ 'settings.site.newIntegration.fields.crm' | translate }}
                </label>
              </div>
            </div>
            <ng-container *ngFor="let integrationField of integrationFieldsIds; index as i">
              <div class="d-flex mb-2">
                <div class="w-50 mr-3">
                  <input
                    type="text"
                    [id]="'leadgenicFieldId' + i"
                    [(ngModel)]="integrationField.leadGenicId"
                    pattern="[0-9a-zA-Z_\-]{1,50}"
                    class="form-control leadgenic-field"
                    [class.field-error]=
                      "integrationField.leadGenicId === 'email' ||
                        integrationField.leadGenicId === 'phone' ||
                        integrationField.leadGenicId === 'message' ||
                        integrationField.leadGenicId === 'name'"
                    name="'leadgenicFieldId' + i"
                  >
                </div>
                <div class="w-50 ml-3 mr-3">
                  <input
                    type="text"
                    [id]="'crmFieldId' + i"
                    [(ngModel)]="integrationField.crmId"
                    pattern="^.{1,50}$"
                    class="form-control"
                    name="'crmFieldId' + i"
                  >
                </div>
                <a (click)="deleteIntegrationField(i)"><i class="fa fa-trash integration-field-delete mr-2"></i></a>
              </div>
              <div
                *ngIf="integrationField.leadGenicId === 'email' ||
                  integrationField.leadGenicId === 'phone' ||
                  integrationField.leadGenicId === 'message' ||
                  integrationField.leadGenicId === 'name'"
                class="small mb-2"
              >
                {{ 'settings.site.newIntegration.fields.error' | translate }}
              </div>
            </ng-container>

          </div>
          <a class="integration-field-add" (click)="addIntegrationField()">
            <i class="fa fa-plus integration-field-add-icon"></i>
            {{ 'settings.site.newIntegration.fields.add' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer d-flex justify-content-between mt-1">
  <button
    class="btn btn-default"
    (click)="closeModal()"
  >
    {{ 'global.cancel' | translate }}
  </button>

  <button
    *ngIf="!editableIntegration"
    class="btn btn-success"
    (click)="createIntegration()"
    [disabled]="disableCreation()"
  >
    {{ 'settings.site.newIntegration.add' | translate }}
  </button>

  <button
    *ngIf="editableIntegration"
    class="btn btn-success"
    (click)="updateIntegration()"
    [disabled]="disableUpdation()"
  >
    {{ 'global.save' | translate }}
  </button>
</div>
