<div>
  <div class="row row-subitem">
    <div class="col-sm-12 row-subitem-padding padding-top-5">
      <div class="item-placeholder-name">{{ item.placeholder }}</div>
    </div>
  </div>
  <div class="row row-subitem">
    <div class="col-sm-12 row-subitem-padding padding-top-5">
      <div class="item-placeholder-type">{{ item.label }}</div>
    </div>
  </div>

  <div class="form-ext-item__toggled-wrapper">
    <div class="row row-subitem m-t-sm">
      <div class="col-sm-12 row-subitem-padding padding-top-5">
        <label class="control-label control-label-des">{{ 'widgets.formExt.choseTypeOfItem' | translate }}:</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {{ item.label }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" *ngFor="let itemForm of availItemTypes" (click)="changeFormType(itemForm.type)">
              <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemForm.label }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row row-subitem padding-top-5 m-t-sm">
      <div class="col-sm-12 row-subitem-padding">
        <h4 class="h4-text-tit control-label-des">{{ 'widgets.constructor.font.title' | translate }}:</h4>
      </div>
      <div class="col-sm-12 row-subitem-padding">
        <input [id]="'font-picker-ext-form' + index" type="text">
      </div>
    </div>
    <div class="row row-subitem">
      <div class="col-sm-12 row-subitem-padding padding-top-5 margined-top-10">
        <input type="number" class="form-control form-control-font form-cntrl-45w" [(ngModel)]="item.fontSize">
        <label class="control-label">px <span>{{ 'widgets.constructor.font.textSize' | translate }}</span></label>
      </div>
    </div>

    <div class="row row-subitem m-t-md">
      <div class="col-sm-12 row-subitem-padding padding-top-5">
        <ui-switch
          size="small"
          [(ngModel)]="item.textShadow.enable"
        ></ui-switch><label class="control-label switcher-label-xs control-label-des mt-1 ml-2">{{ 'widgets.formExt.mainSettings.text.shadow.add' | translate }}</label>
      </div>
    </div>
    <div *ngIf="item.textShadow.enable == true">
      <div class="row row-subitem">
        <div class="col-sm-6 row-subitem-padding padding-top-5">
          <label class="control-label control-label-colorpc control-label-des">{{ 'widgets.formExt.mainSettings.text.shadow.color' | translate }}:</label>
          <input
            [(colorPicker)]="item.textShadow.color"
            [style.background]="item.textShadow.color"
            [cpAlphaChannel]="'disabled'"
            [cpOutputFormat]="'hex'"
          />
        </div>
        <div class="col-sm-6 row-subitem-padding padding-top-5 side-ui-dev">
          <label class="control-label control-label-colorpc control-label-des">{{ 'widgets.formExt.mainSettings.text.shadow.opacity' | translate }}:</label>
          <ngx-slider [(value)]="item.textShadow.opacity" [options]="optionsOpacity"></ngx-slider>
        </div>
      </div>
      <div class="row row-subitem m-t-xs">
        <div class="col-sm-6 row-subitem-padding padding-top-5">
          <label class="control-label control-label-des">{{ 'widgets.formExt.mainSettings.text.shadow.horiz' | translate }}:</label>
          <input type="number" class="form-control form-control-font form-control-block form-cntrl-45w" [(ngModel)]="item.textShadow.horiz">
        </div>
        <div class="col-sm-6 row-subitem-padding padding-top-5">
          <label class="control-label control-label-des">{{ 'widgets.formExt.mainSettings.text.shadow.vert' | translate }}:</label>
          <input type="number" class="form-control form-control-font form-control-block form-cntrl-45w" [(ngModel)]="item.textShadow.vertical">
        </div>
      </div>
      <div class="row row-subitem m-t-xs">
        <div class="col-sm-6 row-subitem-padding padding-top-5">
          <label class="control-label control-label-des">{{ 'widgets.formExt.mainSettings.text.shadow.blur' | translate }}:</label>
          <input type="number" class="form-control form-control-font form-control-block form-cntrl-45w" [(ngModel)]="item.textShadow.blur">
        </div>
      </div>
    </div>

    <div class="row row-subitem m-t-sm">
      <div class="col-sm-12 row-subitem-padding padding-top-5">
        <label class="control-label control-label-des">{{ 'widgets.formExt.widthField1' | translate }}:</label>
      </div>
    </div>
    <div class="row row-subitem">
      <div class="col-sm-12 row-subitem-padding padding-top-5">
        <div class="form-ext-item__width-settings form-ext-item__just-lined-flex">
          <div>
            <input type="number" class="form-control form-control-font form-cntrl-55w" [(ngModel)]="item.widthValue">
          </div>

          <div>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                {{ item.widthType.label }}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation" *ngFor="let itemWidth of availWidthTypes" (click)="item.widthType = itemWidth">
                  <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemWidth.label }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-subitem m-t-sm">
      <div class="col-sm-12 row-subitem-padding padding-top-5">
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [(ngModel)]="item.newLine"
              class="form-check-input"
            />
            <span class="checkmark"></span>
          </label>
          {{ 'widgets.formExt.newLineField' | translate }}
        </div>
      </div>
    </div>

    <div class="row row-subitem">
      <div class="col-sm-12 row-subitem-padding padding-top-5">
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [(ngModel)]="item.required"
              class="form-check-input"
            />
            <span class="checkmark"></span>
          </label>
          {{ 'widgets.formExt.enableRequire' | translate }}
        </div>
      </div>
    </div>

    <div class="row row-subitem">
      <div class="col-sm-12 row-subitem-padding padding-top-5">
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [(ngModel)]="item.checked"
              class="form-check-input"
            />
            <span class="checkmark"></span>
          </label>
          {{ 'widgets.formExt.checkedDefault' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
