.hpanel.hgreen .panel-body {
  border-top: 2px solid #62cb31;
}

.hpanel.hred .panel-body {
  border-top: 2px solid #e74c3c;
}

.btn {
  border-radius: 3px;
  font-size: 14px;
  white-space: nowrap;
}

.btn:hover, .btn:focus, .btn.focus {
  text-decoration: none;
  box-shadow: none;
}

.btn:active:not(:disabled), .btn.active:not(:disabled) {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.widget-item-view-header__name {
  margin-top: 35px;
  height: 38px;
}

.widget-item-view-priority-btns {
  float: right;
  margin-bottom: -10px !important;
  margin-top: 10px !important;
  width: 220px;
}

.gray-tooltip, .gray-tooltip i {
  color: #6a6c6f !important;
}

.reports-emails-preloader {
  background: #fff url("~src/assets/images/core/preloader.gif") no-repeat center center;
  background-size: 30px 30px;
  height: 100%;
  left: 0px;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.contact-stat {
  padding: 8px 0px;
  text-align: center
}

.contact-stat span {
  font-size: 12px;
  font-weight: 500;
  display: block;
  color: #9d9fa2;
  text-transform: uppercase
}

.contact-stat .stat {
  color: #000;
  font-size: 18px;
}

.editable {
  font-weight: 700;
  position: relative;
  display: inline-block;
  color: #428bca;
  min-width: 100px !important;
  max-width: 250px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-footer {
  background-color: #f7f9fa;
}



@media (max-width: 1300px) {
  .widget-item-view-header, .widget-item-view-statistics {
    width: 100%;
  }

  .contact-stat span {
    font-size: 8px;
  }

  .contact-stat .stat {
    font-size: 13px;
  }
}
