@import "src/scss/vars";
@import "src/scss/mixins";

:host {
  box-shadow: $boxShadow;
  border-radius: 5px 5px $borderRadius $borderRadius;
  width: 100%;
  overflow: hidden;
  background-color: #FFFFFF;
  display: flex;

  .widget {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &.hgreen {
      border-top: 5px solid $greenColor;
    }

    &.hred {
      border-top: 5px solid $dangerColor;
    }

    &-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;
      padding: 14px;
      gap: 20px;

      .action {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: nowrap;
          padding: 4px 16px;
          border-radius: 0;
          border-color: $borderColor;
          color: $fontSecondaryColor;

          span {
            display: flex;
            width: 28px;
            height: 28px;
            position: relative;

            @include svg-position();
          }

          &:not(:disabled):hover {
            background-color: $activeElementBG;
          }

          &:not(:disabled):focus {
            position: relative;
            z-index: 1000;
          }
        }

        &:not(:nth-child(2)) {
          button {
            &:first-child {
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;
              border-right-color: transparent;
            }

            &:last-child {
              border-bottom-right-radius: 5px;
              border-top-right-radius: 5px;
            }
          }
        }

        &:first-child {
          button {
            &.active {
              background-color: $activeElementBG;

              &:first-child {
                color: $greenColor;
              }

              &:last-child {
                color: $dangerColor;
              }
            }
          }
        }

        &:nth-child(2) {
          button {
            border-radius: 5px;
            gap: 14px;
            padding: 7px 16px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;

            span {
              width: 22px;
              height: 22px;
              border-radius: 50%;
              background-color: $borderColor;
            }

            &.in-work {
              span {
                background-color: $greenColor;
              }
            }

            &.in-pause {
              span {
                background-color: $yellowColor;
              }
            }
          }
        }

        &:last-child {
          button {
            &:last-child {
              border-left-color: transparent;
            }
          }
        }
      }
    }

    &-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 5px 14px 14px 7px;

      .name {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 9px 7px;
        gap: 10px;
        border-radius: 5px;

        span {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          color: $fontPrimaryColor;
        }

        button {
          &:not(.btn-default).btn {
            padding: 0;

            span {
              width: 28px;
              height: 28px;
            }
          }

          &:not(.btn-default).btn:not(:focus) {
            opacity: 0;

            @media (max-width: 1199px) {
              opacity: 1;
            }
          }

          &.btn-default {
            &:last-of-type {
              background-color: $greenColor;

              span {
                color: #FFFFFF;
              }
            }
          }
        }

        .input {
          width: 100%;
        }

        &:hover {
          background-color: $activeElementBG;

          button {
            &:not(.btn-default).btn {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.widget-item-view-header__name {
  font-size: 15px;
  margin-top: 35px;
  height: 38px;
}

.widget-item-view-priority-btns {
  float: right;
  margin-bottom: -10px !important;
  margin-top: 10px !important;
  width: 220px;
}

.gray-tooltip, .gray-tooltip i {
  color: #6a6c6f !important;
}

.reports-emails-preloader {
  background: #fff url("~src/assets/images/core/preloader.gif") no-repeat center center;
  background-size: 30px 30px;
  height: 100%;
  left: 0px;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.contact-stat {
  padding: 8px 0px;
  text-align: center
}

.contact-stat span {
  font-size: 12px;
  font-weight: 500;
  display: block;
  color: #9d9fa2;
  text-transform: uppercase
}

.contact-stat .stat {
  color: #000;
  font-size: 18px;
}

.editable {
  font-weight: 700;
  position: relative;
  display: inline-block;
  color: #428bca;
  min-width: 100px !important;
  max-width: 250px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-footer {
  background-color: #f7f9fa;
  border: 1px solid #e4e5e7;
}


@media (max-width: 1300px) {
  .widget-item-view-header, .widget-item-view-statistics {
    width: 100%;
  }

  .contact-stat span {
    font-size: 8px;
  }

  .contact-stat .stat {
    font-size: 13px;
  }
}
