<div class="col-lg-12">
  <div class="hpanel" [ngClass]="(widget.active) ? 'hgreen' : 'hred'">
    <div class="panel-body widget-normal__body">
      <div class="row">
        <div class="col-lg-12">
          <div class="widget-item-view-btns text-right">
            <div class="btn-group play-btns margined-right-10">
              <button (click)="switchWidget(true)"
                      [ngClass]="widget.active ? 'active' : ''"
                      class="btn btn-xs btn-default start-widget-btn"
                      data-container="body" data-toggle="tooltip" data-placement="top"
                      title="{{ 'widgetsList.widget.start' | translate }}"><i class="fa fa-play"></i></button>

              <button (click)="switchWidget(false)"
                      [ngClass]="widget.active ? '' : 'active'"
                      class="btn btn-xs btn-default stop-widget-btn"
                      data-container="body"  data-toggle="tooltip" data-placement="top"
                      title="{{ 'widgetsList.widget.stop' | translate }}"><i class="fa fa-pause"></i></button>
            </div>

            <div class="btn-group ab-btns margined-right-10">
              <button (click)="abAction()"
                      *ngIf="abIfNoTest()"
                      class="btn btn-xs btn-default ab-widget-btn"
                      data-container="body" data-toggle="tooltip" data-placement="top"
                      title="{{ 'widgetsList.widget.ab.start.desc' | translate }}">{{ 'abtest.ab.label' | translate }}</button>

              <button (click)="goToTest()"
                      *ngIf="abIfTestOnWork()"
                      class="btn btn-xs btn-default ab-widget-btn in-work"
                      data-container="body" data-toggle="tooltip" data-placement="top"
                      title="{{ 'widgetsList.widget.ab.state.desc' | translate }}">{{ 'abtest.ab.label' | translate }}</button>

              <button (click)="goToTest()"
                      *ngIf="abIfTestOnPause()"
                      class="btn btn-xs btn-default ab-widget-btn in-pause"
                      data-container="body" data-toggle="tooltip" data-placement="top"
                      title="{{ 'widgetsList.widget.ab.stop.desc' | translate }}">{{ 'abtest.ab.label' | translate }}</button>
            </div>

            <div class="btn-group edit-btns">
              <button (click)="duplicateItem()"
                      class="btn btn-xs btn-default"
                      data-container="body"  data-toggle="tooltip" data-placement="top"
                      title="{{ 'widgetsList.widget.duplicate' | translate }}"><i class="fa fa-copy"></i></button>

              <button (click)="goToConstructor()"
                      class="btn btn-xs btn-default"
                      data-container="body" data-toggle="tooltip" data-placement="top"
                      title="{{ 'widgetsList.widget.settings' | translate }}"><i class="fa fa-gears"></i></button>

              <button (click)="removeItem()"
                      class="btn btn-xs btn-default"
                      data-container="body"  data-toggle="tooltip" data-placement="top"
                      title="{{ 'widgetsList.widget.trash' | translate }}"><i class="fa fa-trash"></i></button>
            </div>
          </div>
          <div class="widget-item-view-header widget-item-view-header__name">
            <cool-inline-edit-field
              class="long-text-item"
              name="name"
              [(ngModel)]="widget.name"
              (saved)="updateWidgetName($event)"
            >
            </cool-inline-edit-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="widget-item-view-header">
            <h6><span class="font-bold">{{ 'widgetsList.widget.widget' | translate }}</span>: {{widgetType.name}}</h6>
          </div>
          <div class="widget-item-view-header" *ngIf="changeCompanyWidget.id !== widget.id">
            <h6><span class="font-bold">{{ 'widgetsList.widget.company' | translate }}</span>: <a
              href="javascript:void(0);" (click)="startChangeCompany()" class="widget-company-editable penciled">
              <span class="long-text-item">{{ widgetCurrentCompany.name }}</span> <i class="fa fa-pencil margined-left-6"></i></a>
            </h6>
          </div>
          <div class="row" *ngIf="changeCompanyWidget.id === widget.id">
            <div class="floated-left" style="width: calc(100% - 104px)">
              <div class="dropdown margined-left-15 widget-company-selector">
                <button class="btn btn-default dropdown-toggle" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="value">{{changeCompanyWidget.name}}</span>
                  <span class="caret" ></span>
                </button>
                <ul class="dropdown-menu">
                  <li
                    *ngFor="let company of getFilteredCompanies()"
                    (click)="changeCurrentCompany(company)"
                  >
                    <a href="javascript:void(0);">{{company.name}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="floated-right margined-right-15">
              <button (click)="changeWidgetCompany()"
                      class="btn btn-success margined-left-5 floated-right"
                      data-container="body"  data-toggle="tooltip" data-placement="top"
                      title="{{ 'widgetsList.widget.changecompany.tooltip' | translate }}"><i class="fa fa-check"></i></button>

              <button (click)="resetChangeCompany()"
                      class="btn btn-default floated-right"
                      data-container="body"  data-toggle="tooltip" data-placement="top"
                      title="{{ 'global.cancel' | translate }}"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <div class="widget-item-view-priority-btns text-right" *ngIf="widgetType.static">
            <div class="f-3 margined-bottom-5 gray-tooltip floated-left padding-left-5">
              {{ 'widgetsList.widget.priority' | translate }} <a class="info-link" href="#"
                                                                 data-toggle="tooltip" data-placement="top"
                                                                 title="{{ 'widgetsList.widget.priority.tooltip' | translate }}"><i class="fa fa-info-circle"></i></a>
            </div>
            <div class="btn-group priority-btns">
              <button class="btn btn-xs btn-default priority-up-widget-btn"
                      [disabled]="first"
                      (click)="swapWidgets(true)">
                <i class="fa fa-angle-up"></i>{{ 'widgetsList.widget.priority.up' | translate }}</button>

              <button class="btn btn-xs btn-default priority-down-widget-btn"
                      [disabled]="last"
                      (click)="swapWidgets(false)">
                <i class="fa fa-angle-down"></i>{{ 'widgetsList.widget.priority.down' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer no-padding">
      <div class="row no-margins">
        <div class="col-sm-4 border-right no-padding text-center">
          <div class="contact-stat">
            <span>{{ 'widgetsList.widget.show.all' | translate }}</span>
            <span *ngIf="widgetConversion" class="stat">{{widgetConversion.shows | thousandSuffix:2}}</span>
            <span *ngIf="!widgetConversion" class="reports-emails-preloader"></span>
          </div>
        </div>

        <div class="col-sm-4 border-right no-padding text-center">
          <div class="contact-stat">
            <span>{{ 'widgetsList.widget.show.actions' | translate }}</span>
            <span *ngIf="widgetConversion" class="stat">{{widgetConversion.target | thousandSuffix:2}}</span>
            <span *ngIf="!widgetConversion" class="reports-emails-preloader"></span>
          </div>
        </div>

        <div class="col-sm-4 no-padding text-center">
          <div class="contact-stat">
            <span>{{ 'widgetsList.widget.show.conversion' | translate }}</span>
            <span *ngIf="widgetConversion" class="stat" [innerHTML]="(widgetConversion.shows !== 0) ? getConversion() : '0.00%'"></span>
            <span *ngIf="!widgetConversion" class="reports-emails-preloader"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
