<div class="row-subitem mt-2">
  <label class="control-label control-label-des">{{ 'widgets.formExt.choseTypeOfItem' | translate }}:</label>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
      {{ item.label }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li
        role="presentation"
        *ngFor="let itemForm of availItemTypes"
        (click)="changeFormType(itemForm.type)"
      >
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemForm.label }}</a>
      </li>
    </ul>
  </div>
</div>

<div class="row-subitem mt-2">
  <label class="control-label control-label-des">{{ 'widgets.formExt.button.bType.label' | translate }}:</label>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
      {{ item.bType.label }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation" *ngFor="let itemBType of bTypes" (click)="item.bType = itemBType">
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemBType.label }}</a>
      </li>
    </ul>
  </div>
</div>

<!-- ICON SETTINGS -->
<div [hidden]="!(item.bType.type === 1 || item.bType.type === 2)">
  <div class="row row-subitem mt-2">
    <div class="col-sm-6 row-subitem-padding pt-1">
      <label class="control-label control-label-colorpc control-label-des">
        {{ 'widgets.formExt.button.icon.color' | translate }}:
      </label>
      <input
        [(colorPicker)]="item.icon.color"
        [style.background]="item.icon.color"
        [cpAlphaChannel]="'disabled'"
        [cpOutputFormat]="'hex'"
      />
    </div>
  </div>

  <div class="row row-subitem">
    <div class="col-sm-12 row-subitem-padding mt-2">
      <h5 class="label-style-ic control-label-des">{{ 'widgets.formExt.button.bType3' | translate }}:</h5>
    </div>
    <div class="icp-icon col-sm-12 row-subitem-padding">
      <div class="btn-group">
        <button type="button" class="btn btn-primary iconpicker-component">
          <i [class]="item.icon.selectedIcon"></i>
        </button>
        <input
          [iconPicker]="item.icon.selectedIcon"
          ipPosition="top"
          [ipIconPack]="['fa']"
          (iconPickerSelect)="onLabelIconPickerSelect($event)"
          id="icon-picker-label"
          class="icp btn btn-primary dropdown-toggle"
        />
        <span class="caret"></span>
      </div>
    </div>
  </div>
  <div *ngIf="item.bType.type === 2" class="row row-subitem">
    <div class="col-sm-12 row-subitem-padding pt-1 mt-2">
      <input type="number" class="form-control form-control-font form-cntrl-45w" [(ngModel)]="item.fontSize">
      <label class="control-label ml-1">px <span>{{ 'widgets.icon.iconSize' | translate }}</span></label>
    </div>
  </div>
</div>
<!-- END ICON SETTINGS -->

<!-- FONT SETTINGS -->
<div [hidden]="!(item.bType.type === 0 || item.bType.type === 1)">
  <div class="row row-subitem pt-1 mt-2">
    <div class="col-sm-12 row-subitem-padding">
      <h4 class="h4-text-tit control-label-des">{{ 'widgets.font.title' | translate }}:</h4>
    </div>
    <div class="col-sm-12 row-subitem-padding">
      <input [id]="'font-picker-ext-form' + index" type="text">
    </div>
  </div>
  <div class="row row-subitem">
    <div class="col-sm-12 row-subitem-padding pt-1 mt-2">
      <input type="number" class="form-control form-control-font form-cntrl-45w" [(ngModel)]="item.fontSize">
      <label class="control-label ml-1">px <span>{{ 'widgets.font.textSize' | translate }}</span></label>
    </div>
  </div>
</div>
<!-- END FONT SETTINGS -->

<div class="row row-subitem mt-2">
  <div class="col-sm-5 row-subitem-padding pt-1 mr-3">
    <label class="control-label control-label-colorpc control-label-des">
      {{ 'widgets.formExt.mainSettings.buttonSettings.color' | translate }}:
    </label>
    <input
      [(colorPicker)]="item.colorBtn"
      [style.background]="item.colorBtn"
      [cpAlphaChannel]="'disabled'"
      [cpOutputFormat]="'hex'"
      class="w-100"
    />
  </div>
  <div class="col-sm-6 row-subitem-padding pt-1 side-ui-dev">
    <label class="control-label control-label-colorpc control-label-des">
      {{ 'widgets.formExt.mainSettings.buttonSettings.radiusCorner' | translate }}
    </label>
    <ngx-slider [(value)]="item.borderRadiusBtn" [options]="optionsRound"></ngx-slider>
  </div>
</div>

<div class="row row-subitem mt-2">
  <div class="col-sm-12 row-subitem-padding pt-1">
    <label class="control-label control-label-des">{{ 'widgets.formExt.widthField1' | translate }}:</label>
  </div>
</div>
<div class="row row-subitem">
  <div class="col-sm-12 row-subitem-padding pt-1">
    <div class="form-ext-item__width-settings form-ext-item__just-lined-flex">
      <div>
        <input type="number" class="form-control form-control-font form-cntrl-55w" [(ngModel)]="item.widthValue">
      </div>

      <div>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {{ item.widthType.label }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" *ngFor="let itemWidth of availWidthTypes" (click)="item.widthType = itemWidth">
              <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemWidth.label }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row row-subitem mt-2">
  <div class="col-sm-12 row-subitem-padding pt-1">
    <div class="form-check">
      <label class="form-check-label">
        <input
          type="checkbox"
          [(ngModel)]="item.newLine"
          class="form-check-input"
        />
        <span class="checkmark"></span>
      </label>
      {{ 'widgets.formExt.newLineField' | translate }}
    </div>
  </div>
</div>

<div class="row row-subitem mt-2">
  <div class="col-sm-12 row-subitem-padding">
    <label class="control-label control-label-des">
      {{ 'widgets.formExt.mainSettings.buttonSettings.style' | translate }}:
    </label>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
        {{ item.styleType }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-with-btn-styles" role="menu">
        <li role="presentation"
            (click)="setBtnStyle('Default', item)">
          <a
            class="dropdown-item btn-var-styles btn-var-styles__default"
            [ngStyle]="{'font-family':item.font.fontFamily, 'background':item.colorBtn}"
            href="javascript:void(0)"
          >
            Default
          </a>
        </li>
        <li role="presentation"
            (click)="setBtnStyle('Material', item)">
          <a
            class="dropdown-item btn-var-styles btn-var-styles__material"
            [ngStyle]="{'font-family':item.font.fontFamily, 'background':item.colorBtn}"
            href="javascript:void(0)"
          >
            Material
          </a>
        </li>
        <li role="presentation"
            (click)="setBtnStyle('Flat', item)">
          <a
            class="dropdown-item btn-var-styles btn-var-styles__flat"
            [ngStyle]="{'font-family':item.font.fontFamily, 'background':item.colorBtn}"
            href="javascript:void(0)"
          >
            Flat
          </a>
        </li>
        <li role="presentation"
            (click)="setBtnStyle('Border Style', item)">
          <a
            class="dropdown-item btn-var-styles btn-var-styles__border-style"
            [ngStyle]="{'font-family':item.font.fontFamily, 'border-color':item.colorBtn}"
            href="javascript:void(0)"
          >
            Border Style
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row row-subitem mt-2">
  <div class="col-sm-12 row-subitem-padding pt-1">
    <label class="control-label control-label-des">
      {{ 'widgets.formExt.mainSettings.buttonSettings.redirect.action' | translate }}:
    </label>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
        {{ item.redirect.type.label }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li role="presentation" *ngFor="let itemR of redirectAvail" (click)="item.redirect.type = itemR">
          <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemR.label }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="item.redirect.type.type === 1 || item.redirect.type.type === 3">
  <div class="row row-subitem">
    <div
      class="col-sm-12 row-subitem-padding pt-1 mt-2 widget-name-block-rel"
      [ngClass]="(item.redirect.url === '') ? 'is-invalid' : ''"
    >
      <label class="control-label">{{ 'widgets.redirect.onClickRedirect' | translate }}:</label>
      <input type="text" class="form-control" [(ngModel)]="item.redirect.url">
      <span class="input-down-sm-lab">{{ 'widgets.redirect.example' | translate }}: http://mywebsite.com</span>
      <a *ngIf="item.redirect.url" (click)="item.redirect.url = ''" class="remove-widget-name remove-widget-redirect"></a>
    </div>
  </div>
  <div class="row row-subitem">
    <div class="col-sm-12 row-subitem-padding mt-2 widget-small-text">
      {{ 'widgets.redirect.description' | translate }}
    </div>

  </div>
  <div class="row row-subitem mt-2">
    <div class="col-sm-12 row-subitem-padding pt-1">
      <div class="form-check">
        <label class="form-check-label">
          <input
            type="checkbox"
            [(ngModel)]="item.redirect.blank"
            class="form-check-input"
          />
          <span class="checkmark"></span>
        </label>
        {{ 'widgets.redirect.blank' | translate }}
      </div>
    </div>
  </div>
</div>

<div *ngIf="item.redirect.type.type === 2 || item.redirect.type.type === 3">
  <div class="row row-subitem mt-2">
    <div class="col-sm-12 row-subitem-padding pt-1">
      <label class="control-label control-label-des">
        {{ 'widgets.formExt.mainSettings.buttonSettings.actions' | translate }}:
      </label>
    </div>
  </div>

  <div class="row row-subitem">
    <div class="col-sm-12 row-subitem-padding pt-1">
      <div class="form-check">
        <label class="form-check-label">
          <input
            type="checkbox"
            [(ngModel)]="item.targetAction"
            class="form-check-input"
          />
          <span class="checkmark"></span>
        </label>
        {{ 'widgets.formExt.mainSettings.buttonSettings.isBtnAction' | translate }}
      </div>
    </div>
  </div>
</div>
