<div class="row-subitem">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
      {{ item.label }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation" *ngFor="let itemForm of availItemTypes" (click)="changeFormType(itemForm.type)">
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemForm.label }}</a>
      </li>
    </ul>
  </div>
</div>

<div class="row-subitem mt-3 border-item">
  <label class="control-label control-label-des switcher-label-xs">{{ 'widgets.formExt.button.bType.label' | translate }}</label>
  <div class="dropdown mt-1">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
      {{ item.bType.label }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation" *ngFor="let itemBType of bTypes" (click)="item.bType = itemBType">
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemBType.label }}</a>
      </li>
    </ul>
  </div>
</div>

<!-- ICON SETTINGS -->
<div [hidden]="!(item.bType.type === 1 || item.bType.type === 2)" class="border-item mt-3">
  <h3>Иконка</h3>

  <div class="d-flex justify-content-between mt-3">
    <label class="control-label control-label-des">Цвет</label>
    <div class="d-flex text-right">
      <input
        [(colorPicker)]="item.icon.color"
        [style.background]="item.icon.color"
        [cpAlphaChannel]="'disabled'"
        [cpOutputFormat]="'hex'"
        cpPosition="left"
        class="color-picker-control"
      />
      <input
        [(ngModel)]="item.icon.color"
        class="picker-input color"
      />
    </div>
  </div>

  <div class="d-flex row-subitem mt-3">
    <div class="row-subitem-padding mt-1 mr-2">
      <h5 class="label-style-ic control-label-des">{{ 'widgets.formExt.button.bType3' | translate }}:</h5>
    </div>
    <div class="icp-icon row-subitem-padding">
      <div class="btn-group">
        <button type="button" class="btn btn-primary iconpicker-component">
          <i [class]="item.icon.selectedIcon"></i>
        </button>
        <input
          [iconPicker]="item.icon.selectedIcon"
          ipPosition="top"
          [ipIconPack]="['fa']"
          (iconPickerSelect)="onLabelIconPickerSelect($event)"
          id="icon-picker-label"
          class="icp btn btn-primary dropdown-toggle"
        />
        <span class="caret"></span>
      </div>
    </div>
  </div>

  <div *ngIf="item.bType.type === 2" class="d-flex align-items-center justify-content-between mt-2 pt-1">
    <label class="control-label control-label-des">{{ 'widgets.icon.iconSize' | translate }}</label>
    <div class="align-items-center">
      <div class="form-control form-control-font">
        <input
          type="number"
          [(ngModel)]="item.fontSize"
        />
        <label>px</label>
      </div>
    </div>
  </div>
</div>
<!-- END ICON SETTINGS -->

<!-- FONT SETTINGS -->
<div [hidden]="!(item.bType.type === 0 || item.bType.type === 1)" class="border-item mt-3">
  <div class="row-subitem">
    <div class="row-subitem-padding mb-3">
      <h3>Текст</h3>
    </div>
    <div class="row-subitem-padding">
      <input [id]="'font-picker-ext-form' + index" type="text">
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-between mt-2">
    <label class="control-label control-label-des">Размер</label>
    <div class="align-items-center">
      <div class="form-control form-control-font">
        <input
          type="number"
          [(ngModel)]="item.fontSize"
        />
        <label>px</label>
      </div>
    </div>
  </div>
</div>
<!-- END FONT SETTINGS -->

<div class="row-subitem mt-3">
  <h3>Вид кнопки</h3>

  <div class="d-flex justify-content-between mt-3">
    <label class="control-label control-label-des">Цвет</label>
    <div class="d-flex text-right">
      <input
        [(colorPicker)]="item.colorBtn"
        [style.background]="item.colorBtn"
        [cpAlphaChannel]="'disabled'"
        [cpOutputFormat]="'hex'"
        cpPosition="left"
        class="color-picker-control"
      />
      <input
        [(ngModel)]="item.colorBtn"
        class="picker-input color"
      />
    </div>
  </div>

  <div class="d-flex justify-content-between mt-3">
    <h5 class="label-style-ic control-label-des">Скругление углов</h5>
    <div class="d-flex text-right side-ui-sm">
      <ngx-slider [(value)]="item.borderRadiusBtn" [options]="optionsRound"></ngx-slider>
      <input
        [(ngModel)]="item.borderRadiusBtn"
        class="picker-input slider"
      />
    </div>
  </div>

  <div class="row-subitem mt-3 pt-1 border-item">
    <div class="form-check">
      <label class="form-check-label">
        <input
          type="checkbox"
          [(ngModel)]="item.newLine"
          class="form-check-input"
        />
        <span class="checkmark"></span>
      </label>
      <span class="form-check-text f-3">{{ 'widgets.formExt.newLineField' | translate }}</span>
    </div>
  </div>
</div>

<div class="row-subitem mt-3">
  <h3>{{ 'widgets.formExt.widthField1' | translate }}</h3>
</div>

<div class="row-subitem mt-3 border-item">
  <div class="form-ext-item__width-settings form-ext-item__just-lined-flex">
    <div>
      <input type="number" class="form-control form-control-font form-cntrl-55w" [(ngModel)]="item.widthValue">
    </div>

    <div class="ml-2 w-100">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
          {{ item.widthType.label }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation" *ngFor="let itemWidth of availWidthTypes" (click)="item.widthType = itemWidth">
            <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemWidth.label }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row-subitem mt-3 border-item">
  <h3>{{ 'widgets.formExt.mainSettings.buttonSettings.style' | translate }}</h3>
  <div class="dropdown mt-3">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
      {{ item.styleType }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-with-btn-styles" role="menu">
      <li role="presentation"
          (click)="setBtnStyle('Default', item)">
        <a
          class="dropdown-item btn-var-styles btn-var-styles__default"
          [ngStyle]="{'font-family':item.font.fontFamily, 'background':item.colorBtn}"
          href="javascript:void(0)"
        >
          Default
        </a>
      </li>
      <li role="presentation"
          (click)="setBtnStyle('Material', item)">
        <a
          class="dropdown-item btn-var-styles btn-var-styles__material"
          [ngStyle]="{'font-family':item.font.fontFamily, 'background':item.colorBtn}"
          href="javascript:void(0)"
        >
          Material
        </a>
      </li>
      <li role="presentation"
          (click)="setBtnStyle('Flat', item)">
        <a
          class="dropdown-item btn-var-styles btn-var-styles__flat"
          [ngStyle]="{'font-family':item.font.fontFamily, 'background':item.colorBtn}"
          href="javascript:void(0)"
        >
          Flat
        </a>
      </li>
      <li role="presentation"
          (click)="setBtnStyle('Border Style', item)">
        <a
          class="dropdown-item btn-var-styles btn-var-styles__border-style"
          [ngStyle]="{'font-family':item.font.fontFamily, 'border-color':item.colorBtn}"
          href="javascript:void(0)"
        >
          Border Style
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="row-subitem mt-3">
  <h3>{{ 'widgets.formExt.mainSettings.buttonSettings.redirect.action' | translate }}</h3>
  <div class="dropdown mt-3">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
      {{ item.redirect.type.label }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation" *ngFor="let itemR of redirectAvail" (click)="item.redirect.type = itemR">
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" class="dropdown-item">{{ itemR.label }}</a>
      </li>
    </ul>
  </div>

  <div *ngIf="item.redirect.type.type === 1 || item.redirect.type.type === 3">
    <div
      class="row-subitem mt-3 widget-name-block-rel"
      [ngClass]="(item.redirect.url === '') ? 'is-invalid' : ''"
    >
      <label class="control-label">{{ 'widgets.redirect.onClickRedirect' | translate }}:</label>
      <input type="text" class="form-control" [(ngModel)]="item.redirect.url" placeholder="http://">
      <span class="input-down-sm-lab">{{ 'widgets.redirect.example' | translate }}: http://mywebsite.com</span>
      <a *ngIf="item.redirect.url" (click)="item.redirect.url = ''" class="remove-widget-name remove-widget-redirect"></a>
    </div>
    <div class="row-subitem mt-2 widget-small-text">
      {{ 'widgets.redirect.description' | translate }}
    </div>
    <div class="row-subitem mt-3">
      <div class="form-check">
        <label class="form-check-label">
          <input
            type="checkbox"
            [(ngModel)]="item.redirect.blank"
            class="form-check-input"
          />
          <span class="checkmark"></span>
        </label>
        <span class="form-check-text f-3">{{ 'widgets.redirect.blank' | translate }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="item.redirect.type.type === 2 || item.redirect.type.type === 3">
    <h3 class="mt-3 pt-1">{{ 'widgets.formExt.mainSettings.buttonSettings.actions' | translate }}</h3>

    <div class="row-subitem mt-2 pt-1">
      <div class="form-check">
        <label class="form-check-label">
          <input
            type="checkbox"
            [(ngModel)]="item.targetAction"
            class="form-check-input"
          />
          <span class="checkmark"></span>
        </label>
        <span class="form-check-text f-3">{{ 'widgets.formExt.mainSettings.buttonSettings.isBtnAction' | translate }}</span>
      </div>
    </div>
  </div>
</div>
