<div class="page-title">
  <h1 class="title-main">{{ 'sidebar.coupons' | translate }}</h1>
  <button (click)="openCouponModal()" class="btn btn-lg btn-success title-button" type="button">
    <span class="icon" inlineSVG="./assets/images/core/plus.svg"></span>
    <span>{{ 'coupons.addCoupon' | translate }}</span>
  </button>
</div>

<ng-container *ngIf="!coupons.length; else couponsBlock">
  <div class="col-lg-12">
    <h3 class="f-0 text-center">{{ 'coupons.empty.title' | translate }}</h3>
    <h4 class="f-2 text-center">{{ 'coupons.empty.subtitle' | translate }}</h4>
    <h5
      [innerHTML]="'coupons.empty.help' | translate"
      class="f-3 text-center underline-links blue-links hover-links"
    ></h5>
  </div>
</ng-container>

<ng-template #couponsBlock>
  <app-card>
    <div class="coupons-table">
      <table>
        <thead>
          <th class="name-coupon">{{ 'coupons.grid.coupon.name' | translate }}</th>
          <th class="code-coupon">{{ 'coupons.grid.coupon.code' | translate }}</th>
          <th class="type-coupon">{{ 'coupons.grid.coupon.type' | translate }}</th>
          <th class="actions-coupon">{{ 'coupons.grid.coupon.control' | translate }}</th>
        </thead>
        <tbody>
          <app-coupons-list
            *ngFor="let coupon of coupons; trackBy: trackById; let i = index"
            [coupon]="coupon"
            [first]="i === 0"
            class="table-row"
          ></app-coupons-list>
        </tbody>
      </table>
    </div>
  </app-card>
</ng-template>
