@import 'src/scss/vars';
@import 'src/scss/mixins';
@import 'src/scss/page-title';

:host {
  .page-title {
    margin-bottom: 50px;
  }

  .coupons-table {
    display: block;
    width: 100%;
    max-height: 65vh;
    margin-top: 22px;
    border: 1px solid $borderColor;
    border-radius: 5px;
    overflow: auto;

    table {
      table-layout: fixed;
      width: 100%;
      height: 100%;
      position: relative;

      thead {
        width: 100%;
        display: flex;
        position: sticky;
        z-index: 1;
        top: 0;
        background-color: #FFFFFF;

        th {
          display: table-header-group;
          height: 100%;
          padding: 19px 14px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          text-align: left;
          text-transform: capitalize;
          color: $fontGrayColor;
          background-color: #FFFFFF;
          border-bottom:  1px solid $borderColor;

          &:not(:last-of-type) {
            border-right:  1px solid $borderColor;
          }

          &.name-coupon {
            width: 25%;
            min-width: 320px;

            @media (max-width: 424px) {
              min-width: 265px;
            }
          }

          &.code-coupon {
            width: 30%;
            min-width: 470px;
          }

          &.type-coupon {
            width: 35%;
            min-width: 550px;
          }

          &.actions-coupon {
            width: 10%;
            min-width: 180px;
          }
        }
      }

      tbody {
        .table-row {
          ::ng-deep {
            tr td {
              border-top: 1px solid $borderColor;
            }
          }
        }
      }
    }
  }
}
