<div class="filter-section">
  <div class="d-flex justify-content-between w-75">
    <div *ngFor="let val of vals.socialNets; index as j" class="form-check mt-4">
      <label class="form-check-label">
        <input
          type="checkbox"
          [checked]="checkSelected(vals.socialNetsEnum[j]) >= 0"
          (click)="!(checkSelected(vals.socialNetsEnum[j]) >= 0) ? addSubItem(item, vals.socialNetsEnum[j]) : removeSubItem(group.id, item.type, checkSelected(vals.socialNetsEnum[j]), $event)"
          class="form-check-input"
        />
        <span class="checkmark"></span>
      </label>
      <span class="form-check-text">{{ val }}</span>
    </div>
  </div>
</div>
