<div [class.bg-for-line-grid]="isColoredRow" class="ab-grid__item">
  <div class="ab-grid__item--name-coupon font-weight-bold">
    <cool-inline-edit-field
      (editStarted)="fixOldCoupon($event)"
      (saved)="updateCoupon($event)"
      [(ngModel)]="coupon.name"
      class="long-text"
      name="name"
    >
    </cool-inline-edit-field>
  </div>
  <div class="ab-grid__item--code-coupon">
    <span
      (click)="copyCouponCode()"
      [innerHTML]="couponCodeToPaste"
      data-container="body"
      data-placement="top"
      data-toggle="tooltip"
      title="{{ 'coupons.coupon.copied.tooltip' | translate }}"
    >
    </span>
  </div>

  <div class="ab-grid__item--type-coupon">
    <span *ngIf="coupon.type === 'REUSABLE'">{{ 'coupons.modal.newCoupon.tab2.title' | translate }}</span>
    <span *ngIf="coupon.type !== 'REUSABLE'">{{ 'coupons.modal.newCoupon.tab1.title' | translate }}</span>
  </div>
  <div class="ab-grid__item--actions-coupon">
    <div class="btn-group edit-btns">
      <button
        (click)="openEditableCouponModal()"
        class="btn btn-sm btn-default"
        data-container="body" data-placement="top" data-toggle="tooltip"
        title="{{ 'coupons.coupon.edit.tooltip' | translate }}"
      ><i class="fa fa-cogs"></i>
      </button>

      <button
        (click)="removeCoupon()"
        class="btn btn-sm btn-default"
        data-container="body" data-placement="top" data-toggle="tooltip"
        title="{{ 'coupons.coupon.delete.tooltip' | translate }}"
      ><i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>
