.ab-grid__item {
  display: flex;
  justify-content: space-between;
}


.bg-for-line-grid {
  background-color: #fcfcfc;
}

.ab-grid__item--name-coupon,
.ab-grid__item--code-coupon,
.ab-grid__item--type-coupon,
.ab-grid__item--actions-coupon {
  padding: 5px 10px;
  height: 40px;
  font-size: 14px;
  line-height: 32px;
}

.ab-grid__item--name-coupon {
  margin: 2px 0 0 5px;
  padding: 0;
  position: relative;
  border: none;
  color: #428bca;
}

.ab-grid__item--name-coupon {
  flex-basis: 32%;
  max-width: 32%;
}

.ab-grid__item--code-coupon {
  flex-basis: 29%;
  max-width: 29%;
}

.ab-grid__item--type-coupon {
  flex-basis: 26%;
  max-width: 26%;
}

.ab-grid__item--actions-coupon {
  flex-basis: 13%;
  max-width: 13%;
}

.ab-grid__item--actions-coupon .btn {
  padding: 0 14px;
}

.ab-grid__item--actions-coupon {
  display: flex;
  justify-content: flex-end;
}

.ab-grid__item--code-coupon {
  cursor: pointer;
}

.ab-grid__item--code-coupon:hover {
  color: #333;
}
