<div class="modal-header text-center justify-content-center">
  <h4 class="modal-title">{{ 'partner.ads.code' | translate }}</h4>
</div>
<div class="modal-body">
  <div><label for="code">{{ 'partner.ads.comment' | translate }}:</label></div>
  <textarea
    id="code"
    cols="30"
    rows="5"
    class="form-control"
    [ngModel]="refCode"
    appSelectOnClick
    readonly
  ></textarea>
</div>
<div class="modal-footer">
  <div class="text-right m-r">
    <a class="btn btn-default"
       (click)="closeModal()"
    >{{ 'global.close' | translate }}</a>
  </div>
</div>
